Repository ChainSafe/lodestar, pull requests merged in 2019-12, with the labels that each got.

#574 bump bls version in lodestar
  .eslintrc.js
  packages/lodestar-validator/package.json
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/unit/setup.ts
  packages/lodestar/package.json
  packages/lodestar/src/cli/commands/deposit.ts
  packages/lodestar/src/cli/commands/dev.ts
  packages/lodestar/src/eth1/wallet.ts
  packages/lodestar/src/interop/cli.ts
  packages/lodestar/src/interop/dump.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/util/io.ts
  packages/lodestar/src/util/keystore.ts
  packages/lodestar/src/validator/options.ts
  packages/lodestar/test/setup.ts
Labels: BeaconChain

#581 bump bls-wasm version
  packages/bls/package.json
  yarn.lock
Labels: BLS

#580 enable bls compressed spec tests
  packages/bls/test/spec/msg_hash_compressed.test.ts
Labels: BLS

#573 Fork choice update for 0.9.1 - Spec PR 1465
  packages/eth2.0-params/src/interface.ts
  packages/eth2.0-params/src/presets/mainnet.ts
  packages/eth2.0-params/src/presets/minimal.ts
  packages/eth2.0-state-transition/src/util/genesis.ts
  packages/eth2.0-state-transition/src/util/index.ts
  packages/eth2.0-state-transition/src/util/slot.ts
  packages/eth2.0-state-transition/test/unit/stateTransition/util/slot.test.ts
  packages/lodestar/package.json
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/test/unit/chain/forkChoice/statefulDag.test.ts
Labels: BeaconChain

#582 fix bls webpack build
  packages/bls/webpack.config.js
Labels: BLS

#569 Add defaultValue and createValue to ssz
  packages/eth2.0-spec-test-util/src/index.ts
  packages/eth2.0-spec-test-util/src/single.ts
  packages/eth2.0-spec-test-util/src/transform.ts
  packages/eth2.0-spec-test-util/test/e2e/single/index.test.ts
  packages/eth2.0-types/src/ssz/generators/primitive.ts
  packages/eth2.0-utils/src/converters/yaml.ts
  packages/eth2.0-utils/test/unit/converters.test.ts
  packages/lodestar/package.json
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/util/bytes.ts
  packages/lodestar/src/util/createValue.ts
  packages/lodestar/src/util/serialization.ts
  packages/ssz-type-schema/src/types.ts
  packages/ssz-type-schema/src/utils.ts
  packages/ssz/src/core/assertValidValue.ts
  packages/ssz/src/core/clone.ts
  packages/ssz/src/core/createValue.ts
  packages/ssz/src/core/defaultValue.ts
  packages/ssz/src/core/deserialize.ts
  packages/ssz/src/core/equals.ts
  packages/ssz/src/core/hashTreeRoot.ts
  packages/ssz/src/core/index.ts
  packages/ssz/src/core/serialize.ts
  packages/ssz/src/core/signingRoot.ts
  packages/ssz/test/spec/minimal/static/attestation.test.ts
  packages/ssz/test/spec/minimal/static/attestationData.test.ts
  packages/ssz/test/spec/minimal/static/attestationDataAndCustodyBit.test.ts
  packages/ssz/test/spec/minimal/static/attesterSlashing.test.ts
  packages/ssz/test/spec/minimal/static/beaconBlock.test.ts
  packages/ssz/test/spec/minimal/static/beaconBlockBody.test.ts
  packages/ssz/test/spec/minimal/static/beaconBlockHeader.test.ts
  packages/ssz/test/spec/minimal/static/beaconState.test.ts
  packages/ssz/test/spec/minimal/static/checkpoint.test.ts
  packages/ssz/test/spec/minimal/static/compactCommittee.test.ts
  packages/ssz/test/spec/minimal/static/crosslink.test.ts
  packages/ssz/test/spec/minimal/static/deposit.test.ts
  packages/ssz/test/spec/minimal/static/depositData.test.ts
  packages/ssz/test/spec/minimal/static/eth1Data.test.ts
  packages/ssz/test/spec/minimal/static/fork.test.ts
  packages/ssz/test/spec/minimal/static/index.test.ts
  packages/ssz/test/unit/clone.test.ts
  packages/ssz/test/unit/defaultValue.test.ts
  packages/ssz/test/unit/deserialize.test.ts
  packages/ssz/test/unit/equals.test.ts
  packages/ssz/test/unit/hashTreeRoot.test.ts
  packages/ssz/test/unit/objects.ts
  packages/ssz/test/unit/serialize.test.ts
  packages/ssz/test/util/testCases.ts
Labels: BeaconChain, SSZ

#575 Send gossip messages to OpPool
  packages/eth2.0-params/src/interface.ts
  packages/eth2.0-params/src/presets/mainnet.ts
  packages/eth2.0-params/src/presets/minimal.ts
  packages/eth2.0-state-transition/src/block/blockHeader.ts
  packages/eth2.0-state-transition/src/block/operations/attesterSlashing.ts
  packages/eth2.0-state-transition/src/block/operations/proposerSlashing.ts
  packages/eth2.0-state-transition/src/block/operations/voluntaryExit.ts
  packages/eth2.0-state-transition/src/util/block.ts
  packages/eth2.0-state-transition/src/util/duties.ts
  packages/eth2.0-state-transition/src/util/index.ts
  packages/eth2.0-state-transition/src/util/validatorStatus.ts
  packages/eth2.0-state-transition/test/unit/stateTransition/block/operations/proposerSlashings.test.ts
  packages/eth2.0-state-transition/test/unit/stateTransition/block/operations/voluntaryExit.test.ts
  packages/eth2.0-utils/src/bytes.ts
  packages/eth2.0-utils/test/unit/bytes.test.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/aggregateAndProof.ts
  packages/lodestar/src/db/api/beacon/repositories/index.ts
  packages/lodestar/src/db/schema.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/handlers/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/handlers/attestation.ts
  packages/lodestar/src/network/gossip/handlers/attesterSlashing.ts
  packages/lodestar/src/network/gossip/handlers/block.ts
  packages/lodestar/src/network/gossip/handlers/proposerSlashing.ts
  packages/lodestar/src/network/gossip/handlers/voluntaryExit.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/opPool/modules/aggregateAndProof.ts
  packages/lodestar/src/opPool/modules/index.ts
  packages/lodestar/src/opPool/opPool.ts
  packages/lodestar/src/sync/regular.ts
  packages/lodestar/test/unit/network/gossip/handlers/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/attestaterSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/attestation.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/block.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/proposerSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/voluntaryExit.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/unit/sync/regular.test.ts
  packages/lodestar/test/utils/attestation.ts
Labels: BeaconChain

#585 Update licenses
  README.md
  packages/eth2.0-config/package.json
  packages/eth2.0-params/package.json
  packages/eth2.0-types/package.json
  packages/eth2.0-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
Labels: BeaconChain

#591 Tweak ssz clone and equals
  packages/ssz/src/core/clone.ts
  packages/ssz/src/core/equals.ts
Labels: SSZ

#584 Handle block forks
  packages/lodestar/src/api/impl/validator/produceAttestation.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/attestation/index.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/test/unit/chain/factory/attestation/index.test.ts
Labels: BeaconChain

#594 Use fake timer for fork choice test
  packages/lodestar/test/unit/chain/forkChoice/statefulDag.test.ts
Labels: BeaconChain

#597 0.9.2: Minor refactor of AggregateAndProof
  packages/eth2.0-params/src/presets/mainnet.ts
  packages/eth2.0-types/src/ssz/generators/validator.ts
  packages/eth2.0-types/src/types/validator.ts
  packages/lodestar/src/network/gossip/handlers/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/unit/network/gossip/handlers/aggregateAndProof.test.ts
  packages/lodestar/test/utils/attestation.ts
Labels: BeaconChain
