Repository ChainSafe/lodestar, pull requests merged in 2019-06, with the labels that each got.

#262 add stalebot
  .github/stale.yml
Labels: priority: P4 nice-to-have, type: CI

#251 Block production - eth1 data
  package.json
  src/chain/factory/block/body.ts
  src/chain/factory/block/eth1Data.ts
  src/chain/factory/block/index.ts
  src/eth1/impl/ethers.ts
  src/eth1/interface.ts
  src/node/index.ts
  src/rpc/api/interface.ts
  src/rpc/api/validator/validator.ts
  src/util/objects.ts
  test/unit/chain/factory/block/blockAssembly.test.ts
  test/unit/chain/factory/block/body.test.ts
  test/unit/chain/factory/block/eth1Data.test.ts
  test/unit/eth1/ethers.test.ts
  test/unit/rpc/api/validator/validator.test.ts
  test/unit/util/objects.test.ts
  test/utils/eth1Data.ts
  test/utils/mocks/eth1/eth1Notifier.ts
Labels: type: feature

#261 Block production - deposit processing
  src/chain/chain.ts
  src/chain/factory/block/body.ts
  src/chain/factory/block/deposits.ts
  src/chain/factory/block/index.ts
  src/db/api/beacon/beacon.ts
  src/db/api/beacon/interface.ts
  src/db/controller/impl/level.ts
  src/db/controller/interface.ts
  src/db/schema.ts
  src/eth1/impl/ethers.ts
  src/eth1/interface.ts
  src/eth1/wallet.ts
  src/node/index.ts
  src/opPool/index.ts
  src/types/misc.ts
  src/util/deposits.ts
  src/util/merkleTree/index.ts
  src/util/merkleTree/interface.ts
  src/util/merkleTree/lightMerkleTree.ts
  src/util/merkleTree/merkleTree.ts
  src/util/merkleTree/utils.ts
  test/e2e/eth1/deploy.test.ts
  test/unit/chain/factory/block/body.test.ts
  test/unit/chain/factory/block/deposits.test.ts
  test/unit/chain/stateTransition/block/deposit.test.ts
  test/unit/db/api/beacon.test.ts
  test/unit/eth1/ethers.test.ts
  test/unit/network/codec.test.ts
  test/unit/network/libp2p/rpc.test.ts
  test/unit/util/merkleTree.test.ts
Labels: PR state: merge ready, PR state: needs changes, priority: P2 very important
