Repository ChainSafe/lodestar, pull requests merged in 2019-10, with the labels that each got.

#366 add proposer slashings
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/stateTransition/util/blockRoot.ts
  packages/lodestar/src/chain/stateTransition/util/proposer.ts
  packages/lodestar/src/opPool/opPool.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/unit/chain/stateTransition/block/blockHeader.test.ts
  packages/lodestar/test/unit/chain/stateTransition/block/operations/attestation.test.ts
  packages/lodestar/test/unit/chain/stateTransition/block/operations/voluntaryExit.test.ts
  packages/lodestar/test/unit/chain/stateTransition/epoch/registryUpdates.test.ts
  packages/lodestar/test/unit/chain/stateTransition/epoch/slashing.test.ts
  packages/lodestar/test/unit/chain/stateTransition/epoch/util.test.ts
  packages/lodestar/test/unit/chain/stateTransition/util/validator.test.ts
  packages/lodestar/test/unit/cli/commands/deposit.test.ts
  packages/lodestar/test/unit/opPool/modules/deposit.test.ts
  packages/lodestar/test/unit/opPool/oppool.test.ts
  packages/lodestar/test/unit/util/httpClient.test.ts
  packages/lodestar/test/utils/validator.ts
Labels: BeaconChain, SSZ, Status: Needs Changes, priority: P2 high

#491 make state transition pure
  packages/lodestar/src/chain/stateTransition/index.ts
  packages/lodestar/test/spec/sanity/blocks/sanity_blocks_mainnet.test.ts
  packages/lodestar/test/spec/sanity/blocks/sanity_blocks_minimal.test.ts
Labels: BeaconChain

#492 Fixes a bug in PR 491
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/db/api/beacon/repositories/merkleTree.ts
Labels: BeaconChain

#497 Ci cache and colors
  .travis.yml
  packages/eth2.0-config/package.json
  packages/eth2.0-params/package.json
  packages/eth2.0-types/package.json
  packages/lodestar/package.json
  packages/ssz/package.json
Labels: BeaconChain, SSZ

#499 ssz minor refactor
  packages/ssz/src/core/assertValidValue.ts
  packages/ssz/src/core/clone.ts
  packages/ssz/src/core/deserialize.ts
  packages/ssz/src/core/equals.ts
  packages/ssz/src/core/hashTreeRoot.ts
  packages/ssz/src/core/index.ts
  packages/ssz/src/core/serialize.ts
  packages/ssz/src/core/signingRoot.ts
  packages/ssz/src/core/size.ts
  packages/ssz/src/core/util/merkleize.ts
  packages/ssz/src/hash.ts
  packages/ssz/src/index.ts
  packages/ssz/src/util/chunk.ts
  packages/ssz/src/util/constants.ts
  packages/ssz/src/util/hash.ts
  packages/ssz/src/util/math.ts
  packages/ssz/src/util/types.ts
  packages/ssz/src/util/zeros.ts
Labels: SSZ

#501 Separate out release buid
  .gitignore
  .travis.yml
  package.json
  packages/benchmark-utils/package.json
  packages/bls/package.json
  packages/eth2.0-config/package.json
  packages/eth2.0-params/package.json
  packages/eth2.0-spec-test-util/package.json
  packages/eth2.0-types/package.json
  packages/eth2.0-utils/package.json
  packages/lodestar/package.json
  packages/ssz-type-schema/package.json
  packages/ssz-type-schema/tsconfig.json
  packages/ssz/package.json
  yarn.lock
Labels: BLS, BeaconChain, Benchmarks, SSZ

#493 Make the CI a bit smarter
  .travis.yml
  README.md
Labels: Status: Merge Ready, Type: Maintenance

#506 Update stale.yml
  .github/stale.yml
Labels: Status: Merge Ready, Type: Maintenance, priority: P4 low
