Repository ChainSafe/lodestar, pull requests merged in 2019-02, with the labels that each got.

#82 Greg/update spec
  beaconChain/constants/constants.ts
  beaconChain/constants/enums.ts
  beaconChain/helpers/stateTransitionHelpers.ts
  beaconChain/lib/state/index.ts
  beaconChain/node/index.ts
  beaconChain/package-lock.json
  beaconChain/pow/fake.ts
  beaconChain/tests/helpers/stateTransitionHelpers.test.ts
  beaconChain/tslint.json
  beaconChain/types/blocks.ts
  beaconChain/types/custom.ts
  beaconChain/types/index.ts
  beaconChain/types/state.ts
Labels: type: enhancement

#88 Add tests for isPowerOfTwo()
  beaconChain/helpers/stateTransitionHelpers.ts
  beaconChain/tests/helpers/stateTransitionHelpers.test.ts
Labels: PR state: needs changes

#90 Greg/helper tests
  beaconChain/tests/helpers/stateTransitionHelpers.test.ts
  beaconChain/tests/utils/validator.ts
Labels: type: tests

#99 add tests for getDomain and getForkVersion
  beaconChain/helpers/stateTransitionHelpers.ts
  beaconChain/tests/helpers/stateTransitionHelpers.test.ts
Labels: type: tests

#98 created beacon state
  beaconChain/constants/constants.ts
  beaconChain/helpers/stateTransitionHelpers.ts
  beaconChain/tests/helpers/array.test.ts
  beaconChain/tests/helpers/stateTransitionHelpers.test.ts
  beaconChain/tests/types/consistency.test.ts
  beaconChain/tests/utils/attestation.ts
  beaconChain/tests/utils/misc.ts
  beaconChain/tests/utils/state.ts
Labels: PR state: open discussion, type: tests

#105 [ETHDenver] initial poc of lmd ghost
  beaconChain/helpers/array.ts
  beaconChain/helpers/stateTransitionHelpers.ts
  beaconChain/lib/forkChoice/lmdGhost.ts
  beaconChain/lib/state/genisis.ts
  beaconChain/lib/state/index.ts
  beaconChain/tests/helpers/array.test.ts
  beaconChain/tests/helpers/stateTransitionHelpers.test.ts
  beaconChain/types/custom.ts
  beaconChain/types/state.ts
Labels: PR state: WIP
