Repository ChainSafe/lodestar, pull requests merged in 2019-07, with the labels that each got.

#277 Flame graphs
  README.md
  package.json
  yarn.lock
Labels: PR state: merge ready

#275 added unit test for processOperation
  test/unit/chain/stateTransition/block/operations/attestation.test.ts
  test/unit/chain/stateTransition/block/operations/attesterSlashing.test.ts
  test/unit/chain/stateTransition/block/operations/deposit.test.ts
  test/unit/chain/stateTransition/block/operations/index.test.ts
  test/unit/chain/stateTransition/block/operations/proposerSlashings.test.ts
  test/unit/chain/stateTransition/block/operations/transfer.test.ts
  test/unit/chain/stateTransition/block/operations/voluntaryExit.test.ts
Labels: PR state: merge ready

#263 fix libp2p default multiaddress
  src/network/defaults.ts
  test/unit/network/libp2p/rpc.test.ts
  test/unit/network/libp2p/util.ts
Labels: priority: P2 very important, type: bug

#253 Ajoy/feature/validator cli
  .gitignore
  src/cli/commands/beacon.ts
  src/cli/commands/index.ts
  src/cli/commands/start.ts
  src/cli/commands/validator.ts
  src/cli/commands/wallet.ts
  src/node/index.ts
  src/node/validator.ts
  src/util/io.ts
  src/validator/defaults.ts
  src/validator/keystore.ts
  src/validator/types.ts
  src/validator/validator.ts
  test/e2e/cli/commands/validator.test.ts
  test/unit/cli/commands/beacon.test.ts
  test/unit/cli/commands/start.test.ts
  test/unit/cli/commands/validator.test.ts
  test/unit/validator/validator.test.ts
Labels: PR state: open discussion, priority: P3 important, type: feature

#290 added some missing unit tests
  test/unit/chain/stateTransition/epoch/balanceUpdates/attestation.test.ts
  test/unit/chain/stateTransition/epoch/balanceUpdates/baseReward.test.ts
  test/unit/chain/stateTransition/epoch/balanceUpdates/index.test.ts
  test/unit/chain/stateTransition/epoch/finalUpdates.test.ts
  test/unit/chain/stateTransition/epoch/justification.test.ts
Labels: PR state: merge ready, priority: P3 important, type: tests

#287 Block production e2e test
  src/chain/factory/block/body.ts
  src/chain/factory/block/index.ts
  src/chain/stateTransition/index.ts
  src/chain/stateTransition/util/validator.ts
  src/validator/services/block.ts
  test/e2e/chain/factory/block/assebleBlock.ts
Labels: PR state: merge ready, priority: P3 important, type: tests

#329 Small lerna config improvment
  .babelrc
  .gitignore
  .nycrc.json
  .travis.yml
  lerna.json
  package.json
  packages/lodestar/.babelrc
  packages/lodestar/.nycrc.json
  packages/lodestar/package.json
  packages/lodestar/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: PR state: merge ready, priority: P2 very important, type: enhancement

#323 added unit test for sync module
  packages/lodestar/test/unit/db/api/beacon.test.ts
  packages/lodestar/test/unit/sync/index.test.ts
  packages/lodestar/test/unit/sync/initial.test.ts
  packages/lodestar/test/unit/sync/regular.test.ts
  packages/lodestar/test/unit/sync/reputation.test.ts
  packages/lodestar/test/unit/sync/rpc.test.ts
Labels: PR state: do-not-merge, priority: P3 important, type: tests

#336 add document
  supporting-docs/full-and-light-client-code-overlap.md
Labels: priority: +urgent

#332 Store invalid blocks
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/schema.ts
  packages/lodestar/src/sync/regular.ts
Labels: PR state: merge ready, priority: P3 important, type: enhancement

#344 Closes #300 - add benchmark framework
  packages/lodestar/.gitignore
  packages/lodestar/package.json
  packages/lodestar/test/benchmarks/constant.ts
  packages/lodestar/test/benchmarks/examples/index.ts
  packages/lodestar/test/benchmarks/examples/random.ts
  packages/lodestar/test/benchmarks/imports.ts
  packages/lodestar/test/benchmarks/index.ts
  packages/lodestar/test/benchmarks/utils/index.ts
  yarn.lock
Labels: PR state: open discussion, priority: P4 nice-to-have, type: feature

#354 Improve docker image
  .dockerignore
  docker/Dockerfile
  packages/lodestar/.dockerignore
  packages/lodestar/docker/Dockerfile
  packages/lodestar/package.json
  yarn.lock
Labels: PR state: merge ready, type: CI
