Repository ChainSafe/lodestar, pull requests merged in 2019-08, with the labels that each got.

#350 [Benchmarks] Refactored
  packages/lodestar/test/benchmarks/examples/random.ts
  packages/lodestar/test/benchmarks/index.ts
  packages/lodestar/test/benchmarks/utils/index.ts
Labels: PR state: open discussion, priority: P4 nice-to-have, type: refactor

#383 Collect packages documentation for deployment
  .gitignore
  .travis.yml
  scripts/collect-docs.js
Labels: PR state: merge ready, type: docs

#380 Add prometheus metrics gathering
  packages/lodestar/package.json
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/metrics/beacon.ts
  packages/lodestar/src/metrics/index.ts
  packages/lodestar/src/metrics/interface.ts
  packages/lodestar/src/metrics/metrics.ts
  packages/lodestar/src/metrics/options.ts
  packages/lodestar/src/metrics/server/http.ts
  packages/lodestar/src/metrics/server/index.ts
  packages/lodestar/src/metrics/server/push.ts
  packages/lodestar/src/network/libp2p/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/node/options.ts
  packages/lodestar/test/e2e/network/libp2p/network.test.ts
  packages/lodestar/test/e2e/sync/rpc.test.ts
  packages/lodestar/test/unit/metrics/beacon.test.ts
  packages/lodestar/test/unit/metrics/metrics.test.ts
  packages/lodestar/test/unit/metrics/server/http.test.ts
  yarn.lock
Labels: PR state: merge ready, priority: P3 important

#388 Bls exports
  packages/bls/.babelrc
  packages/bls/package.json
  packages/bls/src/@types/keccak256/index.d.ts
  packages/bls/src/helpers/g1point.ts
  packages/bls/src/helpers/g2point.ts
  packages/bls/src/index.ts
  packages/bls/src/privateKey.ts
  packages/bls/src/publicKey.ts
  packages/bls/src/signature.ts
  packages/bls/src/types.ts
  packages/eth2.0-types/src/primitive.ts
  packages/lodestar/package.json
  packages/lodestar/src/chain/stateTransition/block/blockHeader.ts
  packages/lodestar/src/chain/stateTransition/block/operations/deposit.ts
  packages/lodestar/src/chain/stateTransition/block/operations/proposerSlashing.ts
  packages/lodestar/src/chain/stateTransition/block/operations/transfer.ts
  packages/lodestar/src/chain/stateTransition/block/operations/voluntaryExit.ts
  packages/lodestar/src/chain/stateTransition/block/randao.ts
  packages/lodestar/src/chain/stateTransition/util/attestation.ts
  packages/lodestar/src/chain/stateTransition/util/domain.ts
  packages/lodestar/src/eth1/wallet.ts
  packages/lodestar/src/util/bytes.ts
  packages/lodestar/src/util/io.ts
  packages/lodestar/src/validator/keystore.ts
  packages/lodestar/src/validator/options.ts
  packages/lodestar/src/validator/services/attestation.ts
  packages/lodestar/src/validator/services/block.ts
  packages/lodestar/test/e2e/chain/factory/block/assebleBlock.test.ts
  packages/lodestar/test/spec/operations/attestations/attestations_mainnet.test.ts
  packages/lodestar/test/spec/operations/attestations/attestations_minimal.test.ts
  packages/lodestar/test/spec/operations/attesterSlashing/attester_slashing_mainnet.test.ts
  packages/lodestar/test/spec/operations/attesterSlashing/attester_slashing_minimal.test.ts
  packages/lodestar/test/spec/operations/blockHeader/block_header_mainnet.test.ts
  packages/lodestar/test/spec/operations/blockHeader/block_header_minimal.test.ts
  packages/lodestar/test/spec/operations/deposit/deposit_mainnet.test.ts
  packages/lodestar/test/spec/operations/deposit/deposit_minimal.test.ts
  packages/lodestar/test/spec/operations/proposerSlashing/proposer_slashing_mainnet.test.ts
  packages/lodestar/test/spec/operations/proposerSlashing/proposer_slashing_minimal.test.ts
  packages/lodestar/test/spec/operations/transfer/transfer_minimal.test.ts
  packages/lodestar/test/spec/operations/voluntaryExit/voluntary_exit_mainnet.test.ts
  packages/lodestar/test/spec/operations/voluntaryExit/voluntary_exit_minimal.test.ts
  packages/lodestar/test/spec/sanity/blocks/sanity_blocks_mainnet.test.ts
  packages/lodestar/test/spec/sanity/blocks/sanity_blocks_minimal.test.ts
  packages/lodestar/test/spec/sanity/slots/sanity_slots_mainnet.test.ts
  packages/lodestar/test/spec/sanity/slots/sanity_slots_minimal.test.ts
  packages/lodestar/test/unit/chain/stateTransition/block/blockHeader.test.ts
  packages/lodestar/test/unit/chain/stateTransition/block/operations/deposit.test.ts
  packages/lodestar/test/unit/chain/stateTransition/block/operations/proposerSlashings.test.ts
  packages/lodestar/test/unit/chain/stateTransition/block/operations/transfer.test.ts
  packages/lodestar/test/unit/chain/stateTransition/block/operations/voluntaryExit.test.ts
  packages/lodestar/test/unit/chain/stateTransition/block/randao.test.ts
  packages/lodestar/test/unit/eth1/ethers.test.ts
  packages/lodestar/test/unit/util/bytes.test.ts
  packages/lodestar/test/unit/validator/services/attestation.test.ts
  packages/lodestar/test/unit/validator/services/block.test.ts
  packages/lodestar/test/unit/validator/validator.test.ts
  yarn.lock
Labels: PR state: needs review, priority: P1 critical, type: enhancement

#393 Update monorepo readme
  CONTRIBUTING.md
  README.md
  packages/lodestar/README.md
Labels: PR state: merge ready, priority: P2 very important

#400 Create FUNDING.yml
  .github/FUNDING.yml
Labels: PR state: needs review, priority: P4 nice-to-have, type: docs

#398 Round up chunk count for list of basic objects
  packages/ssz/src/hashTreeRoot.ts
  packages/ssz/src/util/hash.ts
  packages/ssz/test/unit/hashTreeRoot.test.ts
Labels: PR state: needs changes, SSZ, priority: P2 very important, type: enhancement

#345 Enable modular logging
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/options.ts
  packages/lodestar/src/cli/commands/beacon.ts
  packages/lodestar/src/cli/commands/create-config.ts
  packages/lodestar/src/cli/commands/deposit.ts
  packages/lodestar/src/cli/commands/eth1-private-network.ts
  packages/lodestar/src/cli/commands/validator.ts
  packages/lodestar/src/cli/commands/wallet.ts
  packages/lodestar/src/db/controller/impl/level.ts
  packages/lodestar/src/db/options.ts
  packages/lodestar/src/eth1/dev/network.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/logger/abstract.ts
  packages/lodestar/src/logger/index.ts
  packages/lodestar/src/logger/interface.ts
  packages/lodestar/src/logger/winston.ts
  packages/lodestar/src/network/libp2p/network.ts
  packages/lodestar/src/network/libp2p/syncRpc.ts
  packages/lodestar/src/network/options.ts
  packages/lodestar/src/node/loggerOptions.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/node/options.ts
  packages/lodestar/src/sync/index.ts
  packages/lodestar/src/sync/options.ts
  packages/lodestar/src/validator/options.ts
  packages/lodestar/src/validator/validator.ts
  packages/lodestar/test/e2e/cli/commands/deposit.test.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  packages/lodestar/test/e2e/eth1/dev/network.test.ts
  packages/lodestar/test/e2e/network/libp2p/network.test.ts
  packages/lodestar/test/e2e/sync/rpc.test.ts
  packages/lodestar/test/unit/cli/commands/beacon.test.ts
  packages/lodestar/test/unit/cli/commands/create-config.test.ts
  packages/lodestar/test/unit/cli/commands/deposit.test.ts
  packages/lodestar/test/unit/cli/commands/eth1-private-network.test.ts
  packages/lodestar/test/unit/cli/commands/validator.test.ts
  packages/lodestar/test/unit/cli/commands/wallet.test.ts
  packages/lodestar/test/unit/db/controller/level.test.ts
  packages/lodestar/test/unit/db/controller/pouch.test.ts
  packages/lodestar/test/unit/eth1/dev/network.test.ts
  packages/lodestar/test/unit/eth1/ethers.test.ts
  packages/lodestar/test/unit/rpc/transport/jsonRpcOverHttp.test.ts
  packages/lodestar/test/unit/sync/index.test.ts
  packages/lodestar/test/unit/sync/initial.test.ts
  packages/lodestar/test/unit/sync/regular.test.ts
  packages/lodestar/test/unit/sync/rpc.test.ts
  packages/lodestar/test/unit/validator/services/attestation.test.ts
  packages/lodestar/test/unit/validator/services/block.test.ts
  packages/lodestar/test/unit/validator/validator.test.ts
Labels: PR state: needs changes, priority: P4 nice-to-have

#396 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: PR state: merge ready, priority: P4 nice-to-have

#392 Test utils for new spec test format
  packages/bls/src/helpers/g1point.ts
  packages/bls/src/helpers/g2point.ts
  packages/bls/src/helpers/utils.ts
  packages/bls/src/privateKey.ts
  packages/bls/src/web.ts
  packages/eth2.0-spec-test-util/package.json
  packages/eth2.0-spec-test-util/src/single.ts
  packages/eth2.0-spec-test-util/src/util.ts
  packages/eth2.0-spec-test-util/test/e2e/_test_files/multi/bulk.yml
  packages/eth2.0-spec-test-util/test/e2e/_test_files/single/case0/input.yaml
  packages/eth2.0-spec-test-util/test/e2e/_test_files/single/case0/output.yaml
  packages/eth2.0-spec-test-util/test/e2e/_test_files/single/case1/input.yaml
  packages/eth2.0-spec-test-util/test/e2e/_test_files/single/case1/output.yaml
  packages/eth2.0-spec-test-util/test/e2e/multi/index.test.ts
  packages/eth2.0-spec-test-util/test/e2e/single/index.test.ts
  packages/lodestar/package.json
  yarn.lock
Labels: PR state: needs review, Spec Tests, priority: P2 very important
