Repository ChainSafe/lodestar, pull requests merged in 2019-11, with the labels that each got.

#542 Update eth2.0-utils to be more browser-friendly
  packages/eth2.0-spec-test-util/src/multi.ts
  packages/eth2.0-spec-test-util/src/single.ts
  packages/eth2.0-spec-test-util/test/e2e/single/index.test.ts
  packages/eth2.0-utils/package.json
  packages/eth2.0-utils/src/crypto.ts
  packages/eth2.0-utils/src/nodejs/index.ts
  packages/eth2.0-utils/src/nodejs/yaml.ts
  packages/eth2.0-utils/src/yaml/index.ts
  packages/lodestar/src/interop/cli.ts
  yarn.lock
Labels: BeaconChain

#546 update eth1 deposit to 0.9.1
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/options.ts
  packages/lodestar/src/eth1/wallet.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  packages/lodestar/test/e2e/eth1/dev/network.test.ts
  packages/lodestar/test/unit/eth1/ethers.test.ts
  packages/lodestar/test/utils/sleep.ts
Labels: BeaconChain

#553 State transition update for 0.9.1
  package.json
  packages/eth2.0-state-transition/src/block/operations/attestation.ts
  packages/eth2.0-state-transition/src/block/operations/attesterSlashing.ts
  packages/eth2.0-state-transition/src/util/attestation.ts
  packages/eth2.0-state-transition/test/unit/stateTransition/block/operations/attesterSlashing.test.ts
  packages/eth2.0-state-transition/test/utils/attestation.ts
  packages/eth2.0-state-transition/test/utils/slashings.ts
  packages/eth2.0-types/src/ssz/generators/misc.ts
  packages/eth2.0-types/src/ssz/generators/operations.ts
  packages/eth2.0-types/src/ssz/interface.ts
  packages/eth2.0-types/src/types/misc.ts
  packages/eth2.0-types/src/types/operations.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar/src/chain/factory/attestation/index.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/utils/attestation.ts
  packages/lodestar/test/utils/slashings.ts
  packages/ssz/test/spec/minimal/static/attestationDataAndCustodyBit.test.ts
  yarn.lock
Labels: BeaconChain, SSZ

#536 add trusted flag to skip bls verify in state transition functions
  packages/eth2.0-state-transition/src/block/blockHeader.ts
  packages/eth2.0-state-transition/src/block/index.ts
  packages/eth2.0-state-transition/src/block/operations/attestation.ts
  packages/eth2.0-state-transition/src/block/operations/attesterSlashing.ts
  packages/eth2.0-state-transition/src/block/operations/index.ts
  packages/eth2.0-state-transition/src/block/operations/proposerSlashing.ts
  packages/eth2.0-state-transition/src/block/operations/transfer.ts
  packages/eth2.0-state-transition/src/block/operations/voluntaryExit.ts
  packages/eth2.0-state-transition/src/block/randao.ts
  packages/eth2.0-state-transition/src/index.ts
  packages/eth2.0-state-transition/src/slot.ts
  packages/eth2.0-state-transition/src/util/attestation.ts
  packages/eth2.0-state-transition/test/unit/stateTransition/block/operations/attesterSlashing.test.ts
Labels: BeaconChain

#559 Fork choice update for 0.9.1
  packages/lodestar/src/chain/chain.ts
Labels: BeaconChain

#523 Blocks archiving
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/block.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts
  packages/lodestar/src/db/api/beacon/repositories/chain.ts
  packages/lodestar/src/db/api/beacon/repository.ts
  packages/lodestar/src/db/schema.ts
  packages/lodestar/src/node/loggerOptions.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/opPool/modules/abstract.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/interface.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/test/unit/db/api/beacon.test.ts
  packages/lodestar/test/unit/db/api/repositories/block.test.ts
  packages/lodestar/test/unit/db/api/repositories/blockArchive.test.ts
  packages/lodestar/test/unit/db/api/repository.test.ts
  packages/lodestar/test/unit/sync/regular.test.ts
  packages/lodestar/test/unit/tasks/tasks/blockArchiver.test.ts
Labels: BeaconChain

#544 Bump version of eth2.0-utils and eth2.0-state-transition
  packages/eth2.0-spec-test-util/package.json
  packages/eth2.0-state-transition/package.json
  packages/eth2.0-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  yarn.lock
Labels: BeaconChain

#563 Only publish *.js, *.js.map and *.d.ts files
  packages/benchmark-utils/package.json
  packages/bls/package.json
  packages/eth2.0-config/package.json
  packages/eth2.0-params/package.json
  packages/eth2.0-spec-test-util/package.json
  packages/eth2.0-state-transition/package.json
  packages/eth2.0-types/package.json
  packages/eth2.0-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/ssz-type-schema/package.json
  packages/ssz/package.json
  yarn.lock
Labels: BLS, BeaconChain, Benchmarks, SSZ

#509 Fast initial sync
  .gitignore
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/sync/IReputation.ts
  packages/lodestar/src/sync/index.ts
  packages/lodestar/src/sync/initial.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/initial/index.ts
  packages/lodestar/src/sync/initial/interface.ts
  packages/lodestar/src/sync/options.ts
  packages/lodestar/src/sync/regular.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/src/sync/utils/robin.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/api/rest/beacon/index.test.ts
  packages/lodestar/test/unit/sync/index.test.ts
  packages/lodestar/test/unit/sync/initial.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
  packages/lodestar/test/unit/sync/utils/robin.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/utils/sleep.ts
  packages/ssz/package.json
Labels: BeaconChain, SSZ

#545 Update networking to 0.9.x
  packages/eth2.0-config/package.json
  packages/eth2.0-params/package.json
  packages/eth2.0-state-transition/package.json
  packages/eth2.0-types/package.json
  packages/eth2.0-types/src/ssz/generators/validator.ts
  packages/eth2.0-types/src/ssz/generators/wire.ts
  packages/eth2.0-types/src/ssz/interface.ts
  packages/eth2.0-types/src/types/validator.ts
  packages/eth2.0-types/src/types/wire.ts
  packages/eth2.0-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/interop/keypairs.ts
  packages/lodestar/src/network/gossip.ts
  packages/lodestar/src/network/gossip/constants.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/handlers/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/handlers/attestation.ts
  packages/lodestar/src/network/gossip/handlers/attesterSlashing.ts
  packages/lodestar/src/network/gossip/handlers/block.ts
  packages/lodestar/src/network/gossip/handlers/proposerSlashing.ts
  packages/lodestar/src/network/gossip/handlers/voluntaryExit.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/IReputation.ts
  packages/lodestar/src/sync/index.ts
  packages/lodestar/src/sync/initial.ts
  packages/lodestar/src/sync/regular.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/util/bytes.ts
  packages/lodestar/src/util/keystore.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/attestaterSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/attestation.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/block.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/proposerSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/voluntaryExit.test.ts
  packages/lodestar/test/unit/network/gossip/utils.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/network/util.ts
  packages/lodestar/test/unit/sync/index.test.ts
  packages/lodestar/test/unit/sync/initial.test.ts
  packages/lodestar/test/unit/sync/reputation.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/utils/fork.ts
  packages/ssz/test/spec/minimal/static/aggregateAndProof.test.ts
  yarn.lock
Labels: BeaconChain, Priority: 3 - Medium, Status: Merge Ready, Status: Needs Review, Type: Enhancement

#564 Removed extra promisify dep
  package.json
  packages/lodestar/package.json
  packages/lodestar/src/api/rpc/transport/http.ts
  packages/lodestar/src/api/rpc/transport/ws.ts
  packages/lodestar/src/metrics/server/http.ts
  packages/lodestar/src/network/gossip.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/e2e/opPool/modules/deposit.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/db/controller/level.test.ts
  packages/lodestar/test/unit/eth1/ethers.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  yarn.lock
Labels: BeaconChain

#567 Add optional generic typescript type to ssz types
  package.json
  packages/eth2.0-types/src/ssz/interface.ts
  packages/lodestar/package.json
  packages/lodestar/src/db/api/beacon/repositories/chain.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/util/serialization.ts
  packages/ssz-type-schema/src/types.ts
  packages/ssz/src/core/deserialize.ts
  packages/ssz/test/unit/deserialize.test.ts
  yarn.lock
Labels: BeaconChain, SSZ

#568 Reintegrate bn.js support for SSZ
  packages/eth2.0-spec-test-util/src/transform.ts
  packages/eth2.0-utils/package.json
  packages/eth2.0-utils/src/converters/json.ts
  packages/eth2.0-utils/src/converters/yaml.ts
  packages/lodestar/package.json
  packages/lodestar/src/util/createValue.ts
  packages/ssz-type-schema/package.json
  packages/ssz-type-schema/src/types.ts
  packages/ssz-type-schema/src/utils.ts
  packages/ssz/package.json
  packages/ssz/src/core/assertValidValue.ts
  packages/ssz/src/core/clone.ts
  packages/ssz/src/core/deserialize.ts
  packages/ssz/src/core/equals.ts
  packages/ssz/src/core/hashTreeRoot.ts
  packages/ssz/src/core/serialize.ts
  packages/ssz/src/util/types.ts
  packages/ssz/test/unit/deserialize.test.ts
  packages/ssz/test/unit/serialize.test.ts
  yarn.lock
Labels: BeaconChain, SSZ
