Repository ChainSafe/lodestar, pull requests merged in 2019-09, with the labels that each got.

#420 Start beacon chain w/ quick start state
  .travis.yml
  package.json
  packages/eth2.0-config/package.json
  packages/eth2.0-spec-test-util/package.json
  packages/eth2.0-spec-test-util/src/index.ts
  packages/eth2.0-spec-test-util/src/multi.ts
  packages/eth2.0-spec-test-util/src/util.ts
  packages/eth2.0-ssz-types/package.json
  packages/eth2.0-ssz-types/src/generators/misc.ts
  packages/lodestar/package.json
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/cli/commands/beacon.ts
  packages/lodestar/src/constants/constants.ts
  packages/lodestar/src/db/api/beacon/repositories/block.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/interop/cli.ts
  packages/lodestar/src/interop/deposits.ts
  packages/lodestar/src/interop/keypairs.ts
  packages/lodestar/src/interop/state.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/util/expandYamlValue.ts
  packages/lodestar/src/util/merkleTree/merkleTree.ts
  packages/lodestar/test/spec/genesis/initialization/genesis_initialization_minimal.test.ts
  packages/lodestar/test/utils/specTestTypes/genesis.ts
Labels: BeaconChain, PR state: needs review, priority: P1 critical

#405 Implement a http client as a preparation for validator REST consumption
  packages/lodestar/package.json
  packages/lodestar/src/util/httpClient.ts
  packages/lodestar/test/unit/util/httpClient.test.ts
  yarn.lock
Labels: PR state: merge ready, Validator, priority: P2 very important

#406 Bls benchmarking and optimisation
  packages/benchmark-utils/package.json
  packages/benchmark-utils/src/index.ts
  packages/bls/.gitignore
  packages/bls/package.json
  packages/bls/src/helpers/g1point.ts
  packages/bls/src/index.ts
  packages/bls/test/benchmarks/index.ts
  packages/bls/test/benchmarks/suites/index.ts
  packages/bls/test/benchmarks/suites/signatureAggregation.ts
  packages/bls/test/benchmarks/suites/verifyInValidSignature.ts
  packages/bls/test/benchmarks/suites/verifyInvalidAggregatedSignature.ts
  packages/bls/test/benchmarks/suites/verifyValidAggregatedSignature.ts
  packages/bls/test/benchmarks/suites/verifyValidSignature.ts
  packages/bls/test/unit/index.test.ts
  yarn.lock
Labels: Benchmarks, PR state: merge ready

#426 Clean up type usage
  packages/bls/src/helpers/g2point.ts
  packages/bls/src/index.ts
  packages/bls/src/privateKey.ts
  packages/eth2.0-ssz-types/src/generators/misc.ts
  packages/eth2.0-ssz-types/src/generators/validator.ts
  packages/eth2.0-ssz-types/src/generators/wire.ts
  packages/eth2.0-types/src/misc.ts
  packages/eth2.0-types/src/state.ts
  packages/eth2.0-types/src/validator.ts
  packages/eth2.0-types/src/wire.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/block.ts
  packages/lodestar/src/db/api/beacon/repositories/chain.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/network/libp2p/syncRpc.ts
  packages/lodestar/src/sync/rpc/interface.ts
  packages/lodestar/src/util/crypto.ts
  packages/lodestar/src/util/merkleTree/interface.ts
  packages/lodestar/src/util/merkleTree/lightMerkleTree.ts
  packages/lodestar/src/util/merkleTree/merkleTree.ts
  packages/lodestar/src/util/merkleTree/utils.ts
  packages/lodestar/src/validator/rpc/abstract.ts
  packages/lodestar/test/utils/mocks/eth1/eth1Notifier.ts
  packages/lodestar/test/utils/mocks/rpc/validator.ts
Labels: BLS, BeaconChain, PR state: needs changes, SSZ, priority: P4 nice-to-have

#425 Update network for interop
  packages/eth2.0-ssz-types/src/generators/wire.ts
  packages/eth2.0-ssz-types/src/interface.ts
  packages/eth2.0-types/src/wire.ts
  packages/lodestar/package.json
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/codec.ts
  packages/lodestar/src/network/gossip.ts
  packages/lodestar/src/network/index.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/libp2p/index.ts
  packages/lodestar/src/network/libp2p/peer.ts
  packages/lodestar/src/network/libp2p/rpc.ts
  packages/lodestar/src/network/libp2p/syncRpc.ts
  packages/lodestar/src/network/libp2p/util.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/nodejs/index.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/index.ts
  packages/lodestar/src/sync/initial.ts
  packages/lodestar/src/sync/regular.ts
  packages/lodestar/src/sync/reputation.ts
  packages/lodestar/src/sync/reqResp/index.ts
  packages/lodestar/src/sync/reqResp/interface.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/rpc/interface.ts
  packages/lodestar/test/unit/network/codec.test.ts
  packages/lodestar/test/unit/network/libp2p/rpc.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/network/util.ts
  packages/lodestar/test/unit/sync/index.test.ts
  packages/lodestar/test/unit/sync/initial.test.ts
  packages/lodestar/test/unit/sync/reputation.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/sync/rpc.test.ts
  packages/ssz/package.json
  yarn.lock
Labels: BeaconChain, PR state: needs review, priority: P1 critical

#428 Mocked eth1 data for interop
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/chain/factory/block/eth1Data.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/test/e2e/chain/factory/block/assebleBlock.test.ts
  packages/lodestar/test/unit/chain/factory/block/body.test.ts
  packages/lodestar/test/unit/chain/factory/block/eth1Data.test.ts
  packages/lodestar/test/unit/eth1/ethers.test.ts
Labels: BeaconChain, PR state: needs review, priority: P1 critical

#434 Support CORS for Rest API
  packages/lodestar/package.json
  packages/lodestar/src/api/rest/index.ts
  yarn.lock
Labels: BeaconChain, PR state: needs review, priority: P3 important

#433 Fix e2e tests from libp2p refactor
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
Labels: PR state: merge ready, priority: P2 very important

#436 Update gossipsub
  packages/lodestar/package.json
  packages/lodestar/src/network/gossip.ts
  yarn.lock
Labels: Networking, PR state: merge ready

#446 Chain operations queue
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/validator/produceAttestation.ts
  packages/lodestar/src/chain/chain.ts
  packages/ssz/package.json
  packages/ssz/src/clone.ts
  yarn.lock
Labels: BeaconChain, PR state: needs review, priority: P2 very important

#460 Fix Broken Unit Tests Since Interop
  packages/lodestar/test/unit/api/rpc/api/validator/validator.test.ts
  packages/lodestar/test/unit/chain/factory/attestation/data.test.ts
  packages/lodestar/test/unit/chain/factory/attestation/index.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/chain/factory/duties/assembleValidatorDuty.test.ts
  packages/lodestar/test/unit/chain/stateTransition/util/misc.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/sync/initial.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/validator/services/attestation.test.ts
Labels: BeaconChain

#459 Tueric/interop refactor process blocks
  packages/lodestar/package.json
  packages/lodestar/src/chain/chain.ts
Labels: BeaconChain, PR state: merge ready

#452 Create label.yml
  .github/labeler.yml
  .github/workflows/label.yml
  packages/lodestar/src/index.ts
Labels: BeaconChain

#457 Switch from Debug -> Verbose
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/logger/interface.ts
  packages/lodestar/src/logger/winston.ts
  packages/lodestar/src/network/gossip.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/sync/regular.ts
  packages/lodestar/src/util/httpClient.ts
Labels: BeaconChain, PR state: needs review

#442 Implement Beacon node fork rest api
  packages/lodestar/src/api/impl/beacon/fork.ts
  packages/lodestar/src/api/rest/routes/beacon/fork.ts
  packages/lodestar/src/api/rest/routes/beacon/index.ts
  packages/lodestar/src/api/rpc/api/beacon/beacon.ts
  packages/lodestar/src/api/rpc/api/beacon/interface.ts
  packages/lodestar/src/validator/rest/beacon/beacon.ts
  packages/lodestar/src/validator/validator.ts
  packages/lodestar/test/unit/api/rpc/api/beacon/beacon.test.ts
  packages/lodestar/test/utils/mocks/rpc/beacon.ts
Labels: BeaconChain, PR state: needs changes, priority: P4 nice-to-have

#463 Fix Typo in README
  packages/lodestar/README.md
Labels: BeaconChain

#477 Merge ssz-types into eth2.0-types
  README.md
  package.json
  packages/eth2.0-config/package.json
  packages/eth2.0-config/src/index.ts
  packages/eth2.0-config/src/interface.ts
  packages/eth2.0-config/src/presets/mainnet.ts
  packages/eth2.0-config/src/presets/minimal.ts
  packages/eth2.0-params/package.json
  packages/eth2.0-params/src/interface.ts
  packages/eth2.0-spec-test-util/test/e2e/single/index.test.ts
  packages/eth2.0-ssz-types/.babel-register
  packages/eth2.0-ssz-types/package.json
  packages/eth2.0-ssz-types/tsconfig.json
  packages/eth2.0-types/.babelrc
  packages/eth2.0-types/package.json
  packages/eth2.0-types/src/index.ts
  packages/eth2.0-types/src/ssz/constants.ts
  packages/eth2.0-types/src/ssz/generators/block.ts
  packages/eth2.0-types/src/ssz/generators/index.ts
  packages/eth2.0-types/src/ssz/generators/misc.ts
  packages/eth2.0-types/src/ssz/generators/operations.ts
  packages/eth2.0-types/src/ssz/generators/primitive.ts
  packages/eth2.0-types/src/ssz/generators/state.ts
  packages/eth2.0-types/src/ssz/generators/validator.ts
  packages/eth2.0-types/src/ssz/generators/wire.ts
  packages/eth2.0-types/src/ssz/index.ts
  packages/eth2.0-types/src/ssz/interface.ts
  packages/eth2.0-types/src/ssz/presets/mainnet.ts
  packages/eth2.0-types/src/ssz/presets/minimal.ts
  packages/eth2.0-types/src/types/block.ts
  packages/eth2.0-types/src/types/index.ts
  packages/eth2.0-types/src/types/misc.ts
  packages/eth2.0-types/src/types/operations.ts
  packages/eth2.0-types/src/types/primitive.ts
  packages/eth2.0-types/src/types/state.ts
  packages/eth2.0-types/src/types/validator.ts
  packages/eth2.0-types/src/types/wire.ts
  packages/eth2.0-types/test/unit/consistency.test.ts
  packages/lodestar/src/constants/constants.ts
  yarn.lock
Labels: PR state: merge ready, PR state: needs review

#427 Fetching deposits by range
  packages/lodestar/src/chain/factory/block/deposits.ts
  packages/lodestar/src/chain/stateTransition/block/operations/index.ts
  packages/lodestar/src/db/api/beacon/repository.ts
  packages/lodestar/src/opPool/modules/deposit.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/opPool/modules/deposit.test.ts
  packages/lodestar/test/unit/chain/factory/block/deposits.test.ts
  packages/lodestar/test/unit/db/api/repository.test.ts
  packages/lodestar/test/unit/opPool/modules/deposit.test.ts
Labels: BLS, BeaconChain, Benchmarks, PR state: merge ready, PR state: needs review, priority: P4 low
