Repository ChainSafe/lodestar, pull requests merged in 2020-02, with the labels that each got.

#631 add bls browser test execution
  packages/bls/karma.conf.js
  packages/bls/package.json
  packages/bls/webpack.config.js
  yarn.lock
Labels: BLS

#626 Chain and validator improvements
  packages/lodestar-cli/src/commands/dev.ts
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/api/interface.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
Labels: BeaconChain

#645 Migrate to the latest libp2p
  packages/lodestar-cli/package.json
  packages/lodestar-cli/tsconfig.json
  packages/lodestar/package.json
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/handlers/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/handlers/attestation.ts
  packages/lodestar/src/network/gossip/handlers/attesterSlashing.ts
  packages/lodestar/src/network/gossip/handlers/block.ts
  packages/lodestar/src/network/gossip/handlers/proposerSlashing.ts
  packages/lodestar/src/network/gossip/handlers/voluntaryExit.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/tsconfig.json
  packages/lodestar/tsconfig.test.json
  yarn.lock
Labels: BeaconChain

#649 update bls-wasm version to fix stacktraces
  packages/bls/package.json
  yarn.lock
Labels: BLS

#655 ssz v0.5.3
  packages/eth2.0-spec-test-util/package.json
  packages/eth2.0-state-transition/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  packages/ssz/package.json
Labels: BeaconChain, SSZ

#658 Fix libp2p unit test fail and suspend in CI
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
Labels: BeaconChain

#657 Bump ssz-type-schema and dependencies
  packages/bls/package.json
  packages/eth2.0-config/package.json
  packages/eth2.0-params/package.json
  packages/eth2.0-spec-test-util/package.json
  packages/eth2.0-state-transition/package.json
  packages/eth2.0-types/package.json
  packages/eth2.0-utils/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  packages/ssz-type-schema/package.json
  packages/ssz/package.json
  yarn.lock
Labels: BLS, BeaconChain, SSZ

#653 release bls@0.2.2
  packages/bls/CHANGELOG.md
Labels: BLS

#622 Implement chunkify response for network req/resp domain
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/network/util.test.ts
Labels: BeaconChain

#610 Gossip message validation
  packages/lodestar/package.json
  packages/lodestar/src/network/gossip/constants.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/handlers/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/handlers/attestation.ts
  packages/lodestar/src/network/gossip/handlers/attesterSlashing.ts
  packages/lodestar/src/network/gossip/handlers/block.ts
  packages/lodestar/src/network/gossip/handlers/proposerSlashing.ts
  packages/lodestar/src/network/gossip/handlers/voluntaryExit.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/test/unit/network/gossip/handlers/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/attestaterSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/attestation.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/block.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/proposerSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/voluntaryExit.test.ts
  packages/lodestar/test/unit/network/gossip/utils.test.ts
  yarn.lock
Labels: BeaconChain

#660 Avoid duplicate gossip message
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/test/e2e/network/network.test.ts
  yarn.lock
Labels: BeaconChain

#648 Attestation collection
  packages/eth2.0-params/CHANGELOG.md
  packages/eth2.0-params/src/interface.ts
  packages/eth2.0-params/src/presets/mainnet.ts
  packages/eth2.0-params/src/presets/minimal.ts
  packages/eth2.0-types/src/ssz/generators/api.ts
  packages/eth2.0-types/src/ssz/generators/index.ts
  packages/eth2.0-types/src/ssz/interface.ts
  packages/eth2.0-types/src/types/api.ts
  packages/eth2.0-types/src/types/index.ts
  packages/eth2.0-utils/src/math.ts
  packages/lodestar-cli/test/e2e/commands/dev.test.ts
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar/src/api/impl/validator/duties/proposer.ts
  packages/lodestar/src/api/rest/routes/validator/subscribeToCommitteeSubnet.ts
  packages/lodestar/src/api/rpc/api/validator/interface.ts
  packages/lodestar/src/api/rpc/api/validator/validator.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/clock/interface.ts
  packages/lodestar/src/chain/clock/local/LocalClock.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/index.ts
  packages/lodestar/src/sync/regular.ts
  packages/lodestar/src/sync/subnet/attestation-collector.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/src/util/hex.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/api/rpc/api/validator/validator.test.ts
  packages/lodestar/test/unit/chain/clock/local.test.ts
  packages/lodestar/test/unit/eth1/dev/network.test.ts
  packages/lodestar/test/unit/sync/regular.test.ts
  packages/lodestar/test/unit/sync/subnet/attestation-collector.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: BeaconChain

#666 Use lerna fixed mode
  lerna.json
  packages/benchmark-utils/package.json
  packages/eth2.0-config/package.json
  packages/eth2.0-params/package.json
  packages/eth2.0-spec-test-util/package.json
  packages/eth2.0-state-transition/package.json
  packages/eth2.0-types/package.json
  packages/eth2.0-utils/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
Labels: BeaconChain, Benchmarks

#668 Align monorepo keywords
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
Labels: BeaconChain

#673 Update ssz dependency
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  yarn.lock
Labels: BeaconChain

#672 Update typescript version
  package.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-utils/src/yaml/int.ts
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  yarn.lock
Labels: BeaconChain, Benchmarks

#674 Remove hash from lodestar-utils, rely on ssz
  packages/lodestar-beacon-state-transition/src/util/seed.ts
  packages/lodestar-beacon-state-transition/src/util/validator.ts
  packages/lodestar-utils/package.json
  packages/lodestar-utils/src/crypto.ts
  packages/lodestar-utils/src/index.ts
  packages/lodestar-utils/src/verifyMerkleBranch.ts
  packages/lodestar-utils/test/unit/crypto.test.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  yarn.lock
Labels: BeaconChain
