Repository ChainSafe/lodestar, pull requests merged in 2020-08, with the labels that each got.

#1277 Handle dialProtocol timeout
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
Labels: Network

#1283 Set strictNullChecks = true in easy packages
  packages/lodestar-config/tsconfig.json
  packages/lodestar-params/tsconfig.json
  packages/lodestar-types/tsconfig.build.json
  packages/lodestar-types/tsconfig.json
Labels: Config, Types

#1195 Add basic multi node test
  .gitignore
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/test/e2e/noEth1Sim.test.ts
  packages/lodestar/test/e2e/node.test.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/e2e/threaded/noEth1Sim.test.ts
  packages/lodestar/test/e2e/threaded/noEth1SimWorker.ts
  packages/lodestar/test/e2e/threaded/worker.js
  packages/lodestar/test/utils/cliMetrics.ts
  packages/lodestar/test/utils/node/beacon.ts
  packages/lodestar/test/utils/node/validator.ts
Labels: Api, Validator

#1260 Regular sync: find best peer at startup and use it
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/sync/regular/interface.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/regular/options.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/sync.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1287 Update ssz dependency
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/spec/ssz/util/testCases.ts
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#1286 Fix deposit data decoding
  packages/lodestar-cli/src/depositContract/depositData.ts
Labels: CLI

#1275 Add early --testnet medalla support
  .gitignore
  docs/index.md
  docs/usage/medalla.md
  mkdocs.yml
  packages/lodestar-cli/src/cmds/beacon/cmds/init/init.ts
  packages/lodestar-cli/src/cmds/beacon/config.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/beacon/testnets/altona.ts
  packages/lodestar-cli/src/cmds/beacon/testnets/index.ts
  packages/lodestar-cli/src/cmds/beacon/testnets/medalla.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/index.ts
Labels: CLI

#1291 fix ethers wallet provider
  packages/lodestar-cli/src/util/ethers.ts
Labels: CLI

#1301 lodestar-cli init
  docs/usage/altona.md
  docs/usage/index.md
  docs/usage/key-management.md
  docs/usage/medalla.md
  docs/usage/witti.md
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/account/cmds/validator/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/deposit.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/options.ts
  packages/lodestar-cli/src/cmds/account/paths.ts
  packages/lodestar-cli/src/cmds/beacon/cmds/init/init.ts
  packages/lodestar-cli/src/cmds/beacon/cmds/run/index.ts
  packages/lodestar-cli/src/cmds/beacon/index.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/beacon/paths.ts
  packages/lodestar-cli/src/cmds/beacon/run.ts
  packages/lodestar-cli/src/cmds/dev/run.ts
  packages/lodestar-cli/src/cmds/init/index.ts
  packages/lodestar-cli/src/cmds/init/init.ts
  packages/lodestar-cli/src/cmds/init/options.ts
  packages/lodestar-cli/src/cmds/validator/paths.ts
  packages/lodestar-cli/src/cmds/validator/run.ts
  packages/lodestar-cli/src/config/beacon.ts
  packages/lodestar-cli/src/config/params.ts
  packages/lodestar-cli/src/index.ts
  packages/lodestar-cli/src/options/globalOptions.ts
  packages/lodestar-cli/src/options/index.ts
  packages/lodestar-cli/src/options/paramsOptions.ts
  packages/lodestar-cli/src/paths/global.ts
  packages/lodestar-cli/src/testnets/altona.ts
  packages/lodestar-cli/src/testnets/index.ts
  packages/lodestar-cli/src/testnets/medalla.ts
  packages/lodestar-cli/src/util/file.ts
  packages/lodestar-cli/test/unit/lodecli/init.test.ts
  packages/lodestar-params/src/index.ts
  yarn.lock
Labels: CLI, Config

#1292 Set strictNullChecks true in lodestar/api/rest
  packages/lodestar/src/api/index.ts
  packages/lodestar/src/api/rest/routes/beacon/validator.ts
Labels: Api

#1305 Fix array option merging
  packages/lodestar-cli/src/config/beacon.ts
Labels: CLI

#1270 Validate gossip blocks by parent then head
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1309 Fix testnet params generation in init
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/init/init.ts
  packages/lodestar-cli/src/config/params.ts
  packages/lodestar-cli/src/testnets/altona.ts
  packages/lodestar-cli/src/testnets/medalla.ts
Labels: CLI

#1310 medalla genesis.ssz download via --testnet medalla
  packages/lodestar-cli/src/testnets/index.ts
Labels: CLI

#1313 Enable node rest api by default
  packages/lodestar/src/api/rest/options.ts
Labels: Api

#1312 Add peerstore persistence
  packages/lodestar-cli/src/cmds/beacon/paths.ts
  packages/lodestar-cli/src/cmds/beacon/run.ts
  packages/lodestar/package.json
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/test/utils/node/beacon.ts
  yarn.lock
Labels: CLI, Network

#1303 Add account validator import command
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/index.ts
  packages/lodestar-cli/src/util/index.ts
  packages/lodestar-cli/src/util/recursivelyFind.ts
  packages/lodestar-cli/src/util/sleep.ts
  yarn.lock
Labels: CLI

#1315 Update discv5
  packages/lodestar-cli/package.json
  packages/lodestar/package.json
  yarn.lock
Labels: CLI

#1319 v0.11.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#1328 Regular Sync: Emit syncCompleted if head is up to date
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/e2e/noEth1Sim.test.ts
Labels: Network

#1322 Validator deposit: fix path to config.yaml
  packages/lodestar-cli/src/cmds/account/cmds/validator/deposit.ts
Labels: CLI

#1331 Make validator waiting for genesis errors more verbose
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/api/impl/instance.ts
  packages/lodestar-validator/src/api/impl/rest/apiClient.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/util/httpClient.ts
Labels: Validator

#1338 Update discv5 and libp2p-ts
  packages/lodestar-cli/package.json
  packages/lodestar/package.json
  yarn.lock
Labels: CLI

#1332 Accept validator paths with pubkey prefixed and not prefixed
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
  packages/lodestar-cli/src/util/format.ts
  packages/lodestar-cli/src/util/fs.ts
  packages/lodestar-cli/src/util/index.ts
  packages/lodestar-cli/src/util/passphrase.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDir.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirBuilder.ts
  packages/lodestar-cli/src/validatorDir/paths.ts
Labels: CLI

#1290 Set strictNullChecks true in lodestar/api/impl
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/api/impl/beacon/blocks/utils.ts
  packages/lodestar/src/api/impl/beacon/state/interface.ts
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/node/node.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
Labels: Api

#1281 Set strictNullChecks true in lodestar-spec-test-util
  packages/lodestar-spec-test-util/src/single.ts
  packages/lodestar-spec-test-util/tsconfig.build.json
  packages/lodestar-spec-test-util/tsconfig.json
Labels: StateTransition

#1339 do not allow unkown flags
  packages/lodestar-cli/src/index.ts
Labels: CLI

#1344 prevent undefined being returned in add0xPrefix
  packages/lodestar-cli/src/util/format.ts
Labels: CLI

#1345 Revert strict yargs
  packages/lodestar-cli/src/index.ts
Labels: CLI

#1343 Improve network error handling
  packages/lodestar-validator/test/unit/validator.test.ts
  packages/lodestar-validator/test/utils/mocks/beacon.ts
  packages/lodestar/src/chain/blocks/pool.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/e2e/threaded/noEth1Sim.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
Labels: Eth1, Network, Validator

#1349 Use readOnlyEntries to build IFlatValidator
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-beacon-state-transition/src/fast/util/flatValidator.ts
  packages/lodestar-cli/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#1352 Better block gossip validation
  packages/lodestar-beacon-state-transition/src/fast/index.ts
  packages/lodestar-beacon-state-transition/src/fast/util/block.ts
  packages/lodestar-beacon-state-transition/src/fast/util/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/gossip/handlers/block.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/gossip/validation/block.ts
  packages/lodestar/src/network/gossip/validation/index.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/test/unit/network/gossip/utils.test.ts
  packages/lodestar/test/unit/network/gossip/validation/block.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
Labels: Network, StateTransition

#1359 Update to ssz 0.6.13
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#1362 Register events before starting libp2p
  packages/lodestar/src/network/network.ts
Labels: Network

#1285 Set strictNullChecks = true in lodestar-validator
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/unit/api/rcpClientOverInstance.test.ts
  packages/lodestar-validator/test/utils/block.ts
  packages/lodestar-validator/test/utils/mocks/beacon.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar-validator/tsconfig.build.json
  packages/lodestar-validator/tsconfig.json
  packages/lodestar/test/utils/attestation.ts
  packages/lodestar/test/utils/block.ts
Labels: Types, Validator

#1360 Add enr cli options
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/beacon/enrOptions.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/beacon/run.ts
  packages/lodestar-cli/src/util/enr.ts
  packages/lodestar/package.json
  packages/lodestar/src/network/options.ts
  yarn.lock
Labels: CLI, Network

#1361 Add supportSync to peer reputation
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/sync/IReputation.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/chain/blocks/pool.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
  packages/lodestar/test/unit/sync/reputation.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/mocks/gossipsub.ts
Labels: Network

#1369 Align libp2p+discv5 ports
  packages/lodestar-cli/src/testnets/medalla.ts
  packages/lodestar/src/network/options.ts
Labels: CLI, Network

#1374 Join CLI paths only if not absolute
  packages/lodestar-cli/src/cmds/account/paths.ts
  packages/lodestar-cli/src/cmds/beacon/paths.ts
  packages/lodestar-cli/src/cmds/beacon/run.ts
  packages/lodestar-cli/src/cmds/validator/paths.ts
  packages/lodestar-cli/src/paths/global.ts
  packages/lodestar-cli/src/util/paths.ts
Labels: CLI

#1284 Set strictNullChecks = true in lodestar-beacon-state-transition
  packages/lodestar-beacon-state-transition/src/epoch/finalUpdates.ts
  packages/lodestar-beacon-state-transition/src/fast/block/isValidIndexedAttestation.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processDeposit.ts
  packages/lodestar-beacon-state-transition/src/fast/block/slashValidator.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processFinalUpdates.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processRewardsAndPenalties.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-beacon-state-transition/src/util/attestation.ts
  packages/lodestar-beacon-state-transition/src/util/duties.ts
  packages/lodestar-beacon-state-transition/test/unit/fast/block/isValidIndexedAttestation.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/eth1data.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/attesterSlashing.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/index.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/proposerSlashings.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/randao.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/fork.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/registryUpdates.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/slashing.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/util.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/balance.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/validator.test.ts
  packages/lodestar-beacon-state-transition/test/utils/attestation.ts
  packages/lodestar-beacon-state-transition/test/utils/block.ts
  packages/lodestar-beacon-state-transition/test/utils/slashings.ts
  packages/lodestar-beacon-state-transition/test/utils/state.ts
  packages/lodestar-beacon-state-transition/test/utils/validator.ts
  packages/lodestar-beacon-state-transition/tsconfig.build.json
  packages/lodestar-beacon-state-transition/tsconfig.json
Labels: StateTransition

#1289 Set strictNullChecks true in lodestar
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/api/impl/beacon/blocks/utils.ts
  packages/lodestar/src/api/impl/beacon/state/interface.ts
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/node/node.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/index.ts
  packages/lodestar/src/api/rest/routes/beacon/validator.ts
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/blocks/pool.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/clock/local/LocalClock.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts
  packages/lodestar/src/db/api/beacon/repositories/depositDataRoot.ts
  packages/lodestar/src/db/controller/impl/pouch.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/node/options.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/src/util/events.ts
  packages/lodestar/src/util/function.ts
  packages/lodestar/src/util/notNullish.ts
  packages/lodestar/test/unit/util/function.test.ts
Labels: Api

#1384 Update fastify and fastify-sse
  .github/workflows/spec-test.yml
  .github/workflows/test.yml
  packages/lodestar-cli/src/cmds/dev/options.ts
  packages/lodestar-cli/src/cmds/dev/run.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/api.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/api/rest/routes/beacon/blockStream.ts
  yarn.lock
Labels: Api, CI, CLI

#1357 CliCommand builder
  packages/lodestar-cli/src/cmds/account/cmds/validator/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/deposit.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/index.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/list.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/options.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/index.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/list.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/options.ts
  packages/lodestar-cli/src/cmds/account/index.ts
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/beacon/index.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/beacon/paths.ts
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar-cli/src/cmds/dev/index.ts
  packages/lodestar-cli/src/cmds/dev/options.ts
  packages/lodestar-cli/src/cmds/index.ts
  packages/lodestar-cli/src/cmds/init/handler.ts
  packages/lodestar-cli/src/cmds/init/index.ts
  packages/lodestar-cli/src/cmds/init/options.ts
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/cmds/validator/index.ts
  packages/lodestar-cli/src/cmds/validator/options.ts
  packages/lodestar-cli/src/config/beacon.ts
  packages/lodestar-cli/src/docGeneration.ts
  packages/lodestar-cli/src/index.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/index.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/sync.ts
  packages/lodestar-cli/src/util/command.ts
  packages/lodestar-cli/src/util/index.ts
Labels: CLI

#1387 target es2019 in lodestar-cli development tsconfig
  packages/lodestar-cli/tsconfig.json
Labels: CLI

#1397 Connect to the correct chainId with ethers default provider
  packages/lodestar-cli/src/cmds/account/cmds/validator/deposit.ts
  packages/lodestar-cli/src/util/ethers.ts
Labels: CLI

#1399 Simple catch in startProcessEth1Blocks errors
  packages/lodestar/src/eth1/impl/ethers.ts
Labels: Eth1

#1395 Set strictNullChecks true in lodestar-cli
  packages/lodestar-cli/src/cmds/account/cmds/validator/create.ts
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar-cli/src/cmds/index.ts
  packages/lodestar-cli/src/cmds/init/handler.ts
  packages/lodestar-cli/src/docGeneration.ts
  packages/lodestar-cli/src/network/peerId.ts
  packages/lodestar-cli/src/util/enr.ts
  packages/lodestar-cli/src/util/ethers.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirBuilder.ts
  packages/lodestar-cli/src/wallet/Wallet.ts
  packages/lodestar-spec-test-util/src/multi.ts
  yarn.lock
Labels: CLI, StateTransition

#1276 lodestar-cli e2e tests
  packages/lodestar-cli/buidler.config.js
  packages/lodestar-cli/package.json
  packages/lodestar-cli/test/e2e/account.test.ts
  packages/lodestar-cli/test/e2e/constants.ts
  packages/lodestar-cli/test/setup.ts
  packages/lodestar-cli/test/unit/lodecli/init.test.ts
  yarn.lock
Labels: CLI

#1405 Update discv5 + Fix maxPeers
  packages/lodestar-cli/package.json
  packages/lodestar/package.json
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/nodejs/util.ts
  yarn.lock
Labels: CLI, Network

#1241 Dynamic generation of CLI docs
  .github/workflows/docs.yml
  .gitignore
  package.json
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/create.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/generateCLIDocs.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/api.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/logger.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/metrics.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/network.ts
Labels: CI, CLI

#1406 tmp dep for cli e2e tests
  packages/lodestar-cli/test/e2e/constants.ts
Labels: CLI

#1407 integrate cli.docs into mkdocs
  mkdocs.yml
  packages/lodestar-cli/src/generateCLIDocs.ts
Labels: CLI

#1408 Improve CLI docs
  .github/workflows/docs.yml
  .gitignore
  docs/packages.md
  mkdocs.yml
  package.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/docsgen/index.ts
  packages/lodestar-cli/docsgen/markdown.ts
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/account/cmds/validator/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/deposit.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/list.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/list.ts
  packages/lodestar-cli/src/cmds/beacon/index.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/dev/index.ts
  packages/lodestar-cli/src/cmds/init/index.ts
  packages/lodestar-cli/src/cmds/validator/index.ts
  packages/lodestar-cli/src/docGeneration.ts
  packages/lodestar-cli/src/generateCLIDocs.ts
  packages/lodestar-cli/src/index.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/sync.ts
  packages/lodestar-cli/src/util/command.ts
  packages/lodestar-cli/tsconfig.json
  packages/lodestar-config/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  scripts/prepare-docs.sh
Labels: Benchmarks, CI, CLI, Config, StateTransition

#1409 Optimize post block processing
  packages/lodestar/src/db/api/beacon/repositories/depositData.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/utils/sync.ts
Labels: Network

#1410 Remove space before triple back tick in cli docs
  packages/lodestar-cli/docsgen/index.ts
Labels: CLI

#1411 Fix sync status: handle waitForPeers and target < our head
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/sync/sync.test.ts
Labels: Network

#1401 Faster attestation validation and processing
  packages/lodestar-beacon-state-transition/src/fast/util/attestation.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/attestation/index.ts
  packages/lodestar/src/chain/attestation/pool.ts
  packages/lodestar/src/chain/attestation/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/seenAttestationCache.ts
  packages/lodestar/src/db/api/beacon/stateContextCheckpointsCache.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/gossip/validation/attestation.ts
  packages/lodestar/src/network/gossip/validation/block.ts
  packages/lodestar/src/network/gossip/validation/index.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/util/validation/attestation.ts
  packages/lodestar/test/e2e/noEth1Sim.test.ts
  packages/lodestar/test/unit/api/impl/beacon/beacon.test.ts
  packages/lodestar/test/unit/chain/attestation.test.ts
  packages/lodestar/test/unit/chain/attestation/pool.test.ts
  packages/lodestar/test/unit/chain/attestation/processor.test.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/network/gossip/utils.test.ts
  packages/lodestar/test/unit/network/gossip/validation/attestation.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/utils/attestation.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
Labels: Api, Network, StateTransition

#1400 upgrade bls-keystore and bls-keygen
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/account/cmds/validator/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/create.ts
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/util/passphrase.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDir.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirBuilder.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirManager.ts
  packages/lodestar-cli/src/wallet/Wallet.ts
  packages/lodestar-cli/src/wallet/WalletManager.ts
  yarn.lock
Labels: CLI

#1404 Protect Validator API
  packages/lodestar/src/api/impl/errors/api.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/routes/error.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/test/e2e/multiNodeMultiThread.test.ts
  packages/lodestar/test/e2e/multiNodeSingleThread.test.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAggregateAndProof.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/utils/mocks/gossipsub.ts
Labels: Api, Network

#1417 Regular Sync: Simpler getBestPeer and handle empty range
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/attestation/pool.ts
  packages/lodestar/src/chain/attestation/processor.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/chain/attestation/pool.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Api, CLI, Network

#1425 Initial sync to start from the finalized block
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/initial/interface.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Api, Network

#1429 Enable global log level setting
  packages/lodestar-cli/docsgen/index.ts
  packages/lodestar-cli/src/cmds/dev/options.ts
  packages/lodestar-utils/src/logger/winston.ts
  packages/lodestar-utils/src/math.ts
  packages/lodestar-utils/src/yaml/int.ts
  packages/lodestar-utils/test/unit/bytes.test.ts
  packages/lodestar-utils/test/unit/math.test.ts
  packages/lodestar-utils/tsconfig.json
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/node/nodejs.ts
Labels: CLI, Eth1

#1435 Sync: handle failed to get block range
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1439 Fix unhandled rejection on status
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
Labels: Network

#1438 Optimize gossip AggregateAndProof validation
  .eslintrc.js
  packages/lodestar/src/db/api/beacon/seenAttestationCache.ts
  packages/lodestar/src/network/gossip/validation/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/validation/index.ts
  packages/lodestar/src/network/gossip/validation/utils/index.ts
  packages/lodestar/src/network/gossip/validation/utils/signature.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/unit/network/gossip/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/utils/aggregateAndProof.ts
Labels: Network

#1444 Allow exiting process by force
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/util/process.ts
Labels: CLI

#1445 prefix 0x to validator keystores/ and secrets/ subdirs
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
  packages/lodestar-cli/src/util/passphrase.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDir.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirBuilder.ts
Labels: CLI

#1447 Better supported protocols handling
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/node/node.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/IReputation.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/multiNodeSingleThread.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
  packages/lodestar/test/unit/sync/reputation.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/utils/peer.ts
  yarn.lock
Labels: Api, Network

#1453 remove hanging cli flag depositContract
  packages/lodestar-cli/src/options/beaconNodeOptions/eth1.ts
  packages/lodestar-cli/src/testnets/altona.ts
  packages/lodestar-cli/src/testnets/medalla.ts
Labels: CLI

#1452 network.multiAddrs -> network.localMultiaddrs; bootNodes -> bootMultiaddrs
  packages/lodestar-cli/src/config/beacon.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/network.ts
  packages/lodestar-cli/src/testnets/altona.ts
  packages/lodestar-cli/src/testnets/medalla.ts
  packages/lodestar-cli/src/util/enr.ts
  packages/lodestar/src/api/impl/node/node.ts
  packages/lodestar/src/network/defaults.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/network/options.ts
  packages/lodestar/start-multi.sh
  packages/lodestar/test/e2e/multiNodeSingleThread.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/utils/node/beacon.ts
Labels: Api, CLI, Network

#1476 Use Infura for e2e testing
  .github/workflows/test.yml
  packages/lodestar/test/e2e/chain/genesis/genesis.test.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  packages/lodestar/test/testParams.ts
Labels: CI

#1475 Fix attester duties BigInt error
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/factory/duties/index.ts
  packages/lodestar/test/unit/chain/factory/duties/assembleValidatorDuty.test.ts
Labels: Api

#1474 Rename chain.getBlockAtSlot to chain.getCanonicalBlockAtSlot
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/gossip/validation/block.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlockHeaders.test.ts
  packages/lodestar/test/unit/network/gossip/validation/block.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Api, Network

#1479 Remove unsafe uses of setTimeout
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
Labels: Network

#1483 Throw if RestAPI can't listen on port
  packages/lodestar/src/api/rest/index.ts
Labels: Api

#1454 fix genesisStateFile flag
  packages/lodestar-cli/src/cmds/init/handler.ts
Labels: CLI

#1481 Use agreed tsconfig settings lib: es2020, target: es2019
  package.json
  packages/lodestar-beacon-state-transition/src/epoch/balanceUpdates/attestation.ts
  packages/lodestar-beacon-state-transition/src/epoch/finalUpdates.ts
  packages/lodestar-beacon-state-transition/src/epoch/justification.ts
  packages/lodestar-beacon-state-transition/src/epoch/slashings.ts
  packages/lodestar-beacon-state-transition/src/util/balance.ts
  packages/lodestar-beacon-state-transition/src/util/validator.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/deposit.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/balanceUpdates/attestation.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/balanceUpdates/index.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/balanceUpdates/util.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/finalUpdates.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/justification.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/registryUpdates.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/slashing.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/util.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/balance.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/misc.test.ts
  packages/lodestar-beacon-state-transition/test/utils/deposit.ts
  packages/lodestar-beacon-state-transition/test/utils/state.ts
  packages/lodestar-beacon-state-transition/test/utils/validator.ts
  packages/lodestar-cli/tsconfig.json
  packages/lodestar-utils/tsconfig.json
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/utils/mocks/beacon.ts
  packages/lodestar-validator/tsconfig.build.json
  packages/lodestar-validator/tsconfig.json
  packages/lodestar/tsconfig.json
  packages/spec-test-runner/test/spec/operations/attestations/attestations_fast.test.ts
  packages/spec-test-runner/test/spec/operations/attestations/attestations_mainnet.test.ts
  packages/spec-test-runner/test/spec/operations/attestations/attestations_minimal.test.ts
  packages/spec-test-runner/test/spec/operations/attesterSlashing/attester_slashing_fast.test.ts
  packages/spec-test-runner/test/spec/operations/attesterSlashing/attester_slashing_mainnet.test.ts
  packages/spec-test-runner/test/spec/operations/attesterSlashing/attester_slashing_minimal.test.ts
  packages/spec-test-runner/test/spec/operations/proposerSlashing/proposer_slashing_fast.test.ts
  packages/spec-test-runner/test/spec/operations/proposerSlashing/proposer_slashing_mainnet.test.ts
  packages/spec-test-runner/test/spec/operations/proposerSlashing/proposer_slashing_minimal.test.ts
  packages/spec-test-runner/test/spec/operations/voluntaryExit/voluntary_exit_fast.test.ts
  packages/spec-test-runner/test/spec/operations/voluntaryExit/voluntary_exit_mainnet.test.ts
  packages/spec-test-runner/test/spec/operations/voluntaryExit/voluntary_exit_minimal.test.ts
  packages/spec-test-runner/test/spec/sanity/blocks/sanity_blocks_fast.test.ts
  packages/spec-test-runner/test/spec/sanity/blocks/sanity_blocks_mainnet.test.ts
  packages/spec-test-runner/test/spec/sanity/blocks/sanity_blocks_minimal.test.ts
  tsconfig.json
Labels: CLI, StateTransition, Validator

#1480 Remove unnecessary stubs of logger
  packages/lodestar-validator/test/unit/api/rcpClientOverInstance.test.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/unit/utils/httpClient.test.ts
  packages/lodestar-validator/test/unit/validator.test.ts
  packages/lodestar-validator/test/utils/logger.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockAttestations.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockHeader.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockHeaders.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockRoot.test.ts
  packages/lodestar/test/unit/api/rest/beacon/getGenesis.test.ts
  packages/lodestar/test/unit/api/rest/beacon/index.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/getPoolAttestations.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getStateFinalityCheckpoints.test.ts
  packages/lodestar/test/unit/api/rest/node/getHealth.test.ts
  packages/lodestar/test/unit/api/rest/node/getNetworkIdentity.test.ts
  packages/lodestar/test/unit/api/rest/node/getPeer.test.ts
  packages/lodestar/test/unit/api/rest/node/getPeers.test.ts
  packages/lodestar/test/unit/api/rest/node/getSyncingStatus.test.ts
  packages/lodestar/test/unit/api/rest/node/getVersion.test.ts
  packages/lodestar/test/unit/chain/attestation/pool.test.ts
  packages/lodestar/test/unit/chain/attestation/processor.test.ts
  packages/lodestar/test/unit/chain/blocks/post.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/db/api/repositories/blockArchive.test.ts
  packages/lodestar/test/unit/db/controller/level.test.ts
  packages/lodestar/test/unit/network/encoders/request.test.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/attestaterSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/block.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/proposerSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/voluntaryExit.test.ts
  packages/lodestar/test/unit/network/gossip/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/validation/attestation.test.ts
  packages/lodestar/test/unit/network/gossip/validation/block.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/sync/sync.test.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/unit/tasks/tasks/blockArchiver.test.ts
  packages/lodestar/test/utils/logger.ts
  packages/lodestar/test/utils/node/beacon.ts
Labels: Validator

#1487 Faster attestation verification
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-beacon-state-transition/src/fast/block/isValidIndexedAttestation.ts
  packages/lodestar-cli/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  yarn.lock
Labels: CLI, StateTransition, Validator
