Repository ChainSafe/lodestar, pull requests merged in 2020-09, with the labels that each got.

#1428 Diversify peers by subnet
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/tasks/checkPeerAliveTask.ts
  packages/lodestar/src/network/tasks/diversifyPeersBySubnetTask.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/reputation.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/network/tasks/checkPeerAliveTask.test.ts
  packages/lodestar/test/unit/network/tasks/diversifyPeersBySubnetTask.test.ts
  packages/lodestar/test/unit/sync/utils/reputation.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1491 Add context to process exit logger
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar-cli/src/cmds/validator/handler.ts
Labels: CLI

#1488 add forceGenesis cli flag option
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
Labels: CLI

#1455 Add chain event emitter
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/attestation/pool.ts
  packages/lodestar/src/chain/attestation/processor.ts
  packages/lodestar/src/chain/blocks/pool.ts
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/clock/LocalClock.ts
  packages/lodestar/src/chain/clock/index.ts
  packages/lodestar/src/chain/clock/interface.ts
  packages/lodestar/src/chain/clock/local/LocalClock.ts
  packages/lodestar/src/chain/emitter.ts
  packages/lodestar/src/chain/forkChoice/arrayDag/lmdGhost.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/index.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/validation/aggregateAndProof.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/stats/stats.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/test/e2e/multiNodeMultiThread.test.ts
  packages/lodestar/test/e2e/multiNodeSingleThread.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/singleNodeSingleThread.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/e2e/threaded/noEth1SimWorker.ts
  packages/lodestar/test/unit/chain/attestation/pool.test.ts
  packages/lodestar/test/unit/chain/blocks/pool.test.ts
  packages/lodestar/test/unit/chain/blocks/post.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/chain/clock/local.test.ts
  packages/lodestar/test/unit/chain/forkChoice/arrayDag.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/network/gossip/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/sync.test.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/stub/index.ts
Labels: Api, Network

#1440 clean validator exit
  packages/lodestar-validator/package.json
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/types.ts
  packages/lodestar-validator/src/util/misc.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/unit/utils/misc.test.ts
Labels: CLI, Validator

#1484 Migration of reputation store to metabook
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/interface.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/network/peers/sszTypes.ts
  packages/lodestar/src/network/peers/utils.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/tasks/checkPeerAliveTask.ts
  packages/lodestar/src/network/tasks/diversifyPeersBySubnetTask.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/IReputation.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/initial/interface.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/regular/interface.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/network/peers/metastore.test.ts
  packages/lodestar/test/unit/network/peers/utils.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/network/tasks/checkPeerAliveTask.test.ts
  packages/lodestar/test/unit/network/tasks/diversifyPeersBySubnetTask.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/reputation.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/sync/sync.test.ts
  packages/lodestar/test/unit/sync/utils/reputation.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1477 Use named arguments for beacon state transition options
  packages/lodestar-beacon-state-transition/src/fast/index.ts
  packages/lodestar-beacon-state-transition/src/index.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/spec-test-runner/test/spec/sanity/blocks/sanity_blocks_fast.test.ts
  packages/spec-test-runner/test/spec/sanity/blocks/sanity_blocks_mainnet.test.ts
  packages/spec-test-runner/test/spec/sanity/blocks/sanity_blocks_minimal.test.ts
Labels: StateTransition

#1503 add logger to default medalla config in cli
  packages/lodestar-cli/src/testnets/medalla.ts
Labels: CLI

#1443 Decompose IEth1Notifier into functional components
  packages/lodestar-cli/src/depositContract/depositData.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/eth1.ts
  packages/lodestar-cli/src/testnets/altona.ts
  packages/lodestar-cli/src/testnets/medalla.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/chain/genesis/interface.ts
  packages/lodestar/src/chain/genesis/util.ts
  packages/lodestar/src/eth1/depositContract.ts
  packages/lodestar/src/eth1/dev/index.ts
  packages/lodestar/src/eth1/dev/network.ts
  packages/lodestar/src/eth1/dev/options.ts
  packages/lodestar/src/eth1/ethers.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/eth1/impl/util.ts
  packages/lodestar/src/eth1/index.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/eth1/options.ts
  packages/lodestar/src/eth1/stream.ts
  packages/lodestar/src/eth1/utils/groupDepositEventsByBlock.ts
  packages/lodestar/src/eth1/utils/optimizeNextBlockDiffForGenesis.ts
  packages/lodestar/src/eth1/utils/retryProvider.ts
  packages/lodestar/src/eth1/wallet.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/util/errors.ts
  packages/lodestar/src/util/sleep.ts
  packages/lodestar/test/e2e/chain/genesis/genesis.test.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  packages/lodestar/test/e2e/eth1/dev/network.test.ts
  packages/lodestar/test/e2e/eth1/ethers.test.ts
  packages/lodestar/test/e2e/eth1/stream.test.ts
  packages/lodestar/test/e2e/eth1/util.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/eth1/dev/network.test.ts
  packages/lodestar/test/unit/eth1/ethers.test.ts
  packages/lodestar/test/unit/eth1/impl/ethers.test.ts
  packages/lodestar/test/unit/eth1/impl/util.test.ts
  packages/lodestar/test/unit/eth1/utils/groupDepositEventsByBlock.test.ts
  packages/lodestar/test/unit/eth1/utils/optimizeNextBlockDiffForGenesis.test.ts
  packages/lodestar/test/unit/util/sleep.test.ts
  packages/lodestar/test/utils/node/beacon.ts
Labels: CLI, Eth1

#1524 Decouple eth1Vote logic from DB
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/chain/factory/block/eth1Vote.ts
  packages/lodestar/src/eth1/types.ts
  packages/lodestar/src/eth1/utils/eth1Vote.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/unit/chain/factory/block/body.test.ts
  packages/lodestar/test/unit/chain/factory/block/eth1Vote.test.ts
  packages/lodestar/test/unit/eth1/utils/eth1Vote.test.ts
Labels: Eth1

#1536 Use it-all util
  packages/lodestar/package.json
  packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts
  packages/lodestar/src/db/controller/impl/level.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/blocks/utils.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/db/api/repository.test.ts
  packages/lodestar/test/unit/db/controller/level.test.ts
  packages/lodestar/test/unit/network/encoders/request.test.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  yarn.lock
Labels: Network

#1533 Close stream after request finishes
  packages/lodestar/src/network/reqResp.ts
  yarn.lock
Labels: Network

#1537 Expose EpochProcess in EpochContext
  packages/lodestar-beacon-state-transition/src/fast/epoch/index.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
Labels: StateTransition

#1519 Add eth1 JSON RPC client capable of batched requests
  packages/lodestar/package.json
  packages/lodestar/src/eth1/httpEth1Client.ts
  packages/lodestar/src/eth1/httpRpcClient.ts
  packages/lodestar/src/eth1/types.ts
  packages/lodestar/test/e2e/eth1/httpEth1Client.test.ts
  yarn.lock
Labels: Eth1

#1542 Remove unused dependencies
  package.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  yarn.lock
Labels: Benchmarks, CLI, StateTransition, Validator

#1539 Start gossip on boot
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/test/e2e/network/network.test.ts
Labels: Network

#1525 clear timeouts in network
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
Labels: Network

#1496 Start from a weak subjectivity state
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/init/handler.ts
  packages/lodestar-cli/src/testnets/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: CLI, Network

#1560 Remove signal handler after finish
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
Labels: Network

#1559 Avoid signing conflicting attestation
  packages/lodestar-validator/src/db/interface.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar/src/db/api/validator/interface.ts
  packages/lodestar/src/db/api/validator/validator.ts
  packages/lodestar/test/e2e/db/api/validator/attestation.test.ts
  packages/lodestar/test/unit/db/api/validator.test.ts
Labels: Validator

#1505 Make waitForBestPeer sleep abortable
  packages/lodestar-utils/package.json
  packages/lodestar-utils/src/errors.ts
  packages/lodestar-utils/src/index.ts
  packages/lodestar-utils/src/sleep.ts
  packages/lodestar-utils/test/unit/sleep.test.ts
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
  packages/lodestar/src/eth1/stream.ts
  packages/lodestar/src/network/gossip/validation/block.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/chain/genesis/genesis.test.ts
  packages/lodestar/test/e2e/eth1/eth1ForBlockProduction.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
Labels: Eth1, Network

#1530 tidying network
  packages/lodestar/src/network/reqResp.ts
  yarn.lock
Labels: CLI, Network

#1582 Yargs strictCommands()
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/index.ts
  yarn.lock
Labels: CLI

#1585 Use lastProcessedBlock in regular sync
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1581 Fix eth1 data issue when depositContractDeployBlock not set
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
Labels: Eth1

#1553 Use custom HTTP client
  packages/lodestar-cli/src/depositContract/depositData.ts
  packages/lodestar/package.json
  packages/lodestar/src/eth1/depositContract.ts
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
  packages/lodestar/src/eth1/eth1JsonRpcClient.ts
  packages/lodestar/src/eth1/eth1Provider.ts
  packages/lodestar/src/eth1/ethers.ts
  packages/lodestar/src/eth1/httpEth1Client.ts
  packages/lodestar/src/eth1/httpRpcClient.ts
  packages/lodestar/src/eth1/index.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/eth1/jsonRpcHttpClient.ts
  packages/lodestar/src/eth1/stream.ts
  packages/lodestar/src/eth1/utils/depositContract.ts
  packages/lodestar/src/eth1/utils/retryProvider.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/util/numpy.ts
  packages/lodestar/test/e2e/eth1/eth1ForBlockProduction.test.ts
  packages/lodestar/test/e2e/eth1/eth1JsonRpcClient.test.ts
  packages/lodestar/test/e2e/eth1/eth1Provider.test.ts
  packages/lodestar/test/e2e/eth1/httpEth1Client.test.ts
  packages/lodestar/test/e2e/eth1/jsonRpcHttpClient.test.ts
  packages/lodestar/test/e2e/eth1/stream.test.ts
  packages/lodestar/test/e2e/eth1/util.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/eth1/ethers.test.ts
  packages/lodestar/test/unit/eth1/utils/depositContract.test.ts
  packages/lodestar/test/utils/medalla.ts
  yarn.lock
Labels: CLI, Eth1

#1586 Standard event stream
  packages/lodestar-cli/src/cmds/dev/options.ts
  packages/lodestar-types/src/ssz/generators/api.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/api.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/api.ts
  packages/lodestar/src/api/impl/events/events.ts
  packages/lodestar/src/api/impl/events/handlers.ts
  packages/lodestar/src/api/impl/events/index.ts
  packages/lodestar/src/api/impl/events/interfaces.ts
  packages/lodestar/src/api/impl/events/types.ts
  packages/lodestar/src/api/impl/interface.ts
  packages/lodestar/src/api/rest/controllers/events/getEventStream.ts
  packages/lodestar/src/api/rest/controllers/events/index.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/api/rest/options.ts
  packages/lodestar/src/api/rest/routes/events/index.ts
  packages/lodestar/src/api/rest/routes/index.ts
  packages/lodestar/src/chain/emitter.ts
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/e2e/eth1/eth1ForBlockProduction.test.ts
  packages/lodestar/test/unit/api/impl/events/events.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/rest/events/getEventStream.test.ts
  packages/lodestar/test/utils/stub/api.ts
  packages/lodestar/types/fastify/index.d.ts
Labels: Api, CLI, Eth1, Types

#1593 spadina testnet lodestar-cli setup
  .gitignore
  packages/lodestar-cli/src/options/globalOptions.ts
  packages/lodestar-cli/src/testnets/index.ts
  packages/lodestar-cli/src/testnets/spadina.ts
  packages/lodestar-cli/test/e2e/account.test.ts
Labels: CLI

#1545 Block providers score tracking
  packages/lodestar/src/network/error.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/index.ts
  packages/lodestar/src/network/peers/interface.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/network/peers/score/index.ts
  packages/lodestar/src/network/peers/score/interface.ts
  packages/lodestar/src/network/peers/score/simpleRpcScore.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/peers.ts
  packages/lodestar/test/unit/network/peers/metastore.test.ts
  packages/lodestar/test/unit/network/peers/score/simpleBlockProvider.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/sync/utils/peer.test.ts
Labels: Network

#1556 Import AbortController as named import
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/unit/chain/clock/local.test.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Network

#1566 Add pending slot block pool
  packages/lodestar-fork-choice/src/forkChoice/errors.ts
  packages/lodestar-fork-choice/src/forkChoice/forkChoice.ts
  packages/lodestar-fork-choice/src/forkChoice/interface.ts
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/attestation/processor.ts
  packages/lodestar/src/chain/blocks/pool.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/clock/LocalClock.ts
  packages/lodestar/src/network/gossip/validation/block.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
Labels: Api, Eth1, Network, StateTransition, Validator

#1598 Apply peer scoring for regular sync
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1601 Add /eth prefix to rest api
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/impl/rest/node/node.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeader.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeaders.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockRoot.ts
  packages/lodestar/src/api/rest/controllers/beacon/getGenesis.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getPoolAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFinalityCheckpoints.ts
  packages/lodestar/src/api/rest/controllers/node/getHealth.ts
  packages/lodestar/src/api/rest/controllers/node/getNetworkIdentity.ts
  packages/lodestar/src/api/rest/controllers/node/getPeer.ts
  packages/lodestar/src/api/rest/controllers/node/getPeers.ts
  packages/lodestar/src/api/rest/controllers/node/getSyncingStatus.ts
  packages/lodestar/src/api/rest/controllers/node/getVersion.ts
  packages/lodestar/src/api/rest/routes/beacon/index.ts
  packages/lodestar/src/api/rest/routes/index.ts
  packages/lodestar/src/api/rest/routes/node.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockAttestations.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockHeader.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockHeaders.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockRoot.test.ts
  packages/lodestar/test/unit/api/rest/beacon/getGenesis.test.ts
  packages/lodestar/test/unit/api/rest/beacon/index.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/getPoolAttestations.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getStateFinalityCheckpoints.test.ts
  packages/lodestar/test/unit/api/rest/events/getEventStream.test.ts
  packages/lodestar/test/unit/api/rest/node/getHealth.test.ts
  packages/lodestar/test/unit/api/rest/node/getNetworkIdentity.test.ts
  packages/lodestar/test/unit/api/rest/node/getPeer.test.ts
  packages/lodestar/test/unit/api/rest/node/getPeers.test.ts
  packages/lodestar/test/unit/api/rest/node/getSyncingStatus.test.ts
  packages/lodestar/test/unit/api/rest/node/getVersion.test.ts
  packages/lodestar/test/unit/api/rest/node/index.ts
  packages/lodestar/test/unit/api/rest/utils.ts
Labels: Api, Validator

#1608 Spec tests 0.12.3
  package.json
  packages/spec-test-runner/test/spec/finality/finality_fast.test.ts
  packages/spec-test-runner/test/spec/finality/finality_mainnet.test.ts
  packages/spec-test-runner/test/spec/finality/finality_minimal.test.ts
  packages/spec-test-runner/test/spec/finality/type.ts
  yarn.lock
Labels: StateTransition

#1604 add clarifying comment for genesis skip conditions
  packages/lodestar-beacon-state-transition/src/fast/epoch/processJustificationAndFinalization.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processRewardsAndPenalties.ts
Labels: StateTransition

#1602 Spec v0.12.3 - Add a constant for slash penalty multiplier #2034
  packages/lodestar-beacon-state-transition/src/epoch/slashings.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processSlashings.ts
  packages/lodestar-params/src/beaconParams.ts
  packages/lodestar-params/src/interface.ts
  packages/lodestar-params/src/presets/mainnet.yaml
  packages/lodestar-params/src/presets/minimal.yaml
Labels: Config, StateTransition
