Repository ChainSafe/lodestar, pull requests merged in 2020-12, with the labels that each got.

#1807 Replace IKeypair for SecretKey
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/cmds/validator/utils/interop/validator.ts
  packages/lodestar-cli/src/depositContract/depositData.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDir.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirManager.ts
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-validator/package.json
  packages/lodestar-validator/src/interop/index.ts
  packages/lodestar-validator/src/interop/keypairs.ts
  packages/lodestar-validator/src/options.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/unit/validator.test.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/validation/utils/signature.ts
  packages/lodestar/src/node/utils/interop/deposits.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/utils/node/validator.ts
  packages/spec-test-runner/package.json
  yarn.lock
Labels: Api, CLI, StateTransition, Validator

#1802 Generalize spec download tool
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-spec-test-util/src/downloadTests.ts
  packages/lodestar-spec-test-util/src/downloadTestsCli.ts
  packages/lodestar-spec-test-util/src/index.ts
  packages/spec-test-runner/.gitignore
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/downloadTests.ts
  packages/spec-test-runner/test/tests/README.md
  packages/spec-test-runner/test/utils/specTestCases.ts
Labels: StateTransition

#1736 Regular Sync: check linear chain segment to avoid orphaned block
  packages/lodestar/src/sync/regular/oneRangeAhead/fetcher.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/oneRangeAhead.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/chain/clock/local.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/fetcher.test.ts
  packages/lodestar/test/unit/sync/stats/rate.test.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1799 Performance tests for state transition functions
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-beacon-state-transition/src/fast/epoch/index.ts
  packages/lodestar-beacon-state-transition/test/perf/epoch_processing.test.ts
  packages/lodestar-beacon-state-transition/test/perf/sanity/blocks.test.ts
  packages/lodestar-beacon-state-transition/test/perf/sanity/slots.test.ts
  packages/lodestar-beacon-state-transition/test/perf/util.ts
  packages/lodestar-cli/src/cmds/validator/utils/interop/validator.ts
  packages/lodestar-utils/package.json
  packages/lodestar-utils/src/index.ts
  packages/lodestar-utils/src/interop/index.ts
  packages/lodestar-validator/src/index.ts
  packages/lodestar/src/node/utils/interop/deposits.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/utils/node/validator.ts
Labels: CLI, StateTransition, Validator

#1809 v0.12.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#1822 Add rewards spec tests
  packages/lodestar-beacon-state-transition/src/epoch/balanceUpdates/attestation.ts
  packages/lodestar-beacon-state-transition/src/epoch/balanceUpdates/index.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/index.ts
  packages/spec-test-runner/test/spec/rewards/rewards_fast.test.ts
  packages/spec-test-runner/test/spec/rewards/rewards_mainnet.test.ts
  packages/spec-test-runner/test/spec/rewards/types.ts
Labels: StateTransition

#1827 Fix CI errors in master
  packages/spec-test-runner/test/spec/rewards/rewards_fast.test.ts
  packages/spec-test-runner/test/spec/rewards/rewards_mainnet.test.ts
  packages/spec-test-runner/test/spec/rewards/types.ts
Labels: StateTransition

#1826 Rename IBlockJob metadata props
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/regen/regen.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/processor.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/chain/validation/block.test.ts
  packages/lodestar/test/utils/block.ts
Labels: Network

#1834 Run eslint on test/ - lodestar
  packages/lodestar/package.json
  packages/lodestar/test/benchmarks/index.ts
  packages/lodestar/test/e2e/eth1/eth1JsonRpcClient.test.ts
  packages/lodestar/test/e2e/eth1/stream.test.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/sim/multiNodeMultiThread.test.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
  packages/lodestar/test/sim/singleNodeSingleThread.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockAttestations.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockHeader.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockHeaders.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockRoot.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/publishBlock.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/getPoolAttestations.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/submitAttesterSlashing.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/submitPoolAttestation.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/submitProposerSlashings.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/submitVoluntaryExit.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidators.test.ts
  packages/lodestar/test/unit/api/rest/node/getHealth.test.ts
  packages/lodestar/test/unit/api/rest/node/getNetworkIdentity.test.ts
  packages/lodestar/test/unit/api/rest/node/getPeer.test.ts
  packages/lodestar/test/unit/api/rest/node/getPeers.test.ts
  packages/lodestar/test/unit/api/rest/node/getSyncingStatus.test.ts
  packages/lodestar/test/unit/api/rest/node/getVersion.test.ts
  packages/lodestar/test/unit/api/rest/validator/prepareCommitteeSubnet.test.ts
  packages/lodestar/test/unit/api/rest/validator/produceAggregatedAttestation.test.ts
  packages/lodestar/test/unit/api/rest/validator/produceAttestationData.test.ts
  packages/lodestar/test/unit/api/rest/validator/produceBlock.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/chain/validation/attestation.test.ts
  packages/lodestar/test/unit/db/api/repository.test.ts
  packages/lodestar/test/unit/eth1/utils/optimizeNextBlockDiffForGenesis.test.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
  packages/lodestar/test/unit/network/reqresp/reqResp.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/sync.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
  packages/lodestar/test/unit/tasks/tasks/blockArchiver.test.ts
  packages/lodestar/test/unit/util/file.test.ts
  packages/lodestar/test/utils/aggregateAndProof.ts
  packages/lodestar/test/utils/attestation.ts
  packages/lodestar/test/utils/block.ts
  packages/lodestar/test/utils/misc.ts
  packages/lodestar/test/utils/mocks/gossipsub.ts
  packages/lodestar/test/utils/node/beacon.ts
  packages/lodestar/test/utils/rpcCall.ts
Labels: Benchmarks

#1833 Run eslint on test/ - lodestar-params
  packages/lodestar-params/package.json
  packages/lodestar-params/tsconfig.build.json
  packages/lodestar-params/tsconfig.json
Labels: Config

#1832 Run eslint on test/ - lodestar-beacon-state-transition
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/blockHeader.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/eth1data.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/deposit.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/index.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/proposerSlashings.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/balanceUpdates/attestation.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/index.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/registryUpdates.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/slashing.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/util.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/crosslinkCommittee.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/epoch.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/misc.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/seed.test.ts
  packages/lodestar-beacon-state-transition/test/utils/block.ts
  packages/lodestar-beacon-state-transition/test/utils/rpcCall.ts
  packages/lodestar-beacon-state-transition/test/utils/specTestTypes/stateTestCase.ts
  packages/lodestar-beacon-state-transition/test/utils/validator.ts
Labels: StateTransition

#1837 JSON friendly logger statements
  packages/lodestar-beacon-state-transition/test/perf/util.ts
  packages/lodestar-db/src/controller/impl/level.ts
  packages/lodestar-utils/src/logger/format.ts
  packages/lodestar-utils/src/logger/interface.ts
  packages/lodestar-utils/src/logger/winston.ts
  packages/lodestar-utils/test/unit/logger/winston.test.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/state.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/util/httpClient.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
  packages/lodestar/src/metrics/server/http.ts
  packages/lodestar/src/network/encoders/request.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/handlers/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/handlers/attestation.ts
  packages/lodestar/src/network/gossip/handlers/block.ts
  packages/lodestar/src/network/gossip/handlers/proposerSlashing.ts
  packages/lodestar/src/network/gossip/handlers/voluntaryExit.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqresp/reqUtils.ts
  packages/lodestar/src/network/tasks/checkPeerAliveTask.ts
  packages/lodestar/src/network/tasks/diversifyPeersBySubnetTask.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/oneRangeAhead.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/processor.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
  packages/lodestar/test/unit/network/encoders/request.test.ts
Labels: Api, Eth1, Network, StateTransition, Validator

#1821 Add signature sets getters
  packages/lodestar-beacon-state-transition/src/fast/block/index.ts
  packages/lodestar-beacon-state-transition/src/fast/block/isValidIndexedAttestation.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processProposerSlashing.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processRandao.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processVoluntaryExit.ts
  packages/lodestar-beacon-state-transition/src/fast/signatureSets/attestations.ts
  packages/lodestar-beacon-state-transition/src/fast/signatureSets/attesterSlashings.ts
  packages/lodestar-beacon-state-transition/src/fast/signatureSets/index.ts
  packages/lodestar-beacon-state-transition/src/fast/signatureSets/proposerSlashings.ts
  packages/lodestar-beacon-state-transition/src/fast/signatureSets/types.ts
  packages/lodestar-beacon-state-transition/src/fast/signatureSets/verify.ts
  packages/lodestar-beacon-state-transition/src/fast/signatureSets/voluntaryExits.ts
  packages/lodestar-beacon-state-transition/src/fast/util/block.ts
  packages/lodestar-beacon-state-transition/test/unit/fast/signatureSets/signatureSets.test.ts
Labels: StateTransition

#1842 remove ts-ignores for discv5.enabled
  packages/lodestar-cli/src/testnets/index.ts
  packages/lodestar-cli/test/unit/options/beaconNodeOptions.test.ts
Labels: CLI

#1835 Remove unnecessary try / catch expect.fail() pattern
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/blockHeader.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/deposit.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/proposerSlashings.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/voluntaryExit.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/randao.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/balanceUpdates/attestation.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/balanceUpdates/index.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/finalUpdates.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/index.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/registryUpdates.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/slashing.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/util.test.ts
  packages/lodestar/test/unit/chain/attestation/process.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/util/queue.test.ts
Labels: StateTransition

#1843 Remove self invoking functions where not strictly necessary
  packages/lodestar-db/src/abstractRepository.ts
  packages/lodestar/src/api/rest/controllers/events/getEventStream.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts
  packages/lodestar/src/network/encoders/request.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/encoders/utils.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/reqUtils.ts
  packages/lodestar/src/network/reqresp/respUtils.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/utils/sync.ts
Labels: Api, Network

#1847 Fix yarn:clean in lodestar-params
  packages/lodestar-params/package.json
Labels: Config

#1844 Add whitespace to lodestar/network
  packages/lodestar/src/network/encoders/request.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/encoders/utils.ts
  packages/lodestar/src/network/gossip/encoding.ts
  packages/lodestar/src/network/gossip/handlers/attestation.ts
  packages/lodestar/src/network/gossip/handlers/attesterSlashing.ts
  packages/lodestar/src/network/gossip/handlers/block.ts
  packages/lodestar/src/network/gossip/handlers/proposerSlashing.ts
  packages/lodestar/src/network/gossip/handlers/voluntaryExit.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/network/peers/utils.ts
  packages/lodestar/src/network/reqresp/reqUtils.ts
  packages/lodestar/src/network/tasks/diversifyPeersBySubnetTask.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/unit/network/encoders/request.test.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/attestaterSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/block.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/proposerSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/voluntaryExit.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
  packages/lodestar/test/unit/network/peers/metastore.test.ts
  packages/lodestar/test/unit/network/peers/utils.test.ts
  packages/lodestar/test/unit/network/tasks/checkPeerAliveTask.test.ts
  packages/lodestar/test/unit/network/tasks/diversifyPeersBySubnetTask.test.ts
Labels: Network

#1850 Import lodestar-params from root
  packages/lodestar-beacon-state-transition/test/unit/fast/signatureSets/signatureSets.test.ts
  packages/lodestar-cli/src/config/beaconParams.ts
  packages/lodestar-cli/src/options/paramsOptions.ts
  packages/lodestar-config/package.json
  packages/lodestar-config/src/presets/mainnet.ts
  packages/lodestar-config/src/presets/minimal.ts
  packages/lodestar-params/README.md
  packages/lodestar-params/mainnet.d.ts
  packages/lodestar-params/mainnet.js
  packages/lodestar-params/minimal.d.ts
  packages/lodestar-params/minimal.js
  packages/lodestar-params/package.json
  packages/lodestar-types/src/ssz/presets/mainnet.ts
  packages/lodestar-types/src/ssz/presets/minimal.ts
  packages/lodestar/test/utils/medalla.ts
  packages/lodestar/test/utils/node/beacon.ts
Labels: CLI, Config, StateTransition, Types

#1848 lodestar-beacon-state-transition comment updates
  packages/lodestar-beacon-state-transition/src/epoch/balanceUpdates/attestation.ts
  packages/lodestar-beacon-state-transition/src/epoch/balanceUpdates/util.ts
  packages/lodestar-beacon-state-transition/src/epoch/registryUpdates.ts
  packages/lodestar-beacon-state-transition/src/epoch/util.ts
  packages/lodestar-beacon-state-transition/src/fast/block/initiateValidatorExit.ts
  packages/lodestar-beacon-state-transition/src/fast/block/isValidIndexedAttestation.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/getAttestationDeltas.ts
  packages/lodestar-beacon-state-transition/src/fast/index.ts
  packages/lodestar-beacon-state-transition/src/fast/util/attesterStatus.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochProcess.ts
  packages/lodestar-beacon-state-transition/src/fast/util/flatValidator.ts
  packages/lodestar-beacon-state-transition/src/util/fork.ts
  packages/lodestar-beacon-state-transition/src/util/signingRoot.ts
Labels: StateTransition

#1849 lodestar-cli README update
  packages/lodestar-cli/README.md
Labels: CLI

#1851 Use verifySignatureSetsBatch for state transition function
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/chain/bls.ts
  packages/lodestar/src/chain/errors/blockError.ts
  packages/spec-test-runner/package.json
  yarn.lock
Labels: CLI, StateTransition, Validator

#1846 Implement debug api to get forkchoice heads
  packages/lodestar-fork-choice/src/forkChoice/forkChoice.ts
  packages/lodestar-fork-choice/src/forkChoice/interface.ts
  packages/lodestar-types/src/ssz/generators/misc.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/misc.ts
  packages/lodestar/src/api/impl/api.ts
  packages/lodestar/src/api/impl/debug/beacon/index.ts
  packages/lodestar/src/api/impl/debug/beacon/interface.ts
  packages/lodestar/src/api/impl/debug/debug.ts
  packages/lodestar/src/api/impl/debug/index.ts
  packages/lodestar/src/api/impl/debug/interface.ts
  packages/lodestar/src/api/impl/interface.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getHeads.ts
  packages/lodestar/src/api/rest/options.ts
  packages/lodestar/src/api/rest/routes/debug/index.ts
  packages/lodestar/src/api/rest/routes/index.ts
  packages/lodestar/test/unit/api/impl/debug/beacon/index.test.ts
  packages/lodestar/test/unit/api/rest/debug/beacon/getHeads.test.ts
  packages/lodestar/test/utils/stub/api.ts
Labels: Api, Types

#1857 Lightclient params and types
  packages/lodestar-params/src/beaconParams.ts
  packages/lodestar-params/src/interface.ts
  packages/lodestar-params/src/presets/lightclient/index.ts
  packages/lodestar-params/src/presets/lightclient/mainnet.ts
  packages/lodestar-params/src/presets/lightclient/mainnetYaml.ts
  packages/lodestar-params/src/presets/lightclient/minimal.ts
  packages/lodestar-params/src/presets/lightclient/minimalYaml.ts
  packages/lodestar-params/src/presets/lightclient/types.ts
  packages/lodestar-params/src/presets/mainnet.ts
  packages/lodestar-params/src/presets/minimal.ts
  packages/lodestar-types/src/ssz/generators/index.ts
  packages/lodestar-types/src/ssz/generators/lightclient/index.ts
  packages/lodestar-types/src/ssz/generators/lightclient/interface.ts
  packages/lodestar-types/src/ssz/generators/lightclient/types.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/index.ts
  packages/lodestar-types/src/types/lightclient/index.ts
  packages/lodestar-types/src/types/lightclient/interface.ts
  packages/lodestar-types/src/types/lightclient/types/index.ts
  packages/lodestar-types/src/types/phase1/index.ts
  packages/lodestar-types/test/unit/consistency.test.ts
  packages/lodestar-types/test/unit/lightclient.test.ts
  packages/spec-test-runner/test/spec/ssz/util/testCases.ts
Labels: Config, Lightclient, StateTransition, Types

#1853 Import AbortSignal wherever used
  packages/lodestar-validator/src/api/LocalClock.ts
  packages/lodestar-validator/src/util/misc.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/clock/LocalClock.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/regen/queued.ts
  packages/lodestar/src/util/queue.ts
Labels: Validator

#1868 lodestar-types: unused code block removal
  packages/lodestar-types/src/ssz/generators/index.ts
  packages/lodestar-types/src/ssz/interface.ts
Labels: Types

#1870 Sync: Use SlotRoot instead of ISyncCheckpoint
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/fetcher.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/interface.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/oneRangeAhead.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/fetcher.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1869 Fix getRandaoRevealSignatureSet
  packages/lodestar-beacon-state-transition/src/fast/block/processAttesterSlashing.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processRandao.ts
Labels: StateTransition

#1880 Automatic release and publish
  .github/workflows/release.yml
  README.md
  lerna.json
  package.json
Labels: CI

#1873 Light client state transition
  packages/lodestar-beacon-state-transition/src/lightclient/block.ts
  packages/lodestar-beacon-state-transition/src/lightclient/epoch.ts
  packages/lodestar-beacon-state-transition/src/lightclient/index.ts
  packages/lodestar-beacon-state-transition/src/lightclient/sync_committee.ts
  packages/lodestar-beacon-state-transition/src/util/domain.ts
  packages/lodestar-beacon-state-transition/src/util/seed.ts
  packages/lodestar-params/src/presets/lightclient/mainnetYaml.ts
  packages/lodestar-params/src/presets/lightclient/minimalYaml.ts
  packages/lodestar-params/src/presets/lightclient/types.ts
Labels: Config, Lightclient, StateTransition

#1861 Use TreeBacked<SignedBeaconBlock> to improve sync time
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/network/network.test.ts
Labels: Network

#1882 Reduce code duplication in ReqResp
  packages/lodestar/src/network/reqresp/reqResp.ts
Labels: Network

#1865 Follow XDG Base Directory Specification
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar-cli/src/paths/global.ts
  packages/lodestar-cli/src/paths/rootDir.ts
  packages/lodestar-cli/test/unit/paths/globalPaths.test.ts
Labels: CLI

#1888 Sync validator api response type with spec
  packages/lodestar-types/src/ssz/generators/api.ts
  packages/lodestar-types/src/types/api.ts
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/test/unit/api/impl/beacon/state/stateValidators.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidator.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidators.test.ts
Labels: Api, Types

#1845 Use for of instead of forEach where possible
  packages/benchmark-utils/src/index.ts
  packages/lodestar-beacon-state-transition/src/block/eth1Data.ts
  packages/lodestar-beacon-state-transition/src/block/operations/attesterSlashing.ts
  packages/lodestar-beacon-state-transition/src/block/operations/index.ts
  packages/lodestar-beacon-state-transition/src/epoch/balanceUpdates/attestation.ts
  packages/lodestar-beacon-state-transition/src/epoch/util.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processAttesterSlashing.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processRegistryUpdates.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processSlashings.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochProcess.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochShuffling.ts
  packages/lodestar-beacon-state-transition/src/util/validatorStatus.ts
  packages/lodestar-beacon-state-transition/test/unit/fast/signatureSets/signatureSets.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/balanceUpdates/attestation.test.ts
  packages/lodestar-db/src/controller/impl/level.ts
  packages/lodestar-params/src/utils.ts
  packages/lodestar-spec-test-util/src/transform.ts
  packages/lodestar-types/src/ssz/generators/index.ts
  packages/lodestar-types/test/unit/consistency.test.ts
  packages/lodestar-utils/src/misc.ts
  packages/lodestar-utils/src/yaml/int.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar/src/api/impl/events/events.ts
  packages/lodestar/src/api/impl/events/handlers.ts
  packages/lodestar/src/api/rest/controllers/events/getEventStream.ts
  packages/lodestar/src/db/api/beacon/repositories/aggregateAndProof.ts
  packages/lodestar/src/db/api/beacon/repositories/attesterSlashing.ts
  packages/lodestar/src/db/api/beacon/stateContextCache.ts
  packages/lodestar/src/db/api/beacon/stateContextCheckpointsCache.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/peers/utils.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/processor.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/unit/util/queue.test.ts
  packages/spec-test-runner/test/spec/rewards/rewards_fast.test.ts
  packages/spec-test-runner/test/spec/rewards/rewards_mainnet.test.ts
  packages/spec-test-runner/test/spec/ssz/util/testCases.ts
Labels: Api, Benchmarks, Config, Network, StateTransition, Types, Validator

#1892 Debug api to download state
  packages/lodestar-db/src/schema.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/src/api/impl/debug/beacon/index.ts
  packages/lodestar/src/api/impl/debug/beacon/interface.ts
  packages/lodestar/src/api/impl/debug/debug.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeader.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockRoot.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFinalityCheckpoints.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFork.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getStates.ts
  packages/lodestar/src/api/rest/controllers/types.ts
  packages/lodestar/src/api/rest/controllers/utils.ts
  packages/lodestar/src/api/rest/routes/debug/index.ts
  packages/lodestar/src/db/api/beacon/repositories/stateArchive.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
  packages/lodestar/test/unit/api/impl/debug/beacon/index.test.ts
  packages/lodestar/test/unit/api/rest/debug/beacon/getState.test.ts
Labels: Api

#1817 lodestar-validator comment updates
  packages/lodestar-validator/src/api/LocalClock.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/state.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/services/utils.ts
  packages/lodestar-validator/src/slashingProtection/attestation/attestationByTargetRepository.ts
  packages/lodestar-validator/src/slashingProtection/attestation/attestationLowerBoundRepository.ts
  packages/lodestar-validator/src/slashingProtection/block/blockBySlotRepository.ts
  packages/lodestar-validator/src/slashingProtection/index.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/distanceStoreRepository.ts
  packages/lodestar-validator/src/validator.ts
Labels: Validator

#1815 Phase1: Beacon state transition updates
  packages/lodestar-beacon-state-transition/src/phase1/block/index.ts
  packages/lodestar-beacon-state-transition/src/phase1/block/light_client.ts
  packages/lodestar-beacon-state-transition/src/phase1/block/operations/attestation.ts
  packages/lodestar-beacon-state-transition/src/phase1/block/operations/index.ts
  packages/lodestar-beacon-state-transition/src/phase1/block/validation/attestation.ts
  packages/lodestar-beacon-state-transition/src/phase1/block/validation/index.ts
  packages/lodestar-beacon-state-transition/src/phase1/index.ts
  packages/lodestar-beacon-state-transition/src/phase1/misc/committee.ts
  packages/lodestar-beacon-state-transition/src/phase1/misc/index.ts
  packages/lodestar-beacon-state-transition/src/phase1/misc/shard.ts
  packages/lodestar-beacon-state-transition/src/phase1/misc/slot.ts
  packages/lodestar-beacon-state-transition/src/phase1/misc/validator.ts
  packages/lodestar-beacon-state-transition/src/phase1/shard/crosslink.ts
  packages/lodestar-beacon-state-transition/src/phase1/shard/index.ts
  packages/lodestar-beacon-state-transition/src/phase1/shard/transition.ts
  packages/lodestar-beacon-state-transition/src/phase1/state/accessors.ts
  packages/lodestar-beacon-state-transition/src/phase1/state/index.ts
  packages/lodestar-beacon-state-transition/src/phase1/state/predicates.ts
  packages/lodestar-beacon-state-transition/src/util/domain.ts
  packages/lodestar-beacon-state-transition/src/util/seed.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/misc.test.ts
  packages/lodestar-types/package.json
  packages/lodestar-types/src/types/index.ts
  packages/lodestar-types/src/types/phase1/index.ts
  packages/lodestar-types/src/types/phase1/types/beacon.ts
Labels: StateTransition, Types

#1885 lodestar package comment updates
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/api/impl/beacon/blocks/utils.ts
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/debug/beacon/interface.ts
  packages/lodestar/src/api/impl/events/interfaces.ts
  packages/lodestar/src/api/impl/node/interface.ts
  packages/lodestar/src/api/impl/utils.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/controllers/validator/duties/attesterDuties.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/api/rest/interface.ts
  packages/lodestar/src/api/rest/logger/fastify.ts
  packages/lodestar/src/api/rest/routes/debug/index.ts
  packages/lodestar/src/chain/attestation/process.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/initState.ts
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/aggregateAndProof.ts
  packages/lodestar/src/db/api/beacon/repositories/attestation.ts
  packages/lodestar/src/db/api/beacon/seenAttestationCache.ts
  packages/lodestar/src/network/encoders/interface.ts
  packages/lodestar/src/network/encoders/request.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/encoders/utils.ts
  packages/lodestar/src/network/error.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/interface.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/network/peers/score/interface.ts
  packages/lodestar/src/network/peers/score/simpleRpcScore.ts
  packages/lodestar/src/network/peers/utils.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/node/utils/interop/deposits.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/options.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/src/sync/utils/peers.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/src/util/graffiti.ts
  packages/lodestar/src/util/objects.ts
Labels: Api, Network

#1901 Write request decode validation as async fn
  packages/lodestar/src/network/encoders/request.ts
  packages/lodestar/test/unit/network/encoders/request.test.ts
Labels: Network

#1899 Lightclient sync
  packages/light-client/.babel-register
  packages/light-client/.babelrc
  packages/light-client/.gitignore
  packages/light-client/.mocharc.yaml
  packages/light-client/.nycrc.json
  packages/light-client/LICENSE
  packages/light-client/README.md
  packages/light-client/package.json
  packages/light-client/src/index.ts
  packages/light-client/src/sync/index.ts
  packages/light-client/src/sync/update.ts
  packages/light-client/src/sync/validation.ts
  packages/light-client/test/setup.ts
  packages/light-client/tsconfig.build.json
  packages/light-client/tsconfig.json
  packages/lodestar-beacon-state-transition/src/lightclient/index.ts
  packages/lodestar-beacon-state-transition/src/lightclient/upgrade.ts
  packages/lodestar-params/src/constants.ts
  packages/lodestar-params/src/index.ts
  packages/lodestar-types/src/ssz/generators/lightclient/types.ts
  packages/lodestar-types/src/types/lightclient/interface.ts
  packages/lodestar-types/src/types/lightclient/types/index.ts
  packages/lodestar-types/src/types/lightclient/types/sync.ts
  packages/lodestar-utils/src/misc.ts
  yarn.lock
Labels: Config, StateTransition, Types

#1893 Lightclient upgrade
  packages/lodestar-beacon-state-transition/src/lightclient/index.ts
  packages/lodestar-beacon-state-transition/src/lightclient/upgrade.ts
  packages/lodestar-types/src/types/lightclient/interface.ts
Labels: StateTransition, Types

#1898 Improve DiversifyPeersBySubnetTask
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/utils.ts
  packages/lodestar/src/network/tasks/diversifyPeersBySubnetTask.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/network/peers/utils.test.ts
  packages/lodestar/test/unit/network/tasks/diversifyPeersBySubnetTask.test.ts
Labels: Api, Network

#1904 chore(release): v0.13.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#1907 Fix release ci
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
Labels: CI, Meta: Exclude From Changelog

#1908 Fix changelog generator arg names
  .github/workflows/release.yml
Labels: CI, Meta: Exclude From Changelog

#1909 Skip lerna access verification in CI
  CONTRIBUTING.md
  package.json
Labels: Meta: Exclude From Changelog

#1914 Use ReqRespEncoding enum consistently in ReqResp
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/unit/network/util.test.ts
Labels: Network
