Repository ChainSafe/lodestar, pull requests merged in 2020-07, with the labels that each got.

#1071 Block endpoints in rest api
  .codeclimate.yml
  packages/lodestar-types/src/ssz/generators/api.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/api.ts
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/api/impl/beacon/blocks/interface.ts
  packages/lodestar/src/api/impl/beacon/blocks/utils.ts
  packages/lodestar/src/api/impl/beacon/interface.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeader.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeaders.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockRoot.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/index.ts
  packages/lodestar/src/api/rest/controllers/types.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/api/rest/routes/beacon/index.ts
  packages/lodestar/src/api/rest/routes/index.ts
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/forkChoice/arrayDag/lmdGhost.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlockHeader.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlockHeaders.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/utils.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockAttestations.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockHeader.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockHeaders.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockRoot.test.ts
  packages/lodestar/test/unit/chain/blocks/post.test.ts
  packages/lodestar/test/unit/chain/forkChoice/arrayDag.test.ts
  packages/lodestar/test/utils/api.ts
  packages/lodestar/test/utils/block.ts
  packages/lodestar/test/utils/misc.ts
  packages/lodestar/test/utils/stub/beaconApi.ts
Labels: Api, Types

#1050 Remove event listener on sse stream closing
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/beacon/interface.ts
  packages/lodestar/src/api/rest/routes/beacon/blockStream.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/util/events.ts
  packages/lodestar/test/unit/api/rest/beacon/index.test.ts
  yarn.lock
Labels: Api

#1096 es and node badges
  README.md
  packages/lodestar-beacon-state-transition/README.md
  packages/lodestar-cli/README.md
  packages/lodestar-config/README.md
  packages/lodestar-params/README.md
  packages/lodestar-types/README.md
  packages/lodestar-utils/README.md
  packages/lodestar-validator/README.md
Labels: CLI, Config, StateTransition, Types, Validator

#1102 Fix genesis checkpoint root in status msg
  packages/lodestar/src/sync/reqResp/reqResp.ts
Labels: Network

#1080 Libp2p 0.28.3 migration
  packages/lodestar/package.json
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/IReputation.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/reqResp/interface.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/regular/naive.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/utils/network.ts
  yarn.lock
Labels: Network

#1101 Detect Altona genesis state
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/chain/genesis/util.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/impl/util.ts
  packages/lodestar/test/e2e/chain/genesis/genesis.test.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/eth1/impl/ethers.test.ts
  packages/lodestar/test/unit/eth1/impl/util.test.ts
Labels: Eth1

#1087 Fix Buffer api deprecation message
  .eslintrc.js
  package.json
  packages/lodestar-beacon-state-transition/src/util/shuffle.ts
  packages/lodestar/src/metrics/server/http.ts
  packages/lodestar/src/network/encoders/snappy-frames/uncompress.ts
  packages/lodestar/src/util/encrypt.ts
  packages/lodestar/src/util/io.ts
  packages/lodestar/src/util/keystore.ts
  packages/lodestar/test/unit/util/encrypt.test.ts
  packages/lodestar/test/unit/util/keystore.test.ts
  yarn.lock
Labels: Network, StateTransition

#1105 Update discv5
  packages/lodestar-cli/package.json
  packages/lodestar/package.json
  yarn.lock
Labels: CLI

#1111 Use fast processSlots
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
Labels: Api, Network

#1124 Update ssz to v0.6.9
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  yarn.lock
Labels: CLI, StateTransition, Types, Validator

#1120 Proto/altona optimization
  packages/lodestar-beacon-state-transition/src/fast/block/isValidIndexedAttestation.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processAttestation.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processDeposit.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processEth1Data.ts
  packages/lodestar-beacon-state-transition/src/fast/index.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-beacon-state-transition/test/unit/fast/block/isValidIndexedAttestation.test.ts
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/blocks/convertBlock.ts
  packages/lodestar/src/chain/blocks/processor.ts
Labels: StateTransition

#1109 check for existing template-config-file
  packages/lodestar-cli/src/cmds/beacon/config.ts
Labels: CLI

#1130 Fix req/resp TTFB timeout
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
Labels: Network

#1117 Start network gossip with sync gossip
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/node.test.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
Labels: Network

#1138 Cosmetic fix to contain eth2response timer inside it's method
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
Labels: Network

#1107 Expose getting finalized blocks by root
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/api/impl/beacon/blocks/utils.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeaders.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts
  packages/lodestar/src/db/api/schema.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlockHeader.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/utils.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/db/api/repositories/blockArchive.test.ts
  packages/lodestar/test/utils/sinon/matcher.ts
Labels: Api

#1131 Validate attestation
  .github/workflows/test.yml
  packages/lodestar-beacon-state-transition/src/fast/util/duties.ts
  packages/lodestar-beacon-state-transition/src/util/attestation.ts
  packages/lodestar-beacon-state-transition/src/util/duties.ts
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar/src/api/impl/errors/validation.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/routes/validator/publishAttestation.ts
  packages/lodestar/src/chain/factory/attestation/index.ts
  packages/lodestar/src/chain/factory/duties/index.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/util/validation/attestation.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/chain/factory/attestation/data.test.ts
  packages/lodestar/test/unit/chain/factory/attestation/index.test.ts
  packages/lodestar/test/unit/chain/factory/duties/assembleValidatorDuty.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
Labels: Api, CI, Network, StateTransition, Validator

#1140 Gossip Extended Validator
  packages/lodestar/src/network/gossip/constants.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/util/validation/attestation.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
Labels: Network

#1156 v0.10.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  yarn.lock
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#1157 Fix cli published files
  packages/lodestar-cli/package.json
Labels: CLI

#1164 v0.10.1
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#1171 Add dapplion to CODEOWNERS
  .github/CODEOWNERS
Labels: CI

#1173 v0.10.2
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#1162 Move yaml types to prod dependencies
  packages/lodestar-params/package.json
Labels: Config

#1177 Validate passphraseFile before wallet create
  packages/lodestar-cli/src/cmds/account/cmds/validator/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/create.ts
  packages/lodestar-cli/src/util/fs.ts
Labels: CLI

#1122 Fix chain restore
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/forkChoice/arrayDag/lmdGhost.ts
  packages/lodestar/src/db/api/beacon/repositories/abstract.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/test/unit/eth1/impl/ethers.test.ts
Labels: Eth1, Network, StateTransition

#1176 YargsError handling across whole lodestar-cli package
  packages/lodestar-cli/src/cmds/account/cmds/validator/deposit.ts
  packages/lodestar-cli/src/cmds/beacon/cmds/run/index.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDir.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirBuilder.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirManager.ts
  packages/lodestar-cli/src/wallet/WalletManager.ts
Labels: CLI

#1191 Change default metrics server port
  packages/lodestar-cli/src/cmds/beacon/cmds/run/options/metrics.ts
  packages/lodestar-cli/src/cmds/beacon/testnets/altona.ts
  packages/lodestar-cli/src/cmds/dev/options/metrics.ts
  packages/lodestar/src/metrics/options.ts
  prometheus.yml
Labels: CLI

#1186 Fix "Received block parent root doesn't match our head"
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1198 Replace infinite timeouts with a long timeout of 10 min
  packages/lodestar-cli/test/unit/lodecli/init.test.ts
  packages/lodestar-spec-test-util/src/single.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
Labels: CLI, StateTransition

#1199 Catch/log subnet subscription errors
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
Labels: Network

#1197 Add uncompressed pubkey caching
  packages/lodestar-beacon-state-transition/src/fast/block/isValidIndexedAttestation.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processProposerSlashing.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processRandao.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processVoluntaryExit.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar/test/unit/api/impl/beacon/validator.test.ts
Labels: StateTransition

#1207 Fix close stream pr
  packages/lodestar-cli/refresh-peer.sh
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
Labels: CLI, Network

#1161 Ensure clearTimeout for all requests
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  yarn.lock
Labels: CLI, Network

#1192 Remove multiaddr in ENR if its not local network interface
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/unit/network/util.test.ts
Labels: CLI, Network

#1205 Regular sync until gossip parent block
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/regular/naive.test.ts
Labels: Network

#1230 Block validation: a client MAY queue future blocks for processing at …
  packages/lodestar/src/network/gossip/validator.ts
Labels: Network

#1237 Add customizable graffiti param to validator client
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/validator/options.ts
  packages/lodestar-cli/src/cmds/validator/run.ts
  packages/lodestar-cli/src/util/graffiti.ts
  packages/lodestar-cli/src/util/index.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/options.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/routes/validator/produceBlock.ts
  packages/lodestar/src/constants/constants.ts
  packages/lodestar/src/util/graffiti.ts
  packages/lodestar/test/unit/util/graffiti.test.ts
  yarn.lock
Labels: Api, CLI, Validator

#1233 Add readonly iteration to state transition
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-beacon-state-transition/src/fast/block/initiateValidatorExit.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processEth1Data.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processOperations.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processFinalUpdates.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processRewardsAndPenalties.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processSlashings.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochProcess.ts
  packages/lodestar-cli/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/spec/ssz/util/testCases.ts
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#1242 Add deposit params + Fix CLI param processing
  packages/lodestar-cli/src/cmds/beacon/cmds/run/run.ts
  packages/lodestar-cli/src/cmds/beacon/testnets/altona.ts
  packages/lodestar-cli/src/options/beaconNodeOptions/eth1.ts
  packages/lodestar-cli/src/util/config.ts
  packages/lodestar-params/src/beaconParams.ts
  packages/lodestar-params/src/interface.ts
  packages/lodestar-params/src/presets/mainnet.yaml
  packages/lodestar-params/src/presets/minimal.yaml
  packages/lodestar-params/src/types.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/options.ts
  packages/lodestar/test/e2e/chain/genesis/genesis.test.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
Labels: CLI, Config, Eth1

#1240 Fix reqResp logging, simplify logger context type
  packages/lodestar-utils/src/logger/format.ts
  packages/lodestar-utils/src/logger/interface.ts
  packages/lodestar-utils/test/unit/logger/format.test.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/reqResp.ts
Labels: Network

#1247 Validator client handling multiple keys
  packages/lodestar-cli/src/cmds/validator/run.ts
  packages/lodestar-cli/src/cmds/validator/utils/interop/validator.ts
  packages/lodestar-cli/test/unit/lodecli/init.test.ts
  packages/lodestar-validator/src/options.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/types.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/unit/validator.test.ts
  packages/lodestar/src/db/api/beacon/repositories/attestation.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/node.test.ts
  packages/lodestar/test/utils/node/beacon.ts
  packages/lodestar/test/utils/node/validator.ts
Labels: CLI, Validator

#1252 Initial sync: filter out out-of-sync peers
  packages/lodestar/src/sync/initial/fast/index.ts
Labels: Network

#1235 EpochContext convenience methods
  packages/lodestar-beacon-state-transition/src/fast/block/processAttestation.ts
  packages/lodestar-beacon-state-transition/src/fast/util/duties.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-beacon-state-transition/src/util/validator.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/factory/attestation/data.ts
  packages/lodestar/src/chain/factory/attestation/index.ts
  packages/lodestar/src/chain/factory/duties/index.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/util/validation/attestation.ts
  packages/lodestar/test/unit/chain/factory/attestation/data.test.ts
  packages/lodestar/test/unit/chain/factory/attestation/index.test.ts
  packages/lodestar/test/unit/chain/factory/duties/assembleValidatorDuty.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
Labels: Api, Network, StateTransition

#1257 Add params as options in account validator command
  packages/lodestar-cli/src/cmds/account/cmds/validator/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/deposit.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/options.ts
Labels: CLI

#1259 Fix account validator deposit command
  packages/lodestar-cli/src/cmds/account/cmds/validator/deposit.ts
  packages/lodestar-cli/src/depositContract/depositData.ts
Labels: CLI

#1264 Copy all BeaconOption to config file
  packages/lodestar-cli/src/cmds/beacon/config.ts
Labels: CLI

#1272 Add basic beacon option to log to file
  packages/lodestar-cli/src/cmds/beacon/cmds/init/index.ts
  packages/lodestar-cli/src/cmds/beacon/cmds/run/run.ts
  packages/lodestar-cli/src/cmds/beacon/index.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-utils/src/logger/winston.ts
Labels: CLI

#1263 Fix cmd account validator create - no validator bug
  packages/lodestar-cli/src/cmds/account/cmds/validator/create.ts
Labels: CLI

#1273 Fix beacon run --testnet flag
  packages/lodestar-cli/src/cmds/beacon/cmds/run/run.ts
Labels: CLI
