Repository ChainSafe/lodestar, pull requests merged in 2020-04, with the labels that each got.

#765 Correct GENESIS_FORK_VERSION
  packages/lodestar-beacon-state-transition/src/block/operations/deposit.ts
  packages/lodestar-beacon-state-transition/src/util/domain.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/deposit2.test.ts
  packages/lodestar-cli/src/lodestar/interop/deposits.ts
  packages/lodestar-params/src/presets/minimal.ts
  packages/lodestar/src/eth1/wallet.ts
Labels: BeaconChain

#766 Merge master to 0.10.1
  audits/2020-03-23_UTILITY_LIBRARIES.pdf
  packages/lodestar-beacon-state-transition/src/util/validatorStatus.ts
  packages/lodestar-cli/src/lodestar/interop/deposits.ts
  packages/lodestar-config/src/presets/mainnet.ts
  packages/lodestar-config/src/presets/minimal.ts
  packages/lodestar-params/.babelrc
  packages/lodestar-params/CHANGELOG.md
  packages/lodestar-params/package.json
  packages/lodestar-params/src/constants.ts
  packages/lodestar-params/src/interface.ts
  packages/lodestar-params/src/presets/mainnet.ts
  packages/lodestar-params/src/presets/mainnet.yaml
  packages/lodestar-params/src/presets/minimal.ts
  packages/lodestar-params/src/presets/minimal.yaml
  packages/lodestar-params/src/types.ts
  packages/lodestar-params/src/utils.ts
  packages/lodestar-types/src/ssz/presets/mainnet.ts
  packages/lodestar-types/src/ssz/presets/minimal.ts
  packages/lodestar/package.json
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/eth1/wallet.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  yarn.lock
Labels: BeaconChain

#758 Block process stream
  .codeclimate.yml
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/blocks/index.ts
  packages/lodestar/src/chain/blocks/pool.ts
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/sync/index.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/chain/blocks/pool.test.ts
  packages/lodestar/test/unit/chain/blocks/post.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/blocks/utils.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: BeaconChain

#768 Validate gossip block not from the future
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/unit/eth1/dev/network.test.ts
  packages/lodestar/test/unit/eth1/impl/ethers.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
Labels: BeaconChain

#773 Upgrade libp2p-gossipsub and libp2p-ts
  packages/lodestar/package.json
  yarn.lock
Labels: BeaconChain

#772 Handle skip slots in fork choice
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/test/unit/chain/forkChoice/statefulDag.test.ts
Labels: BeaconChain

#756 Use GENESIS_SLOT, GENESIS_EPOCH as constants
  packages/lodestar-beacon-state-transition/src/util/slot.ts
  packages/lodestar-params/src/interface.ts
  packages/lodestar-params/src/presets/mainnet.yaml
  packages/lodestar-params/src/presets/minimal.yaml
  packages/lodestar/src/chain/genesis/genesis.ts
Labels: BeaconChain

#759 Get eth1 data using eth1 block timestamp
  packages/lodestar-beacon-state-transition/src/util/slot.ts
  packages/lodestar-params/src/interface.ts
  packages/lodestar-params/src/presets/mainnet.yaml
  packages/lodestar-params/src/presets/minimal.yaml
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/eth1/impl/blocks.ts
  packages/lodestar/src/eth1/impl/eth1Vote.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/eth1/impl/utils.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/util/function.ts
  packages/lodestar/test/unit/eth1/impl/blocks.test.ts
  packages/lodestar/test/unit/eth1/impl/eth1Vote.test.ts
  packages/lodestar/test/unit/eth1/impl/ethers.test.ts
  packages/lodestar/test/unit/eth1/impl/utils.test.ts
  packages/lodestar/test/unit/util/function.test.ts
  packages/lodestar/test/utils/eth1Block.ts
Labels: BeaconChain

#776 Add noise encryption
  packages/lodestar/package.json
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/tsconfig.json
  yarn.lock
Labels: BeaconChain

#775 Fork choice fix issue 1574
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/src/eth1/impl/blocks.ts
  packages/lodestar/test/unit/chain/forkChoice/statefulDag.test.ts
Labels: BeaconChain

#777 Block stream api
  packages/lodestar-cli/src/lodestar/api/rest/options.ts
  packages/lodestar-cli/src/lodestar/api/rpc/options.ts
  packages/lodestar-cli/src/lodestar/node/options.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/beacon/interface.ts
  packages/lodestar/src/api/rest/routes/beacon/blockStream.ts
  packages/lodestar/src/api/rest/routes/beacon/index.ts
  packages/lodestar/src/api/rest/routes/beacon/version.ts
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/test/unit/api/rest/beacon/index.test.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/utils/mocks/rpc/beacon.ts
  yarn.lock
Labels: BeaconChain

#781 Add proposerIndex to BeaconBlock
  packages/lodestar-beacon-state-transition/src/block/blockHeader.ts
  packages/lodestar-beacon-state-transition/src/block/operations/proposerSlashing.ts
  packages/lodestar-beacon-state-transition/src/util/block.ts
  packages/lodestar-beacon-state-transition/src/util/blockRoot.ts
  packages/lodestar-beacon-state-transition/src/util/validatorStatus.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/blockHeader.test.ts
  packages/lodestar-beacon-state-transition/test/utils/block.ts
  packages/lodestar-beacon-state-transition/test/utils/slashings.ts
  packages/lodestar-beacon-state-transition/test/utils/state.ts
  packages/lodestar-types/src/ssz/generators/block.ts
  packages/lodestar-types/src/ssz/generators/misc.ts
  packages/lodestar-types/src/ssz/generators/operations.ts
  packages/lodestar-types/src/types/block.ts
  packages/lodestar-types/src/types/misc.ts
  packages/lodestar-types/src/types/operations.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/utils/block.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/routes/validator/produceBlock.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/network/gossip/handlers/proposerSlashing.ts
  packages/lodestar/src/opPool/opPool.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/utils/block.ts
  packages/lodestar/test/utils/slashings.ts
  packages/lodestar/test/utils/state.ts
Labels: BeaconChain

#783 Add fork digest
  package.json
  packages/lodestar-beacon-state-transition/src/util/domain.ts
  packages/lodestar-beacon-state-transition/src/util/fork.ts
  packages/lodestar-beacon-state-transition/src/util/index.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/misc.test.ts
  packages/lodestar-beacon-state-transition/test/utils/state.ts
  packages/lodestar-types/src/ssz/generators/api.ts
  packages/lodestar-types/src/ssz/generators/misc.ts
  packages/lodestar-types/src/ssz/generators/primitive.ts
  packages/lodestar-types/src/ssz/generators/state.ts
  packages/lodestar-types/src/ssz/generators/wire.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/api.ts
  packages/lodestar-types/src/types/misc.ts
  packages/lodestar-types/src/types/primitive.ts
  packages/lodestar-types/src/types/state.ts
  packages/lodestar-types/src/types/wire.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/interface/beacon.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/utils/mocks/beacon.ts
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/gossip/constants.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/handlers/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/handlers/attestation.ts
  packages/lodestar/src/network/gossip/handlers/attesterSlashing.ts
  packages/lodestar/src/network/gossip/handlers/block.ts
  packages/lodestar/src/network/gossip/handlers/proposerSlashing.ts
  packages/lodestar/src/network/gossip/handlers/voluntaryExit.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/encoders/ssz.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/gossip/utils.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/sync/subnet/attestation-collector.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/state.ts
  yarn.lock
Labels: BeaconChain

#787 Use sse plugin
  packages/lodestar/package.json
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/api/rest/routes/beacon/blockStream.ts
  yarn.lock
Labels: BeaconChain

#700 Update dev dependencies
  package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/commands/beacon.ts
  packages/lodestar-cli/src/commands/dev/command.ts
  packages/lodestar-cli/src/commands/validator.ts
  packages/lodestar-config/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  yarn.lock
Labels: Audit1, BeaconChain

#794 Remove head_block_root out of BeaconBlocksByRange
  packages/lodestar-types/src/ssz/generators/wire.ts
  packages/lodestar-types/src/types/wire.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: BeaconChain

#792 Eth1 voting period in epochs
  packages/lodestar-beacon-state-transition/src/block/eth1Data.ts
  packages/lodestar-beacon-state-transition/src/epoch/finalUpdates.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/eth1data.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/finalUpdates.test.ts
  packages/lodestar-params/src/interface.ts
  packages/lodestar-types/src/ssz/generators/state.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/eth1/impl/utils.ts
Labels: BeaconChain

#774 discv5 integration
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/commands/dev/command.ts
  packages/lodestar-cli/test/e2e/commands/dev.test.ts
  packages/lodestar/package.json
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/network/options.ts
  packages/lodestar/test/unit/network/util.ts
  yarn.lock
Labels: BeaconChain

#767 Feature/712 documentation overhaul
  README.md
  package.json
  packages/lodestar/README.md
Labels: BeaconChain

#806 Add missing pieces after we run state transition
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/test/unit/chain/blocks/post.test.ts
Labels: BeaconChain

#807 Add metadata and ping
  packages/lodestar-types/src/ssz/constants.ts
  packages/lodestar-types/src/ssz/generators/misc.ts
  packages/lodestar-types/src/ssz/generators/wire.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/misc.ts
  packages/lodestar-types/src/types/wire.ts
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/metadata/index.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/IReputation.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/sync/reputation.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  yarn.lock
Labels: BeaconChain

#805 Validator api update
  packages/lodestar-cli/src/commands/dev/command.ts
  packages/lodestar-types/src/ssz/generators/api.ts
  packages/lodestar-types/src/ssz/generators/validator.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/api.ts
  packages/lodestar-types/src/types/validator.ts
  packages/lodestar-validator/src/api/impl/rest/apiClient.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/beacon.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/types.ts
  packages/lodestar-validator/src/util/aggregator.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/utils/mocks/beacon.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/beacon/interface.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/routes/beacon/index.ts
  packages/lodestar/src/api/rest/routes/beacon/validator.ts
  packages/lodestar/src/api/rest/routes/validator/duties/aggregator.ts
  packages/lodestar/src/api/rest/routes/validator/duties/attester.ts
  packages/lodestar/src/api/rest/routes/validator/duties/proposer.ts
  packages/lodestar/src/api/rest/routes/validator/index.ts
  packages/lodestar/src/api/rest/routes/validator/produceAggregatedAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/produceAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/publishAggregateAndProof.ts
  packages/lodestar/src/api/rest/routes/validator/publishAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/subscribeToCommitteeSubnet.ts
  packages/lodestar/src/chain/factory/duties/index.ts
  packages/lodestar/src/opPool/opPool.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/unit/api/impl/beacon/validator.test.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAggregateAndProof.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/chain/factory/duties/assembleValidatorDuty.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/opPool/oppool.test.ts
  packages/lodestar/test/utils/validator.ts
  yarn.lock
Labels: BeaconChain

#811 Merge master to 0.11.x
  README.md
  package.json
  packages/lodestar-cli/src/commands/dev/command.ts
  packages/lodestar-types/src/ssz/generators/api.ts
  packages/lodestar-types/src/ssz/generators/validator.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/api.ts
  packages/lodestar-types/src/types/validator.ts
  packages/lodestar-validator/src/api/impl/rest/apiClient.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/beacon.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/types.ts
  packages/lodestar-validator/src/util/aggregator.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/utils/mocks/beacon.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar/README.md
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/beacon/interface.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/routes/beacon/index.ts
  packages/lodestar/src/api/rest/routes/beacon/validator.ts
  packages/lodestar/src/api/rest/routes/validator/duties/aggregator.ts
  packages/lodestar/src/api/rest/routes/validator/duties/attester.ts
  packages/lodestar/src/api/rest/routes/validator/duties/proposer.ts
  packages/lodestar/src/api/rest/routes/validator/index.ts
  packages/lodestar/src/api/rest/routes/validator/produceAggregatedAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/produceAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/publishAggregateAndProof.ts
  packages/lodestar/src/api/rest/routes/validator/publishAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/subscribeToCommitteeSubnet.ts
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/duties/index.ts
  packages/lodestar/src/opPool/opPool.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/unit/api/impl/beacon/validator.test.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAggregateAndProof.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/chain/blocks/post.test.ts
  packages/lodestar/test/unit/chain/factory/duties/assembleValidatorDuty.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/opPool/oppool.test.ts
  packages/lodestar/test/utils/validator.ts
Labels: BeaconChain

#815 Fix up CI
  .github/labeler.yml
  .github/workflows/test.yml
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
Labels: BeaconChain, CI, Validator

#813 DOS Resistant
  .gitignore
  packages/lodestar-types/src/ssz/generators/validator.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/validator.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/routes/validator/publishAggregateAndProof.ts
  packages/lodestar/src/db/api/beacon/repositories/proposerSlashing.ts
  packages/lodestar/src/db/api/beacon/repositories/voluntaryExits.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/handlers/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/opPool/modules/aggregateAndProof.ts
  packages/lodestar/src/opPool/modules/attestation.ts
  packages/lodestar/src/opPool/modules/attesterSlashing.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/utils/attestation.ts
Labels: BeaconChain

#820 Bump ssz version
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  yarn.lock
Labels: BeaconChain, Validator

#821 Fix ci mainnet spec tests
  .github/workflows/spec-test.yml
Labels: CI

#809 Clean up Beacon CLI
  packages/lodestar-cli/src/commands/beacon.ts
  packages/lodestar-cli/src/commands/deposit.ts
  packages/lodestar-cli/src/commands/dev/command.ts
  packages/lodestar-cli/src/lodestar/eth1/options.ts
  packages/lodestar-cli/src/lodestar/network/options.ts
  packages/lodestar-cli/test/e2e/commands/beacon.test.ts
  packages/lodestar/README.md
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/eth1/dev/network.ts
  packages/lodestar/src/eth1/impl/blocks.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
Labels: BeaconChain, CI

#822 Fix ci mainnet spec tests
  .github/workflows/spec-test.yml
Labels: CI

#810 Fix duplicate peers
  packages/lodestar-cli/src/commands/dev/command.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/network/util.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
Labels: BeaconChain

#827 Remove v0.10.1 references
  README.md
  packages/lodestar-beacon-state-transition/README.md
  packages/lodestar-cli/README.md
  packages/lodestar-config/README.md
  packages/lodestar-params/README.md
  packages/lodestar-types/README.md
  packages/lodestar-validator/README.md
  packages/lodestar/README.md
Labels: BeaconChain, Validator

#830 Remove reference to gitter
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general_question.md
Labels: CI

#828 Make lodestar and lodestar-cli not private
  packages/lodestar-cli/package.json
  packages/lodestar/package.json
Labels: BeaconChain

#831 Fix up ci docs generation
  .github/workflows/docs.yml
Labels: CI

#838 Refactor fork choice to use existing chain clock
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/test/unit/chain/forkChoice/statefulDag.test.ts
Labels: BeaconChain

#833 Sync status api
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/rest/routes/beacon/syncing.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/initial/interface.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/regular/interface.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/api/impl/beacon/syncStatus.test.ts
  packages/lodestar/test/unit/api/rest/beacon/index.test.ts
  packages/lodestar/test/unit/sync/regular.test.ts
  packages/lodestar/test/unit/sync/sync.test.ts
Labels: BeaconChain

#818 Add ENR shard bitfield
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/handlers/attestation.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/IReputation.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/network/gossip/utils.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/test/unit/network/util.ts
  packages/lodestar/test/unit/sync/reputation.test.ts
  packages/lodestar/test/utils/mocks/gossipsub.ts
  packages/lodestar/test/utils/network.ts
  yarn.lock
Labels: BeaconChain

#816 Refactor req/resp to better handle different method types
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/encoder.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
Labels: BeaconChain

#843 Add ENRForkID to ENR eth2
  packages/lodestar-beacon-state-transition/src/epoch/fork.ts
  packages/lodestar-beacon-state-transition/src/epoch/index.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/fork.test.ts
  packages/lodestar-cli/src/commands/beacon.ts
  packages/lodestar-cli/test/e2e/commands/beacon.test.ts
  packages/lodestar-params/src/interface.ts
  packages/lodestar-types/src/ssz/generators/misc.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/misc.ts
  packages/lodestar-utils/test/unit/bytes.test.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: BeaconChain

#841 Rpc snappy framing compression
  packages/lodestar/package.json
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/encoder.ts
  packages/lodestar/src/network/encoders/index.ts
  packages/lodestar/src/network/encoders/interface.ts
  packages/lodestar/src/network/encoders/request.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/encoders/snappy-frames/uncompress.ts
  packages/lodestar/src/network/encoders/snappy.ts
  packages/lodestar/src/network/encoders/ssz.ts
  packages/lodestar/src/network/encoders/utils.ts
  packages/lodestar/src/network/error.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/encoder.test.ts
  packages/lodestar/test/unit/network/encoders/request.test.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
  packages/lodestar/test/unit/network/encoders/snappy-frames/uncompress.test.ts
  packages/lodestar/test/unit/network/encoders/snappy.test.ts
  packages/lodestar/test/unit/network/encoders/ssz.test.ts
  packages/lodestar/test/unit/network/encoders/ssz_snappy.test.ts
  packages/lodestar/test/unit/network/encoders/utils.ts
  packages/lodestar/test/unit/network/reqResp.test.ts
  packages/lodestar/types/snappy-stream/index.d.ts
  packages/lodestar/types/snappyjs/index.d.ts
  packages/lodestar/types/stream-to-it/index.d.ts
  yarn.lock
Labels: BeaconChain

#856 Handle forkDigest event
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/network.ts
Labels: BeaconChain

#858 Fixup db
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/db/api/abstract.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/abstract.ts
  packages/lodestar/src/db/api/beacon/repositories/aggregateAndProof.ts
  packages/lodestar/src/db/api/beacon/repositories/attestation.ts
  packages/lodestar/src/db/api/beacon/repositories/attesterSlashing.ts
  packages/lodestar/src/db/api/beacon/repositories/badBlock.ts
  packages/lodestar/src/db/api/beacon/repositories/block.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts
  packages/lodestar/src/db/api/beacon/repositories/chain.ts
  packages/lodestar/src/db/api/beacon/repositories/depositData.ts
  packages/lodestar/src/db/api/beacon/repositories/depositDataRootList.ts
  packages/lodestar/src/db/api/beacon/repositories/index.ts
  packages/lodestar/src/db/api/beacon/repositories/proposerSlashing.ts
  packages/lodestar/src/db/api/beacon/repositories/state.ts
  packages/lodestar/src/db/api/beacon/repositories/util.ts
  packages/lodestar/src/db/api/beacon/repositories/voluntaryExit.ts
  packages/lodestar/src/db/api/beacon/repository.ts
  packages/lodestar/src/db/api/schema.ts
  packages/lodestar/src/db/api/validator/validator.ts
  packages/lodestar/src/db/controller/impl/level.ts
  packages/lodestar/src/db/controller/impl/pouch.ts
  packages/lodestar/src/db/controller/index.ts
  packages/lodestar/src/db/controller/interface.ts
  packages/lodestar/src/db/index.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/opPool/modules/abstract.ts
  packages/lodestar/src/opPool/modules/aggregateAndProof.ts
  packages/lodestar/src/opPool/modules/attestation.ts
  packages/lodestar/src/opPool/modules/depositData.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/opPool/modules/deposit.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/db/api/beacon.test.ts
  packages/lodestar/test/unit/db/api/repositories/block.test.ts
  packages/lodestar/test/unit/db/api/repositories/blockArchive.test.ts
  packages/lodestar/test/unit/db/api/repositories/util.test.ts
  packages/lodestar/test/unit/db/api/repository.test.ts
  packages/lodestar/test/unit/db/api/validator.test.ts
  packages/lodestar/test/unit/db/controller/level.test.ts
  packages/lodestar/test/unit/db/controller/pouch.test.ts
  packages/lodestar/test/unit/db/schema.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/unit/opPool/modules/deposit.test.ts
  packages/lodestar/test/unit/opPool/oppool.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/tasks/tasks/blockArchiver.test.ts
  packages/lodestar/test/utils/network.ts
  packages/lodestar/test/utils/stub.ts
Labels: BeaconChain
