Repository ChainSafe/lodestar, pull requests merged in 2020-06, with the labels that each got.

#985 @chainsafe/ssz version bump
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
Labels: BeaconChain, Validator

#982 BLS 2.0 and Ensure eth1data voting can't move to past eth1data states
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/lodestar/src/chain/factory/block/eth1Vote.ts
  packages/lodestar/test/unit/chain/factory/block/eth1Vote.test.ts
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/spec/bls/aggregate_sigs.test.ts
  packages/spec-test-runner/test/spec/bls/aggregate_sigs_verify.test.ts
  packages/spec-test-runner/test/spec/operations/attesterSlashing/attester_slashing_fast.test.ts
  yarn.lock
Labels: BeaconChain, Validator

#980 Add request id to all logs to track req/resp interaction
  packages/lodestar-validator/tsconfig.json
  packages/lodestar/src/network/encoders/interface.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
  packages/lodestar/tsconfig.json
  packages/lodestar/tsconfig.test.json
Labels: BeaconChain, Validator

#986 v0.9.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
Labels: BeaconChain, Benchmarks, Validator

#988 0.12: new way to calculate attestation subnet
  packages/lodestar-beacon-state-transition/src/util/attestation.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/network/gossip/constants.ts
  packages/lodestar/src/network/gossip/handlers/attestation.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/test/unit/network/gossip/utils.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
Labels: BeaconChain

#990 Add FFG-LMD vote consistency checks
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/forkChoice/arrayDag/lmdGhost.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/test/unit/chain/attestation.test.ts
  packages/lodestar/test/unit/chain/forkChoice/arrayDag.test.ts
Labels: BeaconChain

#991 Loosen restrictions for aggregate propagation to not require aggregator in bitfield
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/stub/index.ts
Labels: BeaconChain

#1000 Validator rest api integration
  packages/lodestar-cli/src/lodecli/cmds/dev/options/api.ts
  packages/lodestar-cli/src/lodecli/cmds/dev/options/chain.ts
  packages/lodestar-cli/src/lodecli/cmds/dev/options/dev.ts
  packages/lodestar-cli/src/lodecli/cmds/dev/options/index.ts
  packages/lodestar-cli/src/lodecli/cmds/dev/options/validator.ts
  packages/lodestar-cli/src/lodecli/cmds/dev/run.ts
  packages/lodestar-cli/src/lodecli/cmds/dev/utils/validator.ts
  packages/lodestar-types/src/ssz/generators/api.ts
  packages/lodestar-utils/src/logger/format.ts
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/api/impl/instance.ts
  packages/lodestar-validator/src/api/impl/rest/apiClient.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/util/httpClient.ts
  packages/lodestar-validator/test/unit/api/rcpClientOverInstance.test.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/unit/utils/httpClient.test.ts
  packages/lodestar-validator/test/utils/mocks/beacon.ts
  packages/lodestar-validator/tsconfig.json
  packages/lodestar/src/api/rest/routes/beacon/blockStream.ts
  packages/lodestar/src/api/rest/routes/beacon/fork.ts
  packages/lodestar/src/api/rest/routes/beacon/syncing.ts
  packages/lodestar/src/api/rest/routes/beacon/validator.ts
  packages/lodestar/src/api/rest/routes/validator/duties/attester.ts
  packages/lodestar/src/api/rest/routes/validator/duties/proposer.ts
  packages/lodestar/src/api/rest/routes/validator/getWireAttestations.ts
  packages/lodestar/src/api/rest/routes/validator/produceAggregatedAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/produceAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/produceBlock.ts
  packages/lodestar/src/api/rest/routes/validator/publishAggregateAndProof.ts
  packages/lodestar/src/api/rest/routes/validator/publishAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/publishBlock.ts
  packages/lodestar/src/chain/factory/attestation/index.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
Labels: BeaconChain, Validator

#1004 Remove p2p interop spec
  packages/lodestar/package.json
  packages/lodestar/src/network/gossip/constants.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/handlers/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/handlers/attestation.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/network/gossip/handlers/attestation.test.ts
  packages/lodestar/test/unit/network/gossip/utils.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  yarn.lock
Labels: BeaconChain

#1007 0.12.0 non-substantive change
  packages/lodestar-beacon-state-transition/src/util/seed.ts
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
Labels: BeaconChain

#1013 add codeowners file
  .github/CODEOWNERS
Labels: CI

#999 SSZ size bound validation
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-types/test/unit/size.test.ts
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/encoders/interface.ts
  packages/lodestar/src/network/encoders/request.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/encoders/snappy-frames/uncompress.ts
  packages/lodestar/src/network/encoders/utils.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/encoders/request.test.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
  packages/lodestar/test/unit/network/encoders/utils.test.ts
  packages/spec-test-runner/package.json
  yarn.lock
Labels: BeaconChain, Validator

#1002 Short lived committee assignments should not be added to ENR attnets
  packages/lodestar-beacon-state-transition/src/fast/epoch/index.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processFork.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
Labels: BeaconChain

#1022 Fix api array query
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/api/rest/routes/validator/duties/attester.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  yarn.lock
Labels: BeaconChain, Validator

#1009 Use epochCtx to get validator index from pubkey
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/test/unit/api/impl/beacon/validator.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAggregateAndProof.test.ts
  packages/lodestar/test/unit/db/api/beacon.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
Labels: BeaconChain

#1006 Use fastStateTransition when producing block
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: BeaconChain

#1026 Fix epoch context copy
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
Labels: Priority: 1 - Critical, Type: Bug

#1025 Start MetadataController with an enr
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: BeaconChain

#1035 SSZ types for p2p spec
  packages/lodestar-types/src/ssz/constants.ts
  packages/lodestar-types/src/ssz/generators/wire.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/wire.ts
  packages/lodestar/src/network/encoders/interface.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
Labels: BeaconChain

#1043 New genesisTime calculation
  package.json
  packages/lodestar-params/src/interface.ts
  packages/lodestar-params/src/presets/mainnet.yaml
  packages/lodestar-params/src/presets/minimal.yaml
  packages/lodestar/src/chain/genesis/genesis.ts
Labels: BeaconChain

#1030 Error handling
  packages/lodestar-cli/src/lodecli/cmds/beacon/cmds/run/options/logger.ts
  packages/lodestar-cli/src/lodecli/cmds/dev/run.ts
  packages/lodestar-cli/test/e2e/sync.test.ts
  packages/lodestar-utils/src/logger/interface.ts
  packages/lodestar-utils/src/logger/winston.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/api/rest/logger/fastify.ts
  packages/lodestar/src/api/rest/routes/error.ts
  packages/lodestar/src/node/loggerOptions.ts
  packages/lodestar/src/node/nodejs.ts
Labels: Api, BeaconChain, CLI, Validator

#1032 Readonly interface for EpochContext
  packages/lodestar-beacon-state-transition/src/fast/util/epochShuffling.ts
  packages/lodestar-beacon-state-transition/src/fast/util/index.ts
  packages/lodestar-beacon-state-transition/src/fast/util/interface.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/test/unit/api/impl/beacon/validator.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAggregateAndProof.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: BeaconChain, StateTransition

#1001 Add e2e tests for sync and finalization
  packages/lodestar-cli/src/lodecli/cmds/dev/run.ts
  packages/lodestar-cli/test/e2e/commands/beacon.test.ts
  packages/lodestar-cli/test/e2e/commands/dev.test.ts
  packages/lodestar-utils/src/logger/interface.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar/package.json
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/node/options.ts
  packages/lodestar/src/node/utils/interop/deposits.ts
  packages/lodestar/src/node/utils/interop/state.ts
  packages/lodestar/src/node/utils/state.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/options.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/node.test.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/utils/events/resolver.ts
  packages/lodestar/test/utils/node/beacon.ts
  packages/lodestar/test/utils/node/validator.ts
  yarn.lock
Labels: Api, BeaconChain, CLI, Network, Validator

#1005 Return blocks on same chain in BeaconBlocksByRange
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/tasks/tasks/blockArchiver.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: BeaconChain

#1042 Build genesis state incrementally
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/chain/genesis/interface.ts
  packages/lodestar/src/chain/genesis/util.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/e2e/chain/chain.test.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/eth1/impl/ethers.test.ts
  packages/spec-test-runner/test/spec/genesis/validity/genesis_validity_minimal.test.ts
Labels: Eth1, StateTransition

#1073 add gateway metrics to dev branch
  packages/lodestar-cli/src/cmds/dev/options/metrics.ts
Labels: CLI

#1077 Fix e2e tests
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/tasks/tasks/blockArchiver.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Api, Network, Validator

#1075 Fix metadata e2e test
  packages/lodestar/src/network/encoders/request.ts
  packages/lodestar/src/network/reqResp.ts
Labels: Network

#1076 Put eth2ResponseDecode warn message at correct place
  packages/lodestar/src/network/encoders/response.ts
Labels: Network
