Repository ChainSafe/lodestar, pull requests merged in 2020-01, with the labels that each got.

#600 Fix CI on 0.9.x
  packages/eth2.0-state-transition/src/util/duties.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar/src/api/impl/validator/produceAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/publishAggregateAndProof.ts
  packages/lodestar/src/api/rpc/api/validator/validator.ts
  packages/lodestar/src/chain/factory/attestation/index.ts
  packages/lodestar/src/eth1/options.ts
  packages/lodestar/src/eth1/wallet.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/e2e/cli/commands/dev.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/utils/aggregateAndProof.ts
Labels: BeaconChain

#605 Fix spec test
  package.json
  packages/lodestar/test/spec/genesis/initialization/genesis_initialization_minimal.test.ts
Labels: BeaconChain

#596 0.9.2: Refactor Hash to Root/bytes32
  packages/bls/src/index.ts
  packages/bls/src/privateKey.ts
  packages/bls/src/publicKey.ts
  packages/bls/src/signature.ts
  packages/eth2.0-state-transition/src/util/blockRoot.ts
  packages/eth2.0-state-transition/src/util/committee.ts
  packages/eth2.0-state-transition/src/util/proposer.ts
  packages/eth2.0-state-transition/src/util/seed.ts
  packages/eth2.0-types/src/ssz/generators/block.ts
  packages/eth2.0-types/src/ssz/generators/misc.ts
  packages/eth2.0-types/src/ssz/generators/operations.ts
  packages/eth2.0-types/src/ssz/generators/primitive.ts
  packages/eth2.0-types/src/ssz/generators/state.ts
  packages/eth2.0-types/src/ssz/generators/wire.ts
  packages/eth2.0-types/src/ssz/interface.ts
  packages/eth2.0-types/src/types/block.ts
  packages/eth2.0-types/src/types/misc.ts
  packages/eth2.0-types/src/types/operations.ts
  packages/eth2.0-types/src/types/primitive.ts
  packages/eth2.0-types/src/types/state.ts
  packages/eth2.0-types/src/types/wire.ts
  packages/eth2.0-utils/src/merkleTree/interface.ts
  packages/eth2.0-utils/src/merkleTree/lightMerkleTree.ts
  packages/eth2.0-utils/src/merkleTree/merkleTree.ts
  packages/eth2.0-utils/src/merkleTree/utils.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/attestation/data.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/attestationAggregator.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/block.ts
  packages/lodestar/src/db/api/beacon/repositories/chain.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/sync/regular.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/spec/genesis/initialization/genesis_initialization_minimal.test.ts
Labels: BLS, BeaconChain

#592 Fork choice update for 0.9.2
  packages/eth2.0-types/src/types/primitive.ts
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/test/unit/chain/attestation.test.ts
Labels: BeaconChain

#598 Handle wrong fork/finalization on hello
  packages/lodestar/src/db/api/beacon/repositories/index.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
Labels: BeaconChain

#620 optional keys
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/commands/deposit.ts
  packages/lodestar-cli/test/e2e/commands/deposit.test.ts
  packages/lodestar-cli/test/unit/commands/deposit.test.ts
  packages/lodestar/src/eth1/wallet.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  yarn.lock
Labels: BeaconChain

#623 Cayman/update deposit script
  packages/lodestar/src/eth1/options.ts
  packages/lodestar/src/eth1/wallet.ts
Labels: BeaconChain

#627 Fix bls-wasm exception handling
  packages/bls/package.json
  yarn.lock
Labels: BLS
