Repository ChainSafe/lodestar, pull requests merged in 2020-10, with the labels that each got.

#1616 Error logger formatting - proposal 2
  packages/lodestar-fork-choice/src/forkChoice/errors.ts
  packages/lodestar-fork-choice/src/protoArray/errors.ts
  packages/lodestar-utils/package.json
  packages/lodestar-utils/src/errors.ts
  packages/lodestar-utils/src/json.ts
  packages/lodestar-utils/src/logger/format.ts
  packages/lodestar-utils/src/logger/interface.ts
  packages/lodestar-utils/src/logger/winston.ts
  packages/lodestar-utils/test/unit/json.test.ts
  packages/lodestar-utils/test/unit/logger/format.test.ts
  packages/lodestar-utils/test/unit/logger/winston.test.ts
  packages/lodestar/src/chain/errors/attestationError.ts
  packages/lodestar/src/chain/errors/blockError.ts
  packages/lodestar/src/eth1/jsonRpcHttpClient.ts
  yarn.lock
Labels: Eth1

#1621 Remove unnecessary dependency to lodestar-utils file structure
  packages/lodestar-cli/src/options/beaconNodeOptions/logger.ts
  packages/lodestar-spec-test-util/src/multi.ts
  packages/lodestar-spec-test-util/src/single.ts
  packages/lodestar-spec-test-util/src/util.ts
  packages/lodestar-spec-test-util/test/e2e/single/index.test.ts
  packages/lodestar-utils/src/index.ts
  packages/lodestar-utils/src/nodejs/index.ts
  packages/lodestar-utils/src/nodejs/yaml.ts
  packages/lodestar-validator/src/api/impl/rest/apiClient.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/impl/rest/node/node.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/options.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/util/httpClient.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/utils/logger.ts
  packages/lodestar/src/api/rest/controllers/node/getNetworkIdentity.ts
  packages/lodestar/src/api/rest/controllers/node/getPeer.ts
  packages/lodestar/src/api/rest/controllers/node/getPeers.ts
  packages/lodestar/src/chain/attestation/pool.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/db/controller/impl/level.ts
  packages/lodestar/src/metrics/beacon.ts
  packages/lodestar/src/metrics/server/http.ts
  packages/lodestar/src/network/encoders/request.ts
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/node/loggerOptions.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/initial/interface.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/metrics/beacon.test.ts
  packages/lodestar/test/unit/metrics/server/http.test.ts
  packages/lodestar/test/unit/network/encoders/request.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/utils/logger.ts
Labels: Api, CLI, Network, StateTransition, Validator

#1623 lodestar/chain proof read: cosmetic changes
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/stats/rate.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/src/sync/utils/robin.ts
Labels: Network

#1547 Add state regenerator
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/attestation/processor.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/clock/LocalClock.ts
  packages/lodestar/src/chain/clock/interface.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/regen/errors.ts
  packages/lodestar/src/chain/regen/index.ts
  packages/lodestar/src/chain/regen/interface.ts
  packages/lodestar/src/chain/regen/queued.ts
  packages/lodestar/src/chain/regen/regen.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/gossip/validation/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/validation/attestation.ts
  packages/lodestar/src/network/gossip/validation/block.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/util/queue.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/chain/attestation/processor.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/network/gossip/utils.test.ts
  packages/lodestar/test/unit/network/gossip/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/validation/attestation.test.ts
  packages/lodestar/test/unit/network/gossip/validation/block.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/unit/util/queue.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Api, Network

#1626 cli test fix
  packages/lodestar-cli/test/e2e/account.test.ts
Labels: CLI

#1609 Error logger formatting
  packages/lodestar-fork-choice/src/forkChoice/errors.ts
  packages/lodestar-fork-choice/src/protoArray/errors.ts
  packages/lodestar-utils/package.json
  packages/lodestar-utils/src/errors.ts
  packages/lodestar-utils/src/index.ts
  packages/lodestar-utils/src/json.ts
  packages/lodestar-utils/src/logger/format.ts
  packages/lodestar-utils/src/logger/interface.ts
  packages/lodestar-utils/src/logger/winston.ts
  packages/lodestar-utils/test/unit/json.test.ts
  packages/lodestar-utils/test/unit/logger/format.test.ts
  packages/lodestar-utils/test/unit/logger/winston.test.ts
  packages/lodestar/src/chain/errors/attestationError.ts
  packages/lodestar/src/chain/errors/blockError.ts
  packages/lodestar/src/eth1/jsonRpcHttpClient.ts
  yarn.lock
Labels: Eth1, Status: Needs Review

#1632 Add proper source map support for Typescript
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/index.ts
  yarn.lock
Labels: CLI

#1628 Add retry on large eth1 requests
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
  packages/lodestar/src/eth1/eth1JsonRpcClient.ts
  packages/lodestar/src/eth1/eth1Provider.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/eth1/jsonRpcHttpClient.ts
  packages/lodestar/src/util/chunkify.ts
  packages/lodestar/src/util/retry.ts
  packages/lodestar/test/e2e/eth1/eth1JsonRpcClient.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/util/chunkify.test.ts
  packages/lodestar/test/unit/util/retry.test.ts
Labels: Eth1

#1636 Force exit after graceful shutdown cleanup
  packages/lodestar-cli/src/util/process.ts
Labels: CLI

#1634 Better name for graceful shutdown handler
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/util/process.ts
Labels: CLI

#1630 Unify validator event emitter and slight type correction
  packages/lodestar-cli/src/cmds/dev/utils/validator.ts
  packages/lodestar-validator/src/api/LocalClock.ts
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/api/impl/rest/events/events.ts
  packages/lodestar-validator/src/api/impl/rest/events/util.ts
  packages/lodestar-validator/src/api/interface.ts
  packages/lodestar-validator/src/api/interface/clock.ts
  packages/lodestar-validator/src/api/interface/events.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/types.ts
  packages/lodestar-validator/test/unit/api/rcpClientOverInstance.test.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/utils/apiStub.ts
  packages/lodestar/test/utils/node/validator.ts
Labels: CLI, Validator

#1620 Update validator event handling
  packages/lodestar-validator/src/api/LocalClock.ts
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/api/impl/rest/events/events.ts
  packages/lodestar-validator/src/api/impl/rest/events/types.ts
  packages/lodestar-validator/src/api/impl/rest/events/util.ts
  packages/lodestar-validator/src/api/interface.ts
  packages/lodestar-validator/src/api/interface/clock.ts
  packages/lodestar-validator/src/api/interface/events.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/types.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/unit/api/rcpClientOverInstance.test.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/utils/apiStub.ts
  packages/lodestar/src/api/impl/events/events.ts
Labels: Api, CLI, Validator

#1541 Migrate to libp2p 0.29
  package.json
  packages/lodestar-cli/package.json
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/node/node.ts
  packages/lodestar/src/network/gossip/errors.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/gossip/validation/aggregateAndProof.test.ts
  packages/lodestar/test/utils/mocks/gossipsub.ts
  packages/lodestar/test/utils/node/beacon.ts
  yarn.lock
Labels: Api, CLI, Eth1, Network, Validator

#1643 lodestar-cli: --testnet zinken
  .gitignore
  packages/lodestar-cli/src/options/globalOptions.ts
  packages/lodestar-cli/src/testnets/index.ts
  packages/lodestar-cli/src/testnets/zinken.ts
Labels: Api, CLI, Network, Validator

#1650 sync: chain.getHeadBlock => chain.forkChoice.getHead
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/sync/sync.test.ts
Labels: Network

#1618 Regular sync: Handle empty range and avoid listening to gossip blocks
  packages/lodestar/src/network/peers/score/simpleRpcScore.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/sync.ts
Labels: Network

#1652 Fix error response message printing
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/encoders/response.test.ts
Labels: Network

#1561 Gossip Validation Spec Compliance
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/network/gossip/validation/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/validation/attestation.ts
  packages/lodestar/src/network/gossip/validation/block.ts
  packages/lodestar/src/network/gossip/validation/utils/hasValidAttestationSlot.ts
  packages/lodestar/test/unit/network/gossip/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/validation/attestation.test.ts
  packages/lodestar/test/unit/network/gossip/validation/block.test.ts
Labels: Api, CLI, Network

#1654 Move lodestar/src/db into its own module
  .gitignore
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/cmds/validator/utils/interop/validator.ts
  packages/lodestar-db/.babelrc
  packages/lodestar-db/LICENSE
  packages/lodestar-db/README.md
  packages/lodestar-db/package.json
  packages/lodestar-db/src/abstractRepository.ts
  packages/lodestar-db/src/controller/impl/level.ts
  packages/lodestar-db/src/controller/index.ts
  packages/lodestar-db/src/controller/interface.ts
  packages/lodestar-db/src/databaseService.ts
  packages/lodestar-db/src/index.ts
  packages/lodestar-db/src/schema.ts
  packages/lodestar-db/test/unit/controller/level.test.ts
  packages/lodestar-db/test/unit/schema.test.ts
  packages/lodestar-db/tsconfig.build.json
  packages/lodestar-db/tsconfig.json
  packages/lodestar-validator/src/db/index.ts
  packages/lodestar-validator/src/db/validatorDb.ts
  packages/lodestar/package.json
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/repositories/aggregateAndProof.ts
  packages/lodestar/src/db/api/beacon/repositories/attestation.ts
  packages/lodestar/src/db/api/beacon/repositories/attesterSlashing.ts
  packages/lodestar/src/db/api/beacon/repositories/badBlock.ts
  packages/lodestar/src/db/api/beacon/repositories/block.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts
  packages/lodestar/src/db/api/beacon/repositories/depositDataRoot.ts
  packages/lodestar/src/db/api/beacon/repositories/depositEvent.ts
  packages/lodestar/src/db/api/beacon/repositories/eth1Data.ts
  packages/lodestar/src/db/api/beacon/repositories/index.ts
  packages/lodestar/src/db/api/beacon/repositories/proposerSlashing.ts
  packages/lodestar/src/db/api/beacon/repositories/stateArchive.ts
  packages/lodestar/src/db/api/beacon/repositories/voluntaryExit.ts
  packages/lodestar/src/db/api/index.ts
  packages/lodestar/src/db/api/validator/interface.ts
  packages/lodestar/src/db/index.ts
  packages/lodestar/src/eth1/eth1DepositsCache.ts
  packages/lodestar/src/eth1/utils/deposits.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/db/api/validator/attestation.test.ts
  packages/lodestar/test/e2e/eth1/eth1ForBlockProduction.test.ts
  packages/lodestar/test/unit/db/api/beacon.test.ts
  packages/lodestar/test/unit/db/api/repositories/blockArchive.test.ts
  packages/lodestar/test/unit/db/api/repository.test.ts
  packages/lodestar/test/unit/db/api/validator.test.ts
  packages/lodestar/test/utils/db.ts
  packages/lodestar/test/utils/node/validator.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
  yarn.lock
Labels: CLI, Eth1, Validator

#1674 Use min-max surround to optimize slashing protection
  packages/lodestar-db/src/schema.ts
  packages/lodestar-types/src/ssz/generators/validator.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/validator.ts
  packages/lodestar-validator/src/db/index.ts
  packages/lodestar-validator/src/db/interface.ts
  packages/lodestar-validator/src/db/validatorDb.ts
  packages/lodestar-validator/src/index.ts
  packages/lodestar-validator/src/slashingProtection/attestation/checkAndInsertAttestation.ts
  packages/lodestar-validator/src/slashingProtection/attestation/dbRepository.ts
  packages/lodestar-validator/src/slashingProtection/attestation/errors.ts
  packages/lodestar-validator/src/slashingProtection/attestation/index.ts
  packages/lodestar-validator/src/slashingProtection/attestation/service.ts
  packages/lodestar-validator/src/slashingProtection/block/checkAndInsertBlockProposal.ts
  packages/lodestar-validator/src/slashingProtection/block/dbRepository.ts
  packages/lodestar-validator/src/slashingProtection/block/index.ts
  packages/lodestar-validator/src/slashingProtection/block/service.ts
  packages/lodestar-validator/src/slashingProtection/index.ts
  packages/lodestar-validator/src/slashingProtection/interchange/formats/completeV4.ts
  packages/lodestar-validator/src/slashingProtection/interchange/index.ts
  packages/lodestar-validator/src/slashingProtection/manager.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/dbRepository.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/errors.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/index.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/interface.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/minMaxSurround.ts
  packages/lodestar-validator/src/slashingProtection/utils.ts
  packages/lodestar-validator/test/e2e/slashing-protection-interchange-tests/run.test.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/unit/slashingProtection/interchange/index.test.ts
  packages/lodestar-validator/test/unit/slashingProtection/minMaxSurround/surroundTests.test.ts
  packages/lodestar-validator/test/unit/slashingProtection/minMaxSurround/updateSpans.test.ts
  packages/lodestar-validator/test/unit/slashingProtection/minMaxSurround/utils.ts
  packages/lodestar-validator/test/unit/validator.test.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/utils/node/validator.ts
Labels: Types, Validator

#1677 Add slashing protection and interchange format
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/cmds/validator/utils/interop/validator.ts
  packages/lodestar-db/src/controller/impl/level.ts
  packages/lodestar-db/src/schema.ts
  packages/lodestar-types/src/ssz/generators/validator.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/validator.ts
  packages/lodestar-validator/package.json
  packages/lodestar-validator/src/db/index.ts
  packages/lodestar-validator/src/db/interface.ts
  packages/lodestar-validator/src/db/validatorDb.ts
  packages/lodestar-validator/src/index.ts
  packages/lodestar-validator/src/options.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/slashingProtection/attestation/dbRepository.ts
  packages/lodestar-validator/src/slashingProtection/attestation/errors.ts
  packages/lodestar-validator/src/slashingProtection/attestation/index.ts
  packages/lodestar-validator/src/slashingProtection/attestation/service.ts
  packages/lodestar-validator/src/slashingProtection/block/dbRepository.ts
  packages/lodestar-validator/src/slashingProtection/block/errors.ts
  packages/lodestar-validator/src/slashingProtection/block/index.ts
  packages/lodestar-validator/src/slashingProtection/block/service.ts
  packages/lodestar-validator/src/slashingProtection/index.ts
  packages/lodestar-validator/src/slashingProtection/interchange/errors.ts
  packages/lodestar-validator/src/slashingProtection/interchange/formats/completeV4.ts
  packages/lodestar-validator/src/slashingProtection/interchange/index.ts
  packages/lodestar-validator/src/slashingProtection/interchange/types.ts
  packages/lodestar-validator/src/slashingProtection/interface.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/dbRepository.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/errors.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/index.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/interface.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/minMaxSurround.ts
  packages/lodestar-validator/src/slashingProtection/utils.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/e2e/slashing-protection-interchange-tests/run.test.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/unit/slashingProtection/interchange/index.test.ts
  packages/lodestar-validator/test/unit/slashingProtection/minMaxSurround/surroundTests.test.ts
  packages/lodestar-validator/test/unit/slashingProtection/minMaxSurround/updateSpans.test.ts
  packages/lodestar-validator/test/unit/slashingProtection/minMaxSurround/utils.ts
  packages/lodestar-validator/test/unit/validator.test.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/utils/node/validator.ts
  yarn.lock
Labels: CLI, Types, Validator

#1679 Review / Add slashing protection and interchange format
  packages/lodestar-validator/src/slashingProtection/attestation/attestationByTargetRepository.ts
  packages/lodestar-validator/src/slashingProtection/attestation/attestationLowerBoundRepository.ts
  packages/lodestar-validator/src/slashingProtection/attestation/index.ts
  packages/lodestar-validator/src/slashingProtection/attestation/service.ts
  packages/lodestar-validator/src/slashingProtection/block/blockBySlotRepository.ts
  packages/lodestar-validator/src/slashingProtection/block/index.ts
  packages/lodestar-validator/src/slashingProtection/block/service.ts
  packages/lodestar-validator/src/slashingProtection/interchange/index.ts
  packages/lodestar-validator/src/slashingProtection/interchange/parseInterchange.ts
  packages/lodestar-validator/src/slashingProtection/interchange/serializeInterchange.ts
  packages/lodestar-validator/src/slashingProtection/interchange/types.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/distanceStoreRepository.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/index.ts
Labels: Validator

#1658 Restructuring gossip validation errors
  packages/lodestar/src/chain/attestation/validate.ts
  packages/lodestar/src/chain/errors/attestationError.ts
  packages/lodestar/src/chain/errors/blockError.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/network/gossip/validation/aggregateAndProof.ts
  packages/lodestar/src/network/gossip/validation/attestation.ts
  packages/lodestar/src/network/gossip/validation/attesterSlashing.ts
  packages/lodestar/src/network/gossip/validation/block.ts
  packages/lodestar/src/network/gossip/validation/proposerSlashing.ts
  packages/lodestar/src/network/gossip/validation/utils/hasValidAttestationSlot.ts
  packages/lodestar/src/network/gossip/validation/voluntaryExit.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/unit/chain/attestation/validate.test.ts
  packages/lodestar/test/unit/network/gossip/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/gossip/validation/attestation.test.ts
  packages/lodestar/test/unit/network/gossip/validation/attesterSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/validation/block.test.ts
  packages/lodestar/test/unit/network/gossip/validation/proposerSlashing.test.ts
  packages/lodestar/test/unit/network/gossip/validation/voluntaryExit.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
Labels: Network

#1686 Remove cached fork digest in BeaconChain
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/emitter.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Network

#1655 Sync: Handle unknown block root event from regular sync
  packages/lodestar/src/chain/blocks/pool.ts
  packages/lodestar/src/chain/blocks/util.ts
  packages/lodestar/src/chain/emitter.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/tasks/checkPeerAliveTask.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/chain/blocks/pool.test.ts
  packages/lodestar/test/unit/chain/blocks/util.test.ts
  packages/lodestar/test/unit/network/tasks/checkPeerAliveTask.test.ts
  packages/lodestar/test/unit/sync/sync.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Network

#1687 Use ChainEvent enum
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/events/events.ts
  packages/lodestar/src/api/impl/events/handlers.ts
  packages/lodestar/src/chain/attestation/process.ts
  packages/lodestar/src/chain/attestation/processor.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/clock/LocalClock.ts
  packages/lodestar/src/chain/emitter.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/forkChoice/store.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/stats/stats.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/test/e2e/multiNodeMultiThread.test.ts
  packages/lodestar/test/e2e/multiNodeSingleThread.test.ts
  packages/lodestar/test/e2e/singleNodeSingleThread.test.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/unit/api/impl/events/events.test.ts
  packages/lodestar/test/unit/chain/attestation/process.test.ts
  packages/lodestar/test/unit/chain/clock/local.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
Labels: Api, Network

#1691 Fix ChainEvent import
  packages/lodestar/src/sync/gossip/handler.ts
Labels: Network

#1689 Handle request timeout
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/error.ts
  packages/lodestar/src/network/reqResp.ts
Labels: Network

#1699 Avoid finding same root at the same time
  packages/lodestar/src/sync/sync.ts
Labels: Network

#1694 FileENR
  packages/lodestar-cli/.mocharc.yaml
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/beacon/paths.ts
  packages/lodestar-cli/src/network/enr.ts
  packages/lodestar-cli/src/network/fileEnr.ts
  packages/lodestar-cli/test/constants.ts
  packages/lodestar-cli/test/e2e/account.test.ts
  packages/lodestar-cli/test/e2e/setup.ts
  packages/lodestar-cli/test/unit/network/fileEnr.test.ts
Labels: CLI

#1704 remove maxblocksPerChunk from fetchBlockChunks
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1709 move gossip validation functions to chain and use them in api
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/chain/validation/attesterSlashing.ts
  packages/lodestar/src/chain/validation/block.ts
  packages/lodestar/src/chain/validation/index.ts
  packages/lodestar/src/chain/validation/proposerSlashing.ts
  packages/lodestar/src/chain/validation/utils/index.ts
  packages/lodestar/src/chain/validation/utils/signature.ts
  packages/lodestar/src/chain/validation/voluntaryExit.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/unit/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/chain/validation/attestation.test.ts
  packages/lodestar/test/unit/chain/validation/attesterSlashing.test.ts
  packages/lodestar/test/unit/chain/validation/block.test.ts
  packages/lodestar/test/unit/chain/validation/proposerSlashing.test.ts
  packages/lodestar/test/unit/chain/validation/voluntaryExit.test.ts
Labels: Api, Network

#1706 Split long e2e tests
  .github/workflows/test.yml
  package.json
  packages/lodestar/package.json
  packages/lodestar/test/.gitignore
  packages/lodestar/test/sim/multiNodeMultiThread.test.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
  packages/lodestar/test/sim/singleNodeSingleThread.test.ts
  packages/lodestar/test/sim/threaded/noEth1SimWorker.ts
  packages/lodestar/test/sim/threaded/worker.js
Labels: CI

#1710 Chill out the Stale bot
  .github/stale.yml
Labels: CI

#1685 OneRangeAhead Regular Sync
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/options.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/fetcher.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/interface.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/oneRangeAhead.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/processor.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/fetcher.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/oneRangeAhead.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/processor.test.ts
Labels: Network

#1683 Disconnect useless peers at sync time
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/utils.ts
  packages/lodestar/src/network/tasks/diversifyPeersBySubnetTask.ts
  packages/lodestar/test/unit/network/peers/utils.test.ts
  packages/lodestar/test/unit/network/tasks/diversifyPeersBySubnetTask.test.ts
Labels: Network

#1713 Re-org CI test jobs
  .github/workflows/docs.yml
  .github/workflows/spec-test.yml
  .github/workflows/test.yml
  package.json
  scripts/free-disk-space.sh
Labels: CI

#1702 Use validator balances of justified checkpoint for forkchoice
  packages/lodestar-beacon-state-transition/src/fast/epoch/index.ts
  packages/lodestar-beacon-state-transition/src/fast/index.ts
  packages/lodestar-beacon-state-transition/src/fast/slot/index.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochProcess.ts
  packages/lodestar-beacon-state-transition/src/fast/util/index.ts
  packages/lodestar-fork-choice/src/forkChoice/forkChoice.ts
  packages/lodestar-fork-choice/src/forkChoice/interface.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/regen/regen.ts
  packages/lodestar/src/db/api/beacon/stateContextCache.ts
  packages/lodestar/src/db/api/beacon/stateContextCheckpointsCache.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/spec-test-runner/test/spec/finality/finality_fast.test.ts
  packages/spec-test-runner/test/spec/sanity/blocks/sanity_blocks_fast.test.ts
Labels: StateTransition
