Repository ChainSafe/lodestar, pull requests merged in 2020-11, with the labels that each got.

#1724 Avoid importing lodestar-cli from itself
  packages/lodestar-cli/src/cmds/account/cmds/validator/list.ts
  packages/lodestar-cli/src/config/beaconParams.ts
Labels: CLI

#1717 Use single validator instance for all keypairs
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/cmds/validator/paths.ts
Labels: CLI

#1673 Response sent feedback
  packages/lodestar-validator/package.json
  packages/lodestar-validator/tsconfig.build.json
  packages/lodestar-validator/tsconfig.json
  packages/lodestar-validator/types/any-signal/index.d.ts
  packages/lodestar/package.json
  packages/lodestar/src/network/index.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/reqresp/index.ts
  packages/lodestar/src/network/reqresp/interface.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/reqUtils.ts
  packages/lodestar/src/network/reqresp/respUtils.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/reqResp/interface.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/peers/utils.test.ts
  packages/lodestar/test/unit/network/reqresp/reqResp.test.ts
  packages/lodestar/test/unit/network/tasks/checkPeerAliveTask.test.ts
  packages/lodestar/test/unit/network/tasks/diversifyPeersBySubnetTask.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  yarn.lock
Labels: Network, Validator

#1722 Do not pass gossip aggregate and proof attestation to chain
  packages/lodestar/src/sync/gossip/handler.ts
Labels: Network

#1712 Only subscribe to validator topics when node is synced
  packages/lodestar/src/db/api/beacon/stateContextCheckpointsCache.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/gossip/interface.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
Labels: Network

#1707 Refactor node initialization
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/beacon/initBeaconState.ts
  packages/lodestar-cli/src/cmds/beacon/util.ts
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/clock/interface.ts
  packages/lodestar/src/chain/emitter.ts
  packages/lodestar/src/chain/forkChoice/forkChoice.ts
  packages/lodestar/src/chain/forkChoice/index.ts
  packages/lodestar/src/chain/index.ts
  packages/lodestar/src/chain/initState.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/depositDataRoot.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/node/utils/state.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
  packages/lodestar/test/sim/singleNodeSingleThread.test.ts
  packages/lodestar/test/sim/threaded/noEth1SimWorker.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/node/beacon.ts
Labels: Api, CLI

#1731 get genesisStateFileUrl if testnet arg is passed to beacon
  packages/lodestar-cli/src/cmds/beacon/initBeaconState.ts
Labels: CLI

#1729 set enr to options.network.discv5.enr before starting node
  packages/lodestar-cli/src/cmds/beacon/handler.ts
Labels: CLI

#1716 Add slashing protection interchange import / export cmds
  packages/lodestar-cli/src/cmds/account/cmds/validator/index.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/export.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/index.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/options.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/utils.ts
  packages/lodestar-cli/src/cmds/validator/options.ts
  packages/lodestar-cli/src/util/file.ts
  packages/lodestar-db/src/schema.ts
  packages/lodestar-validator/src/slashingProtection/attestation/attestationByTargetRepository.ts
  packages/lodestar-validator/src/slashingProtection/attestation/service.ts
  packages/lodestar-validator/src/slashingProtection/block/blockBySlotRepository.ts
  packages/lodestar-validator/src/slashingProtection/block/service.ts
  packages/lodestar-validator/src/slashingProtection/index.ts
  packages/lodestar-validator/src/slashingProtection/utils.ts
Labels: CLI, Validator

#1743 fix slashingProtection reference
  packages/lodestar-cli/test/unit/config/fileEnr.test.ts
  packages/lodestar-validator/src/slashingProtection/index.ts
Labels: CLI, Validator

#1740 Update attester duties endpoint
  packages/lodestar-types/src/ssz/generators/api.ts
  packages/lodestar-types/src/types/api.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/utils.ts
  packages/lodestar-validator/src/util/httpClient.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/controllers/validator/duties/attesterDuties.ts
  packages/lodestar/src/api/rest/controllers/validator/duties/index.ts
  packages/lodestar/src/api/rest/controllers/validator/index.ts
  packages/lodestar/src/api/rest/routes/index.ts
  packages/lodestar/src/api/rest/routes/validator/duties/attester.ts
  packages/lodestar/src/api/rest/routes/validator/index.ts
  packages/lodestar/src/chain/factory/duties/index.ts
  packages/lodestar/test/unit/api/rest/validator/attesterDuties.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/chain/factory/duties/assembleValidatorDuty.test.ts
  packages/lodestar/test/utils/cliMetrics.ts
Labels: Api, Types, Validator

#1737 Rest API state endpoints
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-types/src/ssz/generators/api.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/ssz/utils/index.ts
  packages/lodestar-types/src/ssz/utils/string.ts
  packages/lodestar-types/src/types/api.ts
  packages/lodestar-types/test/unit/consistency.test.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/state.ts
  packages/lodestar-validator/src/api/interface/beacon.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/utils/apiStub.ts
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/beacon/interface.ts
  packages/lodestar/src/api/impl/beacon/state/interface.ts
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/src/api/impl/errors/api.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getBeaconCommittees.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFinalityCheckpoints.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFork.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidator.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidators.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidatorsBalances.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/index.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/api/rest/routes/beacon/index.ts
  packages/lodestar/src/api/rest/routes/beacon/validator.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/publishBlock.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/fork.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/state.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/stateValidators.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/utils.test.ts
  packages/lodestar/test/unit/api/impl/beacon/validator.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getBeaconCommittees.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidator.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidators.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidatorsBalances.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/utils/stub/beaconApi.ts
Labels: Api, StateTransition, Types, Validator

#1742 reqResp cleanups
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/reqUtils.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
Labels: Network

#1765 turning on test/ linting for all monorepo packages except lodestar and lodetar-beacon-state-transition
  packages/benchmark-utils/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-types/test/unit/consistency.test.ts
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/spec/bls/aggregate_sigs_verify.test.ts
  packages/spec-test-runner/test/spec/bls/fast_aggregate_verify.test.ts
  packages/spec-test-runner/test/spec/bls/verify.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/finalUpdates/final_updates_fast.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/finalUpdates/final_updates_mainnet.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/finalUpdates/final_updates_minimal.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/justification/justification_and_finalization_fast.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/justification/justification_and_finalization_mainnet.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/justification/justification_and_finalization_minimal.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/registryUpdates/registry_updates_fast.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/registryUpdates/registry_updates_mainnet.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/registryUpdates/registry_updates_minimal.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/rewardsAndPenalties/rewards_and_penalties_fast.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/rewardsAndPenalties/rewards_and_penalties_minimal.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/slashings/slashings_fast.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/slashings/slashings_mainnet.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/slashings/slashings_minimal.test.ts
  packages/spec-test-runner/test/spec/finality/type.ts
  packages/spec-test-runner/test/spec/genesis/initialization/genesis_initialization_minimal.test.ts
  packages/spec-test-runner/test/spec/operations/attestations/attestations_fast.test.ts
  packages/spec-test-runner/test/spec/operations/attestations/type.ts
  packages/spec-test-runner/test/spec/operations/deposit/deposit_fast.test.ts
  packages/spec-test-runner/test/spec/operations/deposit/deposit_mainnet.test.ts
  packages/spec-test-runner/test/spec/operations/deposit/deposit_minimal.test.ts
  packages/spec-test-runner/test/spec/operations/deposit/type.ts
  packages/spec-test-runner/test/spec/operations/proposerSlashing/proposer_slashing_fast.test.ts
  packages/spec-test-runner/test/spec/operations/voluntaryExit/voluntary_exit_fast.test.ts
  packages/spec-test-runner/test/spec/sanity/blocks/type.ts
  packages/spec-test-runner/test/spec/sanity/slots/sanity_slots_fast.test.ts
  packages/spec-test-runner/test/spec/sanity/slots/sanity_slots_mainnet.test.ts
  packages/spec-test-runner/test/spec/sanity/slots/sanity_slots_minimal.test.ts
  packages/spec-test-runner/test/spec/sanity/slots/type.ts
  packages/spec-test-runner/test/spec/shuffling/shuffling_fast.test.ts
  packages/spec-test-runner/test/spec/shuffling/shuffling_mainnet.test.ts
  packages/spec-test-runner/test/spec/shuffling/shuffling_minimal.test.ts
  packages/spec-test-runner/test/spec/shuffling/type.ts
  packages/spec-test-runner/test/spec/ssz/util/testCases.ts
  packages/spec-test-runner/test/utils/specTestTypes/beaconStateComparison.ts
  packages/spec-test-runner/test/utils/specTestTypes/genesis.ts
  packages/spec-test-runner/test/utils/specTestTypes/shufflingCase.ts
  packages/spec-test-runner/test/utils/specTestTypes/stateTestCase.ts
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#1749 check for db and/or passed-in genesisStateFile before downloading testnet genesis.ssz
  packages/lodestar-cli/src/cmds/beacon/initBeaconState.ts
Labels: CLI

#1756 Update block production api
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/blocks.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/beacon.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/utils/apiStub.ts
  packages/lodestar-validator/test/utils/mocks/beacon.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/controllers/validator/index.ts
  packages/lodestar/src/api/rest/controllers/validator/produceBlock.ts
  packages/lodestar/src/api/rest/routes/validator/index.ts
  packages/lodestar/src/api/rest/routes/validator/produceBlock.ts
  packages/lodestar/src/api/rest/routes/validator/publishBlock.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/api/rest/validator/produceBlock.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
Labels: Api, Validator

#1752 allow bigints in logger and apply to onGoodbye log message
  packages/lodestar-utils/package.json
  packages/lodestar-utils/src/logger/interface.ts
  packages/lodestar-utils/test/unit/logger/winston.test.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  yarn.lock
Labels: Network

#1768 Update attester api
  packages/lodestar-beacon-state-transition/src/util/attestation.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/abstract.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/beacon.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/blocks.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/pool.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/state.ts
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/beacon.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/utils.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/utils/apiStub.ts
  packages/lodestar-validator/test/utils/mocks/beacon.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar/src/api/impl/beacon/pool/pool.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/publishBlock.ts
  packages/lodestar/src/api/rest/controllers/validator/index.ts
  packages/lodestar/src/api/rest/controllers/validator/prepareCommitteeSubnet.ts
  packages/lodestar/src/api/rest/controllers/validator/produceAggregatedAttestation.ts
  packages/lodestar/src/api/rest/controllers/validator/produceAttestationData.ts
  packages/lodestar/src/api/rest/controllers/validator/publishAggregateAndProof.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/api/rest/routes/validator/getWireAttestations.ts
  packages/lodestar/src/api/rest/routes/validator/index.ts
  packages/lodestar/src/api/rest/routes/validator/produceAggregatedAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/produceAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/publishAggregateAndProof.ts
  packages/lodestar/src/api/rest/routes/validator/publishAttestation.ts
  packages/lodestar/src/api/rest/routes/validator/subscribeToCommitteeSubnet.ts
  packages/lodestar/src/chain/factory/attestation/index.ts
  packages/lodestar/src/db/api/beacon/repositories/attestation.ts
  packages/lodestar/test/unit/api/impl/beacon/pool/pool.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAggregateAndProof.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAttestationData.test.ts
  packages/lodestar/test/unit/api/rest/validator/index.test.ts
  packages/lodestar/test/unit/api/rest/validator/prepareCommitteeSubnet.test.ts
  packages/lodestar/test/unit/api/rest/validator/produceAggregatedAttestation.test.ts
  packages/lodestar/test/unit/api/rest/validator/produceAttestationData.test.ts
  packages/lodestar/test/unit/chain/factory/attestation/index.test.ts
Labels: Api, StateTransition, Validator

#1766 Pin nodejs version in docs workflow
  .github/workflows/docs.yml
Labels: CI

#1769 readable goodbye reason codes
  packages/lodestar/src/sync/reqResp/reqResp.ts
Labels: Network

#1763 add metrics.listenAddr option
  packages/lodestar-cli/src/options/beaconNodeOptions/metrics.ts
  packages/lodestar-cli/test/unit/options/beaconNodeOptions.test.ts
  packages/lodestar/src/metrics/options.ts
  packages/lodestar/src/metrics/server/http.ts
Labels: CLI

#1778 Update gossipsub
  packages/lodestar/package.json
  packages/lodestar/src/network/gossip/constants.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  yarn.lock
Labels: Network

#1780 Update discv5 to 0.5.0
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/options/beaconNodeOptions/network.ts
  packages/lodestar/package.json
  packages/lodestar/src/network/options.ts
  packages/lodestar/test/utils/node/beacon.ts
  yarn.lock
Labels: CLI, Network

#1781 Update gossipsub #1778 - review comments
  packages/lodestar/src/network/gossip/constants.ts
  packages/lodestar/src/network/gossip/encoding.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
Labels: Network

#1790 Add pyrmont testnet flag
  packages/lodestar-cli/src/testnets/index.ts
  packages/lodestar-cli/src/testnets/pyrmont.ts
Labels: CLI

#1755 expand default object case for lodestar-utils toJson
  packages/lodestar-utils/src/json.ts
  packages/lodestar-utils/src/objects.ts
  packages/lodestar-utils/test/unit/json.test.ts
Labels: Network

#1791 lodestar-cli comments/documentation
  packages/lodestar-cli/README.md
  packages/lodestar-cli/src/cli.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/index.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/utils.ts
  packages/lodestar-cli/src/cmds/beacon/paths.ts
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar-cli/src/cmds/init/handler.ts
  packages/lodestar-cli/src/paths/global.ts
  packages/lodestar-cli/src/util/file.ts
  packages/lodestar-cli/src/util/passphrase.ts
Labels: CLI

#1796 Type checking
  .github/workflows/test.yml
  package.json
  packages/lodestar/src/sync/regular/oneRangeAhead/interface.ts
Labels: CI, Network

#1795 Improve some spec tests using TreeBacked
  packages/spec-test-runner/test/spec/finality/finality_fast.test.ts
  packages/spec-test-runner/test/spec/sanity/blocks/sanity_blocks_fast.test.ts
  packages/spec-test-runner/test/spec/sanity/slots/sanity_slots_fast.test.ts
Labels: StateTransition

#1788 Phase1 types and params
  .eslintrc.js
  packages/lodestar-cli/src/config/beaconParams.ts
  packages/lodestar-params/package.json
  packages/lodestar-params/src/beaconParams.ts
  packages/lodestar-params/src/index.ts
  packages/lodestar-params/src/interface.ts
  packages/lodestar-params/src/phase1/index.ts
  packages/lodestar-params/src/phase1/interface.ts
  packages/lodestar-params/src/phase1/presets/mainnet.yaml
  packages/lodestar-params/src/phase1/presets/minimal.yaml
  packages/lodestar-params/src/phase1/ssz.ts
  packages/lodestar-params/src/presets/mainnet.ts
  packages/lodestar-params/src/presets/minimal.ts
  packages/lodestar-params/src/utils.ts
  packages/lodestar-params/test/unit/phase0.test.ts
  packages/lodestar-params/test/unit/phase1.test.ts
  packages/lodestar-params/tsconfig.build.json
  packages/lodestar-params/tsconfig.json
  packages/lodestar-types/src/ssz/generators/index.ts
  packages/lodestar-types/src/ssz/generators/phase1/beacon.ts
  packages/lodestar-types/src/ssz/generators/phase1/custody.ts
  packages/lodestar-types/src/ssz/generators/phase1/index.ts
  packages/lodestar-types/src/ssz/generators/phase1/interface.ts
  packages/lodestar-types/src/ssz/generators/phase1/misc.ts
  packages/lodestar-types/src/ssz/generators/phase1/primitive.ts
  packages/lodestar-types/src/ssz/generators/phase1/shard.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/index.ts
  packages/lodestar-types/src/types/phase1/index.ts
  packages/lodestar-types/src/types/phase1/interface.ts
  packages/lodestar-types/src/types/phase1/types/beacon.ts
  packages/lodestar-types/src/types/phase1/types/custody.ts
  packages/lodestar-types/src/types/phase1/types/index.ts
  packages/lodestar-types/src/types/phase1/types/misc.ts
  packages/lodestar-types/src/types/phase1/types/primitive.ts
  packages/lodestar-types/src/types/phase1/types/shard.ts
  packages/lodestar-types/test/unit/consistency.test.ts
  packages/lodestar-types/test/unit/phase1.test.ts
  packages/spec-test-runner/test/spec/ssz/util/testCases.ts
Labels: CLI, Config, StateTransition, Types

#1794 Run type and code build tasks in parallel
  package.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  yarn.lock
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#1783 Inline config files | Bump spec tests to v1.0.0
  .github/workflows/test-spec.yml
  package.json
  packages/lodestar-params/.babelrc
  packages/lodestar-params/package.json
  packages/lodestar-params/src/presets/mainnet.ts
  packages/lodestar-params/src/presets/mainnet.yaml
  packages/lodestar-params/src/presets/mainnetYaml.ts
  packages/lodestar-params/src/presets/minimal.ts
  packages/lodestar-params/src/presets/minimal.yaml
  packages/lodestar-params/src/presets/minimalYaml.ts
  packages/lodestar-params/src/utils.ts
  packages/lodestar-params/test/ensure-config-is-synced.test.ts
  packages/lodestar-types/test/unit/size.test.ts
  packages/lodestar/test/e2e/chain/genesis/genesis.test.ts
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/downloadTests.ts
  packages/spec-test-runner/test/spec/bls/aggregate_sigs.test.ts
  packages/spec-test-runner/test/spec/bls/aggregate_sigs_verify.test.ts
  packages/spec-test-runner/test/spec/bls/fast_aggregate_verify.test.ts
  packages/spec-test-runner/test/spec/bls/sign.test.ts
  packages/spec-test-runner/test/spec/bls/verify.test.ts
  packages/spec-test-runner/test/spec/ssz/util/testCases.ts
  packages/spec-test-runner/test/tests/README.md
  packages/spec-test-runner/test/utils/specTestCases.ts
  yarn.lock
Labels: CI, Config, StateTransition, Types

#1801 Remove evil mocha import
  packages/lodestar-spec-test-util/src/multi.ts
  packages/lodestar-spec-test-util/src/single.ts
Labels: StateTransition

#1786 Initial Sync: do not import orphaned blocks
  packages/lodestar/src/sync/options.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
Labels: Network

#1803 Update params
  packages/lodestar-cli/src/testnets/altona.ts
  packages/lodestar-cli/src/testnets/index.ts
  packages/lodestar-cli/src/testnets/medalla.ts
  packages/lodestar-cli/src/testnets/spadina.ts
  packages/lodestar-cli/src/testnets/zinken.ts
  packages/lodestar-cli/test/e2e/cmds/init.test.ts
  packages/lodestar-cli/test/unit/config/beaconNodeOptions.test.ts
  packages/lodestar-cli/test/unit/config/beaconParams.test.ts
  packages/lodestar-cli/test/unit/paths/globalPaths.test.ts
  packages/lodestar-params/src/beaconParams.ts
  packages/lodestar-params/src/constants.ts
  packages/lodestar-params/src/interface.ts
Labels: CLI, Config

#1800 Update bls
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-beacon-state-transition/src/block/operations/deposit.ts
  packages/lodestar-beacon-state-transition/src/block/randao.ts
  packages/lodestar-beacon-state-transition/src/fast/block/isValidIndexedAttestation.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processDeposit.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processProposerSlashing.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processRandao.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processVoluntaryExit.ts
  packages/lodestar-beacon-state-transition/src/fast/util/block.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/account/cmds/validator/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/create.ts
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/cmds/validator/utils/interop/validator.ts
  packages/lodestar-cli/src/depositContract/depositData.ts
  packages/lodestar-cli/src/util/bls.ts
  packages/lodestar-cli/src/util/index.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDir.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirBuilder.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirManager.ts
  packages/lodestar-cli/src/wallet/Wallet.ts
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-validator/package.json
  packages/lodestar-validator/src/interop/keypairs.ts
  packages/lodestar-validator/src/options.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar-validator/test/unit/setup.ts
  packages/lodestar-validator/test/unit/validator.test.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/utils/signature.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/node/utils/interop/deposits.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/setup.ts
  packages/lodestar/test/sim/threaded/noEth1SimWorker.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/utils/node/validator.ts
  packages/lodestar/test/utils/validator.ts
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/mocha-hooks.js
  packages/spec-test-runner/test/spec/bls/aggregate_sigs.test.ts
  packages/spec-test-runner/test/spec/bls/aggregate_sigs_verify.test.ts
  packages/spec-test-runner/test/spec/bls/fast_aggregate_verify.test.ts
  packages/spec-test-runner/test/spec/bls/sign.test.ts
  packages/spec-test-runner/test/spec/bls/verify.test.ts
  yarn.lock
Labels: Api, CLI, StateTransition, Validator

#1806 Setup CLI for mainnet
  .gitignore
  packages/lodestar-cli/src/cmds/init/handler.ts
  packages/lodestar-cli/src/testnets/index.ts
  packages/lodestar-cli/src/testnets/mainnet.ts
Labels: CLI
