Repository ChainSafe/lodestar, pull requests merged in 2020-05, with the labels that each got.

#857 Gossip condition: make seen cache per-epoch instead of per-block
  packages/lodestar-beacon-state-transition/src/util/attestation.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/attestation.test.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/opPool/modules/aggregateAndProof.ts
  packages/lodestar/src/opPool/modules/attestation.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
Labels: BeaconChain

#861 E2e to sync 2 dev nodes
  packages/lodestar-cli/src/commands/dev/command.ts
  packages/lodestar-cli/test/e2e/commands/dev.test.ts
  packages/lodestar-cli/test/e2e/sync.test.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/opPool/modules/attestation.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
Labels: BeaconChain, Validator

#862 Merge opPool and db
  packages/lodestar-cli/src/commands/dev/command.ts
  packages/lodestar-cli/src/lodestar/node/options.ts
  packages/lodestar-cli/src/lodestar/opPool/options.ts
  packages/lodestar-cli/test/e2e/commands/dev.test.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/interface.ts
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/chain/factory/block/deposits.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/abstract.ts
  packages/lodestar/src/db/api/beacon/repositories/aggregateAndProof.ts
  packages/lodestar/src/db/api/beacon/repositories/attestation.ts
  packages/lodestar/src/db/api/beacon/repositories/attesterSlashing.ts
  packages/lodestar/src/db/api/beacon/repositories/depositData.ts
  packages/lodestar/src/db/api/schema.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/node/loggerOptions.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/node/options.ts
  packages/lodestar/src/opPool/index.ts
  packages/lodestar/src/opPool/modules/abstract.ts
  packages/lodestar/src/opPool/modules/aggregateAndProof.ts
  packages/lodestar/src/opPool/modules/attestation.ts
  packages/lodestar/src/opPool/modules/attesterSlashing.ts
  packages/lodestar/src/opPool/modules/depositData.ts
  packages/lodestar/src/opPool/modules/index.ts
  packages/lodestar/src/opPool/modules/proposerSlashing.ts
  packages/lodestar/src/opPool/modules/voluntaryExit.ts
  packages/lodestar/src/opPool/opPool.ts
  packages/lodestar/src/opPool/options.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/opPool/modules/deposit.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAggregateAndProof.test.ts
  packages/lodestar/test/unit/chain/blocks/post.test.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/chain/factory/block/body.test.ts
  packages/lodestar/test/unit/chain/factory/block/deposits.test.ts
  packages/lodestar/test/unit/db/api/beacon.test.ts
  packages/lodestar/test/unit/eth1/impl/ethers.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/unit/opPool/modules/deposit.test.ts
  packages/lodestar/test/unit/opPool/oppool.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/unit/sync/sync.test.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
  packages/lodestar/test/utils/stub.ts
Labels: BeaconChain

#860 Gossip snappy compression
  packages/lodestar/src/network/gossip/constants.ts
  packages/lodestar/src/network/gossip/encoding.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/gossip/utils.test.ts
  packages/lodestar/test/utils/network.ts
Labels: BeaconChain

#866 clear slot counting timeout on disconnect
  packages/lodestar-validator/src/api/abstract.ts
Labels: Validator

#865 Bring back shouldDisconnectOnStatus
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: BeaconChain, Validator

#870 Correct count of beaconBlockByRange
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
Labels: BeaconChain

#868 Fix up eth1 processing
  packages/lodestar-cli/src/commands/beacon.ts
  packages/lodestar-cli/src/commands/dev/command.ts
  packages/lodestar-cli/test/e2e/commands/beacon.test.ts
  packages/lodestar-cli/test/e2e/commands/dev.test.ts
  packages/lodestar-types/src/ssz/generators/misc.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/misc.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/index.ts
  packages/lodestar/src/api/interface.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/chain/factory/block/deposits.ts
  packages/lodestar/src/chain/factory/block/eth1Vote.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/abstract.ts
  packages/lodestar/src/db/api/beacon/repositories/depositDataRoot.ts
  packages/lodestar/src/db/api/beacon/repositories/depositDataRootList.ts
  packages/lodestar/src/db/api/beacon/repositories/eth1Data.ts
  packages/lodestar/src/db/api/beacon/repositories/index.ts
  packages/lodestar/src/db/api/schema.ts
  packages/lodestar/src/eth1/impl/blocks.ts
  packages/lodestar/src/eth1/impl/eth1Vote.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/impl/interop.ts
  packages/lodestar/src/eth1/impl/retryProvider.ts
  packages/lodestar/src/eth1/impl/utils.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/eth1/options.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/chain/factory/block/body.test.ts
  packages/lodestar/test/unit/chain/factory/block/eth1Vote.test.ts
  packages/lodestar/test/unit/eth1/impl/blocks.test.ts
  packages/lodestar/test/unit/eth1/impl/ethers.test.ts
  packages/lodestar/test/unit/eth1/impl/utils.test.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
Labels: BeaconChain

#869 Update ssz to v0.6.4
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  yarn.lock
Labels: BeaconChain, Validator

#879 Fix docs ci
  .github/workflows/docs.yml
Labels: CI

#878 Fixup sync mode for start/stop
  packages/lodestar/src/sync/sync.ts
Labels: BeaconChain

#875 Fix db key sorting, eth1 retry provider
  packages/lodestar-utils/src/bytes.ts
  packages/lodestar/src/db/api/beacon/repositories/depositDataRoot.ts
  packages/lodestar/src/db/api/beacon/repositories/eth1Data.ts
  packages/lodestar/src/db/api/schema.ts
  packages/lodestar/src/eth1/impl/retryProvider.ts
  packages/lodestar/test/unit/db/schema.test.ts
Labels: BeaconChain

#874 fix invalid disconnect and finalized checkpoint
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
Labels: BeaconChain

#881 v0.7.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
Labels: BeaconChain, Benchmarks, Validator

#890 Add option to disable eth1 processing
  packages/lodestar-cli/src/lodecli/cmds/beacon/cmds/run/options/eth1.ts
  packages/lodestar/src/eth1/dev/options.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/options.ts
Labels: BeaconChain

#892 Update libp2p* dependencies
  packages/lodestar/package.json
  packages/lodestar/src/network/nodejs/bundle.ts
  yarn.lock
Labels: BeaconChain

#893 Add bootEnrs cli option
  packages/lodestar-cli/src/lodecli/cmds/beacon/cmds/run/options/network.ts
  packages/lodestar-cli/src/lodecli/cmds/beacon/cmds/run/run.ts
  packages/lodestar/package.json
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  yarn.lock
Labels: BeaconChain

#901 Test block archive ordering
  packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts
  packages/lodestar/test/unit/db/api/repositories/blockArchive.test.ts
Labels: BeaconChain

#905 Harden eth1 tests
  packages/lodestar/package.json
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  yarn.lock
Labels: BeaconChain

#903 Use fixed fork of node-snappy-stream
  packages/lodestar/package.json
  packages/lodestar/src/network/encoders/utils.ts
  packages/lodestar/types/snappy-stream/index.d.ts
  yarn.lock
Labels: BeaconChain

#907 Fix compilation errors
  packages/lodestar/src/network/network.ts
  packages/lodestar/test/unit/network/encoders/snappy-frames/uncompress.test.ts
Labels: BeaconChain

#902 Optimize status req/resp
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/chain/forkChoice/statefulDag.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/utils/headBlockInfo.ts
Labels: BeaconChain

#910 Add state cache
  packages/lodestar-cli/src/lodestar/interop/cli.ts
  packages/lodestar-cli/test/e2e/commands/deposit.test.ts
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/repositories/badBlock.ts
  packages/lodestar/src/db/api/beacon/repositories/block.ts
  packages/lodestar/src/db/api/beacon/repositories/chain.ts
  packages/lodestar/src/db/api/beacon/repositories/index.ts
  packages/lodestar/src/db/api/beacon/repositories/state.ts
  packages/lodestar/src/db/api/beacon/repositories/stateArchive.ts
  packages/lodestar/src/db/api/beacon/stateCache.ts
  packages/lodestar/src/db/api/schema.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/chain/attestation.test.ts
  packages/lodestar/test/unit/chain/blocks/post.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/db/api/beacon.test.ts
  packages/lodestar/test/unit/db/api/repositories/block.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/unit/sync/reqRes.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
  packages/lodestar/test/utils/stub/index.ts
Labels: BeaconChain

#908 Fix sync bugs
  package.json
  packages/lodestar-cli/schlesi/config.json
  packages/lodestar-cli/src/commands/beacon.ts
  packages/lodestar-cli/src/commands/dev/command.ts
  packages/lodestar-cli/src/lodestar/sync/options.ts
  packages/lodestar-cli/test/e2e/commands/beacon.test.ts
  packages/lodestar-cli/test/e2e/commands/dev.test.ts
  packages/lodestar-cli/test/e2e/sync.test.ts
  packages/lodestar/README.md
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/blocks/pool.ts
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/metrics/server/http.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/options.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/src/sync/utils/robin.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/chain/attestation.test.ts
  packages/lodestar/test/unit/chain/blocks/pool.test.ts
  packages/lodestar/test/unit/metrics/beacon.test.ts
  packages/lodestar/test/unit/metrics/metrics.test.ts
  packages/lodestar/test/unit/metrics/server/http.test.ts
  packages/lodestar/test/unit/network/gossip/gossip.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/regular/naive.test.ts
  packages/lodestar/test/unit/sync/sync.test.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  yarn.lock
Labels: BeaconChain

#916 fix block target import on large chunks of skip slots
  packages/lodestar/src/sync/initial/fast/index.ts
Labels: BeaconChain

#918 Fix multiple inbound connections
  packages/lodestar/src/network/network.ts
  yarn.lock
Labels: BeaconChain

#922 v0.8.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
Labels: BeaconChain, Benchmarks, Validator

#925 Fix stopping errors
  packages/lodestar/src/network/encoders/response.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/sync/utils/blocks.ts
Labels: BeaconChain

#930 Add sync progress logs
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/initial/interface.ts
  packages/lodestar/src/sync/stats/index.ts
  packages/lodestar/src/sync/stats/interface.ts
  packages/lodestar/src/sync/stats/rate.ts
  packages/lodestar/src/sync/stats/stats.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/stats/rate.test.ts
  packages/lodestar/test/unit/sync/stats/stats.test.ts
Labels: BeaconChain

#927 Use forkChoice instead of db.block
  packages/lodestar/src/chain/attestation.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/forkChoice/arrayDag/lmdGhost.ts
  packages/lodestar/src/chain/forkChoice/interface.ts
  packages/lodestar/src/chain/forkChoice/statefulDag/lmdGhost.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/unit/chain/attestation.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/network/gossip/validator.test.ts
  packages/lodestar/test/utils/block.ts
Labels: BeaconChain

#932 fix lodestar e2e tests type error
  packages/lodestar/test/e2e/sync/reqResp.test.ts
Labels: BeaconChain

#933 Improve logger
  packages/lodestar-utils/package.json
  packages/lodestar-utils/src/bytes.ts
  packages/lodestar-utils/src/logger/format.ts
  packages/lodestar-utils/src/logger/index.ts
  packages/lodestar-utils/src/logger/interface.ts
  packages/lodestar-utils/src/logger/winston.ts
  packages/lodestar-utils/test/unit/logger/format.test.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/network/reqResp.ts
Labels: BeaconChain

#926 Restore chain state upon restart
  packages/lodestar-cli/test/e2e/commands/dev.test.ts
  packages/lodestar-utils/src/logger/format.ts
  packages/lodestar-utils/src/logger/interface.ts
  packages/lodestar-utils/src/logger/winston.ts
  packages/lodestar-utils/test/unit/logger/winston.test.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/forkChoice/arrayDag/lmdGhost.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
  packages/lodestar/test/e2e/chain/forkChoice/arrayDag.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/chain/blocks/pool.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/forkChoice/arrayDag.test.ts
Labels: BeaconChain

#931 Fast state transition
  .github/workflows/spec-test.yml
  .github/workflows/test.yml
  packages/lodestar-beacon-state-transition/src/fast/block/index.ts
  packages/lodestar-beacon-state-transition/src/fast/block/initiateValidatorExit.ts
  packages/lodestar-beacon-state-transition/src/fast/block/isValidIndexedAttestation.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processAttestation.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processAttesterSlashing.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processBlockHeader.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processDeposit.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processEth1Data.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processOperations.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processProposerSlashing.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processRandao.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processVoluntaryExit.ts
  packages/lodestar-beacon-state-transition/src/fast/block/slashValidator.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/getAttestationDeltas.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/index.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processFinalUpdates.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processJustificationAndFinalization.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processRegistryUpdates.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processRewardsAndPenalties.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processSlashings.ts
  packages/lodestar-beacon-state-transition/src/fast/index.ts
  packages/lodestar-beacon-state-transition/src/fast/slot/index.ts
  packages/lodestar-beacon-state-transition/src/fast/slot/processSlot.ts
  packages/lodestar-beacon-state-transition/src/fast/util/attesterStatus.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochProcess.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochShuffling.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochStakeSummary.ts
  packages/lodestar-beacon-state-transition/src/fast/util/flatValidator.ts
  packages/lodestar-beacon-state-transition/src/fast/util/index.ts
  packages/lodestar-beacon-state-transition/src/index.ts
  packages/lodestar-beacon-state-transition/src/util/index.ts
  packages/lodestar-beacon-state-transition/src/util/shuffle.ts
  packages/lodestar-beacon-state-transition/src/util/validator.ts
  packages/lodestar/src/chain/blocks/post.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/test/unit/chain/blocks/post.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/spec/epoch_processing/finalUpdates/final_updates_fast.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/justification/justification_and_finalization_fast.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/registryUpdates/registry_updates_fast.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/rewardsAndPenalties/rewards_and_penalties_fast.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/slashings/slashings_fast.test.ts
  packages/spec-test-runner/test/spec/operations/attestations/attestations_fast.test.ts
  packages/spec-test-runner/test/spec/operations/attesterSlashing/attester_slashing_fast.test.ts
  packages/spec-test-runner/test/spec/operations/blockHeader/block_header_fast.test.ts
  packages/spec-test-runner/test/spec/operations/deposit/deposit_fast.test.ts
  packages/spec-test-runner/test/spec/operations/proposerSlashing/proposer_slashing_fast.test.ts
  packages/spec-test-runner/test/spec/operations/voluntaryExit/voluntary_exit_fast.test.ts
  packages/spec-test-runner/test/spec/sanity/blocks/sanity_blocks_fast.test.ts
  packages/spec-test-runner/test/spec/sanity/slots/sanity_slots_fast.test.ts
  packages/spec-test-runner/test/spec/shuffling/shuffling_fast.test.ts
Labels: CI

#934 Update discv5 package
  packages/lodestar/package.json
Labels: BeaconChain

#936 Investigate the network e2e suspend issue
  packages/lodestar/test/e2e/network/network.test.ts
  yarn.lock
Labels: BeaconChain

#969 Process deposit event logs in bulk
  packages/lodestar/src/db/api/beacon/repositories/depositDataRoot.ts
  packages/lodestar/src/eth1/impl/ethers.ts
  packages/lodestar/src/eth1/impl/util.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/test/e2e/chain/chain.test.ts
  packages/lodestar/test/e2e/eth1/deploy.test.ts
  packages/lodestar/test/unit/eth1/impl/util.test.ts
Labels: BeaconChain

#938 Avoid multiple blocks per slot
  packages/lodestar-beacon-state-transition/src/block/blockHeader.ts
  packages/lodestar-beacon-state-transition/src/fast/block/processBlockHeader.ts
  packages/lodestar-beacon-state-transition/src/fast/slot/index.ts
  packages/lodestar-beacon-state-transition/src/slot.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/factory/block/index.ts
Labels: BeaconChain

#978 sync: Handle beaconBlocksByRange returning null
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
Labels: BeaconChain

#979 Allow empty network rpc requests
  packages/lodestar/src/network/encoders/request.ts
  packages/lodestar/src/network/reqResp.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/network/encoders/request.test.ts
Labels: BeaconChain
