Repository ChainSafe/lodestar, pull requests merged in 2021-05, with the labels that each got.

#2446 Metrics should be defined or null
  packages/lodestar/src/api/rest/interface.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/bls/multithread/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/test/e2e/chain/bls/multithread.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/unit/api/rest/debug/getState.test.ts
  packages/lodestar/test/unit/api/rest/index.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
Labels: Api, Network

#2427 Attestation Service
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/network/attestationService.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/metadata/utils.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/index.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/network/peers/utils/subnetMap.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/network/peers/peerManager.test.ts
  packages/lodestar/test/unit/network/attestationService.test.ts
  packages/lodestar/test/unit/network/util.test.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
Labels: Api, Network

#2472 Add JobQueue features
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/util/queue/index.ts
Labels: Network

#2445 Add state transition function metrics
  packages/beacon-state-transition/src/fast/stateTransition.ts
  packages/beacon-state-transition/src/index.ts
  packages/beacon-state-transition/src/metrics.ts
  packages/beacon-state-transition/src/phase0/fast/block/index.ts
  packages/beacon-state-transition/src/phase0/fast/slot/index.ts
  packages/lodestar/src/api/impl/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/regen/queued.ts
  packages/lodestar/src/chain/regen/regen.ts
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAttestationData.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Api, StateTransition

#2481 Add missing getSyncChainsDebugState rest route
  packages/cli/src/options/beaconNodeOptions/api.ts
  packages/cli/test/e2e/cmds/init.test.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/api/rest/lodestar/index.ts
Labels: Api, CLI

#2487 Update ssz to v0.8.4
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#2496 chore(release): v0.21.0
  lerna.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2493 Add light client getState
  packages/light-client/package.json
  packages/light-client/src/getState.ts
  packages/lodestar/src/api/rest/lodestar/index.ts
Labels: Api

#2444 Implement Altair ReqResp
  packages/beacon-state-transition/src/util/domain.ts
  packages/beacon-state-transition/src/util/fork.ts
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/events.ts
  packages/lodestar/src/network/gossip/topic.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/network/reqresp/encoders/requestDecode.ts
  packages/lodestar/src/network/reqresp/encoders/requestEncode.ts
  packages/lodestar/src/network/reqresp/encoders/responseDecode.ts
  packages/lodestar/src/network/reqresp/encoders/responseEncode.ts
  packages/lodestar/src/network/reqresp/encodingStrategies/index.ts
  packages/lodestar/src/network/reqresp/encodingStrategies/sszSnappy/decode.ts
  packages/lodestar/src/network/reqresp/encodingStrategies/sszSnappy/encode.ts
  packages/lodestar/src/network/reqresp/handlers/beaconBlocksByRange.ts
  packages/lodestar/src/network/reqresp/handlers/beaconBlocksByRoot.ts
  packages/lodestar/src/network/reqresp/handlers/index.ts
  packages/lodestar/src/network/reqresp/index.ts
  packages/lodestar/src/network/reqresp/interface.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/request/collectResponses.ts
  packages/lodestar/src/network/reqresp/request/errors.ts
  packages/lodestar/src/network/reqresp/request/index.ts
  packages/lodestar/src/network/reqresp/request/responseTimeoutsHandler.ts
  packages/lodestar/src/network/reqresp/response/errors.ts
  packages/lodestar/src/network/reqresp/response/index.ts
  packages/lodestar/src/network/reqresp/score.ts
  packages/lodestar/src/network/reqresp/types.ts
  packages/lodestar/src/network/reqresp/utils/assertSequentialBlocksInRange.ts
  packages/lodestar/src/network/reqresp/utils/index.ts
  packages/lodestar/src/network/reqresp/utils/protocolId.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/util/forkDigestContext.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/network/peers/peerManager.test.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/unit/network/peers/metastore.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/encodeDecodeResponse.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/request.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/requestDecode.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/requestEncode.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/requestTypes.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/response.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/responseDecode.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/responseEncode.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/responseTypes.test.ts
  packages/lodestar/test/unit/network/reqresp/encodingStrategies/sszSnappy/decode.test.ts
  packages/lodestar/test/unit/network/reqresp/encodingStrategies/sszSnappy/encode.test.ts
  packages/lodestar/test/unit/network/reqresp/encodingStrategies/sszSnappy/testData.ts
  packages/lodestar/test/unit/network/reqresp/request/collectResponses.test.ts
  packages/lodestar/test/unit/network/reqresp/response/index.test.ts
  packages/lodestar/test/unit/network/reqresp/utils.ts
  packages/lodestar/test/unit/network/reqresp/utils/assertSequentialBlocksInRange.test.ts
  packages/lodestar/test/unit/network/util.test.ts
  packages/lodestar/test/utils/ssz.ts
  packages/params/src/constants.ts
  packages/types/src/phase0/sszTypes.ts
  packages/types/src/phase0/types/wire.ts
Labels: Config, Network, StateTransition, Types

#2484 Altair Metadata/Discv5
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
  packages/types/src/altair/sszTypes.ts
  packages/types/src/altair/types/index.ts
  packages/types/src/altair/types/wire.ts
  packages/types/src/index.ts
Labels: Network, Types

#2501 Add attestations to the performance tests
  packages/beacon-state-transition/test/perf/phase0/fast/block/block.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/getAttestationDeltas.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/processRewardsAndPenalties.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/slot/slots.test.ts
  packages/beacon-state-transition/test/perf/util.ts
Labels: StateTransition

#2479 Implement Altair networking gossip spec
  packages/beacon-state-transition/src/altair/state_accessor/sync_committee.ts
  packages/beacon-state-transition/src/fast/util/epochContext.ts
  packages/beacon-state-transition/src/util/array.ts
  packages/beacon-state-transition/src/util/index.ts
  packages/beacon-state-transition/src/util/syncCommittee.ts
  packages/cli/types/snappyjs/index.d.ts
  packages/db/src/schema.ts
  packages/lodestar/src/chain/errors/gossipValidation.ts
  packages/lodestar/src/chain/errors/index.ts
  packages/lodestar/src/chain/errors/syncCommitteeError.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/signatureSets/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/signatureSets/contributionAndProof.ts
  packages/lodestar/src/chain/validation/signatureSets/index.ts
  packages/lodestar/src/chain/validation/signatureSets/selectionProof.ts
  packages/lodestar/src/chain/validation/signatureSets/syncCommittee.ts
  packages/lodestar/src/chain/validation/signatureSets/syncCommitteeContribution.ts
  packages/lodestar/src/chain/validation/signatureSets/syncCommitteeSelectionProof.ts
  packages/lodestar/src/chain/validation/syncCommittee.ts
  packages/lodestar/src/chain/validation/syncCommitteeContributionAndProof.ts
  packages/lodestar/src/chain/validation/utils/index.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/db/repositories/contributionAndProof.ts
  packages/lodestar/src/db/repositories/syncCommitteeSignature.ts
  packages/lodestar/src/db/syncCommittee.ts
  packages/lodestar/src/db/syncCommitteeContribution.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/topic.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/gossip/validatorFns/block.ts
  packages/lodestar/src/network/gossip/validatorFns/index.ts
  packages/lodestar/src/network/gossip/validatorFns/syncCommittee.ts
  packages/lodestar/src/network/gossip/validatorFns/syncCommitteeContribution.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/sync/utils/index.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/test/unit/chain/validation/contributionAndProof.test.ts
  packages/lodestar/test/unit/chain/validation/syncCommittee.test.ts
  packages/lodestar/test/unit/db/syncCommittee.test.ts
  packages/lodestar/test/unit/db/syncCommitteeContribution.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/utils/contributionAndProof.ts
  packages/lodestar/test/utils/state.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
  packages/lodestar/test/utils/syncCommittee.ts
  packages/params/src/altair/interface.ts
  packages/params/src/altair/ssz.ts
  packages/params/src/constants.ts
  packages/params/src/presets/mainnet/altair.ts
  packages/params/src/presets/minimal/altair.ts
  packages/types/src/altair/sszTypes.ts
Labels: CLI, Config, Network, StateTransition, Types

#2510 Faster aggregation bits read
  packages/beacon-state-transition/src/fast/util/epochProcess.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/processPendingAttestations.ts
  packages/beacon-state-transition/src/util/aggregationBits.ts
  packages/beacon-state-transition/src/util/index.ts
  packages/beacon-state-transition/test/perf/phase0/fast/slot/slots.test.ts
  packages/beacon-state-transition/test/perf/util/aggregationBits.test.ts
  packages/beacon-state-transition/test/unit/util/aggregationBits.test.ts
Labels: StateTransition

#2519 Handle fork transitions in gossip
  packages/lodestar/src/network/forks.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/handler.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/metadata/utils.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/subnetsService.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/gossip/index.ts
  packages/lodestar/src/sync/index.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/network/gossip/handler.test.ts
  packages/lodestar/test/unit/network/util.test.ts
Labels: Network

#2521 Altair block production
  packages/beacon-state-transition/src/allForks/stateTransition.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/db/repositories/aggregateAndProof.ts
  packages/lodestar/test/unit/chain/factory/block/body.test.ts
Labels: Api, StateTransition

#2522 Fix off by one issue in sync committees
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/chain/validation/syncCommittee.ts
  packages/validator/src/services/syncCommittee.ts
  packages/validator/src/services/syncCommitteeDuties.ts
Labels: Api, Validator

#2531 Use same workflow prepare steps block for all actions
  .github/workflows/docs.yml
  .github/workflows/publish-lcdemo.yml
  .github/workflows/release.yml
  .github/workflows/test-sim.yml
  .github/workflows/test-spec.yml
  .github/workflows/test.yml
  package.json
Labels: CI

#2535 Improve multi-fork sim tests organization
  .github/workflows/test-sim.yml
  packages/lodestar/test/sim/multiNodeMultiThread.test.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
  packages/lodestar/test/sim/params.ts
  packages/lodestar/test/sim/singleNodeSingleThread.test.ts
  packages/lodestar/test/sim/threaded/types.ts
Labels: CI

#2536 Split attnets and syncnets services
  .github/workflows/test.yml
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/network/gossip/handler.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/network/subnets/attnetsService.ts
  packages/lodestar/src/network/subnets/index.ts
  packages/lodestar/src/network/subnets/interface.ts
  packages/lodestar/src/network/subnets/syncnetsService.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/network/peers/peerManager.test.ts
  packages/lodestar/test/unit/network/attestationService.test.ts
  packages/lodestar/test/unit/network/gossip/handler.test.ts
Labels: Api, CI, Network

#2537 Update ssz to v0.8.5
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client-demo/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator, bulldozer-merge-when-ready

#2534 Altair sim tests 2 (networking)
  .github/workflows/test-sim.yml
  packages/beacon-state-transition/src/allForks/stateTransition.ts
  packages/lodestar/src/api/impl/beacon/blocks/utils.ts
  packages/lodestar/src/network/gossip/handler.ts
  packages/lodestar/src/util/forkDigestContext.ts
  packages/lodestar/test/sim/multiNodeMultiThread.test.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
  packages/lodestar/test/sim/singleNodeSingleThread.test.ts
  packages/lodestar/test/unit/network/gossip/handler.test.ts
  packages/types/src/altair/sszTypes.ts
  packages/validator/src/util/clock.ts
Labels: Api, CI, Network, StateTransition, Types, Validator

#2539 Keep finalized block in db
  packages/lodestar/src/chain/initState.ts
  packages/lodestar/src/network/subnets/syncnetsService.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/test/unit/tasks/tasks/blockArchiver.test.ts
Labels: Network

#2538 Add ReqResp Metadata V2
  packages/lodestar/src/chain/index.ts
  packages/lodestar/src/constants/network.ts
  packages/lodestar/src/network/gossip/topic.ts
  packages/lodestar/src/network/metadata.ts
  packages/lodestar/src/network/metadata/index.ts
  packages/lodestar/src/network/metadata/utils.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/network/reqresp/encoders/responseDecode.ts
  packages/lodestar/src/network/reqresp/encoders/responseEncode.ts
  packages/lodestar/src/network/reqresp/interface.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/response/index.ts
  packages/lodestar/src/network/reqresp/types.ts
  packages/lodestar/test/e2e/network/peers/peerManager.test.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
  packages/lodestar/test/unit/network/metadata.test.ts
  packages/lodestar/test/unit/network/peers/metastore.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/response.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/responseTypes.test.ts
  packages/lodestar/test/utils/network.ts
  packages/params/src/constants.ts
  packages/types/src/allForks/index.ts
Labels: Config, Network, Types

#2540 Node 14.16.0 for github workflows
  .github/workflows/docs.yml
  .github/workflows/publish-lcdemo.yml
  .github/workflows/release.yml
  .github/workflows/test-sim.yml
  .github/workflows/test-spec.yml
  .github/workflows/test.yml
  packages/light-client-demo/.github/workflows/publish.yml
Labels: CI

#2550 Expose log format options to CLI
  packages/cli/src/cmds/beacon/handler.ts
  packages/cli/src/cmds/beacon/options.ts
  packages/cli/src/cmds/dev/handler.ts
  packages/cli/src/cmds/validator/handler.ts
  packages/cli/src/cmds/validator/options.ts
  packages/cli/src/util/logger.ts
Labels: CLI

#2552 Validate existing ENR in CLI
  packages/cli/src/cmds/init/handler.ts
Labels: CLI

#2551 Add connect and disconnect peer API
  packages/lodestar/src/api/impl/debug/debug.ts
  packages/lodestar/src/api/impl/debug/interface.ts
  packages/lodestar/src/api/rest/debug/connectToPeer.ts
  packages/lodestar/src/api/rest/debug/disconnectPeer.ts
  packages/lodestar/src/api/rest/debug/index.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/test/utils/network.ts
  packages/lodestar/test/utils/stub/api.ts
Labels: Api, Network

#2546 chore(release): v0.22.0
  lerna.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client-demo/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2560 Update ssz to v0.8.6
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client-demo/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator, bulldozer-merge-when-ready

#2562 Fix params dependencies
  packages/params/package.json
Labels: Config

#2543 Allow disabling BLS multi-thread pool
  .github/workflows/test-sim.yml
  packages/cli/src/options/beaconNodeOptions/chain.ts
  packages/cli/src/options/beaconNodeOptions/index.ts
  packages/cli/test/unit/options/beaconNodeOptions.test.ts
  packages/cli/test/unit/options/paramsOptions.test.ts
  packages/lodestar/src/chain/bls/index.ts
  packages/lodestar/src/chain/bls/interface.ts
  packages/lodestar/src/chain/bls/maybeBatch.ts
  packages/lodestar/src/chain/bls/multithread/index.ts
  packages/lodestar/src/chain/bls/multithread/worker.ts
  packages/lodestar/src/chain/bls/singleThread.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/options.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/sim/multiNodeMultiThread.test.ts
Labels: CI, CLI

#2548 Allow to run validator with interop key range
  packages/cli/src/cmds/validator/handler.ts
  packages/cli/src/cmds/validator/options.ts
  packages/cli/src/util/format.ts
  packages/cli/test/unit/util/format.ts
Labels: CLI

#2574 Fetch fork in validatorStore
  packages/validator/src/services/validatorStore.ts
Labels: Validator

#2581 Disable multi-process sim tests
  .github/workflows/test-sim.yml
Labels: CI

#2583 Remove ForkService in validator
  packages/validator/src/services/fork.ts
  packages/validator/src/services/validatorStore.ts
  packages/validator/src/util/params.ts
  packages/validator/src/validator.ts
  packages/validator/test/unit/services/fork.test.ts
  packages/validator/test/unit/utils/params.test.ts
Labels: Validator

#2591 Fix CLI dev command paths
  packages/cli/src/cmds/dev/handler.ts
  packages/cli/src/cmds/dev/options.ts
Labels: CLI

#2478 Use eth2-clients / slashing-protection-interchange-tests & add support for v5 slashing protection interchange
  packages/spec-test-runner/test/downloadTests.ts
  packages/spec-test-runner/test/utils/specTestCases.ts
  packages/spec-test-util/src/downloadTests.ts
  packages/validator/.gitignore
  packages/validator/.mocharc.yaml
  packages/validator/package.json
  packages/validator/src/slashingProtection/interchange/formats/v5.ts
  packages/validator/src/slashingProtection/interchange/parseInterchange.ts
  packages/validator/src/slashingProtection/interchange/serializeInterchange.ts
  packages/validator/src/slashingProtection/interchange/types.ts
  packages/validator/test/e2e/slashing-protection-interchange-tests/downloadTests.ts
  packages/validator/test/e2e/slashing-protection-interchange-tests/params.ts
  packages/validator/test/e2e/slashing-protection-interchange-tests/run.test.ts
  packages/validator/test/e2e/slashing-protection-interchange-tests/spec.test.ts
  packages/validator/test/setup.ts
  yarn.lock
Labels: StateTransition, Validator

#2586 Fix justified and finalized state retrieval in API
  packages/fork-choice/src/forkChoice/forkChoice.ts
  packages/fork-choice/src/forkChoice/interface.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/test/unit/api/impl/beacon/state/utils.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Api

#2589 Support parsing altair sync committee gossip topics
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/topic.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/util/forkDigestContext.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/gossip/handler.test.ts
  packages/lodestar/test/unit/network/gossip/topic.test.ts
Labels: Network

#2590 List all API namespaces in CLI args
  packages/api/src/index.ts
  packages/api/src/interface.ts
  packages/cli/src/options/beaconNodeOptions/api.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/node/options.ts
Labels: Api, CLI

#2595 Handle multiple errors in APi routes
  packages/lodestar/src/api/impl/beacon/index.ts
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/test/unit/api/impl/beacon/beacon.test.ts
  packages/lodestar/test/unit/api/impl/beacon/pool/pool.test.ts
Labels: Api
