Repository ChainSafe/lodestar, pull requests merged in 2021-04, with the labels that each got.

#2319 Reorganize lodestar/src/db directory
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/api/impl/beacon/blocks/utils.ts
  packages/lodestar/src/api/impl/beacon/pool/pool.ts
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/src/api/impl/interface.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/chain/validation/block.ts
  packages/lodestar/src/db/api/index.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/index.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/db/repositories/aggregateAndProof.ts
  packages/lodestar/src/db/repositories/attestation.ts
  packages/lodestar/src/db/repositories/attesterSlashing.ts
  packages/lodestar/src/db/repositories/badBlock.ts
  packages/lodestar/src/db/repositories/block.ts
  packages/lodestar/src/db/repositories/block/abstract.ts
  packages/lodestar/src/db/repositories/block/index.ts
  packages/lodestar/src/db/repositories/blockArchive.ts
  packages/lodestar/src/db/repositories/blockArchive/abstract.ts
  packages/lodestar/src/db/repositories/blockArchive/db-index.ts
  packages/lodestar/src/db/repositories/blockArchive/index.ts
  packages/lodestar/src/db/repositories/depositDataRoot.ts
  packages/lodestar/src/db/repositories/depositEvent.ts
  packages/lodestar/src/db/repositories/eth1Data.ts
  packages/lodestar/src/db/repositories/index.ts
  packages/lodestar/src/db/repositories/pendingBlock.ts
  packages/lodestar/src/db/repositories/proposerSlashing.ts
  packages/lodestar/src/db/repositories/stateArchive.ts
  packages/lodestar/src/db/repositories/voluntaryExit.ts
  packages/lodestar/src/db/seenAttestationCache.ts
  packages/lodestar/src/db/single/index.ts
  packages/lodestar/src/db/single/preGenesisState.ts
  packages/lodestar/src/db/single/preGenesisStateLastProcessedBlock.ts
  packages/lodestar/src/network/reqresp/handlers/beaconBlocksByRange.ts
  packages/lodestar/src/node/utils/state.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
  packages/lodestar/test/unit/db/api/beacon.test.ts
  packages/lodestar/test/unit/db/api/repositories/blockArchive.test.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
Labels: Api, Meta: Exclude From Changelog, Network

#2323 Remove un-used dep from spec utils
  packages/spec-test-util/package.json
Labels: StateTransition

#2324 Remove profiler from spec tests utils
  packages/spec-test-util/package.json
  packages/spec-test-util/src/multi.ts
  packages/spec-test-util/src/single.ts
  yarn.lock
Labels: StateTransition

#2326 Remove bls dependency in utils package
  packages/beacon-state-transition/src/fast/util/util.ts
  packages/beacon-state-transition/src/util/index.ts
  packages/beacon-state-transition/src/util/interop.ts
  packages/beacon-state-transition/test/perf/util.ts
  packages/cli/src/cmds/validator/utils/interop/validator.ts
  packages/lodestar/src/node/utils/interop/deposits.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/utils/node/validator.ts
  packages/utils/package.json
  packages/utils/src/index.ts
Labels: CLI, StateTransition

#2316 Add getLatestWeakSubjectivityCheckpointEpoch function
  packages/beacon-state-transition/src/fast/util/weakSubjectivity.ts
  packages/beacon-state-transition/src/util/weakSubjectivity.ts
  packages/beacon-state-transition/test/unit/stateTransition/util/weakSubjectivity.test.ts
Labels: StateTransition

#2327 Update ssz to 0.8.2
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator, bulldozer-merge-when-ready

#2332 Add queue charts to dashboard
  docker/grafana/provisioning/dashboards/lodestar.json
  packages/cli/package.json
  packages/cli/src/cmds/beacon/handler.ts
  packages/cli/src/options/globalOptions.ts
  packages/cli/src/util/gitData.ts
  packages/cli/src/util/graffiti.ts
  packages/cli/src/util/version.ts
  packages/lodestar/src/metrics/metrics.ts
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/src/metrics/options.ts
  packages/lodestar/src/metrics/utils/gitData.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/node/nodejs.ts
  yarn.lock
Labels: CLI, Network

#2330 Improve BeaconStateContext validators proxy
  packages/beacon-state-transition/src/fast/util/cachedBeaconState.ts
Labels: StateTransition

#2328 Add worker pool for BLS sig verification
  packages/beacon-state-transition/package.json
  packages/beacon-state-transition/src/fast/signatureSets/proposer.ts
  packages/beacon-state-transition/src/fast/signatureSets/proposerSlashings.ts
  packages/beacon-state-transition/src/fast/signatureSets/randao.ts
  packages/beacon-state-transition/src/fast/signatureSets/voluntaryExits.ts
  packages/beacon-state-transition/src/fast/util/epochContext.ts
  packages/beacon-state-transition/src/phase0/fast/block/processDeposit.ts
  packages/beacon-state-transition/src/util/signatureSets.ts
  packages/cli/package.json
  packages/lodestar/package.json
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/bls.ts
  packages/lodestar/src/chain/bls/index.ts
  packages/lodestar/src/chain/bls/multithread/index.ts
  packages/lodestar/src/chain/bls/multithread/types.ts
  packages/lodestar/src/chain/bls/multithread/utils.ts
  packages/lodestar/src/chain/bls/multithread/worker.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/test/e2e/chain/bls/multithread.test.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/spec-test-runner/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, StateTransition, Validator

#2334 Prepare fast state transition functions
  packages/beacon-state-transition/src/fast/block/index.ts
  packages/beacon-state-transition/src/fast/block/processBlockHeader.ts
  packages/beacon-state-transition/src/fast/block/processEth1Data.ts
  packages/beacon-state-transition/src/fast/block/processRandao.ts
  packages/beacon-state-transition/src/fast/epoch/index.ts
  packages/beacon-state-transition/src/fast/epoch/processEffectiveBalanceUpdates.ts
  packages/beacon-state-transition/src/fast/epoch/processEth1DataReset.ts
  packages/beacon-state-transition/src/fast/epoch/processHistoricalRootsUpdate.ts
  packages/beacon-state-transition/src/fast/epoch/processRandaoMixesReset.ts
  packages/beacon-state-transition/src/fast/epoch/processSlashingsReset.ts
  packages/beacon-state-transition/src/fast/index.ts
  packages/beacon-state-transition/src/phase0/fast/block/index.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/processFinalUpdates.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/processParticipationRecordUpdates.ts
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
  packages/spec-test-runner/test/spec/operations/blockHeader/block_header_fast.test.ts
Labels: Eth1, Meta: Exclude From Changelog, StateTransition

#2317 pretty print peer info
  packages/lodestar/src/network/peers/discover.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/request/index.ts
  packages/lodestar/src/network/reqresp/response/index.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/unit/network/reqresp/response/index.test.ts
  packages/lodestar/test/unit/network/util.test.ts
Labels: Network

#2234 implement getStateValidators in lodestar-validator
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/src/api/impl/utils.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidators.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidatorsBalances.ts
  packages/lodestar/src/api/rest/controllers/utils.ts
  packages/lodestar/test/unit/api/impl/beacon/state/stateValidators.test.ts
  packages/validator/src/api/impl/rest/beacon/state.ts
  packages/validator/src/api/interface/beacon.ts
  packages/validator/src/services/attestation.ts
  packages/validator/src/util/httpClient.ts
  packages/validator/test/unit/services/attestation.test.ts
Labels: Api, Validator

#2336 chore(release): v0.19.0
  lerna.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, Meta: Exclude From Changelog, StateTransition, Types, Validator

#2335 getLatestWeakSubjectivityCheckpointEpoch api endpoint
  packages/lodestar/src/api/impl/api.ts
  packages/lodestar/src/api/impl/lodestar/index.ts
  packages/lodestar/src/api/rest/controllers/lodestar/index.ts
  packages/lodestar/src/api/rest/routes/lodestar.ts
  packages/lodestar/test/unit/api/impl/lodestar/lodestar.test.ts
  packages/lodestar/test/unit/api/rest/index.test.ts
  packages/lodestar/test/unit/api/rest/lodestar/index.test.ts
  packages/lodestar/test/utils/stub/lodestarApi.ts
Labels: Api

#2343 add config api namespace to api options for api.rest.api
  packages/cli/src/options/beaconNodeOptions/api.ts
  packages/lodestar/src/api/rest/options.ts
Labels: Api, CLI

#2339 Reduce perf test start-up time
  .gitignore
  packages/beacon-state-transition/src/fast/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/fast/util/epochContext.ts
  packages/beacon-state-transition/src/fast/util/util.ts
  packages/beacon-state-transition/test/perf/phase0/fast/block/block.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/getAttestationDeltas.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/processRewardsAndPenalties.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/slot/slots.test.ts
  packages/beacon-state-transition/test/perf/util.ts
  packages/beacon-state-transition/test/utils/interop.ts
Labels: StateTransition

#2349 Use TreeBacked<PendingAttestation> in fast state transition
  packages/beacon-state-transition/src/phase0/fast/block/processAttestation.ts
Labels: StateTransition

#2353 Benchmark shuffle
  packages/beacon-state-transition/src/util/shuffle.ts
  packages/beacon-state-transition/test/perf/runner.ts
  packages/beacon-state-transition/test/perf/shuffle/numberMath.perf.ts
  packages/beacon-state-transition/test/perf/shuffle/shuffle.perf.ts
  packages/beacon-state-transition/test/unit/stateTransition/util/shuffle.test.ts
Labels: StateTransition

#2344 Create empty arrays more efficiently
  packages/beacon-state-transition/src/altair/naive/epoch/flag.ts
  packages/beacon-state-transition/src/altair/naive/upgrade.ts
  packages/beacon-state-transition/src/altair/state_accessor/balance.ts
  packages/beacon-state-transition/src/phase0/fast/block/processDeposit.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/getAttestationDeltas.ts
  packages/beacon-state-transition/src/phase0/naive/epoch/balanceUpdates/attestation.ts
  packages/beacon-state-transition/src/util/array.ts
  packages/beacon-state-transition/src/util/index.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/arrayCreation.test.ts
  packages/beacon-state-transition/test/utils/state.ts
Labels: StateTransition

#2345 Don't use intDiv
  packages/beacon-state-transition/src/fast/util/epochShuffling.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/getAttestationDeltas.ts
  packages/beacon-state-transition/src/util/seed.ts
  packages/beacon-state-transition/src/util/slot.ts
Labels: StateTransition

#2348 Redefine constants in getAttestationDeltas to improve performance
  packages/beacon-state-transition/src/phase0/fast/epoch/getAttestationDeltas.ts
Labels: StateTransition

#2341 Precompute OR flags
  packages/beacon-state-transition/src/fast/util/attesterStatus.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/getAttestationDeltas.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/bitopts.test.ts
Labels: StateTransition

#2347 Add CachedBalanceList
  packages/beacon-state-transition/src/fast/epoch/processEffectiveBalanceUpdates.ts
  packages/beacon-state-transition/src/fast/util/attesterStatus.ts
  packages/beacon-state-transition/src/fast/util/cachedBalanceList.ts
  packages/beacon-state-transition/src/fast/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/fast/util/epochProcess.ts
  packages/beacon-state-transition/src/fast/util/unsafeUint8ArrayToTree.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/processRewardsAndPenalties.ts
Labels: StateTransition

#2355 Fix wrong import
  packages/beacon-state-transition/src/altair/state_accessor/balance.ts
Labels: StateTransition

#2363 Simplify API REST routes registration
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeader.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeaders.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockRoot.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/publishBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/getGenesis.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getAttesterSlashings.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getPoolAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getProposerSlashings.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getVoluntaryExits.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitAttesterSlashing.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitPoolAttestation.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitProposerSlashing.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitVoluntaryExit.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getBeaconCommittees.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFinalityCheckpoints.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFork.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidator.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidators.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidatorsBalances.ts
  packages/lodestar/src/api/rest/controllers/config/getDepositContract.ts
  packages/lodestar/src/api/rest/controllers/config/getForkSchedule.ts
  packages/lodestar/src/api/rest/controllers/config/getSpec.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getHeads.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getStates.ts
  packages/lodestar/src/api/rest/controllers/events/getEventStream.ts
  packages/lodestar/src/api/rest/controllers/lodestar/index.ts
  packages/lodestar/src/api/rest/controllers/node/getHealth.ts
  packages/lodestar/src/api/rest/controllers/node/getNetworkIdentity.ts
  packages/lodestar/src/api/rest/controllers/node/getPeer.ts
  packages/lodestar/src/api/rest/controllers/node/getPeers.ts
  packages/lodestar/src/api/rest/controllers/node/getSyncingStatus.ts
  packages/lodestar/src/api/rest/controllers/node/getVersion.ts
  packages/lodestar/src/api/rest/controllers/types.ts
  packages/lodestar/src/api/rest/controllers/validator/duties/attesterDuties.ts
  packages/lodestar/src/api/rest/controllers/validator/duties/proposerDuties.ts
  packages/lodestar/src/api/rest/controllers/validator/prepareCommitteeSubnet.ts
  packages/lodestar/src/api/rest/controllers/validator/produceAggregatedAttestation.ts
  packages/lodestar/src/api/rest/controllers/validator/produceAttestationData.ts
  packages/lodestar/src/api/rest/controllers/validator/produceBlock.ts
  packages/lodestar/src/api/rest/controllers/validator/publishAggregateAndProof.ts
  packages/lodestar/src/api/rest/routes/beacon/index.ts
  packages/lodestar/src/api/rest/routes/config.ts
  packages/lodestar/src/api/rest/routes/debug/index.ts
  packages/lodestar/src/api/rest/routes/events/index.ts
  packages/lodestar/src/api/rest/routes/lodestar.ts
  packages/lodestar/src/api/rest/routes/node.ts
  packages/lodestar/src/api/rest/routes/util.ts
  packages/lodestar/src/api/rest/routes/validator/index.ts
Labels: Api

#2364 Declare fastify route schema route un-nested from opts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeader.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeaders.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockRoot.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/publishBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/getGenesis.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getAttesterSlashings.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getPoolAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getProposerSlashings.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getVoluntaryExits.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitAttesterSlashing.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitPoolAttestation.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitProposerSlashing.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitVoluntaryExit.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getBeaconCommittees.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFinalityCheckpoints.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFork.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidator.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidators.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidatorsBalances.ts
  packages/lodestar/src/api/rest/controllers/config/getDepositContract.ts
  packages/lodestar/src/api/rest/controllers/config/getForkSchedule.ts
  packages/lodestar/src/api/rest/controllers/config/getSpec.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getHeads.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getStates.ts
  packages/lodestar/src/api/rest/controllers/events/getEventStream.ts
  packages/lodestar/src/api/rest/controllers/lodestar/index.ts
  packages/lodestar/src/api/rest/controllers/node/getHealth.ts
  packages/lodestar/src/api/rest/controllers/node/getNetworkIdentity.ts
  packages/lodestar/src/api/rest/controllers/node/getPeer.ts
  packages/lodestar/src/api/rest/controllers/node/getPeers.ts
  packages/lodestar/src/api/rest/controllers/node/getSyncingStatus.ts
  packages/lodestar/src/api/rest/controllers/node/getVersion.ts
  packages/lodestar/src/api/rest/controllers/types.ts
  packages/lodestar/src/api/rest/controllers/validator/duties/attesterDuties.ts
  packages/lodestar/src/api/rest/controllers/validator/duties/proposerDuties.ts
  packages/lodestar/src/api/rest/controllers/validator/prepareCommitteeSubnet.ts
  packages/lodestar/src/api/rest/controllers/validator/produceAggregatedAttestation.ts
  packages/lodestar/src/api/rest/controllers/validator/produceAttestationData.ts
  packages/lodestar/src/api/rest/controllers/validator/produceBlock.ts
  packages/lodestar/src/api/rest/controllers/validator/publishAggregateAndProof.ts
  packages/lodestar/src/api/rest/routes/util.ts
Labels: Api

#2365 Simplify simple send 200 JSON
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeader.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeaders.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockRoot.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/publishBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/getGenesis.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getAttesterSlashings.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getPoolAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getProposerSlashings.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/getVoluntaryExits.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitAttesterSlashing.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitPoolAttestation.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitProposerSlashing.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitVoluntaryExit.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getBeaconCommittees.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFinalityCheckpoints.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFork.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidator.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidators.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidatorsBalances.ts
  packages/lodestar/src/api/rest/controllers/config/getDepositContract.ts
  packages/lodestar/src/api/rest/controllers/config/getForkSchedule.ts
  packages/lodestar/src/api/rest/controllers/config/getSpec.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getHeads.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getStates.ts
  packages/lodestar/src/api/rest/controllers/lodestar/index.ts
  packages/lodestar/src/api/rest/controllers/node/getNetworkIdentity.ts
  packages/lodestar/src/api/rest/controllers/node/getPeer.ts
  packages/lodestar/src/api/rest/controllers/node/getPeers.ts
  packages/lodestar/src/api/rest/controllers/node/getSyncingStatus.ts
  packages/lodestar/src/api/rest/controllers/node/getVersion.ts
  packages/lodestar/src/api/rest/controllers/validator/duties/attesterDuties.ts
  packages/lodestar/src/api/rest/controllers/validator/duties/proposerDuties.ts
  packages/lodestar/src/api/rest/controllers/validator/prepareCommitteeSubnet.ts
  packages/lodestar/src/api/rest/controllers/validator/produceAggregatedAttestation.ts
  packages/lodestar/src/api/rest/controllers/validator/produceAttestationData.ts
  packages/lodestar/src/api/rest/controllers/validator/produceBlock.ts
  packages/lodestar/src/api/rest/controllers/validator/publishAggregateAndProof.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/publishBlock.test.ts
Labels: Api

#2366 Remove null types from API
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/api/impl/beacon/blocks/interface.ts
  packages/lodestar/src/api/impl/beacon/blocks/utils.ts
  packages/lodestar/src/api/impl/beacon/interface.ts
  packages/lodestar/src/api/impl/beacon/state/interface.ts
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/src/api/impl/debug/beacon/index.ts
  packages/lodestar/src/api/impl/debug/beacon/interface.ts
  packages/lodestar/src/api/impl/errors.ts
  packages/lodestar/src/api/impl/errors/validation.ts
  packages/lodestar/src/api/impl/node/interface.ts
  packages/lodestar/src/api/impl/node/node.ts
  packages/lodestar/src/api/impl/utils.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockAttestations.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockHeader.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/getBlockRoot.ts
  packages/lodestar/src/api/rest/controllers/beacon/blocks/publishBlock.ts
  packages/lodestar/src/api/rest/controllers/beacon/getGenesis.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitAttesterSlashing.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitPoolAttestation.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitProposerSlashing.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitVoluntaryExit.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFinalityCheckpoints.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getStateFork.ts
  packages/lodestar/src/api/rest/controllers/beacon/state/getValidator.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getHeads.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getStates.ts
  packages/lodestar/src/api/rest/controllers/node/getPeer.ts
  packages/lodestar/src/api/rest/routes/error.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlockHeader.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/utils.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/fork.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/state.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/stateValidators.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/utils.test.ts
  packages/lodestar/test/unit/api/impl/debug/beacon/index.test.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockAttestations.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockHeader.test.ts
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlockRoot.test.ts
  packages/lodestar/test/unit/api/rest/beacon/getGenesis.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getBeaconCommittees.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getStateFinalityCheckpoints.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getStateFork.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidator.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidators.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidatorsBalances.test.ts
  packages/lodestar/test/unit/api/rest/debug/beacon/getHeads.test.ts
  packages/lodestar/test/unit/api/rest/debug/beacon/getState.test.ts
  packages/lodestar/test/unit/api/rest/node/getPeer.test.ts
Labels: Api

#2367 API route /pool/attestations must expect an array
  packages/lodestar/src/api/impl/beacon/pool/interface.ts
  packages/lodestar/src/api/impl/beacon/pool/pool.ts
  packages/lodestar/src/api/rest/controllers/beacon/pool/submitPoolAttestation.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/submitPoolAttestation.test.ts
  packages/validator/src/api/impl/rest/beacon/pool.ts
  packages/validator/src/api/interface/beacon.ts
  packages/validator/src/services/attestation.ts
  packages/validator/test/unit/services/attestation.test.ts
Labels: Api, Validator

#2329 Improve AggregateAndProof gossip validation
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/seenAttestationCache.ts
  packages/lodestar/src/network/gossip/topic.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/unit/db/seenAttestationCache.test.ts
Labels: Network

#2360 Use createValidatorFlat instead of createFlat
  packages/beacon-state-transition/src/fast/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/fast/util/cachedValidatorList.ts
  packages/beacon-state-transition/src/fast/util/flat.ts
Labels: StateTransition

#2371 Add fork_choice spec test
  packages/fork-choice/src/forkChoice/forkChoice.ts
  packages/spec-test-runner/test/spec/fork_choice/get_head_fast.test.ts
  packages/spec-test-runner/test/spec/fork_choice/type.ts
  packages/spec-test-util/src/single.ts
Labels: StateTransition

#2362 Add prefinalized flag to processChainSegment
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/oneRangeAhead.ts
  packages/lodestar/src/sync/sync.ts
Labels: Network

#2376 Add altair SyncCommitteeContribution types
  packages/params/src/altair/interface.ts
  packages/types/src/altair/ssz/generators.ts
  packages/types/src/altair/ssz/interface.ts
  packages/types/src/altair/types/committee.ts
  packages/types/src/primitive/IPrimitiveSSZTypes.ts
  packages/types/src/primitive/ssz.ts
  packages/types/src/primitive/types.ts
Labels: Config, Types

#2379 fix ws_epoch endpoint
  packages/lodestar/src/api/rest/lodestar/index.ts
Labels: Api

#2375 Update performance test statistic
  packages/beacon-state-transition/test/perf/phase0/fast/block/block.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/getAttestationDeltas.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/epoch/processRewardsAndPenalties.test.ts
  packages/beacon-state-transition/test/perf/phase0/fast/slot/slots.test.ts
Labels: StateTransition

#2374 Add API endpoint to return state multiproof
  packages/lodestar/package.json
  packages/lodestar/src/api/rest/lodestar/index.ts
Labels: Api

#2386 Add total Reqresp timeouts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/request/errors.ts
  packages/lodestar/src/network/reqresp/request/index.ts
  packages/lodestar/src/network/reqresp/request/responseTimeoutsHandler.ts
  packages/lodestar/src/network/reqresp/response/index.ts
  packages/lodestar/test/unit/network/reqresp/response/index.test.ts
Labels: Network

#2387 Trigger abortable-iterator timeouts on infinite sleep
  packages/lodestar/package.json
  packages/lodestar/src/network/reqresp/request/responseTimeoutsHandler.ts
  packages/lodestar/src/util/abortableSource.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/unit/network/reqresp/request/responseTimeoutsHandler.test.ts
  packages/lodestar/types/abortable-iterator/index.d.ts
  packages/validator/package.json
Labels: Network, Validator

#2395 Re-org validator REST api client
  packages/cli/src/cmds/account/cmds/validator/slashingProtection/utils.ts
  packages/cli/src/cmds/dev/handler.ts
  packages/cli/src/cmds/dev/utils/validator.ts
  packages/cli/src/cmds/validator/handler.ts
  packages/cli/src/cmds/validator/utils/interop/validator.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
  packages/lodestar/test/utils/node/validator.ts
  packages/validator/src/api/LocalClock.ts
  packages/validator/src/api/abstract.ts
  packages/validator/src/api/impl/instance.ts
  packages/validator/src/api/impl/rest/apiClient.ts
  packages/validator/src/api/impl/rest/beacon/abstract.ts
  packages/validator/src/api/impl/rest/beacon/beacon.ts
  packages/validator/src/api/impl/rest/beacon/blocks.ts
  packages/validator/src/api/impl/rest/beacon/pool.ts
  packages/validator/src/api/impl/rest/beacon/state.ts
  packages/validator/src/api/impl/rest/config/config.ts
  packages/validator/src/api/impl/rest/events/events.ts
  packages/validator/src/api/impl/rest/events/util.ts
  packages/validator/src/api/impl/rest/index.ts
  packages/validator/src/api/impl/rest/node/node.ts
  packages/validator/src/api/impl/rest/validator/validator.ts
  packages/validator/src/api/index.ts
  packages/validator/src/api/interface.ts
  packages/validator/src/api/interface/beacon.ts
  packages/validator/src/api/interface/clock.ts
  packages/validator/src/api/interface/config.ts
  packages/validator/src/api/interface/events.ts
  packages/validator/src/api/interface/node.ts
  packages/validator/src/api/interface/validators.ts
  packages/validator/src/api/rest/beacon.ts
  packages/validator/src/api/rest/config.ts
  packages/validator/src/api/rest/events.ts
  packages/validator/src/api/rest/index.ts
  packages/validator/src/api/rest/node.ts
  packages/validator/src/api/rest/validator.ts
  packages/validator/src/services/attestation.ts
  packages/validator/src/services/block.ts
  packages/validator/src/util/httpClient.ts
  packages/validator/src/validator.ts
  packages/validator/test/unit/api/rcpClientOverInstance.test.ts
  packages/validator/test/unit/services/attestation.test.ts
  packages/validator/test/unit/utils/httpClient.test.ts
  packages/validator/test/unit/validator.test.ts
  packages/validator/test/utils/apiStub.ts
  packages/validator/test/utils/mocks/beacon.ts
  packages/validator/test/utils/mocks/config.ts
  packages/validator/test/utils/mocks/node.ts
  packages/validator/test/utils/mocks/validator.ts
Labels: CLI, Validator

#2392 Altair: Sync Committee utils
  packages/beacon-state-transition/src/util/duties.ts
  packages/beacon-state-transition/src/util/syncCommittee.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/db/repositories/contributionAndProof.ts
Labels: StateTransition

#2390 Add queue job wait time metric
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/util/queue/index.ts
Labels: Network

#2391 Don't log ErrorAborted in rest api errorHandler
  packages/lodestar/src/api/rest/errorHandler.ts
Labels: Api

#2385 Save 1 epoch transition when the node is synced
  packages/beacon-state-transition/src/phase0/fast/slot/index.ts
  packages/lodestar/src/chain/regen/regen.ts
Labels: StateTransition

#2397 Remove getAttesterDuties limit in REST API
  packages/lodestar/src/api/rest/validator/duties/getAttesterDuties.ts
Labels: Api

#2398 Add dependentRoot to duties API
  packages/beacon-state-transition/src/util/index.ts
  packages/beacon-state-transition/src/util/shufflingDecisionRoot.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/validator/duties/getAttesterDuties.ts
  packages/lodestar/src/api/rest/validator/duties/getProposerDuties.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/api/rest/validator/getAttesterDuties.test.ts
  packages/lodestar/test/unit/api/rest/validator/getProposerDuties.test.ts
  packages/types/src/phase0/ssz/generators/api.ts
  packages/types/src/phase0/ssz/interface.ts
  packages/types/src/phase0/types/api.ts
  packages/validator/src/api/interface.ts
  packages/validator/src/api/rest/validator.ts
  packages/validator/src/services/attestation.ts
  packages/validator/src/services/block.ts
  packages/validator/test/unit/services/attestation.test.ts
Labels: Api, StateTransition, Types, Validator

#2400 Lightclient consumer
  packages/beacon-state-transition/src/util/domain.ts
  packages/light-client/package.json
  packages/light-client/src/index.ts
  packages/light-client/src/sync/index.ts
  packages/light-client/src/sync/update.ts
  packages/light-client/src/sync/validation.ts
  packages/light-client/src/update.ts
  packages/light-client/src/utils.ts
  packages/light-client/src/validation.ts
  packages/light-client/test/prepareUpdate.ts
  packages/light-client/test/setup.ts
  packages/light-client/test/unit/sync.test.ts
  packages/light-client/test/unit/validation.test.ts
  packages/light-client/test/utils.ts
  packages/params/package.json
  packages/params/src/constants.ts
  packages/params/test/e2e/ensure-config-is-synced.test.ts
  packages/params/test/unit/constants.test.ts
  packages/types/src/altair/ssz/generators.ts
  packages/types/src/altair/ssz/interface.ts
  packages/types/src/altair/types/sync.ts
  yarn.lock
Labels: Config, StateTransition, Types

#2369 extend beacon state API to get unarchived finalized states
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/src/api/impl/debug/beacon/index.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
  packages/lodestar/test/unit/api/impl/beacon/state/utils.test.ts
  packages/lodestar/test/unit/api/impl/debug/beacon/index.test.ts
  packages/lodestar/test/unit/db/seenAttestationCache.test.ts
Labels: Api

#2402 chore(release): v0.20.0
  lerna.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2403 include epoch 0 in getNearestArchivedState
  packages/lodestar/src/api/impl/beacon/state/utils.ts
Labels: Api

#2384 Add participation caches
  packages/beacon-state-transition/package.json
  packages/beacon-state-transition/src/fast/epoch/processEffectiveBalanceUpdates.ts
  packages/beacon-state-transition/src/fast/stateTransition.ts
  packages/beacon-state-transition/src/fast/util/attesterStatus.ts
  packages/beacon-state-transition/src/fast/util/cachedBalanceList.ts
  packages/beacon-state-transition/src/fast/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/fast/util/cachedEpochParticipation.ts
  packages/beacon-state-transition/src/fast/util/epochProcess.ts
  packages/beacon-state-transition/src/phase0/fast/block/processDeposit.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/getAttestationDeltas.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/processRegistryUpdates.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/processRewardsAndPenalties.ts
  packages/beacon-state-transition/src/phase0/fast/epoch/processSlashings.ts
  yarn.lock
Labels: StateTransition

#2428 Use enum for ForkName
  packages/beacon-state-transition/src/fast/stateTransition.ts
  packages/beacon-state-transition/src/fast/util/epochProcess.ts
  packages/beacon-state-transition/src/util/fork.ts
  packages/config/src/index.ts
  packages/config/src/interface.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/emitter.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/repositories/block/index.ts
  packages/lodestar/src/db/repositories/blockArchive/index.ts
  packages/lodestar/src/db/repositories/pendingBlock/index.ts
  packages/lodestar/src/db/repositories/stateArchive/index.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/src/util/forkName.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/gossip/topic.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Config, Network, StateTransition

#2421 Improve BLS multi-thread worker pool strategy
  packages/beacon-state-transition/src/fast/signatureSets/attesterSlashings.ts
  packages/beacon-state-transition/src/util/signatureSets.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/bls/index.ts
  packages/lodestar/src/chain/bls/multithread/index.ts
  packages/lodestar/src/chain/bls/multithread/types.ts
  packages/lodestar/src/chain/bls/multithread/utils.ts
  packages/lodestar/src/chain/bls/multithread/worker.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/chain/validation/attesterSlashing.ts
  packages/lodestar/src/chain/validation/block.ts
  packages/lodestar/src/chain/validation/proposerSlashing.ts
  packages/lodestar/src/chain/validation/voluntaryExit.ts
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/test/e2e/chain/bls/multithread.test.ts
  packages/lodestar/test/unit/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/chain/validation/attestation.test.ts
  packages/lodestar/test/unit/chain/validation/attesterSlashing.test.ts
  packages/lodestar/test/unit/chain/validation/block.test.ts
  packages/lodestar/test/unit/chain/validation/proposerSlashing.test.ts
  packages/lodestar/test/unit/chain/validation/voluntaryExit.test.ts
Labels: StateTransition

#2416 Refactor validator client
  packages/beacon-state-transition/src/fast/util/epochContext.ts
  packages/cli/src/cmds/account/cmds/validator/slashingProtection/utils.ts
  packages/cli/src/cmds/account/cmds/validator/voluntaryExit.ts
  packages/cli/src/cmds/dev/handler.ts
  packages/cli/src/cmds/validator/handler.ts
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/api/impl/beacon/pool/pool.ts
  packages/lodestar/src/api/impl/utils.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/logger.ts
  packages/lodestar/src/db/repositories/aggregateAndProof.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
  packages/lodestar/test/sim/singleNodeSingleThread.test.ts
  packages/lodestar/test/sim/threaded/noEth1SimWorker.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/publishBlock.test.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAttestationData.test.ts
  packages/lodestar/test/utils/node/simTest.ts
  packages/lodestar/test/utils/node/validator.ts
  packages/utils/src/format.ts
  packages/validator/src/api/LocalClock.ts
  packages/validator/src/api/index.ts
  packages/validator/src/api/instance.ts
  packages/validator/src/api/interface.ts
  packages/validator/src/api/rest/events.ts
  packages/validator/src/api/rest/index.ts
  packages/validator/src/genesis.ts
  packages/validator/src/index.ts
  packages/validator/src/services/attestation.ts
  packages/validator/src/services/attestationDuties.ts
  packages/validator/src/services/block.ts
  packages/validator/src/services/blockDuties.ts
  packages/validator/src/services/fork.ts
  packages/validator/src/services/utils.ts
  packages/validator/src/services/validatorStore.ts
  packages/validator/src/types.ts
  packages/validator/src/util/clock.ts
  packages/validator/src/util/difference.ts
  packages/validator/src/util/error.ts
  packages/validator/src/util/index.ts
  packages/validator/src/util/misc.ts
  packages/validator/src/validator.ts
  packages/validator/src/voluntaryExit.ts
  packages/validator/test/unit/services/attestation.test.ts
  packages/validator/test/unit/services/attestationDuties.test.ts
  packages/validator/test/unit/services/block.test.ts
  packages/validator/test/unit/services/blockDuties.test.ts
  packages/validator/test/unit/services/fork.test.ts
  packages/validator/test/unit/services/utils.test.ts
  packages/validator/test/unit/setup.ts
  packages/validator/test/unit/utils/clock.test.ts
  packages/validator/test/unit/utils/difference.test.ts
  packages/validator/test/unit/utils/misc.test.ts
  packages/validator/test/unit/validator.test.ts
  packages/validator/test/utils/apiStub.ts
  packages/validator/test/utils/clock.ts
Labels: Api, CLI, StateTransition, Validator

#2432 Promote to full release immediatelly
  .github/workflows/release.yml
Labels: CI

#2414 add state root to finalized checkpoint event
  packages/lodestar/src/api/impl/events/handlers.ts
  packages/lodestar/test/unit/api/impl/events/events.test.ts
Labels: Api

#2441 Cache fork digest
  packages/beacon-state-transition/src/util/fork.ts
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/src/interface.ts
  packages/config/test/unit/index.test.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/topic.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/network/metadata/utils.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/oneRangeAhead.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
  packages/lodestar/src/util/forkDigestContext.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/gossip/topic.test.ts
  packages/lodestar/test/unit/network/metadata/utils.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/unit/sync/utils/attestation-collector.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/params/src/altair/interface.ts
  packages/params/src/altair/ssz.ts
  packages/params/src/presets/mainnet/altair.ts
  packages/params/src/presets/mainnet/index.ts
  packages/params/src/presets/minimal/altair.ts
  packages/params/src/presets/minimal/index.ts
  packages/spec-test-runner/test/spec/altair/sanity/blocks/mainnet.test.ts
  packages/spec-test-runner/test/spec/altair/sanity/blocks/minimal.test.ts
Labels: Config, Network, StateTransition
