Repository ChainSafe/lodestar, pull requests merged in 2021-01, with the labels that each got.

#1922 Remove naive regular sync
  packages/lodestar/src/sync/regular/index.ts
  packages/lodestar/src/sync/regular/naive/index.ts
  packages/lodestar/src/sync/regular/naive/naive.ts
  packages/lodestar/test/unit/sync/sync.test.ts
Labels: Network

#1903 Add withTimeout utility
  packages/lodestar-utils/package.json
  packages/lodestar-utils/src/errors.ts
  packages/lodestar-utils/src/index.ts
  packages/lodestar-utils/src/timeout.ts
  packages/lodestar-utils/test/unit/timeout.test.ts
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/lodestar/src/network/util.ts
  yarn.lock
Labels: Network, Validator

#1902 Get connected peers from connection manager
  packages/lodestar/src/api/impl/node/interface.ts
  packages/lodestar/src/api/impl/node/node.ts
  packages/lodestar/src/api/impl/node/utils.ts
  packages/lodestar/src/api/rest/controllers/node/getPeers.ts
  packages/lodestar/src/api/types/node.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/tasks/checkPeerAliveTask.ts
  packages/lodestar/src/network/tasks/diversifyPeersBySubnetTask.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/peers.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
  packages/lodestar/test/unit/api/rest/node/getPeer.test.ts
  packages/lodestar/test/unit/api/rest/node/getPeers.test.ts
  packages/lodestar/test/unit/network/peers/utils.test.ts
  yarn.lock
Labels: Api, Network

#1936 NetworkEvent object
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
Labels: Network

#1942 add missing (& remove uneeded) lodestar-* deps
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
Labels: Validator

#1937 Store state to db only every n epochs
  packages/lodestar-cli/src/util/process.ts
  packages/lodestar/src/tasks/index.ts
Labels: CLI

#1934 Process chain segment
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/errors/blockError.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/interface.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/oneRangeAhead.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/processor.ts
  packages/lodestar/test/unit/chain/blocks/process.test.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/oneRangeAhead.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/processor.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Network

#1947 removeListener->off (where applicable)
  packages/lodestar/src/api/impl/events/events.ts
  packages/lodestar/src/chain/clock/LocalClock.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/stats/stats.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/attestation-collector.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/interopSubnetsJoiningTask.ts
Labels: Api, Network

#1953 metadata.metadata -> metadata.all
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
Labels: Network

#1951 Validate and broadcast voluntary exit, propsoser/attester slashing
  packages/lodestar/src/api/impl/beacon/pool/pool.ts
  packages/lodestar/test/unit/api/impl/beacon/pool/pool.test.ts
  packages/lodestar/test/utils/block.ts
Labels: Api

#1954 Reduce IDatabaseController interface in @chainsafe/lodestar-validator
  packages/lodestar-validator/src/slashingProtection/attestation/attestationByTargetRepository.ts
  packages/lodestar-validator/src/slashingProtection/attestation/attestationLowerBoundRepository.ts
  packages/lodestar-validator/src/slashingProtection/block/blockBySlotRepository.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/distanceStoreRepository.ts
  packages/lodestar-validator/src/types.ts
Labels: Validator

#1967 chore(release): v0.14.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/persistent-ts/package.json
  packages/spec-test-runner/package.json
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#1959 --testnet -> --network
  docker-compose.yml
  docs/design/architecture.md
  docs/usage/key-management.md
  docs/usage/testnet.md
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/export.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/list.ts
  packages/lodestar-cli/src/cmds/beacon/index.ts
  packages/lodestar-cli/src/cmds/beacon/initBeaconState.ts
  packages/lodestar-cli/src/cmds/init/handler.ts
  packages/lodestar-cli/src/cmds/init/index.ts
  packages/lodestar-cli/src/cmds/validator/index.ts
  packages/lodestar-cli/src/config/beaconNodeOptions.ts
  packages/lodestar-cli/src/config/beaconParams.ts
  packages/lodestar-cli/src/networks/index.ts
  packages/lodestar-cli/src/networks/mainnet.ts
  packages/lodestar-cli/src/networks/pyrmont.ts
  packages/lodestar-cli/src/options/globalOptions.ts
  packages/lodestar-cli/src/paths/global.ts
  packages/lodestar-cli/src/paths/rootDir.ts
  packages/lodestar-cli/src/util/file.ts
  packages/lodestar-cli/test/e2e/cmds/init.test.ts
  packages/lodestar-cli/test/unit/config/beaconNodeOptions.test.ts
  packages/lodestar-cli/test/unit/config/beaconParams.test.ts
  packages/lodestar-cli/test/unit/paths/globalPaths.test.ts
Labels: CLI

#1975 Speed up lodestar unit test loading
  packages/lodestar/test/unit/chain/factory/attestation/data.test.ts
  packages/lodestar/tsconfig.test.json
Labels: Meta: Exclude From Changelog

#1982 Replace all mentions of medalla (and any other dead testnets) with pyrmont
  .dockerignore
  .gitignore
  docs/usage/key-management.md
  packages/lodestar-cli/src/cmds/account/cmds/validator/deposit.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/export.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/import.ts
  packages/lodestar-cli/src/cmds/beacon/index.ts
  packages/lodestar-cli/src/cmds/init/index.ts
  packages/lodestar-cli/src/cmds/validator/index.ts
  packages/lodestar/test/e2e/eth1/eth1ForBlockProduction.test.ts
  packages/lodestar/test/e2e/eth1/eth1Provider.test.ts
  packages/lodestar/test/e2e/eth1/stream.test.ts
  packages/lodestar/test/unit/eth1/utils/depositContract.test.ts
  packages/lodestar/test/utils/testnet.ts
Labels: CLI

#1961 Initial sync as state machine
  docker/grafana/provisioning/dashboards/lodestar.json
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/sync/index.ts
  packages/lodestar/src/sync/initial/fast/index.ts
  packages/lodestar/src/sync/initial/index.ts
  packages/lodestar/src/sync/initial/interface.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/range/batch.ts
  packages/lodestar/src/sync/range/batches.ts
  packages/lodestar/src/sync/range/chain.ts
  packages/lodestar/src/sync/range/peerBalancer.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/stats/timeSeries.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/bestPeers.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/src/util/itTrigger.ts
  packages/lodestar/src/util/shuffle.ts
  packages/lodestar/src/util/sort.ts
  packages/lodestar/src/util/sortBy.ts
  packages/lodestar/src/util/time.ts
  packages/lodestar/test/sim/singleNodeSingleThread.test.ts
  packages/lodestar/test/unit/sync/initial/fast.test.ts
  packages/lodestar/test/unit/sync/range/batch.test.ts
  packages/lodestar/test/unit/sync/range/batches.test.ts
  packages/lodestar/test/unit/sync/range/chain.test.ts
  packages/lodestar/test/unit/sync/range/peerBalancer.test.ts
  packages/lodestar/test/unit/sync/stats/timeSeries.test.ts
  packages/lodestar/test/unit/sync/sync.test.ts
  packages/lodestar/test/unit/sync/utils/bestPeer.test.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/unit/util/itTrigger.test.ts
  packages/lodestar/test/unit/util/shuffle.test.ts
  packages/lodestar/test/unit/util/sortBy.test.ts
  packages/lodestar/test/unit/util/time.test.ts
  packages/lodestar/test/utils/errors.ts
Labels: Network

#1958 Unify EpochContext
  packages/lodestar-beacon-state-transition/src/fast/epoch/index.ts
  packages/lodestar-beacon-state-transition/src/fast/index.ts
  packages/lodestar-beacon-state-transition/src/fast/slot/index.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochContext.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochProcess.ts
  packages/lodestar-beacon-state-transition/src/fast/util/index.ts
  packages/lodestar-beacon-state-transition/test/perf/epoch_processing.test.ts
  packages/lodestar-beacon-state-transition/test/perf/sanity/slots.test.ts
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/db/api/beacon/stateContextCache.ts
  packages/lodestar/src/db/api/beacon/stateContextCheckpointsCache.ts
Labels: StateTransition

#1805 Cache balances when processing epoch
  packages/lodestar-beacon-state-transition/src/fast/epoch/processFinalUpdates.ts
  packages/lodestar-beacon-state-transition/src/fast/epoch/processRewardsAndPenalties.ts
  packages/lodestar-beacon-state-transition/src/fast/util/epochProcess.ts
  packages/lodestar-beacon-state-transition/test/perf/epoch_processing.test.ts
Labels: StateTransition

#1992 Incorporate new processChainSegment into range sync
  packages/lodestar/src/sync/range/chain.ts
  packages/lodestar/src/sync/sync.ts
Labels: Network

#1952 Hard fork friendly db
  packages/lodestar-beacon-state-transition/src/util/fork.ts
  packages/lodestar-db/src/abstractRepository.ts
  packages/lodestar-db/src/const.ts
  packages/lodestar-db/src/index.ts
  packages/lodestar-db/src/schema.ts
  packages/lodestar-db/test/unit/schema.test.ts
  packages/lodestar-params/src/beaconParams.ts
  packages/lodestar-params/src/presets/mainnet.ts
  packages/lodestar-params/src/presets/minimal.ts
  packages/lodestar-types/src/ssz/generators/lightclient/types.ts
  packages/lodestar-types/src/types/lightclient/interface.ts
  packages/lodestar-types/src/types/lightclient/types/index.ts
  packages/lodestar-utils/src/bytes.ts
  packages/lodestar-validator/src/slashingProtection/attestation/attestationByTargetRepository.ts
  packages/lodestar-validator/src/slashingProtection/block/blockBySlotRepository.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/distanceStoreRepository.ts
  packages/lodestar/src/db/api/beacon/const.ts
  packages/lodestar/src/db/api/beacon/repositories/block/blocks.ts
  packages/lodestar/src/db/api/beacon/repositories/block/index.ts
  packages/lodestar/src/db/api/beacon/repositories/block/initial.ts
  packages/lodestar/src/db/api/beacon/repositories/block/ligthclient.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive/abstract.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive/db-index.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive/index.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive/initial.ts
  packages/lodestar/src/db/api/beacon/repositories/blockArchive/lightclient.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/tasks/tasks/archiveBlocks.ts
  packages/lodestar/test/e2e/db/api/beacon/repositories/blockArchive.test.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/chain/factory/attestation/data.test.ts
  packages/lodestar/test/unit/db/api/repositories/blockArchive.test.ts
  packages/lodestar/test/unit/tasks/tasks/blockArchiver.test.ts
Labels: Config, Network, StateTransition, Types, Validator

#2008 --logFile option for validator client
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/cmds/validator/options.ts
Labels: CLI

#1890 blockService and attestationService validator data consolidations
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/services/utils.ts
  packages/lodestar-validator/src/types.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/unit/services/attestation.test.ts
  packages/lodestar-validator/test/unit/services/block.test.ts
  packages/lodestar/test/e2e/chain/factory/block/assembleBlock.test.ts
Labels: Validator
