Repository ChainSafe/lodestar, pull requests merged in 2021-02, with the labels that each got.

#2014 validator client --logLevel
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/cmds/validator/options.ts
Labels: CLI

#2009 Fix validator not found and wrong events url
  packages/lodestar/src/api/impl/beacon/state/state.ts
Labels: Api, Validator

#2018 fix httpClient error formatting
  packages/lodestar-validator/src/util/httpClient.ts
Labels: Validator

#2016 add epoch and status headers to SyncChain stuck logs
  packages/lodestar/src/sync/range/chain.ts
Labels: Network

#2019 chore(release): v0.15.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/persistent-ts/package.json
  packages/spec-test-runner/package.json
Labels: Benchmarks, CLI, Config, Meta: Exclude From Changelog, StateTransition, Types, Validator

#1999 Update libp2p to 0.30.x
  packages/lodestar/package.json
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  yarn.lock
Labels: Network

#2025 Calculate state root of BeaconState instead of CachedValidatorsBeaconState
  packages/lodestar-beacon-state-transition/src/fast/index.ts
  packages/lodestar-beacon-state-transition/src/fast/slot/processSlot.ts
Labels: StateTransition

#2028 Initialize persistent vector with array
  packages/lodestar-beacon-state-transition/src/fast/util/interface.ts
  packages/persistent-ts/README.md
  packages/persistent-ts/src/Vector.ts
  packages/persistent-ts/test/unit/Vector.test.ts
Labels: StateTransition

#2037 Fix validator aggregating all the time
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/utils.ts
  packages/lodestar-validator/src/util/aggregator.ts
  packages/lodestar-validator/test/unit/services/utils.test.ts
  packages/lodestar-validator/test/unit/utils/aggregator.test.ts
Labels: Validator

#2038 Build docker image in github actions
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: CI

#2032 implement getValidatorStatus and use it in getStateValidator(s)
  packages/lodestar-types/src/types/api.ts
  packages/lodestar/src/api/impl/beacon/state/interface.ts
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/test/unit/api/impl/beacon/state/stateValidators.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/utils.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidator.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getValidators.test.ts
Labels: Api, Types

#1986 add voluntary exit to lodestar-cli
  packages/lodestar-cli/src/cmds/account/cmds/validator/index.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/voluntaryExit.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDir.ts
  packages/lodestar-cli/src/validatorDir/ValidatorDirManager.ts
  packages/lodestar-cli/test/e2e/cmds/account.test.ts
  packages/lodestar-validator/src/api/impl/rest/beacon/pool.ts
  packages/lodestar-validator/src/api/interface/beacon.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/handlers/voluntaryExit.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/test/utils/mocks/gossipsub.ts
Labels: CLI, Network, Validator

#2036 config api
  packages/lodestar-types/src/ssz/generators/api.ts
  packages/lodestar-types/src/ssz/interface.ts
  packages/lodestar-types/src/types/api.ts
  packages/lodestar-types/src/types/primitive.ts
  packages/lodestar/src/api/impl/api.ts
  packages/lodestar/src/api/impl/config/config.ts
  packages/lodestar/src/api/impl/config/index.ts
  packages/lodestar/src/api/impl/config/interface.ts
  packages/lodestar/src/api/impl/interface.ts
  packages/lodestar/src/api/rest/controllers/config/getDepositContract.ts
  packages/lodestar/src/api/rest/controllers/config/getForkSchedule.ts
  packages/lodestar/src/api/rest/controllers/config/getSpec.ts
  packages/lodestar/src/api/rest/controllers/config/index.ts
  packages/lodestar/src/api/rest/routes/config.ts
  packages/lodestar/src/api/rest/routes/index.ts
  packages/lodestar/test/unit/api/impl/config/config.test.ts
  packages/lodestar/test/unit/api/rest/config/getDepositContract.test.ts
  packages/lodestar/test/unit/api/rest/config/getForkSchedule.test.ts
  packages/lodestar/test/unit/api/rest/config/getSpec.test.ts
  packages/lodestar/test/unit/api/rest/config/index.ts
  packages/lodestar/test/utils/stub/api.ts
  packages/lodestar/test/utils/stub/configApi.ts
Labels: Api, Status: WIP, Types

#2040 validator client: config api and application to voluntaryExit
  packages/lodestar-cli/src/cmds/dev/utils/validator.ts
  packages/lodestar-validator/src/api/abstract.ts
  packages/lodestar-validator/src/api/impl/instance.ts
  packages/lodestar-validator/src/api/impl/rest/apiClient.ts
  packages/lodestar-validator/src/api/impl/rest/config/config.ts
  packages/lodestar-validator/src/api/impl/rest/index.ts
  packages/lodestar-validator/src/api/interface.ts
  packages/lodestar-validator/src/api/interface/config.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar-validator/test/unit/api/rcpClientOverInstance.test.ts
  packages/lodestar-validator/test/unit/validator.test.ts
  packages/lodestar-validator/test/utils/apiStub.ts
  packages/lodestar-validator/test/utils/mocks/config.ts
  packages/lodestar/test/utils/node/validator.ts
Labels: CLI, Validator

#2047 chore(release): v0.16.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/persistent-ts/package.json
  packages/spec-test-runner/package.json
Labels: Benchmarks, CLI, Config, Meta: Exclude From Changelog, StateTransition, Types, Validator

#2055 Process prepareBeaconCommittee req as array
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
  packages/lodestar-validator/src/api/interface/validators.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/test/utils/mocks/validator.ts
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/controllers/validator/prepareCommitteeSubnet.ts
  packages/lodestar/test/unit/api/rest/validator/prepareCommitteeSubnet.test.ts
Labels: Api, Validator

#2058 ReqResp does not return null in any case
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/request/collectResponses.ts
  packages/lodestar/src/network/reqresp/request/errors.ts
  packages/lodestar/src/network/reqresp/request/index.ts
  packages/lodestar/src/network/tasks/checkPeerAliveTask.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/tasks/checkPeerAliveTask.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/fetcher.test.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
Labels: Network

#2059 Move sync progress logger to the root node instance
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/metadata/metadata.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/node/notifier.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/range/chain.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/util/timeSeries.ts
  packages/lodestar/test/unit/api/impl/validator/produceAttestationData.test.ts
  packages/lodestar/test/unit/sync/stats/timeSeries.test.ts
Labels: Network

#2062 Improve ReqResp debug logs
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/request/index.ts
  packages/lodestar/src/network/reqresp/response/index.ts
  packages/lodestar/src/network/util.ts
Labels: Network

#2065 Fix pending lint warnings
  packages/lodestar/src/api/impl/node/node.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/test/e2e/db/api/beacon/repositories/blockArchive.test.ts
  packages/lodestar/test/sim/multiNodeMultiThread.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/utils.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Api, Network

#2063 Abstract assertPeerRelevance function
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/assertPeerRelevance.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/unit/sync/reqResp.test.ts
  packages/lodestar/test/unit/sync/utils/assertPeerRelevance.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Network

#2066 Fix non-thenable lint warnings
  .eslintrc.js
  packages/lodestar-cli/test/unit/config/fileEnr.test.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/node/notifier.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/test/unit/eth1/utils/eth1Data.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/utils/node/beacon.ts
Labels: CLI, Network

#2068 Fix extraneous dependencies
  .eslintrc.js
  package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  yarn.lock
Labels: CLI, StateTransition

#2069 Fix changelog generator
  .github/workflows/release.yml
Labels: CI, Meta: Exclude From Changelog

#2060 Simplify PeerMetastore API
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/index.ts
  packages/lodestar/src/network/peers/interface.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/network/peers/score/simpleRpcScore.ts
  packages/lodestar/src/network/peers/sszTypes.ts
  packages/lodestar/src/network/peers/utils.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/fetcher.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/oneRangeAhead.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/bestPeers.ts
  packages/lodestar/src/sync/utils/sync.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/peers/metastore.test.ts
  packages/lodestar/test/unit/network/peers/score/simpleBlockProvider.test.ts
  packages/lodestar/test/unit/network/peers/utils.test.ts
  packages/lodestar/test/unit/network/tasks/checkPeerAliveTask.test.ts
  packages/lodestar/test/unit/network/tasks/diversifyPeersBySubnetTask.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/fetcher.test.ts
  packages/lodestar/test/unit/sync/reqResp.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/utils/peer.ts
Labels: Network

#2064 Add getAttestationDeltas performance test
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/block/block.test.ts
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/epoch/epoch.test.ts
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/epoch/getAttestationDeltas.test.ts
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/slot/slots.test.ts
  packages/lodestar-beacon-state-transition/test/perf/util.ts
Labels: StateTransition

#2067 Simplify BeaconGossipHandler
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/gossip/index.ts
  packages/lodestar/src/sync/gossip/interface.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
Labels: Network

#2074 Update peer score store to use PeerAction and decay
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/network/peers/score.ts
  packages/lodestar/src/network/peers/score/index.ts
  packages/lodestar/src/network/peers/score/interface.ts
  packages/lodestar/src/network/peers/score/simpleRpcScore.ts
  packages/lodestar/src/network/reqresp/interface.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/score.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/bestPeers.ts
  packages/lodestar/src/sync/utils/peers.ts
  packages/lodestar/test/unit/network/peers/score.test.ts
  packages/lodestar/test/unit/network/peers/score/simpleBlockProvider.test.ts
  packages/lodestar/test/unit/network/peers/utils.test.ts
  packages/lodestar/test/unit/sync/utils/peer.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/utils/peer.ts
Labels: Network

#2084 Add more tests for assertSequentialBlocksInRange
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/utils/assertSequentialBlocksInRange.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/unit/network/reqresp/utils/assertSequentialBlocksInRange.test.ts
  packages/lodestar/test/unit/sync/utils/block.test.ts
  packages/lodestar/test/utils/errors.ts
Labels: Network

#2086 Fix validator client beacon_committee_subscriptions
  packages/lodestar-validator/src/api/impl/rest/validator/validator.ts
Labels: Validator

#2088 Log hygiene at info level for beacon node and cli
  packages/lodestar-cli/src/cmds/account/cmds/validator/voluntaryExit.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/tasks/checkPeerAliveTask.ts
  packages/lodestar/src/network/tasks/diversifyPeersBySubnetTask.ts
  packages/lodestar/src/sync/gossip/handler.ts
  packages/lodestar/src/sync/regular/oneRangeAhead/oneRangeAhead.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
Labels: CLI, Network

#2090 Fix asssertPeerRelevance during pre-genesis
  packages/lodestar/src/sync/utils/assertPeerRelevance.ts
  packages/lodestar/test/unit/sync/utils/assertPeerRelevance.test.ts
Labels: Network

#2045 Lightclient epoch processing
  packages/lodestar-beacon-state-transition/src/lightclient/constants.ts
  packages/lodestar-beacon-state-transition/src/lightclient/epoch/balance_utils.ts
  packages/lodestar-beacon-state-transition/src/lightclient/epoch/flag.ts
  packages/lodestar-beacon-state-transition/src/lightclient/epoch/index.ts
  packages/lodestar-beacon-state-transition/src/lightclient/epoch/justification_finalization.ts
  packages/lodestar-beacon-state-transition/src/lightclient/epoch/rewards_and_penalties.ts
  packages/lodestar-beacon-state-transition/src/lightclient/epoch/sync_committee.ts
  packages/lodestar-beacon-state-transition/src/lightclient/misc.ts
  packages/lodestar-beacon-state-transition/src/lightclient/naive/upgrade.ts
  packages/lodestar-beacon-state-transition/src/lightclient/state_accessor/index.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/balanceUpdates/attestation.ts
  packages/lodestar-types/src/lightclient/ssz/generators.ts
  packages/lodestar-types/src/lightclient/types/beacon.ts
  packages/lodestar-types/src/primitive/IPrimitiveSSZTypes.ts
  packages/lodestar-types/src/primitive/ssz.ts
  packages/lodestar-types/src/primitive/types.ts
Labels: StateTransition, Types

#2096 Add wtfnode api endpoint
  packages/lodestar-cli/src/options/beaconNodeOptions/api.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/api.ts
  packages/lodestar/src/api/impl/interface.ts
  packages/lodestar/src/api/impl/lodestar/index.ts
  packages/lodestar/src/api/rest/controllers/lodestar/index.ts
  packages/lodestar/src/api/rest/routes/index.ts
  packages/lodestar/src/api/rest/routes/lodestar.ts
  packages/lodestar/test/utils/stub/api.ts
  yarn.lock
Labels: Api, CLI

#2094 Hf1 spec tests
  packages/lodestar-beacon-state-transition/src/lightclient/epoch/sync_committee.ts
  packages/lodestar-beacon-state-transition/src/lightclient/naive/epoch/balance_utils.ts
  packages/lodestar-beacon-state-transition/src/lightclient/naive/epoch/flag.ts
  packages/lodestar-beacon-state-transition/src/lightclient/naive/epoch/index.ts
  packages/lodestar-beacon-state-transition/src/lightclient/naive/epoch/justification_finalization.ts
  packages/lodestar-beacon-state-transition/src/lightclient/naive/epoch/rewards_and_penalties.ts
  packages/lodestar-beacon-state-transition/src/lightclient/naive/epoch/sync_committee.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/effective_balance.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/eth1.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/finalUpdates.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/historical_roots.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/index.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/participation_records.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/randao.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/slashings.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/finalUpdates.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/index.test.ts
  packages/lodestar-spec-test-util/src/downloadTests.ts
  packages/spec-test-runner/test/downloadTests.ts
  packages/spec-test-runner/test/spec/epoch_processing/effective_balance_updates/mainnet.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/effective_balance_updates/minimal.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/eth1_data_reset/mainnet.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/eth1_data_reset/minimal.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/historical_roots_update/mainnet.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/historical_roots_update/minimal.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/participation_record_updates/mainnet.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/participation_record_updates/minimal.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/randao_mixes_reset/mainnet.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/randao_mixes_reset/minimal.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/slashings_reset.ts/mainnet.test.ts
  packages/spec-test-runner/test/spec/epoch_processing/slashings_reset.ts/minimal.test.ts
  packages/spec-test-runner/test/utils/specTestCases.ts
Labels: StateTransition

#2100 Rename Libp2pNetwork to just Network
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/api/impl/beacon/beacon.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlockHeader.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlockHeaders.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/publishBlock.test.ts
  packages/lodestar/test/unit/api/impl/beacon/pool/pool.test.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
  packages/lodestar/test/unit/api/impl/validator/produceAttestationData.test.ts
  packages/lodestar/test/unit/network/peers/utils.test.ts
  packages/lodestar/test/unit/network/tasks/checkPeerAliveTask.test.ts
  packages/lodestar/test/unit/network/tasks/diversifyPeersBySubnetTask.test.ts
  packages/lodestar/test/unit/sync/gossip/handler.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/fetcher.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/oneRangeAhead.test.ts
  packages/lodestar/test/unit/sync/reqResp.test.ts
  packages/lodestar/test/unit/sync/utils/peer.test.ts
  packages/lodestar/test/unit/sync/utils/sync.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
Labels: Network

#2099 Remove unnecessary getMissingAncestor method
  packages/lodestar/src/chain/blocks/pool.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/chain/blocks/pool.test.ts
Labels: Network

#2101 Re-org range sync utils
  packages/lodestar/src/sync/range/chain.ts
  packages/lodestar/src/sync/range/utils/batches.ts
  packages/lodestar/src/sync/range/utils/peerBalancer.ts
  packages/lodestar/src/util/peerMap.ts
  packages/lodestar/src/util/sortBy.ts
  packages/lodestar/test/unit/sync/range/utils/batches.test.ts
  packages/lodestar/test/unit/sync/range/utils/peerBalancer.test.ts
  packages/lodestar/test/unit/util/peerMap.test.ts
Labels: Network

#2102 Add specialized peer metrics
  docker/grafana/provisioning/dashboards/lodestar.json
  packages/lodestar/src/metrics/beacon.ts
  packages/lodestar/src/metrics/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/sync/reqResp.test.ts
Labels: Network

#2104 Modularize ReqResp handlers
  packages/lodestar/src/network/reqresp/handlers/beaconBlocksByRange.ts
  packages/lodestar/src/network/reqresp/handlers/beaconBlocksByRoot.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
Labels: Network

#2105 Simplify API impl for node peers
  packages/lodestar/src/api/impl/node/node.ts
  packages/lodestar/src/api/impl/node/utils.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
Labels: Api, Network

#2106 Improve toBeProcessedStartEpoch logic
  packages/lodestar/src/sync/range/utils/batches.ts
Labels: Network

#2107 Wrap errors in Range Sync Chain
  packages/lodestar/src/sync/range/chain.ts
  packages/lodestar/src/sync/range/utils/index.ts
  packages/lodestar/src/sync/range/utils/wrapError.ts
Labels: Network
