Repository ChainSafe/lodestar, pull requests merged in 2021-08, with the labels that each got.

#2912 Update ssz to v0.8.12
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#2911 Simplify block processor types
  packages/beacon-state-transition/src/allForks/block/initiateValidatorExit.ts
  packages/beacon-state-transition/src/altair/block/index.ts
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/altair/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/altair/block/processOperations.ts
  packages/beacon-state-transition/src/altair/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/altair/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/phase0/block/index.ts
  packages/beacon-state-transition/src/phase0/block/processAttestation.ts
  packages/beacon-state-transition/src/phase0/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/phase0/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/phase0/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/util/blockProcess.ts
  packages/spec-test-runner/test/spec/altair/operations/attestations/attestations.ts
  packages/spec-test-runner/test/spec/altair/operations/attesterSlashing/attesterSlashing.ts
  packages/spec-test-runner/test/spec/altair/operations/proposerSlashing/proposerSlashing.ts
  packages/spec-test-runner/test/spec/altair/operations/voluntaryExit/voluntaryExit.ts
  packages/spec-test-runner/test/spec/phase0/operations/attestations/attestations_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/operations/attesterSlashing/attester_slashing_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/operations/proposerSlashing/proposer_slashing_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/operations/voluntaryExit/voluntary_exit_mainnet.test.ts
Labels: StateTransition

#2871 EpochProcess: Prepare activeValidatorIndices for the next epoch
  packages/beacon-state-transition/src/allForks/stateTransition.ts
  packages/beacon-state-transition/src/allForks/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
  packages/beacon-state-transition/src/allForks/util/epochShuffling.ts
  packages/beacon-state-transition/src/altair/epoch/sync_committee.ts
  packages/beacon-state-transition/src/altair/upgradeState.ts
  packages/beacon-state-transition/src/util/balance.ts
  packages/beacon-state-transition/src/util/genesis.ts
  packages/beacon-state-transition/test/perf/util.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
Labels: Api, StateTransition

#2914 Update ssz to v0.8.13
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#2915 Rename process to epochProcess
  packages/beacon-state-transition/src/allForks/epoch/processEffectiveBalanceUpdates.ts
  packages/beacon-state-transition/src/allForks/epoch/processEth1DataReset.ts
  packages/beacon-state-transition/src/allForks/epoch/processHistoricalRootsUpdate.ts
  packages/beacon-state-transition/src/allForks/epoch/processJustificationAndFinalization.ts
  packages/beacon-state-transition/src/allForks/epoch/processRandaoMixesReset.ts
  packages/beacon-state-transition/src/allForks/epoch/processRegistryUpdates.ts
  packages/beacon-state-transition/src/allForks/epoch/processSlashingsReset.ts
  packages/beacon-state-transition/src/allForks/stateTransition.ts
  packages/beacon-state-transition/src/altair/epoch/index.ts
  packages/beacon-state-transition/src/altair/epoch/processInactivityUpdates.ts
  packages/beacon-state-transition/src/altair/epoch/processRewardsAndPenalties.ts
  packages/beacon-state-transition/src/altair/epoch/processSlashings.ts
  packages/beacon-state-transition/src/altair/epoch/processSyncCommitteeUpdates.ts
  packages/beacon-state-transition/src/phase0/epoch/getAttestationDeltas.ts
  packages/beacon-state-transition/src/phase0/epoch/index.ts
  packages/beacon-state-transition/src/phase0/epoch/processFinalUpdates.ts
  packages/beacon-state-transition/src/phase0/epoch/processRewardsAndPenalties.ts
  packages/beacon-state-transition/src/phase0/epoch/processSlashings.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.test.ts
  packages/lodestar/test/utils/node/simTest.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/effective_balance_updates/effective_balance_updates.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/eth1_data_reset/eth1_data_reset.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/historical_roots_update/historicalRootsUpdate.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/inactivity_updates/inactivityUpdates.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/justification_and_finalization/justificationAndFinalization.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/randao_mixes_reset/randaoMixesReset.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/registry_updates/registryUpdates.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/rewards_and_penalties/rewardsAndPenalties.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/slashings/slashings.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/slashings_reset/slashings_reset.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/sync_committee_updates/sync_committee_updates.ts
  packages/spec-test-runner/test/spec/altair/rewards/basic/basic.ts
  packages/spec-test-runner/test/spec/altair/rewards/leak/leak.ts
  packages/spec-test-runner/test/spec/altair/rewards/random/random.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/justification/justification_and_finalization_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/registryUpdates/registry_updates_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/rewardsAndPenalties/rewards_and_penalties_minimal.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/slashings/slashings_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/rewards/rewards_mainnet.test.ts
Labels: StateTransition

#2916 Inline finalUpdates in phase0 stfn
  packages/beacon-state-transition/src/phase0/epoch/index.ts
  packages/beacon-state-transition/src/phase0/epoch/processFinalUpdates.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.test.ts
Labels: StateTransition

#2917 De-duplicate performance tests between forks
  packages/beacon-state-transition/src/altair/epoch/index.ts
  packages/beacon-state-transition/src/phase0/epoch/index.ts
  packages/beacon-state-transition/test/perf/altair/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.test.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/effective_balance_updates/effective_balance_updates.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/justification_and_finalization/justificationAndFinalization.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/justification/justification_and_finalization_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/registryUpdates/registry_updates_mainnet.test.ts
Labels: StateTransition

#2919 Move common processSlashings function to allForks
  packages/beacon-state-transition/src/allForks/epoch/processSlashings.ts
  packages/beacon-state-transition/src/altair/epoch/processSlashings.ts
  packages/beacon-state-transition/src/phase0/epoch/processSlashings.ts
Labels: StateTransition

#2918 Run only the very expensive functions from epoch process
  packages/beacon-state-transition/test/perf/altair/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.test.ts
Labels: StateTransition

#2920 chore(release): v0.28.0
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: Validator, StateTransition, CLI, Types, Config

#2921 Set caches to transient/persistent
  packages/beacon-state-transition/src/allForks/util/cachedBeaconState.ts
  packages/beacon-state-transition/test/perf/altair/epoch/epoch.test.ts
Labels: StateTransition

#2925 Implement altair v1.1.0 beta.2
  packages/lodestar/src/chain/errors/syncCommitteeError.ts
  packages/lodestar/src/chain/validation/signatureSets/syncCommitteeContribution.ts
  packages/lodestar/src/chain/validation/syncCommitteeContributionAndProof.ts
  packages/lodestar/test/unit/chain/validation/contributionAndProof.test.ts
  packages/spec-test-runner/test/spec/altair/operations/syncAggregate/mainnet.test.ts
  packages/spec-test-runner/test/spec/altair/operations/syncAggregate/minimal.test.ts
  packages/spec-test-runner/test/spec/altair/operations/syncAggregate/syncAggregate.ts
  packages/spec-test-runner/test/spec/altair/operations/syncAggregate/type.ts
  packages/spec-test-runner/test/spec/altair/operations/syncCommittee/mainnet.test.ts
  packages/spec-test-runner/test/spec/altair/operations/syncCommittee/minimal.test.ts
  packages/spec-test-runner/test/utils/specTestCases.ts
Labels: StateTransition

#2922 No closure in computeEpochShuffling
  packages/beacon-state-transition/src/allForks/util/epochShuffling.ts
Labels: StateTransition

#2927 Rename to beforeProcessEpoch and afterProcessEpoch
  packages/beacon-state-transition/src/allForks/stateTransition.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
  packages/beacon-state-transition/src/altair/epoch/index.ts
  packages/beacon-state-transition/src/phase0/epoch/index.ts
  packages/beacon-state-transition/test/perf/altair/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/getAttestationDeltas.test.ts
  packages/beacon-state-transition/test/perf/sanityCheck.test.ts
  packages/lodestar/test/utils/node/simTest.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/effective_balance_updates/effective_balance_updates.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/eth1_data_reset/eth1_data_reset.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/historical_roots_update/historicalRootsUpdate.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/inactivity_updates/inactivityUpdates.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/justification_and_finalization/justificationAndFinalization.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/randao_mixes_reset/randaoMixesReset.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/registry_updates/registryUpdates.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/rewards_and_penalties/rewardsAndPenalties.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/slashings/slashings.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/slashings_reset/slashings_reset.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/sync_committee_updates/sync_committee_updates.ts
  packages/spec-test-runner/test/spec/altair/rewards/basic/basic.ts
  packages/spec-test-runner/test/spec/altair/rewards/leak/leak.ts
  packages/spec-test-runner/test/spec/altair/rewards/random/random.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/justification/justification_and_finalization_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/registryUpdates/registry_updates_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/rewardsAndPenalties/rewards_and_penalties_minimal.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/slashings/slashings_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/rewards/rewards_mainnet.test.ts
Labels: StateTransition

#2926 Benchmark array-ish structures
  packages/beacon-state-transition/test/perf/dataStructures/arrayish.memory.ts
  packages/beacon-state-transition/test/perf/dataStructures/arrayish.test.ts
Labels: StateTransition

#2929 Compute totalActiveBalance in existing validators loop
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
Labels: StateTransition

#2930 Use same naming as spec for indicesEligibleForActivation
  packages/beacon-state-transition/src/allForks/epoch/processRegistryUpdates.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
Labels: StateTransition

#2932 Use better state assertions in spec tests
  packages/spec-test-runner/test/spec/altair/epoch_processing/rewards_and_penalties/rewardsAndPenalties.ts
  packages/spec-test-runner/test/spec/altair/finality/finality.ts
  packages/spec-test-runner/test/spec/altair/fork/fork.ts
  packages/spec-test-runner/test/spec/altair/genesis/initialization/initialization.ts
  packages/spec-test-runner/test/spec/altair/operations/attestations/attestations.ts
  packages/spec-test-runner/test/spec/altair/operations/attesterSlashing/attesterSlashing.ts
  packages/spec-test-runner/test/spec/altair/operations/blockHeader/blockHeader.ts
  packages/spec-test-runner/test/spec/altair/operations/deposit/deposit.ts
  packages/spec-test-runner/test/spec/altair/operations/proposerSlashing/proposerSlashing.ts
  packages/spec-test-runner/test/spec/altair/operations/syncAggregate/syncAggregate.ts
  packages/spec-test-runner/test/spec/altair/operations/voluntaryExit/voluntaryExit.ts
  packages/spec-test-runner/test/spec/altair/sanity/blocks/blocks.ts
  packages/spec-test-runner/test/spec/altair/sanity/slots/slots.ts
  packages/spec-test-runner/test/spec/altair/transition/transition.ts
  packages/spec-test-runner/test/spec/altair/util.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/justification/justification_and_finalization_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/registryUpdates/registry_updates_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/rewardsAndPenalties/rewards_and_penalties_minimal.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing/slashings/slashings_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/genesis/initialization/genesis_initialization_minimal.test.ts
  packages/spec-test-runner/test/spec/phase0/operations/attestations/attestations_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/operations/attesterSlashing/attester_slashing_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/operations/blockHeader/block_header_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/operations/deposit/deposit_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/operations/proposerSlashing/proposer_slashing_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/operations/voluntaryExit/voluntary_exit_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/sanity/blocks/sanity_blocks_mainnet.test.ts
  packages/spec-test-runner/test/spec/phase0/sanity/slots/sanity_slots_mainnet.test.ts
  packages/spec-test-runner/test/spec/util.ts
Labels: StateTransition

#2935 Run performance tests in mainnet preset
  package.json
  packages/beacon-state-transition/test/perf/sanityCheck.test.ts
  packages/lodestar/.mocharc.yaml
  packages/lodestar/test/perf/chain/opPools/aggregatedAttestationPool.test.ts
  packages/lodestar/test/setupBLS.ts
  packages/lodestar/test/setupPreset.ts
  packages/lodestar/test/utils/validationData/attestation.ts
Labels: StateTransition

#2934 Improve processBlock performance tests
  packages/beacon-state-transition/src/allForks/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/altair/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/phase0/block/processVoluntaryExit.ts
  packages/beacon-state-transition/test/perf/altair/block/processBlock.test.ts
  packages/beacon-state-transition/test/perf/analyzeBlocks.ts
  packages/beacon-state-transition/test/perf/phase0/block/block.test.ts
  packages/beacon-state-transition/test/perf/phase0/block/processBlock.test.ts
  packages/beacon-state-transition/test/perf/phase0/block/util.ts
  packages/beacon-state-transition/test/perf/util.ts
Labels: StateTransition

#2928 Move exitQueue cache values to epochContext
  packages/beacon-state-transition/src/allForks/block/initiateValidatorExit.ts
  packages/beacon-state-transition/src/allForks/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/allForks/block/slashValidator.ts
  packages/beacon-state-transition/src/allForks/epoch/processRegistryUpdates.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
  packages/beacon-state-transition/src/util/blockProcess.ts
Labels: StateTransition

#2933 Remove babel
  .babelrc
  package.json
  packages/api/.babelrc
  packages/api/package.json
  packages/beacon-state-transition/.babelrc
  packages/beacon-state-transition/package.json
  packages/cli/.babelrc
  packages/cli/package.json
  packages/config/.babelrc
  packages/config/package.json
  packages/db/.babelrc
  packages/db/package.json
  packages/fork-choice/.babelrc
  packages/fork-choice/package.json
  packages/light-client/.babelrc
  packages/light-client/package.json
  packages/lodestar/.babelrc
  packages/lodestar/package.json
  packages/params/.babelrc
  packages/params/package.json
  packages/spec-test-util/.babelrc
  packages/spec-test-util/package.json
  packages/types/.babelrc
  packages/types/package.json
  packages/utils/.babelrc
  packages/utils/package.json
  packages/validator/.babelrc
  packages/validator/package.json
  tsconfig.build.json
  yarn.lock
Labels: Validator, StateTransition, CLI, Types, Config

#2944 Add performance comments to processEpoch functions
  packages/beacon-state-transition/src/allForks/epoch/processEffectiveBalanceUpdates.ts
  packages/beacon-state-transition/src/allForks/epoch/processEth1DataReset.ts
  packages/beacon-state-transition/src/allForks/epoch/processHistoricalRootsUpdate.ts
  packages/beacon-state-transition/src/allForks/epoch/processJustificationAndFinalization.ts
  packages/beacon-state-transition/src/allForks/epoch/processRandaoMixesReset.ts
  packages/beacon-state-transition/src/allForks/epoch/processRegistryUpdates.ts
  packages/beacon-state-transition/src/allForks/epoch/processSlashings.ts
  packages/beacon-state-transition/src/allForks/epoch/processSlashingsReset.ts
  packages/beacon-state-transition/src/allForks/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
  packages/beacon-state-transition/src/altair/epoch/processInactivityUpdates.ts
  packages/beacon-state-transition/src/altair/epoch/processParticipationFlagUpdates.ts
  packages/beacon-state-transition/src/altair/epoch/processRewardsAndPenalties.ts
  packages/beacon-state-transition/src/altair/epoch/processSyncCommitteeUpdates.ts
  packages/beacon-state-transition/src/altair/upgradeState.ts
  packages/beacon-state-transition/src/altair/util/misc.ts
  packages/beacon-state-transition/src/altair/util/syncCommittee.ts
  packages/beacon-state-transition/src/phase0/epoch/processParticipationRecordUpdates.ts
  packages/beacon-state-transition/src/phase0/epoch/processPendingAttestations.ts
  packages/beacon-state-transition/src/phase0/epoch/processRewardsAndPenalties.ts
  packages/beacon-state-transition/src/util/genesis.ts
  packages/beacon-state-transition/test/perf/util.ts
Labels: StateTransition

#2942 Simplify epochProcess creation
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
Labels: StateTransition

#2939 Improve error messages in stfn
  packages/beacon-state-transition/src/allForks/block/processBlockHeader.ts
  packages/beacon-state-transition/src/allForks/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/altair/block/processOperations.ts
  packages/beacon-state-transition/src/phase0/block/processAttestation.ts
  packages/beacon-state-transition/src/phase0/block/processOperations.ts
Labels: StateTransition

#2941 Use ternary operator in stfn
  packages/beacon-state-transition/src/allForks/block/slashValidator.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
Labels: StateTransition

#2943 Skip processSlashings early if there is no one to slash
  packages/beacon-state-transition/src/allForks/epoch/processSlashings.ts
Labels: StateTransition

#2946 Add altair-devnet-3
  packages/cli/src/networks/altair-devnet-2.ts
  packages/cli/src/networks/altair-devnet-3.ts
  packages/cli/src/networks/index.ts
Labels: CLI

#2940 Add comments to processBlock functions
  packages/beacon-state-transition/src/allForks/block/isValidIndexedAttestation.ts
  packages/beacon-state-transition/src/allForks/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processBlockHeader.ts
  packages/beacon-state-transition/src/allForks/block/processDeposit.ts
  packages/beacon-state-transition/src/allForks/block/processEth1Data.ts
  packages/beacon-state-transition/src/allForks/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processRandao.ts
  packages/beacon-state-transition/src/allForks/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/allForks/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/altair/upgradeState.ts
  packages/beacon-state-transition/src/altair/util/syncCommittee.ts
  packages/beacon-state-transition/src/phase0/block/processAttestation.ts
  packages/beacon-state-transition/src/util/balance.ts
  packages/beacon-state-transition/src/util/genesis.ts
  packages/beacon-state-transition/src/util/proposer.ts
  packages/beacon-state-transition/src/util/validator.ts
Labels: StateTransition

#2955 Fix active validator indices for next shuffling epoch
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
Labels: StateTransition

#2957 chore(release): v0.28.1
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: Validator, StateTransition, CLI, Types, Config

#2964 Add dump state cache routes
  packages/api/src/routes/lodestar.ts
  packages/lodestar/src/api/impl/lodestar/index.ts
Labels: Api

#2959 Limit # of gindices allowed in proofs
  packages/cli/src/options/beaconNodeOptions/api.ts
  packages/cli/test/unit/options/beaconNodeOptions.test.ts
  packages/lodestar/src/api/impl/api.ts
  packages/lodestar/src/api/impl/lightclient/index.ts
  packages/lodestar/src/api/options.ts
  packages/lodestar/src/node/nodejs.ts
Labels: CLI, Api

#2958 lodestar/cli: overhaul util/version and gitdata
  packages/cli/src/cli.ts
  packages/cli/src/cmds/beacon/handler.ts
  packages/cli/src/cmds/validator/handler.ts
  packages/cli/src/util/gitData/gitDataPath.ts
  packages/cli/src/util/gitData/index.ts
  packages/cli/src/util/gitData/writeGitData.ts
  packages/cli/src/util/graffiti.ts
  packages/cli/src/util/version.ts
Labels: Status: Needs Review, CLI, cosmetic

#2962 More detail for state root mismatch error
  packages/beacon-state-transition/src/allForks/stateTransition.ts
Labels: StateTransition

#2967 Reduce boilerplate in ssz spec tests
  packages/spec-test-runner/test/spec/ssz/static/phase0/phase0.ts
Labels: StateTransition

#2974 Increase ping interval
  packages/lodestar/src/network/peers/peerManager.ts
Labels: Network

#2975 Add pyrmont Altair config
  packages/cli/src/networks/pyrmont.ts
Labels: CLI

#2976 update noise with chainsafe namespaced version
  packages/lodestar/package.json
  packages/lodestar/src/network/nodejs/bundle.ts
  yarn.lock
Labels: Network

#2979 Add analyze epochs script
  packages/beacon-state-transition/test/perf/analyzeEpochs.ts
  packages/beacon-state-transition/test/perf/csv.ts
Labels: StateTransition

#2969 cli/cmds: fix dev startValidator index to 0:7
  packages/cli/src/cmds/dev/handler.ts
  packages/cli/src/cmds/dev/options.ts
Labels: Status: Needs Review, CLI, Network

#2970 cli/cmds: restore raw git data version info in metrics
  packages/cli/src/cmds/beacon/handler.ts
  packages/cli/src/cmds/dev/handler.ts
  packages/cli/src/util/version.ts
Labels: Status: Needs Review, CLI, Metrics

#2987 Support returning ssz format in debug.getState routes
  packages/api/src/client/debug.ts
  packages/api/src/client/utils/client.ts
  packages/api/src/client/utils/httpClient.ts
  packages/api/src/routes/debug.ts
  packages/api/src/server/debug.ts
  packages/api/src/utils/types.ts
  packages/api/test/unit/debug.test.ts
  packages/lodestar/src/api/impl/debug/index.ts
  packages/validator/test/utils/apiStub.ts
Labels: Validator, Api

#2968 Release 0.29.0
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: Validator, StateTransition, CLI, Types, Config

#2989 Move network configs to lodestar-config
  packages/cli/src/config/beaconParams.ts
  packages/cli/src/networks/altair-devnet-3.ts
  packages/cli/src/networks/index.ts
  packages/cli/src/networks/mainnet.ts
  packages/cli/src/networks/prater.ts
  packages/cli/src/networks/pyrmont.ts
  packages/config/networks.d.ts
  packages/config/networks.js
  packages/config/presets.d.ts
  packages/config/presets.js
  packages/config/src/chainConfig/networks/mainnet.ts
  packages/config/src/chainConfig/networks/prater.ts
  packages/config/src/chainConfig/networks/pyrmont.ts
  packages/config/src/chainConfig/presets/mainnet.ts
  packages/config/src/chainConfig/presets/minimal.ts
  packages/config/src/networks.ts
  packages/config/src/presets.ts
Labels: CLI, Config

#2994 github: use latest lts/fermium node version in workflows
  .github/workflows/benchmark.yml
  .github/workflows/docs.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  .github/workflows/test-sim.yml
  .github/workflows/test-spec.yml
  .github/workflows/test.yml
Labels: CI

#2992 github: add weekly release pull request on wednesday
  .github/workflows/release-weekly.yml
Labels: CI

#2991 Set lodestar-params as const
  packages/lodestar/test/unit/api/impl/config/config.test.ts
  packages/params/setPreset.d.ts
  packages/params/setPreset.js
  packages/params/src/activePreset.ts
  packages/params/src/constants.ts
  packages/params/src/index.ts
  packages/params/src/presetStatus.ts
  packages/params/src/setPreset.ts
  packages/params/test/e2e/setPreset.test.ts
  packages/params/test/e2e/setPresetError.ts
  packages/params/test/e2e/setPresetOk.ts
  packages/params/test/unit/activePreset.test.ts
  packages/params/test/unit/constants.test.ts
Labels: Config

#2998 Update ssz and persistent-merkle-tree
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: Validator, StateTransition, CLI, Types, Config

#3007 Run spec tests in separate steps
  .github/workflows/test-spec.yml
Labels: CI

#2995 cli/options: remove preset flag
  packages/cli/src/cmds/dev/handler.ts
  packages/cli/src/cmds/dev/index.ts
  packages/cli/src/cmds/dev/options.ts
  packages/cli/src/config/beaconParams.ts
  packages/cli/src/options/globalOptions.ts
  packages/cli/test/unit/config/beaconParams.test.ts
  packages/config/presets.d.ts
Labels: Status: Needs Review, CLI, Config

#2938 Process altair attestations in batch
  packages/beacon-state-transition/src/allForks/signatureSets/indexedAttestation.ts
  packages/beacon-state-transition/src/altair/block/index.ts
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/altair/block/processOperations.ts
  packages/beacon-state-transition/src/altair/upgradeState.ts
  packages/spec-test-runner/test/spec/altair/operations/attestations/attestations.ts
Labels: StateTransition

#2980 Add more accurate epoch perf tests
  packages/beacon-state-transition/src/allForks/epoch/processEffectiveBalanceUpdates.ts
  packages/beacon-state-transition/src/allForks/epoch/processRegistryUpdates.ts
  packages/beacon-state-transition/src/allForks/epoch/processSlashings.ts
  packages/beacon-state-transition/src/allForks/util/attesterStatus.ts
  packages/beacon-state-transition/src/altair/epoch/balance.ts
  packages/beacon-state-transition/src/altair/epoch/index.ts
  packages/beacon-state-transition/src/altair/epoch/processInactivityUpdates.ts
  packages/beacon-state-transition/src/phase0/epoch/getAttestationDeltas.ts
  packages/beacon-state-transition/src/phase0/epoch/processPendingAttestations.ts
  packages/beacon-state-transition/test/cache.ts
  packages/beacon-state-transition/test/perf/allForks/hashing.test.ts
  packages/beacon-state-transition/test/perf/allForks/slot/slots.test.ts
  packages/beacon-state-transition/test/perf/altair/block/processBlock.test.ts
  packages/beacon-state-transition/test/perf/altair/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/altair/epoch/processInactivityUpdates.test.ts
  packages/beacon-state-transition/test/perf/altair/epoch/processParticipationFlagUpdates.test.ts
  packages/beacon-state-transition/test/perf/altair/epoch/processRewardsAndPenalties.test.ts
  packages/beacon-state-transition/test/perf/altair/epoch/processSyncCommitteeUpdates.test.ts
  packages/beacon-state-transition/test/perf/altair/epoch/util.ts
  packages/beacon-state-transition/test/perf/analyzeEpochs.ts
  packages/beacon-state-transition/test/perf/dataStructures/arrayish.test.ts
  packages/beacon-state-transition/test/perf/infura.ts
  packages/beacon-state-transition/test/perf/misc/aggregationBits.test.ts
  packages/beacon-state-transition/test/perf/misc/arrayCreation.test.ts
  packages/beacon-state-transition/test/perf/misc/bitopts.test.ts
  packages/beacon-state-transition/test/perf/misc/rootEquals.test.ts
  packages/beacon-state-transition/test/perf/phase0/block/processBlock.test.ts
  packages/beacon-state-transition/test/perf/phase0/block/util.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/afterProcessEpoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/beforeProcessEpoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/getAttestationDeltas.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/processEffectiveBalanceUpdates.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/processRegistryUpdates.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/processRewardsAndPenalties.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/processSlashingsAllForks.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/util.ts
  packages/beacon-state-transition/test/perf/phase0/slot/slots.test.ts
  packages/beacon-state-transition/test/perf/shuffle/shuffle.test.ts
  packages/beacon-state-transition/test/perf/types.ts
  packages/beacon-state-transition/test/perf/util.ts
  packages/beacon-state-transition/test/utils/interop.ts
  packages/lodestar/test/perf/api/impl/validator/attester.test.ts
  packages/lodestar/test/perf/bls/bls.test.ts
  packages/lodestar/test/perf/chain/opPools/aggregatedAttestationPool.test.ts
  packages/lodestar/test/perf/chain/stateCache/stateContextCheckpointsCache.test.ts
  packages/lodestar/test/perf/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/perf/chain/validation/attestation.test.ts
Labels: Validator, StateTransition, Api

#3006 github: allow release workflow to wait up to 15 minutes for npm package to publish
  .github/workflows/release.yml
  scripts/await-release.sh
Labels: CI

#3019 Improve getBlockRoot error message
  packages/beacon-state-transition/src/util/blockRoot.ts
Labels: StateTransition

#3013 Add config for Prater fork
  packages/config/src/chainConfig/networks/prater.ts
Labels: Config

#3014 github: add a run condition to weekly release workflow
  .github/workflows/release-weekly.yml
Labels: CI

#3035 chore: bump patch version to 0.29.2
  lerna.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  packages/validator/package.json
Labels: Validator, StateTransition, CLI

#3038 github: fix publish tag variable
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
Labels: CI

#3040 spec-tests: Use correct fork for state comparisions
  packages/spec-test-runner/test/spec/altair/epoch_processing.test.ts
  packages/spec-test-runner/test/spec/altair/fork.test.ts
  packages/spec-test-runner/test/spec/altair/operations.test.ts
  packages/spec-test-runner/test/spec/altair/transition.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing.test.ts
  packages/spec-test-runner/test/spec/phase0/operations.test.ts
  packages/spec-test-runner/test/spec/util.ts
Labels: StateTransition

#3032 Add more state cache metrics
  packages/api/src/routes/lodestar.ts
  packages/lodestar/src/api/impl/lodestar/index.ts
  packages/lodestar/src/chain/stateCache/mapMetrics.ts
  packages/lodestar/src/chain/stateCache/stateContextCache.ts
  packages/lodestar/src/chain/stateCache/stateContextCheckpointsCache.ts
  packages/lodestar/src/metrics/interface.ts
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/src/metrics/utils/avgMinMax.ts
  packages/lodestar/src/metrics/utils/registryMetricCreator.ts
Labels: Api

#3043 Fix hashing perf test
  packages/beacon-state-transition/test/perf/allForks/hashing.test.ts
Labels: StateTransition

#2973 Track balances as Number64UintType
  packages/api/package.json
  packages/api/src/routes/beacon/state.ts
  packages/api/test/unit/beacon.test.ts
  packages/beacon-state-transition/package.json
  packages/beacon-state-transition/src/allForks/block/processDeposit.ts
  packages/beacon-state-transition/src/allForks/block/slashValidator.ts
  packages/beacon-state-transition/src/allForks/epoch/processEffectiveBalanceUpdates.ts
  packages/beacon-state-transition/src/allForks/epoch/processSlashings.ts
  packages/beacon-state-transition/src/allForks/util/balanceList.ts
  packages/beacon-state-transition/src/allForks/util/cachedBalanceList.ts
  packages/beacon-state-transition/src/allForks/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/altair/block/processSyncCommittee.ts
  packages/beacon-state-transition/src/altair/epoch/balance.ts
  packages/beacon-state-transition/src/altair/epoch/processRewardsAndPenalties.ts
  packages/beacon-state-transition/src/phase0/epoch/processRewardsAndPenalties.ts
  packages/beacon-state-transition/src/util/balance.ts
  packages/beacon-state-transition/src/util/genesis.ts
  packages/beacon-state-transition/test/perf/allForks/hashing.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/processEffectiveBalanceUpdates.test.ts
  packages/beacon-state-transition/test/perf/util.ts
  packages/beacon-state-transition/test/unit/util/balance.test.ts
  packages/beacon-state-transition/test/utils/state.ts
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/light-client/test/lightclientMockServer.ts
  packages/light-client/test/utils.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/test/unit/api/impl/beacon/state/stateValidators.test.ts
  packages/lodestar/test/unit/chain/forkChoice/forkChoice.test.ts
  packages/lodestar/test/utils/balances.ts
  packages/lodestar/test/utils/state.ts
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/spec/altair/rewards.test.ts
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/types/src/altair/sszTypes.ts
  packages/types/src/phase0/sszTypes.ts
  packages/types/src/phase0/types/state.ts
  packages/types/src/primitive/sszTypes.ts
  packages/utils/package.json
  packages/validator/package.json
  packages/validator/test/unit/services/attestationDuties.test.ts
  packages/validator/test/unit/services/syncCommitteDuties.test.ts
  yarn.lock
Labels: Validator, StateTransition, CLI, Api, Types, Config

#3042 Update libp2p + discv5
  packages/beacon-state-transition/test/perf/util.ts
  packages/beacon-state-transition/test/unit/signatureSets/signatureSets.test.ts
  packages/cli/package.json
  packages/cli/src/config/enr.ts
  packages/cli/types/libp2p-bootstrap/index.d.ts
  packages/db/package.json
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/debug/index.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/request/index.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/sim/threaded/noEth1SimWorker.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
  packages/lodestar/test/unit/network/util.test.ts
  packages/lodestar/test/utils/network.ts
  packages/lodestar/test/utils/state.ts
  packages/lodestar/types/libp2p-bootstrap/index.d.ts
  packages/lodestar/types/libp2p-bootstrap/libp2p-bootstrap-tests.ts
  packages/lodestar/types/libp2p-bootstrap/tsconfig.json
  packages/lodestar/types/libp2p-bootstrap/tslint.json
  packages/lodestar/types/libp2p-mdns/index.d.ts
  yarn.lock
Labels: StateTransition, CLI, Api, Network

#3050 Add shufflings test
  packages/beacon-state-transition/test/perf/allForks/util/shufflings.test.ts
Labels: StateTransition
