Repository ChainSafe/lodestar, pull requests merged in 2021-06, with the labels that each got.

#2598 Ignore aggregate already known errors in API
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/db/syncCommitteeContribution.ts
Labels: Api

#2604 Add fieldName on createIBeaconParams error
  packages/params/src/utils.ts
Labels: Config

#2601 Fix undefined participants
  packages/beacon-state-transition/src/util/aggregationBits.ts
  packages/beacon-state-transition/test/unit/util/aggregationBits.test.ts
Labels: StateTransition

#2602 Fix filter_block_tree forkchoice spec test
  packages/fork-choice/src/protoArray/protoArray.ts
  packages/spec-test-runner/test/spec/altair/fork_choice/get_head_minimal.test.ts
Labels: StateTransition

#2605 Add Teku devnet coorparoo network
  packages/cli/src/networks/coorparoo.ts
  packages/cli/src/networks/index.ts
  packages/lodestar/src/chain/chain.ts
Labels: CLI

#2606 Update ssz to v0.8.7
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client-demo/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#2607 chore(release): v0.23.0
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client-demo/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2608 Bump lerna to v4.0.0
  .github/workflows/release.yml
  package.json
  yarn.lock
Labels: CI

#2584 Add LightclientUpdater to BeaconChain
  packages/cli/src/cmds/dev/handler.ts
  packages/db/src/schema.ts
  packages/light-client/src/server/LightClientUpdater.ts
  packages/light-client/test/lightclientMockServer.ts
  packages/light-client/test/sim/altairChainSimulator.ts
  packages/light-client/test/unit/sync.test.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/lightclient/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/db/repositories/bestUpdatePerCommitteePeriod.ts
  packages/lodestar/src/db/repositories/index.ts
  packages/lodestar/src/db/repositories/lightclientFinalizedCheckpoint.ts
  packages/lodestar/src/db/single/index.ts
  packages/lodestar/src/db/single/latestFinalizedUpdate.ts
  packages/lodestar/src/db/single/latestNonFinalizedUpdate.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Api, CLI, Network

#2611 Fix bootfile parsing
  packages/cli/src/networks/index.ts
Labels: CLI

#2612 Switch to new Teku network oonoonba
  packages/cli/src/networks/index.ts
  packages/cli/src/networks/oonoonba.ts
Labels: CLI

#2613 Allow to disable sync process as chain segment
  packages/cli/src/options/beaconNodeOptions/sync.ts
  packages/cli/test/unit/options/beaconNodeOptions.test.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/sync/options.ts
  packages/lodestar/src/sync/range/batch.ts
  packages/lodestar/src/sync/range/chain.ts
  packages/lodestar/src/sync/range/range.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: CLI, Network

#2614 Allow to disable bls batch verify in block processor
  packages/cli/src/options/beaconNodeOptions/chain.ts
  packages/cli/test/unit/options/beaconNodeOptions.test.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/options.ts
Labels: CLI

#2616 Explicitly pass epoch message sig to getDomain
  packages/beacon-state-transition/src/allForks/signatureSets/proposer.ts
  packages/beacon-state-transition/src/allForks/signatureSets/proposerSlashings.ts
  packages/beacon-state-transition/src/allForks/signatureSets/randao.ts
  packages/beacon-state-transition/src/altair/block/processSyncCommittee.ts
  packages/beacon-state-transition/src/naive/phase0/block/randao.ts
  packages/beacon-state-transition/src/util/block.ts
  packages/beacon-state-transition/src/util/domain.ts
  packages/beacon-state-transition/src/util/validatorStatus.ts
  packages/lodestar/src/chain/validation/signatureSets/contributionAndProof.ts
  packages/lodestar/src/chain/validation/signatureSets/selectionProof.ts
  packages/lodestar/src/chain/validation/signatureSets/syncCommittee.ts
  packages/lodestar/src/chain/validation/signatureSets/syncCommitteeContribution.ts
  packages/lodestar/src/chain/validation/signatureSets/syncCommitteeSelectionProof.ts
Labels: StateTransition

#2617 Validate SyncCommitteeSignatureSet
  packages/beacon-state-transition/src/allForks/signatureSets/index.ts
  packages/beacon-state-transition/src/altair/block/processSyncCommittee.ts
Labels: StateTransition

#2621 Benchmark workflow
  .github/workflows/benchmark.yml
  package.json
  packages/beacon-state-transition/package.json
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
  packages/beacon-state-transition/test/perf/benchmark.ts
  packages/beacon-state-transition/test/perf/phase0/block/block.perf.ts
  packages/beacon-state-transition/test/perf/phase0/block/block.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.perf.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/getAttestationDeltas.perf.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/getAttestationDeltas.test.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/processRewardsAndPenalties.test.ts
  packages/beacon-state-transition/test/perf/phase0/slot/slots.perf.ts
  packages/beacon-state-transition/test/perf/phase0/slot/slots.test.ts
  packages/beacon-state-transition/test/perf/runner.ts
  packages/beacon-state-transition/test/perf/shuffle/numberMath.perf.ts
  packages/beacon-state-transition/test/perf/shuffle/shuffle.perf.ts
  packages/beacon-state-transition/test/perf/util.ts
  packages/cli/package.json
  packages/fork-choice/package.json
  packages/lodestar/package.json
  packages/utils/src/index.ts
  packages/utils/src/perf/utils/index.ts
  packages/utils/src/perf/utils/runner.ts
  packages/validator/package.json
Labels: CI, CLI, StateTransition, Validator

#2582 Let minimal FORK_VERSION take prevalence in CLI
  packages/cli/src/networks/mainnet.ts
Labels: CLI

#2625 Verify SyncCommittee signatures in batch
  packages/beacon-state-transition/src/allForks/signatureSets/index.ts
  packages/beacon-state-transition/src/altair/block/index.ts
  packages/beacon-state-transition/src/altair/block/processSyncCommittee.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/spec-test-runner/test/spec/altair/operations/syncCommittee/sync_committee_minimal.test.ts
Labels: StateTransition

#2628 Process blocks in epoch
  packages/beacon-state-transition/src/altair/block/processSyncCommittee.ts
  packages/lodestar/src/chain/blocks/pool.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/errors/blockError.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/validation/block.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/chain/blocks/pool.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Network, StateTransition

#2626 Impove processAttestation for altair
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/altair/epoch/balance.ts
  packages/beacon-state-transition/src/altair/misc.ts
Labels: StateTransition

#2632 More memory for benchmark workflow
  packages/beacon-state-transition/package.json
Labels: StateTransition

#2633 Fix debug state api limitation
  packages/lodestar/src/api/impl/beacon/state/utils.ts
Labels: Api

#2639 Set SYNC_COMMITTEE_SIZE to 512 for mainnet
  packages/params/src/presets/mainnet/altair.ts
Labels: Config

#2636 Fix Benchmark GA
  packages/utils/src/perf/utils/runner.ts
Labels: CI

#2647 Add release nightly workflow
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  package.json
Labels: CI

#2652 Move light-client demo UI to its own repo
  .github/workflows/publish-lcdemo.yml
  packages/light-client-demo/.babelrc
  packages/light-client-demo/.eslintrc.js
  packages/light-client-demo/.github/workflows/publish.yml
  packages/light-client-demo/.gitignore
  packages/light-client-demo/LICENSE
  packages/light-client-demo/README.md
  packages/light-client-demo/package.json
  packages/light-client-demo/src/App.tsx
  packages/light-client-demo/src/ProofReqResp.tsx
  packages/light-client-demo/src/SyncStatus.tsx
  packages/light-client-demo/src/TimeMonitor.tsx
  packages/light-client-demo/src/components/ErrorView.scss
  packages/light-client-demo/src/components/ErrorView.tsx
  packages/light-client-demo/src/components/Footer.tsx
  packages/light-client-demo/src/components/ForkMe.tsx
  packages/light-client-demo/src/components/Header.tsx
  packages/light-client-demo/src/config.ts
  packages/light-client-demo/src/index.html
  packages/light-client-demo/src/index.tsx
  packages/light-client-demo/src/storage.ts
  packages/light-client-demo/src/styles.scss
  packages/light-client-demo/src/types.ts
  packages/light-client-demo/tsconfig.json
  packages/light-client-demo/webpack.config.js
  packages/light-client-demo/yarn.lock
  yarn.lock
Labels: CI

#2653 fix npm auth on nightly workflow
  .github/workflows/release-nightly.yml
Labels: CI

#2658 rename publish script
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  package.json
Labels: CI

#2659 chore(release): v0.24.0
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2474 Add local validator monitor
  packages/beacon-state-transition/src/allForks/stateTransition.ts
  packages/beacon-state-transition/src/allForks/util/attesterStatus.ts
  packages/beacon-state-transition/src/altair/epoch/index.ts
  packages/beacon-state-transition/src/metrics.ts
  packages/beacon-state-transition/src/phase0/epoch/index.ts
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/api/impl/beacon/index.ts
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/chain/attestation/process.ts
  packages/lodestar/src/chain/attestation/processor.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/metrics/metrics.ts
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/src/metrics/validatorMonitor.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/validatorFns/aggregatedAttestation.ts
  packages/lodestar/src/network/gossip/validatorFns/attestation.ts
  packages/lodestar/src/network/gossip/validatorFns/block.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/e2e/network/peers/peerManager.test.ts
  packages/lodestar/test/unit/api/impl/beacon/beacon.test.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/publishBlock.test.ts
  packages/lodestar/test/unit/api/impl/beacon/pool/pool.test.ts
  packages/lodestar/test/unit/api/impl/index.test.ts
  packages/lodestar/test/unit/metrics/beacon.test.ts
  packages/lodestar/test/unit/metrics/metrics.test.ts
  packages/lodestar/test/unit/metrics/server/http.test.ts
  packages/lodestar/test/unit/metrics/utils.ts
Labels: Api, Network, StateTransition

#2661 Extract nextSyncCommitteeIndexes from BeaconState
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
Labels: StateTransition

#2657 Fix getParticipantIndices from SyncAggregate struct
  packages/beacon-state-transition/src/altair/block/processSyncCommittee.ts
  packages/beacon-state-transition/src/util/syncCommittee.ts
  packages/beacon-state-transition/test/unit/util/syncCommittee.test.ts
Labels: StateTransition

#2668 chore(release): v0.24.1
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, StateTransition, Validator

#2669 Include root files in NPM distribution
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/buidler.config.js
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2671 Distribute git data through NPM
  .gitignore
  packages/cli/package.json
  packages/cli/scripts/getGitData.js
  packages/cli/src/util/gitData.ts
Labels: CLI

#2670 chore(release): v0.24.2
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2673 Fix package.json root files relative paths
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: Config, StateTransition, Types, Validator

#2667 Publish nightly version to Docker Hub too
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  docker-compose.validator.yml
  docker-compose.yml
Labels: CI

#2676 Fetch version from lodestar package package.json
  .github/workflows/release-nightly.yml
Labels: CI

#2677 Increase minMs in benchmark runs
  packages/beacon-state-transition/test/perf/phase0/block/block.perf.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.perf.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/getAttestationDeltas.perf.ts
  packages/beacon-state-transition/test/perf/phase0/slot/slots.perf.ts
Labels: StateTransition

#2665 Review benchmark params
  .github/workflows/benchmark.yml
  packages/beacon-state-transition/package.json
  packages/beacon-state-transition/test/perf/phase0/block/block.perf.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.perf.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/getAttestationDeltas.perf.ts
  packages/beacon-state-transition/test/perf/phase0/slot/slots.perf.ts
  packages/beacon-state-transition/test/perf/runAll.ts
  packages/beacon-state-transition/test/perf/shuffle/numberMath.perf.ts
  packages/beacon-state-transition/test/perf/shuffle/shuffle.perf.ts
  packages/beacon-state-transition/test/perf/util/aggregationBits.perf.ts
  packages/beacon-state-transition/test/perf/util/aggregationBits.test.ts
  packages/utils/src/index.ts
  packages/utils/test_utils/benchmark/index.ts
  packages/utils/test_utils/benchmark/runner.ts
Labels: CI, StateTransition

#2683 Benchmark only 1 epoch of empty slots
  packages/beacon-state-transition/test/perf/phase0/block/block.perf.ts
  packages/beacon-state-transition/test/perf/phase0/slot/slots.perf.ts
Labels: StateTransition

#2682 Remove badBlock repo
  packages/db/src/schema.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/chain/validation/block.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/db/repositories/badBlock.ts
  packages/lodestar/src/db/repositories/index.ts
  packages/lodestar/test/unit/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/chain/validation/attestation.test.ts
  packages/lodestar/test/unit/chain/validation/block.test.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
Labels: Performance

#2679 Add AttestationPool to aggregate attestations on the go
  packages/db/src/schema.ts
  packages/db/test/unit/schema.test.ts
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/db/attestationPool.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/db/repositories/attestation.ts
  packages/lodestar/src/db/repositories/index.ts
  packages/lodestar/src/db/syncCommittee.ts
  packages/lodestar/src/db/syncCommitteeContribution.ts
  packages/lodestar/src/network/gossip/handler.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/test/unit/api/impl/beacon/pool/pool.test.ts
  packages/lodestar/test/unit/db/api/beacon.test.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
Labels: Api, Network

#2687 Re-org aggregationBits utils logic
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/altair/block/processSyncCommittee.ts
  packages/beacon-state-transition/src/phase0/epoch/processPendingAttestations.ts
  packages/beacon-state-transition/src/util/aggregationBits.ts
  packages/beacon-state-transition/src/util/syncCommittee.ts
  packages/beacon-state-transition/test/perf/util/aggregationBits.perf.ts
  packages/beacon-state-transition/test/unit/util/aggregationBits.test.ts
  packages/beacon-state-transition/test/unit/util/syncCommittee.test.ts
Labels: StateTransition

#2688 fix: Slow unit test - getLatestWeakSubjectivityCheckpointEpoch #2564
  packages/beacon-state-transition/test/unit/util/weakSubjectivity.test.ts
Labels: StateTransition

#2684 Adds generic ssz spec tests
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/spec/ssz/generic/index.test.ts
  packages/spec-test-runner/test/spec/ssz/generic/types.ts
  packages/spec-test-util/package.json
  packages/spec-test-util/src/sszGeneric.ts
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#2689 Add ssz static spec tests for altair
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/spec/ssz/static/altair/altair.ts
  packages/spec-test-runner/test/spec/ssz/static/altair/mainnet.test.ts
  packages/spec-test-runner/test/spec/ssz/static/altair/minimal.test.ts
  packages/spec-test-runner/test/spec/ssz/static/minimal.test.ts
  packages/spec-test-runner/test/spec/ssz/static/phase0/mainnet.test.ts
  packages/spec-test-runner/test/spec/ssz/static/phase0/minimal.test.ts
  packages/spec-test-runner/test/spec/ssz/static/phase0/phase0.ts
  packages/spec-test-runner/test/spec/ssz/util/testCases.ts
  packages/types/src/altair/sszTypes.ts
Labels: StateTransition, Types

#2693 Force blst-native on benchmarks
  packages/beacon-state-transition/test/perf/phase0/block/block.perf.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/epoch.perf.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/getAttestationDeltas.perf.ts
  packages/beacon-state-transition/test/perf/phase0/slot/slots.perf.ts
  packages/beacon-state-transition/test/perf/util.ts
Labels: StateTransition

#2696 Cache head in fork choice
  packages/fork-choice/src/forkChoice/forkChoice.ts
  packages/fork-choice/src/forkChoice/interface.ts
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/spec-test-runner/test/spec/altair/fork_choice/fork_choice.ts
  packages/spec-test-runner/test/spec/phase0/fork_choice/get_head_mainnet.test.ts
Labels: StateTransition

#2697 Only send a single sync committee signature per validator
  packages/validator/src/services/syncCommittee.ts
  packages/validator/src/services/syncCommitteeDuties.ts
  packages/validator/src/services/utils.ts
  packages/validator/test/unit/services/syncCommitteDuties.test.ts
  packages/validator/test/unit/services/syncCommittee.test.ts
Labels: Validator

#2694 De-duplicate code in altair state transition fn
  packages/beacon-state-transition/src/allForks/block/index.ts
  packages/beacon-state-transition/src/allForks/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processDeposit.ts
  packages/beacon-state-transition/src/allForks/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/allForks/block/slashValidator.ts
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/altair/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/altair/block/processDeposit.ts
  packages/beacon-state-transition/src/altair/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/altair/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/altair/block/slashValidator.ts
  packages/beacon-state-transition/src/altair/epoch/processSlashings.ts
  packages/beacon-state-transition/src/phase0/block/index.ts
  packages/beacon-state-transition/src/phase0/block/processAttestation.ts
  packages/beacon-state-transition/src/phase0/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/phase0/block/processDeposit.ts
  packages/beacon-state-transition/src/phase0/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/phase0/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/phase0/epoch/processSlashings.ts
  packages/beacon-state-transition/src/util/genesis.ts
  packages/lodestar/src/chain/validation/attesterSlashing.ts
  packages/lodestar/src/chain/validation/proposerSlashing.ts
  packages/lodestar/src/chain/validation/voluntaryExit.ts
Labels: StateTransition

#2699 Handle gracefully sync duties errors
  packages/validator/src/services/syncCommittee.ts
  packages/validator/src/util/clock.ts
Labels: Validator

#2705 Fix nightly release
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  docker-compose.validator.yml
  docker-compose.yml
  package.json
  packages/beacon-state-transition/package.json
  packages/config/package.json
  packages/params/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
Labels: CI, Config, StateTransition, Types

#2706 chore(release): v0.24.3
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2700 IndexedSyncCommittee
  packages/beacon-state-transition/src/allForks/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/index.ts
  packages/beacon-state-transition/src/allForks/util/indexedSyncCommittee.ts
  packages/beacon-state-transition/src/altair/block/processSyncCommittee.ts
  packages/beacon-state-transition/src/altair/epoch/processSyncCommitteeUpdates.ts
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/src/api/impl/validator/utils.ts
  packages/lodestar/src/chain/validation/signatureSets/syncCommitteeContribution.ts
  packages/lodestar/src/chain/validation/syncCommittee.ts
  packages/lodestar/test/unit/chain/validation/contributionAndProof.test.ts
  packages/lodestar/test/unit/chain/validation/syncCommittee.test.ts
  packages/lodestar/test/utils/state.ts
  packages/spec-test-runner/test/spec/altair/fork/fork.ts
  packages/spec-test-runner/test/spec/altair/fork/minimal.test.ts
Labels: Api, StateTransition

#2698 fix getCommitteeAssignment performance issue
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/test/perf/allForks/util/epochContext.test.ts
Labels: StateTransition

#2695 Improve validator exit flow
  packages/beacon-state-transition/src/allForks/block/initiateValidatorExit.ts
  packages/beacon-state-transition/src/allForks/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/allForks/block/slashValidator.ts
  packages/beacon-state-transition/src/altair/block/index.ts
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/altair/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/altair/block/processOperations.ts
  packages/beacon-state-transition/src/altair/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/altair/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/phase0/block/index.ts
  packages/beacon-state-transition/src/phase0/block/processAttestation.ts
  packages/beacon-state-transition/src/phase0/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/phase0/block/processOperations.ts
  packages/beacon-state-transition/src/phase0/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/phase0/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/util/blockProcess.ts
  packages/beacon-state-transition/src/util/index.ts
  packages/beacon-state-transition/test/perf/phase0/block/block.perf.ts
  packages/spec-test-runner/test/spec/altair/operations/attesterSlashing/attesterSlashing.ts
  packages/spec-test-runner/test/spec/phase0/operations/attesterSlashing/attester_slashing_mainnet.test.ts
Labels: StateTransition

#2713 Set Root to RootType
  packages/types/src/primitive/sszTypes.ts
Labels: Types

#2714 Update ssz to v0.8.10
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/lodestar/test/unit/api/impl/beacon/blocks/getBlockHeaders.test.ts
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#2710 Add benchmark for ssz.Root.equals
  packages/beacon-state-transition/test/perf/phase0/block/block.perf.ts
  packages/beacon-state-transition/test/perf/runAll.ts
Labels: Api, Eth1, Network, StateTransition, Validator

#2724 Update ssz and persistent-merkle-tree
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CLI, Config, StateTransition, Types, Validator

#2728 Altair v1.1.0 alpha.7
  packages/api/src/routes/beacon/pool.ts
  packages/api/test/unit/beacon.test.ts
  packages/beacon-state-transition/src/allForks/util/indexedSyncCommittee.ts
  packages/beacon-state-transition/src/altair/block/index.ts
  packages/beacon-state-transition/src/altair/block/processSyncCommittee.ts
  packages/beacon-state-transition/src/util/aggregationBits.ts
  packages/beacon-state-transition/test/unit/util/aggregationBits.test.ts
  packages/lodestar/src/chain/clock/LocalClock.ts
  packages/lodestar/src/chain/clock/interface.ts
  packages/lodestar/src/chain/errors/syncCommitteeError.ts
  packages/lodestar/src/chain/validation/signatureSets/syncCommittee.ts
  packages/lodestar/src/chain/validation/syncCommittee.ts
  packages/lodestar/src/db/syncCommittee.ts
  packages/lodestar/src/network/gossip/encoding.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/handler.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/topic.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/network/gossip/validatorFns/syncCommittee.ts
  packages/lodestar/test/unit/chain/clock/local.test.ts
  packages/lodestar/test/unit/chain/validation/contributionAndProof.test.ts
  packages/lodestar/test/unit/chain/validation/syncCommittee.test.ts
  packages/lodestar/test/unit/db/syncCommittee.test.ts
  packages/lodestar/test/unit/network/gossip/topic.test.ts
  packages/lodestar/test/utils/syncCommittee.ts
  packages/params/src/constants.ts
  packages/params/src/presets/mainnet/altair.ts
  packages/params/src/presets/mainnet/index.ts
  packages/params/src/presets/minimal/index.ts
  packages/spec-test-runner/test/spec/altair/operations/syncCommittee/syncCommittee.ts
  packages/spec-test-runner/test/spec/ssz/static/altair/altair.ts
  packages/spec-test-runner/test/utils/specTestCases.ts
  packages/types/src/altair/sszTypes.ts
  packages/types/src/altair/types/committee.ts
  packages/validator/src/services/syncCommittee.ts
  packages/validator/src/services/validatorStore.ts
  packages/validator/test/unit/services/syncCommittee.test.ts
Labels: Config, Network, StateTransition, Types, Validator

#2739 Fix getSyncCommitteeDuties api
  packages/lodestar/src/api/impl/validator/index.ts
Labels: Api

#2571 Weak subjectivity chain initialization
  packages/beacon-state-transition/src/allForks/util/weakSubjectivity.ts
  packages/beacon-state-transition/src/util/weakSubjectivity.ts
  packages/beacon-state-transition/test/unit/util/weakSubjectivity.test.ts
  packages/cli/src/cmds/beacon/initBeaconState.ts
  packages/cli/src/cmds/beacon/options.ts
  packages/cli/src/networks/index.ts
Labels: CLI, StateTransition

#2742 chore(release): v0.25.0
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2752 Fix broken webpack build in browser
  packages/config/src/chainConfig/default.ts
Labels: Config

#2736 Fix validator clock
  packages/validator/src/util/clock.ts
  packages/validator/test/unit/utils/clock.test.ts
Labels: Validator

#2753 Fix bug in aggregator verification
  packages/beacon-state-transition/src/util/aggregator.ts
  packages/beacon-state-transition/src/util/index.ts
  packages/beacon-state-transition/src/util/syncCommittee.ts
  packages/beacon-state-transition/src/util/validator.ts
  packages/beacon-state-transition/test/unit/util/aggregator.test.ts
  packages/lodestar/src/api/impl/beacon/state/index.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/src/api/impl/validator/utils.ts
  packages/lodestar/test/unit/api/impl/beacon/state/utils.test.ts
  packages/lodestar/test/unit/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/chain/validation/contributionAndProof.test.ts
  packages/validator/src/services/attestationDuties.ts
  packages/validator/src/services/syncCommitteeDuties.ts
  packages/validator/src/util/aggregator.ts
  packages/validator/src/util/index.ts
Labels: Api, Priority: 2 - High, StateTransition, Validator

#2761 Remove relative import
  packages/cli/src/cmds/beacon/initBeaconState.ts
Labels: CLI

#2741 Db read/write metrics
  packages/cli/src/cmds/beacon/handler.ts
  packages/db/src/abstractRepository.ts
  packages/db/src/databaseService.ts
  packages/db/src/index.ts
  packages/db/src/metrics.ts
  packages/db/src/util.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/db/repositories/aggregateAndProof.ts
  packages/lodestar/src/db/repositories/attesterSlashing.ts
  packages/lodestar/src/db/repositories/bestUpdatePerCommitteePeriod.ts
  packages/lodestar/src/db/repositories/block.ts
  packages/lodestar/src/db/repositories/blockArchive.ts
  packages/lodestar/src/db/repositories/depositDataRoot.ts
  packages/lodestar/src/db/repositories/depositEvent.ts
  packages/lodestar/src/db/repositories/eth1Data.ts
  packages/lodestar/src/db/repositories/lightclientFinalizedCheckpoint.ts
  packages/lodestar/src/db/repositories/pendingBlock.ts
  packages/lodestar/src/db/repositories/proposerSlashing.ts
  packages/lodestar/src/db/repositories/stateArchive.ts
  packages/lodestar/src/db/repositories/voluntaryExit.ts
  packages/lodestar/src/db/single/latestFinalizedUpdate.ts
  packages/lodestar/src/db/single/latestNonFinalizedUpdate.ts
  packages/lodestar/src/db/single/preGenesisState.ts
  packages/lodestar/src/db/single/preGenesisStateLastProcessedBlock.ts
  packages/lodestar/src/metrics/metrics.ts
  packages/lodestar/src/node/nodejs.ts
Labels: CLI

#2762 chore(release): v0.25.1
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Validator

#2730 Poll node in batch to get validator indices
  packages/validator/src/services/indices.ts
  packages/validator/src/util/batch.ts
  packages/validator/test/unit/utils/batch.test.ts
Labels: Validator

#2757 Remove unused naive code
  .github/workflows/test-spec.yml
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/util/attestation.ts
  packages/beacon-state-transition/src/util/balance.ts
  packages/beacon-state-transition/src/util/committee.ts
  packages/beacon-state-transition/src/util/index.ts
  packages/beacon-state-transition/src/util/proposer.ts
  packages/beacon-state-transition/src/util/validator.ts
  packages/beacon-state-transition/test/perf/util.ts
Labels: CI, Performance, StateTransition

#2763 Run release nightly jobs with concurrency of 1
  .github/workflows/release-nightly.yml
Labels: CI

#2768 Fix dev command
  packages/cli/src/cmds/dev/handler.ts
Labels: CLI

#2743 remove stale badges
  README.md
  packages/api/README.md
  packages/beacon-state-transition/README.md
  packages/cli/README.md
  packages/config/README.md
  packages/light-client/README.md
  packages/lodestar/README.md
  packages/params/README.md
  packages/types/README.md
  packages/validator/README.md
Labels: CLI, Config, StateTransition, Types, Validator

#2777 Support yeerongpilly for altair1.1.0-alpha.7
  packages/cli/src/networks/index.ts
  packages/cli/src/networks/yeerongpilly.ts
Labels: CLI

#2778 Run benchmark script once
  .github/workflows/benchmark.yml
  package.json
  packages/beacon-state-transition/.mocharc.yaml
  packages/beacon-state-transition/package.json
  packages/beacon-state-transition/test/mocha-hooks.ts
  packages/beacon-state-transition/test/perf/util/rootEquals.test.ts
  packages/beacon-state-transition/test/setup.ts
  packages/beacon-state-transition/test/unit/signatureSets/signatureSets.test.ts
  packages/light-client/.mocharc.yaml
  packages/light-client/package.json
  packages/light-client/test/setup.ts
  packages/lodestar/.mocharc.yaml
  packages/lodestar/package.json
  packages/lodestar/test/e2e/chain/bls/multithread.test.ts
  packages/lodestar/test/perf/bls/bls.test.ts
  packages/lodestar/test/perf/chain/stateCache/stateContextCheckpointsCache.test.ts
  packages/lodestar/test/setup.ts
  packages/lodestar/test/unit/db/syncCommittee.test.ts
  packages/validator/.mocharc.yaml
  packages/validator/test/setup.ts
  yarn.lock
Labels: CI, StateTransition, Validator

#2779 Run benchmark actions on all push events
  .github/workflows/benchmark.yml
Labels: CI
