Repository ChainSafe/lodestar, pull requests merged in 2021-03, with the labels that each got.

#2117 Add Optional metrics
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/metrics/beacon.ts
  packages/lodestar/src/metrics/interface.ts
  packages/lodestar/src/metrics/metrics.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/test/unit/metrics/beacon.test.ts
  packages/lodestar/test/unit/metrics/metrics.test.ts
  packages/lodestar/test/unit/metrics/server/http.test.ts
Labels: Network

#2116 Update ssz to v0.7.0
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-light-client/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-spec-test-util/src/transform.ts
  packages/lodestar-types/package.json
  packages/lodestar-types/src/phase0/ssz/utils/string.ts
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/eth1/utils/deposits.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/node/utils/interop/deposits.ts
  packages/spec-test-runner/package.json
  yarn.lock
Labels: CLI, Config, Eth1, Network, StateTransition, Types, Validator

#2122 Set CLI arg network to a default
  packages/lodestar-cli/src/cmds/beacon/initBeaconState.ts
  packages/lodestar-cli/src/options/globalOptions.ts
Labels: CLI

#2123 Fix params creation
  packages/lodestar-params/src/presets/mainnet/lightclient.ts
  packages/lodestar-params/src/presets/mainnet/phase1.ts
  packages/lodestar-params/src/presets/minimal/lightclient.ts
  packages/lodestar-params/src/presets/minimal/phase1.ts
  packages/lodestar-params/src/utils.ts
Labels: Config

#2118 chore(release): v0.17.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-config/package.json
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-light-client/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/persistent-ts/package.json
  packages/spec-test-runner/package.json
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#2125 Delete deserialized gossip after emitting
  packages/lodestar/src/network/gossip/gossipsub.ts
Labels: Network

#2126 update lodestar-types README to reflect latest changes
  packages/lodestar-types/README.md
Labels: Types

#2130 Set state cache size to 1 during initial sync
  packages/lodestar/src/chain/stateCache/stateContextCache.ts
  packages/lodestar/src/sync/sync.ts
Labels: Network

#2129 Validate empty password on validator import
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
Labels: CLI

#2134 Use for .. of syntax where appropriate
  packages/lodestar-beacon-state-transition/src/lightclient/naive/sync_committee.ts
  packages/lodestar-beacon-state-transition/src/phase0/fast/block/processOperations.ts
  packages/lodestar-beacon-state-transition/src/phase0/fast/block/processProposerSlashing.ts
  packages/lodestar-beacon-state-transition/src/phase0/fast/epoch/getAttestationDeltas.ts
  packages/lodestar-beacon-state-transition/src/phase0/fast/util/epochContext.ts
  packages/lodestar-beacon-state-transition/src/phase0/fast/util/epochProcess.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/balanceUpdates/attestation.ts
  packages/lodestar-beacon-state-transition/src/phase0/naive/epoch/registryUpdates.ts
  packages/lodestar-params/src/utils.ts
  packages/lodestar-params/test/ensure-config-is-synced.test.ts
  packages/lodestar-spec-test-util/src/multi.ts
  packages/lodestar-spec-test-util/src/single.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/test/e2e/slashing-protection-interchange-tests/run.test.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/genesis/util.ts
  packages/lodestar/src/db/api/beacon/repositories/block/index.ts
  packages/lodestar/src/network/gossip/gossip.ts
  packages/lodestar/src/network/gossip/utils.ts
  packages/lodestar/src/util/objects.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/unit/eth1/utils/deposits.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/encodeDecodeRequest.test.ts
  packages/lodestar/test/unit/network/reqresp/encoders/encodeDecodeResponse.test.ts
  packages/spec-test-runner/test/spec/rewards/rewards_fast.test.ts
Labels: Config, Network, StateTransition, Validator

#2135 Remove slightly unnecessary notNullish usage
  packages/lodestar-light-client/src/sync/validation.ts
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/controllers/validator/publishAggregateAndProof.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/network/peers/utils.ts
  packages/lodestar/src/sync/utils/blocks.ts
  packages/lodestar/tsconfig.json
Labels: Api, Network

#2141 Close the DB after the init sequence throws
  packages/lodestar-cli/src/cmds/beacon/handler.ts
Labels: CLI

#2077 Enable single thread multi node test
  .github/workflows/test-sim.yml
  packages/lodestar/package.json
  packages/lodestar/test/sim/multiNodeSimple.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
Labels: CI

#2143 Add general logLevel option for beacon and dev command
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar-cli/src/cmds/validator/options.ts
Labels: CLI

#2144 Remove unnecessary CLI alias-es
  packages/lodestar-cli/src/cmds/account/cmds/wallet/create.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/validator/options.ts
Labels: CLI

#1924 Bump Typescript to v4
  package.json
  packages/benchmark-utils/src/index.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/blockHeader.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/attestation.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/attesterSlashing.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/proposerSlashings.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/voluntaryExit.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/randao.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/balanceUpdates/attestation.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/balanceUpdates/util.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/justification.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/registryUpdates.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/slashing.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/epoch/util.test.ts
  packages/lodestar-db/test/unit/controller/level.test.ts
  packages/lodestar-utils/src/bytes.ts
  packages/lodestar-validator/package.json
  packages/lodestar-validator/src/slashingProtection/attestation/attestationByTargetRepository.ts
  packages/lodestar-validator/src/slashingProtection/attestation/attestationLowerBoundRepository.ts
  packages/lodestar-validator/src/slashingProtection/block/blockBySlotRepository.ts
  packages/lodestar-validator/src/slashingProtection/minMaxSurround/distanceStoreRepository.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/network/util.ts
  packages/lodestar/test/e2e/eth1/jsonRpcHttpClient.test.ts
  packages/lodestar/test/rewiremock.ts
  packages/lodestar/test/unit/chain/attestation/process.test.ts
  packages/lodestar/test/unit/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
  packages/lodestar/test/utils/errors.ts
  yarn.lock
Labels: Api, Benchmarks, Network, StateTransition, Validator

#2149 Fix ts build error
  packages/lodestar-spec-test-util/src/single.ts
Labels: StateTransition, bulldozer-merge-when-ready

#2147 Verify signatures in initial sync
  packages/lodestar/src/sync/sync.ts
Labels: Network

#2156 Remove objectToExpectedCase usage in API
  packages/lodestar/src/api/rest/controllers/node/getNetworkIdentity.ts
  packages/lodestar/src/api/rest/controllers/node/getPeer.ts
  packages/lodestar/src/api/rest/controllers/node/getPeers.ts
Labels: Api

#2163 Remove abortable source wrapper from response source
  packages/lodestar/src/network/reqresp/request/index.ts
Labels: Network

#2174 Refactor path handling in CLI
  packages/lodestar-cli/src/cmds/account/cmds/validator/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/options.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/export.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/import.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/options.ts
  packages/lodestar-cli/src/cmds/account/paths.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/beacon/paths.ts
  packages/lodestar-cli/src/cmds/validator/options.ts
  packages/lodestar-cli/src/cmds/validator/paths.ts
  packages/lodestar-cli/src/options/globalOptions.ts
  packages/lodestar-cli/src/paths/global.ts
  packages/lodestar-cli/src/util/index.ts
  packages/lodestar-cli/src/util/paths.ts
  packages/lodestar-cli/test/unit/paths/globalPaths.test.ts
Labels: CLI

#2169 fix getHeaders/finalized call
  packages/lodestar/src/api/impl/beacon/blocks/utils.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/utils.test.ts
Labels: Api

#2165 Add getMissingAncestor method
  packages/lodestar/src/chain/blocks/pool.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/chain/blocks/pool.test.ts
Labels: Network

#2151 Persist temp states to not lose sync progress
  packages/lodestar-spec-test-util/src/single.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
  packages/lodestar/test/unit/tasks/tasks/stateArchiver.test.ts
Labels: StateTransition

#2164 Review ReqResp stream handling
  packages/lodestar/src/network/reqresp/encoders/requestDecode.ts
  packages/lodestar/src/network/reqresp/encoders/responseDecode.ts
  packages/lodestar/src/network/reqresp/interface.ts
  packages/lodestar/src/network/reqresp/request/index.ts
  packages/lodestar/src/network/reqresp/response/index.ts
  packages/lodestar/src/network/reqresp/utils/bufferedSource.ts
  packages/lodestar/test/e2e/sync/reqResp.test.ts
  packages/lodestar/test/unit/network/reqresp/utils.ts
Labels: Network

#2170 Initialize justifiedBalances for forkchoice
  packages/lodestar-beacon-state-transition/src/util/balance.ts
  packages/lodestar-fork-choice/src/forkChoice/forkChoice.ts
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/forkChoice/forkChoice.ts
  packages/lodestar/src/chain/initState.ts
  packages/lodestar/test/unit/chain/forkChoice/forkChoice.test.ts
  packages/lodestar/test/unit/chain/validation/attestation.test.ts
Labels: StateTransition

#2175 Group logger initialization
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/block/block.test.ts
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/epoch/epoch.test.ts
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/epoch/getAttestationDeltas.test.ts
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/epoch/processRewardsAndPenalties.test.ts
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/slot/slots.test.ts
  packages/lodestar-beacon-state-transition/test/perf/util.ts
  packages/lodestar-beacon-state-transition/test/utils/logger.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/slashingProtection/utils.ts
  packages/lodestar-cli/src/cmds/account/cmds/validator/voluntaryExit.ts
  packages/lodestar-cli/src/util/logger.ts
  packages/lodestar/test/e2e/db/api/beacon/repositories/blockArchive.test.ts
  packages/lodestar/test/e2e/eth1/eth1ForBlockProduction.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
  packages/lodestar/test/unit/api/impl/debug/beacon/index.test.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
  packages/lodestar/test/unit/metrics/beacon.test.ts
  packages/lodestar/test/unit/metrics/server/http.test.ts
  packages/lodestar/test/unit/network/reqresp/response/index.test.ts
  packages/lodestar/test/unit/network/tasks/checkPeerAliveTask.test.ts
  packages/lodestar/test/unit/network/tasks/diversifyPeersBySubnetTask.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/fetcher.test.ts
  packages/lodestar/test/unit/sync/regular/oneRangeAhead/oneRangeAhead.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
  packages/lodestar/test/utils/node/validator.ts
Labels: CLI, StateTransition

#1911 Enable Typescript strict opts
  packages/lodestar-beacon-state-transition/src/phase0/fast/util/cachedBeaconState.ts
  packages/lodestar-spec-test-util/src/single.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getStates.ts
  packages/lodestar/src/api/rest/controllers/node/getPeer.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/network/reqresp/encoders/responseDecode.ts
  packages/lodestar/src/network/reqresp/request/errors.ts
  packages/lodestar/src/sync/range/utils/batches.ts
  packages/lodestar/test/unit/sync/range/utils/batches.test.ts
  tsconfig.build.json
Labels: Api, Network, StateTransition

#2057 Add validator service to docker-compose
  .gitignore
  CONTRIBUTING.md
  default.env
  docker-compose.validator.yml
  docker-compose.yml
  docker/docker-compose.local.yml
  docker/grafana/provisioning/dashboards/lodestar.json
  docker/prometheus/prometheus.yml
  packages/lodestar/README.md
Labels: Meta: Exclude From Changelog

#2176 Add genesisValidatorsRoot to IBeaconChain
  packages/lodestar/src/api/impl/beacon/beacon.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/test/unit/api/impl/beacon/beacon.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Api, Network

#1627 Persist eth1 genesis progress on error
  packages/lodestar-db/src/schema.ts
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/chain/genesis/interface.ts
  packages/lodestar/src/chain/initState.ts
  packages/lodestar/src/db/api/beacon/beacon.ts
  packages/lodestar/src/db/api/beacon/interface.ts
  packages/lodestar/src/db/api/beacon/single/index.ts
  packages/lodestar/src/db/api/beacon/single/preGenesisState.ts
  packages/lodestar/src/db/api/beacon/single/preGenesisStateLastProcessedBlock.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/eth1/stream.ts
  packages/lodestar/test/e2e/eth1/stream.test.ts
  packages/lodestar/test/unit/chain/genesis/genesis.test.ts
Labels: CLI, Eth1

#2188 Add prater network
  packages/lodestar-cli/src/networks/index.ts
  packages/lodestar-cli/src/networks/prater.ts
Labels: CLI

#2196 publishAttesterSlashing topic should be attester_slashing
  packages/lodestar/src/network/gossip/gossipsub.ts
Labels: Network

#2189 Customize log level for file transport
  .github/workflows/test-sim.yml
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar-cli/src/cmds/beacon/options.ts
  packages/lodestar-cli/src/cmds/dev/handler.ts
  packages/lodestar-cli/src/cmds/validator/handler.ts
  packages/lodestar-cli/src/cmds/validator/options.ts
  packages/lodestar-cli/src/cmds/validator/utils/interop/validator.ts
  packages/lodestar-cli/src/networks/index.ts
  packages/lodestar-cli/src/util/index.ts
  packages/lodestar-cli/src/util/logger.ts
  packages/lodestar-utils/src/logger/index.ts
  packages/lodestar-utils/src/logger/interface.ts
  packages/lodestar-utils/src/logger/transport.ts
  packages/lodestar-utils/src/logger/winston.ts
  packages/lodestar-utils/test/unit/logger/winston.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/sim/multiNodeMultiThread.test.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
  packages/lodestar/test/sim/params.ts
  packages/lodestar/test/sim/singleNodeSingleThread.test.ts
  packages/lodestar/test/sim/threaded/noEth1SimWorker.ts
  packages/lodestar/test/utils/logger.ts
Labels: CI, CLI

#2195 Create pull_request_template.md
  .github/pull_request_template.md
Labels: CI

#2199 Move gossip validation logs to debug
  packages/lodestar/src/network/gossip/validator.ts
Labels: Network

#2190 Sync.start() should resolve quickly
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/reqResp/interface.ts
  packages/lodestar/src/sync/reqResp/reqResp.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/unit/sync/reqResp.test.ts
Labels: Network

#2202 Gossip validation - log error metadata instead on logContext
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/errors/blockError.ts
  packages/lodestar/src/network/gossip/validator.ts
Labels: Network

#2194 Remove unnecessary lib imports
  packages/lodestar/test/unit/api/rest/beacon/blocks/getBlock.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/getAttesterSlashings.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/getPoolAttestations.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/getProposerSlashings.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/getVoluntaryExits.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/submitAttesterSlashing.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/submitPoolAttestation.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/submitProposerSlashings.test.ts
  packages/lodestar/test/unit/api/rest/beacon/pool/submitVoluntaryExit.test.ts
  packages/lodestar/test/unit/api/rest/beacon/state/getStateFinalityCheckpoints.test.ts
  packages/lodestar/test/unit/api/rest/config/getDepositContract.test.ts
  packages/lodestar/test/unit/api/rest/config/getForkSchedule.test.ts
  packages/lodestar/test/unit/api/rest/config/getSpec.test.ts
  packages/spec-test-runner/test/spec/lightclient_patch/epoch_processing/justification_and_finalization/mainnet.test.ts
  packages/spec-test-runner/test/spec/lightclient_patch/epoch_processing/justification_and_finalization/minimal.test.ts
  packages/spec-test-runner/test/spec/lightclient_patch/epoch_processing/rewards_and_penalties/mainnet.test.ts
  packages/spec-test-runner/test/spec/lightclient_patch/epoch_processing/rewards_and_penalties/minimal.test.ts
  packages/spec-test-runner/test/spec/lightclient_patch/epoch_processing/sync_committee_updates/mainnet.test.ts
  packages/spec-test-runner/test/spec/lightclient_patch/epoch_processing/sync_committee_updates/minimal.test.ts
  packages/spec-test-runner/test/spec/lightclient_patch/sanity/blocks/mainnet.test.ts
  packages/spec-test-runner/test/spec/lightclient_patch/sanity/blocks/minimal.test.ts
  packages/spec-test-runner/test/spec/lightclient_patch/sanity/slots/mainnet.test.ts
  packages/spec-test-runner/test/spec/lightclient_patch/sanity/slots/minimal.test.ts
Labels: StateTransition

#2198 Log hygiene - info level
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar-validator/src/validator.ts
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
Labels: Network, Validator

#2178 Add CLI command: account wallet recovery
  packages/lodestar-cli/src/cmds/account/cmds/wallet/create.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/index.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/recover.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/utils.ts
Labels: CLI

#2212 Increase sim test stability
  .gitignore
  packages/lodestar-cli/src/cmds/beacon/handler.ts
  packages/lodestar/src/index.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/util.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/test/sim/multiNodeMultiThread.test.ts
  packages/lodestar/test/sim/threaded/noEth1SimWorker.ts
  packages/lodestar/test/sim/threaded/types.ts
  packages/lodestar/test/unit/util/peerId.test.ts
  packages/lodestar/test/utils/node/beacon.ts
Labels: CLI, Network

#2211 Cleaner validator info logs
  packages/lodestar-utils/src/format.ts
  packages/lodestar-utils/src/index.ts
  packages/lodestar-validator/src/services/attestation.ts
  packages/lodestar-validator/src/services/block.ts
  packages/lodestar/src/node/notifier.ts
Labels: Validator

#2216 chore(release): v0.18.0
  lerna.json
  packages/benchmark-utils/package.json
  packages/lodestar-beacon-state-transition/package.json
  packages/lodestar-cli/package.json
  packages/lodestar-cli/src/cmds/account/cmds/validator/recover.ts
  packages/lodestar-config/package.json
  packages/lodestar-db/package.json
  packages/lodestar-fork-choice/package.json
  packages/lodestar-light-client/package.json
  packages/lodestar-params/package.json
  packages/lodestar-spec-test-util/package.json
  packages/lodestar-types/package.json
  packages/lodestar-utils/package.json
  packages/lodestar-validator/package.json
  packages/lodestar/package.json
  packages/persistent-ts/package.json
  packages/spec-test-runner/package.json
Labels: Benchmarks, CLI, Config, StateTransition, Types, Validator

#2218 Trim mnemonic when reading from disk
  packages/lodestar-cli/src/cmds/account/cmds/validator/recover.ts
  packages/lodestar-cli/src/cmds/account/cmds/wallet/recover.ts
Labels: CLI

#2219 lodestar-beacon-state-transtition test de-duplication
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/epoch/epoch.test.ts
  packages/lodestar-beacon-state-transition/test/perf/phase0/fast/slot/slots.test.ts
  packages/lodestar-beacon-state-transition/test/unit/fast/block/isValidIndexedAttestation.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/blockHeader.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/eth1data.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/attesterSlashing.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/operations/index.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/block/randao.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/epoch.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/misc.test.ts
  packages/lodestar-beacon-state-transition/test/unit/stateTransition/util/validator.test.ts
Labels: StateTransition

#2239 Fix package rename
  .github/labeler.yml
  Dockerfile
  README.md
  docs/design/architecture.md
  docs/design/depgraph.md
  package.json
  packages/config/README.md
  scripts/prepare-docs.sh
Labels: CI, Config

#2238 Don't use libp2p.peerStore.peers directly
  packages/lodestar/src/network/peers/discover.ts
Labels: Network

#2254 Remove libp2p-ts dependency
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
  packages/cli/types/libp2p-bootstrap/index.d.ts
  packages/cli/types/libp2p-bootstrap/libp2p-bootstrap-tests.ts
  packages/cli/types/libp2p-bootstrap/tsconfig.json
  packages/cli/types/libp2p-bootstrap/tslint.json
  packages/cli/types/libp2p-mdns/index.d.ts
  packages/cli/types/libp2p-mdns/libp2p-mdns-tests.ts
  packages/cli/types/libp2p-mdns/tsconfig.json
  packages/cli/types/libp2p-mdns/tslint.json
  packages/cli/types/time-cache/index.d.ts
  packages/light-client/tsconfig.build.json
  packages/light-client/tsconfig.json
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/node/utils.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/nodejs/bundle.ts
  packages/lodestar/src/network/peers/discover.ts
  packages/lodestar/src/network/peers/metastore.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/network/peers/utils/getConnectedPeerIds.ts
  packages/lodestar/src/network/reqresp/interface.ts
  packages/lodestar/src/network/reqresp/reqResp.ts
  packages/lodestar/src/network/reqresp/request/index.ts
  packages/lodestar/test/e2e/network/peers/peerManager.test.ts
  packages/lodestar/test/unit/api/impl/node/node.test.ts
  packages/lodestar/test/unit/network/nodejs/libp2p.test.ts
  packages/lodestar/test/unit/network/peers/metastore.test.ts
  packages/lodestar/test/utils/network.ts
  packages/lodestar/test/utils/peer.ts
  packages/lodestar/tsconfig.build.json
  packages/lodestar/tsconfig.json
  packages/lodestar/types/libp2p-bootstrap/index.d.ts
  packages/lodestar/types/libp2p-bootstrap/libp2p-bootstrap-tests.ts
  packages/lodestar/types/libp2p-bootstrap/tsconfig.json
  packages/lodestar/types/libp2p-bootstrap/tslint.json
  packages/lodestar/types/libp2p-mdns/index.d.ts
  packages/lodestar/types/libp2p-mdns/libp2p-mdns-tests.ts
  packages/lodestar/types/libp2p-mdns/tsconfig.json
  packages/lodestar/types/libp2p-mdns/tslint.json
  packages/lodestar/types/libp2p-mplex/index.d.ts
  packages/lodestar/types/libp2p-mplex/libp2p-mplex-tests.ts
  packages/lodestar/types/libp2p-mplex/tsconfig.json
  packages/lodestar/types/libp2p-mplex/tslint.json
  packages/lodestar/types/libp2p-tcp/index.d.ts
  packages/lodestar/types/libp2p-tcp/tsconfig.json
  packages/lodestar/types/libp2p-tcp/tslint.json
  packages/lodestar/types/time-cache/index.d.ts
  packages/validator/tsconfig.build.json
  packages/validator/tsconfig.json
  yarn.lock
Labels: Api, CLI, Meta: Exclude From Changelog, Network, Validator

#2256 Move persistent-ts to its own repo
  packages/persistent-ts/.babelrc
  packages/persistent-ts/LICENSE
  packages/persistent-ts/README.md
  packages/persistent-ts/package.json
  packages/persistent-ts/src/List.ts
  packages/persistent-ts/src/MutableVector.ts
  packages/persistent-ts/src/Vector.ts
  packages/persistent-ts/src/index.ts
  packages/persistent-ts/test/perf/Vector.test.ts
  packages/persistent-ts/test/unit/List.test.ts
  packages/persistent-ts/test/unit/Vector.test.ts
  packages/persistent-ts/tsconfig.build.json
  packages/persistent-ts/tsconfig.json
  yarn.lock
Labels: Meta: Exclude From Changelog

#2260 Add BeaconCommitteeSubscription ssz type
  packages/lodestar/src/api/impl/validator/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/types/src/phase0/ssz/generators/api.ts
  packages/types/src/phase0/ssz/interface.ts
  packages/types/src/phase0/types/api.ts
  packages/validator/src/api/impl/rest/validator/validator.ts
  packages/validator/src/api/interface/validators.ts
  packages/validator/test/utils/mocks/validator.ts
Labels: Api, Types, Validator

#2267 Bump butlerlogic/action-autotag
  .github/workflows/release.yml
Labels: CI

#2262 Fix validateAggregateAttestation types + error
  packages/lodestar/src/api/impl/beacon/pool/pool.ts
  packages/lodestar/src/chain/errors/attestationError.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
Labels: Api

#2272 change lodestar symbolic link for updated folder structure
  lodestar
Labels: Meta: Exclude From Changelog

#2269 Rename att preState for targetState
  packages/lodestar/src/api/impl/beacon/pool/pool.ts
  packages/lodestar/src/chain/errors/attestationError.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/test/unit/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/chain/validation/attestation.test.ts
Labels: Api, Network

#2275 Refactor job queue
  docker/grafana/provisioning/dashboards/lodestar.json
  packages/lodestar/package.json
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/regen/queued.ts
  packages/lodestar/src/metrics/beacon.ts
  packages/lodestar/src/metrics/interface.ts
  packages/lodestar/src/metrics/metrics.ts
  packages/lodestar/src/metrics/server/http.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/range/chain.ts
  packages/lodestar/src/sync/range/utils/index.ts
  packages/lodestar/src/util/queue.ts
  packages/lodestar/src/util/queue/errors.ts
  packages/lodestar/src/util/queue/index.ts
  packages/lodestar/src/util/queue/metrics.ts
  packages/lodestar/src/util/wrapError.ts
  packages/lodestar/test/unit/metrics/beacon.test.ts
  packages/lodestar/test/unit/metrics/metrics.test.ts
  packages/lodestar/test/unit/metrics/server/http.test.ts
  packages/lodestar/test/unit/util/queue.test.ts
  packages/lodestar/test/utils/stub/chain.ts
  yarn.lock
Labels: Network

#2274 Re-org gossip validation fns
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/gossip/validatorFns/aggregatedAttestation.ts
  packages/lodestar/src/network/gossip/validatorFns/attestation.ts
  packages/lodestar/src/network/gossip/validatorFns/attesterSlashing.ts
  packages/lodestar/src/network/gossip/validatorFns/block.ts
  packages/lodestar/src/network/gossip/validatorFns/index.ts
  packages/lodestar/src/network/gossip/validatorFns/proposerSlashing.ts
  packages/lodestar/src/network/gossip/validatorFns/voluntaryExit.ts
Labels: Network

#2273 Fix events api url in validator
  packages/lodestar/test/sim/singleNodeSingleThread.test.ts
  packages/lodestar/test/utils/node/validator.ts
  packages/validator/src/api/abstract.ts
  packages/validator/src/api/impl/rest/events/events.ts
  packages/validator/src/api/impl/rest/events/util.ts
  packages/validator/test/unit/api/rcpClientOverInstance.test.ts
Labels: Validator

#2281 Lazy load lockfile library
  packages/cli/src/util/lockfile.ts
  packages/cli/src/validatorDir/ValidatorDir.ts
Labels: CLI

#2290 Update discv5
  packages/cli/package.json
  packages/lodestar/package.json
  yarn.lock
Labels: CLI

#2277 Add JobQueue for each gossip topic
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/message.ts
  packages/lodestar/src/network/gossip/topic.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/gossip/validatorFns/attestation.ts
  packages/lodestar/src/network/gossip/validatorFns/index.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/network/reqresp.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/utils/src/objects.ts
Labels: Network

#2284 Use BLS batch verify in AggregateAndProof
  packages/beacon-state-transition/src/phase0/fast/block/index.ts
  packages/beacon-state-transition/src/phase0/fast/block/isValidIndexedAttestation.ts
  packages/beacon-state-transition/src/phase0/fast/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/phase0/fast/block/processRandao.ts
  packages/beacon-state-transition/src/phase0/fast/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/phase0/fast/signatureSets/attestations.ts
  packages/beacon-state-transition/src/phase0/fast/signatureSets/attesterSlashings.ts
  packages/beacon-state-transition/src/phase0/fast/signatureSets/index.ts
  packages/beacon-state-transition/src/phase0/fast/signatureSets/proposerSlashings.ts
  packages/beacon-state-transition/src/phase0/fast/signatureSets/types.ts
  packages/beacon-state-transition/src/phase0/fast/signatureSets/voluntaryExits.ts
  packages/beacon-state-transition/src/phase0/fast/util/block.ts
  packages/beacon-state-transition/src/util/index.ts
  packages/beacon-state-transition/src/util/signatureSets.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/bls.ts
  packages/lodestar/src/chain/errors/attestationError.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/utils/signature.ts
  packages/lodestar/src/network/gossip/validatorFns/aggregatedAttestation.ts
  packages/lodestar/test/unit/chain/validation/aggregateAndProof.test.ts
Labels: Network, StateTransition

#2299 Fix validator functions for attestation topics
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/network/gossip/validatorFns/index.ts
Labels: Network

#2301 Remove stale files
  packages/benchmark-utils/.babelrc
  packages/benchmark-utils/LICENSE
  packages/benchmark-utils/README.md
  packages/benchmark-utils/package.json
  packages/benchmark-utils/src/constant.ts
  packages/benchmark-utils/src/index.ts
  packages/benchmark-utils/src/types/v8-profiler-next/index.d.ts
  packages/benchmark-utils/tsconfig.build.json
  packages/benchmark-utils/tsconfig.json
  packages/lodestar/bin/create-peer-id
  packages/lodestar/scripts/set_constants
  packages/lodestar/start-multi.sh
  packages/lodestar/test/benchmarks/examples/index.ts
  packages/lodestar/test/benchmarks/examples/random.ts
  packages/lodestar/test/benchmarks/imports.ts
  packages/lodestar/test/benchmarks/index.ts
  scripts/whiteblock_start.sh
  supporting-docs/full-and-light-client-code-overlap.md
Labels: Benchmarks, Meta: Exclude From Changelog

#2302 Fix benchmarks-utils references
  .github/labeler.yml
  packages/lodestar/package.json
  yarn.lock
Labels: CI, Meta: Exclude From Changelog

#2313 Update IBeaconConfig#getTypes
  packages/config/src/index.ts
  packages/config/src/interface.ts
  packages/types/src/allForks/index.ts
  packages/types/src/index.ts
Labels: Config, Types

#2312 Refactor metrics
  docker-compose.yml
  docker/grafana/provisioning/dashboards/lodestar.json
  packages/cli/src/options/beaconNodeOptions/metrics.ts
  packages/cli/test/unit/options/beaconNodeOptions.test.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/initState.ts
  packages/lodestar/src/metrics/beacon.ts
  packages/lodestar/src/metrics/index.ts
  packages/lodestar/src/metrics/interface.ts
  packages/lodestar/src/metrics/metrics.ts
  packages/lodestar/src/metrics/metrics/beacon.ts
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/src/metrics/options.ts
  packages/lodestar/src/metrics/server/http.ts
  packages/lodestar/src/metrics/server/index.ts
  packages/lodestar/src/metrics/server/push.ts
  packages/lodestar/src/metrics/utils/gauge.ts
  packages/lodestar/src/metrics/utils/gitData.ts
  packages/lodestar/src/metrics/utils/histogram.ts
  packages/lodestar/src/metrics/utils/registryMetricCreator.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/validator.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/sync/interface.ts
  packages/lodestar/src/util/queue/index.ts
  packages/lodestar/src/util/queue/metrics.ts
  packages/lodestar/test/e2e/network/peers/peerManager.test.ts
  packages/lodestar/test/unit/chain/chain.test.ts
  packages/lodestar/test/unit/metrics/beacon.test.ts
  packages/lodestar/test/unit/metrics/metrics.test.ts
  packages/lodestar/test/unit/metrics/server/http.test.ts
  packages/lodestar/test/unit/metrics/utils.test.ts
Labels: CLI, Network

#2314 Fix winston logger and tests
  packages/cli/src/util/logger.ts
  packages/lodestar/test/utils/logger.ts
  packages/utils/src/logger/interface.ts
  packages/utils/src/logger/transport.ts
  packages/utils/src/logger/winston.ts
  packages/utils/test/unit/logger/winston.test.ts
Labels: CLI

#2315 Use `allForks.BeaconState` in `IBeaconChain`
  packages/beacon-state-transition/src/util/balance.ts
  packages/beacon-state-transition/src/util/genesis.ts
  packages/cli/src/cmds/beacon/initBeaconState.ts
  packages/cli/src/cmds/dev/handler.ts
  packages/fork-choice/src/forkChoice/forkChoice.ts
  packages/fork-choice/src/forkChoice/interface.ts
  packages/lodestar/src/api/impl/beacon/state/interface.ts
  packages/lodestar/src/api/impl/beacon/state/state.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/src/api/impl/debug/beacon/index.ts
  packages/lodestar/src/api/impl/debug/beacon/interface.ts
  packages/lodestar/src/api/impl/validator/validator.ts
  packages/lodestar/src/api/rest/controllers/debug/beacon/getStates.ts
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/emitter.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/forkChoice/forkChoice.ts
  packages/lodestar/src/chain/genesis/genesis.ts
  packages/lodestar/src/chain/genesis/interface.ts
  packages/lodestar/src/chain/initState.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/regen/interface.ts
  packages/lodestar/src/chain/regen/queued.ts
  packages/lodestar/src/chain/regen/regen.ts
  packages/lodestar/src/chain/stateCache/stateContextCache.ts
  packages/lodestar/src/chain/stateCache/stateContextCheckpointsCache.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/chain/validation/utils/signature.ts
  packages/lodestar/src/db/api/beacon/single/preGenesisState.ts
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
  packages/lodestar/src/eth1/eth1ForBlockProductionDisabled.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/eth1/utils/deposits.ts
  packages/lodestar/src/eth1/utils/eth1Vote.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/node/utils/interop/state.ts
  packages/lodestar/src/node/utils/state.ts
  packages/lodestar/src/tasks/tasks/archiveStates.ts
  packages/lodestar/test/unit/api/impl/beacon/state/stateValidators.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/utils.test.ts
  packages/lodestar/test/unit/api/rest/debug/beacon/getState.test.ts
  packages/lodestar/test/unit/chain/factory/attestation/data.test.ts
  packages/lodestar/test/unit/chain/factory/block/body.test.ts
  packages/lodestar/test/unit/chain/forkChoice/forkChoice.test.ts
  packages/lodestar/test/unit/eth1/utils/eth1Vote.test.ts
  packages/lodestar/test/unit/tasks/interopSubnetsJoiningTask.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/state.ts
  packages/lodestar/test/utils/stub/chain.ts
  packages/spec-test-runner/test/spec/genesis/initialization/genesis_initialization_minimal.test.ts
Labels: Api, CLI, Eth1, StateTransition
