Repository ChainSafe/lodestar, pull requests merged in 2021-07, with the labels that each got.

#2717 getCommitteeAssignments
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/test/perf/allForks/util/epochContext.test.ts
  packages/beacon-state-transition/test/perf/util.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/api/impl/validator/utils.ts
  packages/lodestar/src/chain/factory/duties/index.ts
  packages/lodestar/test/perf/api/impl/validator/attester.test.ts
  packages/lodestar/test/unit/chain/factory/duties/assembleValidatorDuty.test.ts
Labels: Api, StateTransition

#2760 Gossip attestation validation review
  packages/beacon-state-transition/src/util/aggregationBits.ts
  packages/beacon-state-transition/test/perf/util.ts
  packages/beacon-state-transition/test/unit/util/aggregationBits.test.ts
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/chain/attestation/index.ts
  packages/lodestar/src/chain/attestation/pool.ts
  packages/lodestar/src/chain/attestation/process.ts
  packages/lodestar/src/chain/attestation/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/clock/LocalClock.ts
  packages/lodestar/src/chain/clock/interface.ts
  packages/lodestar/src/chain/errors/attestationError.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/opsPool/attestationPool.ts
  packages/lodestar/src/chain/seenCache/index.ts
  packages/lodestar/src/chain/seenCache/seenAttesters.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/chain/validation/signatureSets/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/signatureSets/selectionProof.ts
  packages/lodestar/src/constants/constants.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/db/seenAttestationCache.ts
  packages/lodestar/src/network/gossip/handler.ts
  packages/lodestar/src/network/gossip/validatorFns/aggregatedAttestation.ts
  packages/lodestar/src/network/gossip/validatorFns/attestation.ts
  packages/lodestar/test/perf/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/perf/chain/validation/attestation.test.ts
  packages/lodestar/test/unit/api/impl/beacon/pool/pool.test.ts
  packages/lodestar/test/unit/chain/attestation/process.test.ts
  packages/lodestar/test/unit/chain/attestation/processor.test.ts
  packages/lodestar/test/unit/chain/stateCache/stateContextCache.test.ts
  packages/lodestar/test/unit/chain/validation/aggregateAndProof.test.ts
  packages/lodestar/test/unit/chain/validation/attestation.test.ts
  packages/lodestar/test/unit/db/seenAttestationCache.test.ts
  packages/lodestar/test/utils/aggregationBits.ts
  packages/lodestar/test/utils/cache.ts
  packages/lodestar/test/utils/clock.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
  packages/lodestar/test/utils/validationData/aggregateAndProof.ts
  packages/lodestar/test/utils/validationData/attestation.ts
Labels: Api, Network, StateTransition

#2784 Updatable preset
  packages/lodestar/test/unit/api/impl/config/config.test.ts
  packages/params/src/activePreset.ts
  packages/params/test/unit/activePreset.test.ts
Labels: Config

#2785 update lodestar-types README with latest usage info
  packages/types/README.md
Labels: Types

#2795 add lodestar git data to validator client logs
  packages/cli/src/cmds/validator/handler.ts
Labels: CLI

#2786 Update slashing-protection-interchange-tests to 5.1.0
  packages/validator/test/e2e/slashing-protection-interchange-tests/params.ts
  packages/validator/test/e2e/slashing-protection-interchange-tests/spec.test.ts
Labels: Validator

#2193 Ban imports from lib
  .eslintrc.js
  packages/beacon-state-transition/src/allForks/index.ts
  packages/beacon-state-transition/src/allForks/util/index.ts
  packages/beacon-state-transition/src/altair/epoch/index.ts
  packages/cli/src/cmds/account/cmds/validator/slashingProtection/import.ts
  packages/cli/src/cmds/beacon/handler.ts
  packages/cli/src/cmds/beacon/initBeaconState.ts
  packages/cli/src/networks/index.ts
  packages/light-client/server.d.ts
  packages/light-client/server.js
  packages/light-client/src/server/LightClientUpdater.ts
  packages/light-client/src/server/index.ts
  packages/light-client/src/server/utils.ts
  packages/light-client/src/utils/clock.ts
  packages/lodestar/src/api/impl/beacon/blocks/index.ts
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/beacon/state/index.ts
  packages/lodestar/src/api/impl/config/index.ts
  packages/lodestar/src/api/impl/lodestar/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/db/repositories/lightclientFinalizedCheckpoint.ts
  packages/lodestar/src/metrics/validatorMonitor.ts
  packages/lodestar/test/unit/api/impl/config/config.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/chain/validation/contributionAndProof.test.ts
  packages/lodestar/test/unit/metrics/utils.ts
  packages/lodestar/test/unit/network/attestationService.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/node/simTest.ts
  packages/spec-test-runner/test/spec/altair/fork/fork.ts
  packages/spec-test-runner/test/spec/altair/fork_choice/fork_choice.ts
  packages/spec-test-runner/test/spec/altair/rewards/basic/basic.ts
  packages/spec-test-runner/test/spec/altair/rewards/leak/leak.ts
  packages/spec-test-runner/test/spec/altair/rewards/random/random.ts
  packages/spec-test-runner/test/spec/bls/aggregate.test.ts
  packages/spec-test-runner/test/spec/bls/sign.test.ts
  packages/spec-test-runner/test/spec/phase0/fork_choice/get_head_mainnet.test.ts
  packages/spec-test-runner/test/spec/ssz/generic/index.test.ts
  packages/utils/src/objects.ts
  packages/validator/src/slashingProtection/index.ts
  packages/validator/src/slashingProtection/interchange/formats/index.ts
  packages/validator/src/slashingProtection/interchange/index.ts
Labels: Api, CLI, StateTransition, Validator

#2808 Fix relative import
  packages/config/src/beaconConfig.ts
  packages/config/src/genesisConfig/index.ts
  packages/config/src/genesisConfig/types.ts
Labels: Config

#2809 Shortcut to enable all namespaces
  packages/cli/src/options/beaconNodeOptions/api.ts
Labels: CLI

#2815 Remove gitData script from docker build
  .dockerignore
  docker/from_source.Dockerfile
  packages/cli/src/util/gitData.ts
  scripts/getGitData.js
Labels: CLI

#2813 chore(release): v0.26.0
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2817 Reduce node is syncing errors verbosity
  packages/api/src/client/index.ts
  packages/api/src/index.ts
  packages/api/test/unit/client/httpClient.test.ts
  packages/lodestar/src/api/impl/errors.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/test/unit/api/impl/validator/produceAttestationData.test.ts
  packages/validator/src/services/attestation.ts
  packages/validator/src/services/attestationDuties.ts
  packages/validator/src/services/block.ts
  packages/validator/src/services/blockDuties.ts
  packages/validator/src/services/syncCommittee.ts
  packages/validator/src/services/syncCommitteeDuties.ts
  packages/validator/src/util/error.ts
  packages/validator/src/util/index.ts
  packages/validator/src/util/logger.ts
  packages/validator/src/validator.ts
  packages/validator/test/unit/services/attestation.test.ts
  packages/validator/test/unit/services/attestationDuties.test.ts
  packages/validator/test/unit/services/block.test.ts
  packages/validator/test/unit/services/blockDuties.test.ts
  packages/validator/test/unit/services/syncCommitteDuties.test.ts
  packages/validator/test/unit/services/syncCommittee.test.ts
  packages/validator/test/utils/logger.ts
Labels: Api, Validator

#2810 Write heapdump to disk on request through API
  packages/api/src/routes/lodestar.ts
  packages/lodestar/src/api/impl/lodestar/index.ts
Labels: Api

#2819 Improve gitData scripts
  .gitignore
  packages/cli/package.json
  packages/cli/scripts/getGitData.js
  packages/cli/src/cmds/beacon/handler.ts
  packages/cli/src/cmds/validator/handler.ts
  packages/cli/src/util/gitData/gitDataPath.ts
  packages/cli/src/util/gitData/index.ts
  packages/cli/src/util/gitData/writeGitData.ts
  packages/cli/src/util/index.ts
  packages/cli/test/unit/util/gitData.ts
Labels: CI, CLI

#2816 Move sync pools to chain
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/opPools/attestationPool.ts
  packages/lodestar/src/chain/opPools/index.ts
  packages/lodestar/src/chain/opPools/syncCommitteeMessagePool.ts
  packages/lodestar/src/chain/opPools/syncContributionAndProofPool.ts
  packages/lodestar/src/chain/opPools/types.ts
  packages/lodestar/src/chain/opPools/utils.ts
  packages/lodestar/src/chain/seenCache/index.ts
  packages/lodestar/src/chain/seenCache/seenAttesters.ts
  packages/lodestar/src/chain/seenCache/seenCommittee.ts
  packages/lodestar/src/chain/seenCache/seenCommitteeContribution.ts
  packages/lodestar/src/chain/validation/syncCommittee.ts
  packages/lodestar/src/chain/validation/syncCommitteeContributionAndProof.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/network/gossip/handlers/index.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/util/map.ts
  packages/lodestar/test/unit/api/impl/beacon/pool/pool.test.ts
  packages/lodestar/test/unit/chain/factory/block/body.test.ts
  packages/lodestar/test/unit/chain/opPools/syncCommittee.test.ts
  packages/lodestar/test/unit/chain/opPools/syncCommitteeContribution.test.ts
  packages/lodestar/test/unit/chain/seenCache/syncCommittee.test.ts
  packages/lodestar/test/unit/chain/validation/contributionAndProof.test.ts
  packages/lodestar/test/unit/chain/validation/syncCommittee.test.ts
  packages/lodestar/test/unit/db/syncCommitteeContribution.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
Labels: Api, Network

#2829 Update docs / READMEs
  docs/design/events.md
  docs/index.md
  docs/installation.md
  docs/libraries/index.md
  docs/usage/index.md
  docs/usage/testnet.md
  mkdocs.yml
  packages/config/README.md
  packages/params/README.md
  packages/types/README.md
Labels: Config, Types

#2824 SyncCommittee: track chain head by event stream api
  packages/validator/src/services/chainHeaderTracker.ts
  packages/validator/src/services/syncCommittee.ts
  packages/validator/src/validator.ts
  packages/validator/test/unit/services/syncCommittee.test.ts
Labels: Validator

#2782 Add light client init proof builder
  packages/api/src/client/lightclient.ts
  packages/api/src/routes/lightclient.ts
  packages/api/src/server/lightclient.ts
  packages/api/test/unit/lightclient.test.ts
  packages/db/src/schema.ts
  packages/light-client/foo
  packages/light-client/src/client/index.ts
  packages/light-client/src/utils/proof.ts
  packages/light-client/test/lightclientApiServer.ts
  packages/light-client/test/unit/sync.test.ts
  packages/lodestar/src/api/impl/lightclient/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/lightClient/LightClientIniter.ts
  packages/lodestar/src/chain/lightClient/index.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/db/repositories/index.ts
  packages/lodestar/src/db/repositories/lightClientInitProof.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Api

#2833 Avoid recalculating rewards penalties for same effective balance
  packages/beacon-state-transition/src/altair/epoch/balance.ts
  packages/beacon-state-transition/src/altair/epoch/processRewardsAndPenalties.ts
  packages/beacon-state-transition/src/phase0/epoch/getAttestationDeltas.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing/rewards_and_penalties/rewardsAndPenalties.ts
Labels: StateTransition

#2835 Add fromMnemonic option
  packages/cli/src/cmds/validator/handler.ts
  packages/cli/src/cmds/validator/keys.ts
  packages/cli/src/cmds/validator/options.ts
Labels: CLI

#2842 Fix gossip block error handler
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/network/gossip/handlers/index.ts
  packages/lodestar/src/network/reqresp/handlers/beaconBlocksByRoot.ts
  packages/validator/src/services/attestation.ts
Labels: Network, Validator

#2843 Add altair-devnet-1
  packages/cli/src/networks/altair-devnet-1.ts
  packages/cli/src/networks/index.ts
Labels: CLI

#2849 Empty sync committee obj with G2_POINT_AT_INFINITY
  packages/beacon-state-transition/src/altair/block/processSyncCommittee.ts
  packages/beacon-state-transition/src/constants/constants.ts
  packages/beacon-state-transition/test/unit/constants.test.ts
  packages/lodestar/src/chain/opPools/syncContributionAndProofPool.ts
Labels: StateTransition

#2841 README checks
  .github/workflows/test.yml
  package.json
  packages/api/README.md
  packages/api/package.json
  packages/beacon-state-transition/README.md
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/README.md
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/README.md
  packages/params/package.json
  packages/spec-test-util/package.json
  packages/types/README.md
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Labels: CI, CLI, Config, StateTransition, Types, Validator

#2831 Improve rotateEpochs and exitQueueEndChurn
  packages/beacon-state-transition/src/allForks/stateTransition.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
Labels: StateTransition

#2855 Altair 1.1.0-beta.1
  packages/beacon-state-transition/test/unit/util/aggregator.test.ts
  packages/params/src/constants.ts
Labels: Config, StateTransition

#2861 rm dead testnets
  packages/cli/src/networks/index.ts
  packages/cli/src/networks/oonoonba.ts
  packages/cli/src/networks/yeerongpilly.ts
Labels: CLI

#2860 Increase benchmark alert threshold
  .github/workflows/benchmark.yml
Labels: CI

#2834 Add subscribeAllSubnets flag
  packages/cli/src/options/beaconNodeOptions/network.ts
  packages/cli/test/unit/options/beaconNodeOptions.test.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/options.ts
  packages/lodestar/src/network/subnets/attnetsService.ts
  packages/lodestar/src/network/subnets/interface.ts
  packages/lodestar/src/network/subnets/syncnetsService.ts
Labels: CLI, Network

#2865 chore(release): v0.27.0
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: CLI, Config, StateTransition, Types, Validator

#2869 Audit slashing protection db
  packages/validator/src/services/validatorStore.ts
  packages/validator/src/slashingProtection/utils.ts
Labels: Validator

#2870 Enable cli util unit tests
  packages/cli/src/util/gitData/gitDataPath.ts
  packages/cli/test/unit/util/format.test.ts
  packages/cli/test/unit/util/gitData.test.ts
Labels: CLI

#2873 Skip unstable benchmarks
  packages/beacon-state-transition/test/perf/altair/epoch/epoch.test.ts
  packages/beacon-state-transition/test/perf/util/aggregationBits.test.ts
  packages/beacon-state-transition/test/perf/util/rootEquals.test.ts
Labels: StateTransition

#2868 Re-org slashing protection DB code
  .gitignore
  packages/types/src/phase0/sszTypes.ts
  packages/types/src/phase0/types/validator.ts
  packages/validator/src/slashingProtection/attestation/attestationByTargetRepository.ts
  packages/validator/src/slashingProtection/attestation/attestationLowerBoundRepository.ts
  packages/validator/src/slashingProtection/attestation/errors.ts
  packages/validator/src/slashingProtection/attestation/index.ts
  packages/validator/src/slashingProtection/attestation/service.ts
  packages/validator/src/slashingProtection/block/blockBySlotRepository.ts
  packages/validator/src/slashingProtection/block/errors.ts
  packages/validator/src/slashingProtection/block/index.ts
  packages/validator/src/slashingProtection/block/service.ts
  packages/validator/src/slashingProtection/index.ts
  packages/validator/src/slashingProtection/interchange/types.ts
  packages/validator/src/slashingProtection/interface.ts
  packages/validator/src/slashingProtection/minMaxSurround/errors.ts
  packages/validator/src/slashingProtection/minMaxSurround/interface.ts
  packages/validator/src/slashingProtection/minMaxSurround/minMaxSurround.ts
  packages/validator/src/slashingProtection/types.ts
  packages/validator/src/slashingProtection/utils.ts
  packages/validator/test/e2e/slashing-protection-interchange-tests/index.test.ts
  packages/validator/test/e2e/slashing-protection-interchange-tests/spec.test.ts
  packages/validator/test/unit/slashingProtection/minMaxSurround/surroundTests.test.ts
  packages/validator/test/unit/slashingProtection/minMaxSurround/updateSpans.test.ts
Labels: Types, Validator

#2867 Force name functions
  .eslintrc.js
  packages/api/src/client/events.ts
  packages/api/src/utils/urlFormat.ts
  packages/beacon-state-transition/src/allForks/util/cachedBeaconState.ts
  packages/cli/src/util/file.ts
  packages/cli/src/util/process.ts
  packages/lodestar/src/network/gossip/validation/index.ts
  packages/lodestar/src/network/gossip/validation/queue.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/network/reqresp/encoders/requestDecode.ts
  packages/lodestar/src/network/reqresp/encoders/responseDecode.ts
  packages/lodestar/src/network/reqresp/encoders/responseEncode.ts
  packages/lodestar/src/network/reqresp/request/responseTimeoutsHandler.ts
  packages/lodestar/src/network/reqresp/response/index.ts
  packages/lodestar/src/network/reqresp/utils/onChunk.ts
  packages/lodestar/src/util/io.ts
  packages/lodestar/test/utils/network.ts
  packages/spec-test-util/src/multi.ts
  packages/spec-test-util/src/single.ts
  packages/utils/src/yaml/int.ts
Labels: CLI, Network, StateTransition

#2851 Implement aggregated attestation pool
  packages/beacon-state-transition/src/phase0/block/index.ts
  packages/db/src/schema.ts
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/opPools/aggregatedAttestationPool.ts
  packages/lodestar/src/chain/opPools/attestationPool.ts
  packages/lodestar/src/chain/opPools/index.ts
  packages/lodestar/src/chain/opPools/types.ts
  packages/lodestar/src/chain/opPools/utils.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/db/beacon.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/db/repositories/aggregateAndProof.ts
  packages/lodestar/src/db/repositories/index.ts
  packages/lodestar/src/network/gossip/handlers/index.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/test/perf/chain/opPools/aggregatedAttestationPool.test.ts
  packages/lodestar/test/unit/api/impl/beacon/pool/pool.test.ts
  packages/lodestar/test/unit/chain/factory/block/body.test.ts
  packages/lodestar/test/unit/chain/opPools/aggregatedAttestationPool.test.ts
  packages/lodestar/test/unit/db/api/beacon.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/state.ts
  packages/lodestar/test/utils/stub/beaconDb.ts
Labels: Api, Network, StateTransition

#2880 Add eth1 fallback
  packages/cli/src/cmds/beacon/initBeaconState.ts
  packages/cli/src/networks/index.ts
  packages/cli/src/options/beaconNodeOptions/eth1.ts
  packages/cli/test/unit/options/beaconNodeOptions.test.ts
  packages/lodestar/src/eth1/errors.ts
  packages/lodestar/src/eth1/eth1DepositsCache.ts
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
  packages/lodestar/src/eth1/eth1JsonRpcClient.ts
  packages/lodestar/src/eth1/eth1Provider.ts
  packages/lodestar/src/eth1/index.ts
  packages/lodestar/src/eth1/interface.ts
  packages/lodestar/src/eth1/jsonRpcHttpClient.ts
  packages/lodestar/src/eth1/options.ts
  packages/lodestar/src/eth1/provider/eth1Provider.ts
  packages/lodestar/src/eth1/provider/jsonRpcHttpClient.ts
  packages/lodestar/src/eth1/utils/deposits.ts
  packages/lodestar/src/eth1/utils/eth1Data.ts
  packages/lodestar/src/eth1/utils/eth1Vote.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/util/retry.ts
  packages/lodestar/test/e2e/eth1/eth1ForBlockProduction.test.ts
  packages/lodestar/test/e2e/eth1/eth1JsonRpcClient.test.ts
  packages/lodestar/test/e2e/eth1/eth1Provider.test.ts
  packages/lodestar/test/e2e/eth1/jsonRpcHttpClient.test.ts
  packages/lodestar/test/e2e/eth1/stream.test.ts
  packages/lodestar/test/unit/eth1/utils/deposits.test.ts
  packages/lodestar/test/unit/eth1/utils/eth1Data.test.ts
Labels: CLI, Eth1, StateTransition

#2876 Expose queues to debug API
  packages/api/src/routes/lodestar.ts
  packages/lodestar/src/api/impl/lodestar/index.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/regen/queued.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/handlers/index.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/validation/index.ts
  packages/lodestar/src/network/gossip/validation/queue.ts
  packages/lodestar/src/network/gossip/validation/validatorFnsByTopic.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/tasks/index.ts
  packages/lodestar/src/util/queue/fnQueue.ts
  packages/lodestar/src/util/queue/index.ts
  packages/lodestar/src/util/queue/itemQueue.ts
  packages/lodestar/src/util/queue/options.ts
  packages/lodestar/test/unit/util/queue.test.ts
Labels: Api, Network

#2886 Fix eth1.providerUrls defaults
  packages/cli/src/options/beaconNodeOptions/eth1.ts
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
  packages/lodestar/src/eth1/provider/jsonRpcHttpClient.ts
Labels: CLI, Eth1

#2875 Fix finalized block retrieval in API
  packages/lodestar/src/api/impl/beacon/blocks/utils.ts
  packages/lodestar/test/unit/api/impl/beacon/blocks/utils.test.ts
Labels: Api

#2889 Fix relative imports
  packages/lodestar/src/chain/opPools/aggregatedAttestationPool.ts
  packages/lodestar/src/db/interface.ts
  packages/lodestar/src/eth1/provider/eth1Provider.ts
  packages/lodestar/src/metrics/metrics.ts
  packages/lodestar/src/network/interface.ts
  packages/lodestar/src/util/retry.ts
Labels: Eth1, Network

#2890 Enforce no relative package imports
  .eslintrc.js
  package.json
  packages/lodestar/test/perf/chain/opPools/aggregatedAttestationPool.test.ts
  packages/lodestar/test/perf/chain/stateCache/stateContextCheckpointsCache.test.ts
  packages/lodestar/test/unit/chain/opPools/aggregatedAttestationPool.test.ts
  packages/validator/src/slashingProtection/types.ts
  yarn.lock
Labels: Validator

#2893 Move CLI script to .sh file
  .github/workflows/test.yml
  lodestar
  package.json
Labels: CI

#2887 Implement getIndexedSyncCommittee
  packages/beacon-state-transition/src/allForks/util/indexedSyncCommittee.ts
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/chain/validation/signatureSets/syncCommitteeContribution.ts
  packages/lodestar/src/chain/validation/syncCommittee.ts
Labels: Api, StateTransition

#2895 Control error logging in validator at the logger level
  packages/validator/src/services/attestation.ts
  packages/validator/src/services/attestationDuties.ts
  packages/validator/src/services/block.ts
  packages/validator/src/services/blockDuties.ts
  packages/validator/src/services/syncCommittee.ts
  packages/validator/src/services/syncCommitteeDuties.ts
  packages/validator/src/util/clock.ts
  packages/validator/src/util/error.ts
  packages/validator/src/util/logger.ts
Labels: Validator

#2896 Fix Buffer issues in Lightclient browser
  packages/beacon-state-transition/src/util/domain.ts
  packages/light-client/src/utils/clock.ts
  packages/light-client/src/utils/verifyMerkleBranch.ts
  packages/light-client/test/unit/sync.test.ts
Labels: StateTransition

#2899 Fix relative imports
  packages/config/src/default.ts
  packages/lodestar/src/chain/bls/interface.ts
  packages/lodestar/src/chain/bls/multithread/index.ts
  packages/lodestar/src/chain/bls/singleThread.ts
Labels: Config

#2902 Improve processEffectiveBalanceUpdates
  packages/beacon-state-transition/src/allForks/epoch/processEffectiveBalanceUpdates.ts
Labels: StateTransition

#2906 Process sync objects with concurrency
  packages/lodestar/src/network/gossip/validation/queue.ts
Labels: Network
