Repository ChainSafe/lodestar, pull requests merged in 2021-09, with the labels that each got.

#3055 Fix syncParticipantReward rounding issue
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
Labels: StateTransition

#3049 Add effectiveBalances cache
  package.json
  packages/beacon-state-transition/src/allForks/block/processDeposit.ts
  packages/beacon-state-transition/src/allForks/block/slashValidator.ts
  packages/beacon-state-transition/src/allForks/epoch/processEffectiveBalanceUpdates.ts
  packages/beacon-state-transition/src/allForks/epoch/processSlashings.ts
  packages/beacon-state-transition/src/allForks/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/altair/epoch/balance.ts
  packages/beacon-state-transition/src/altair/upgradeState.ts
  packages/beacon-state-transition/src/altair/util/syncCommittee.ts
  packages/beacon-state-transition/src/phase0/epoch/getAttestationDeltas.ts
  packages/beacon-state-transition/src/util/balance.ts
  packages/beacon-state-transition/src/util/genesis.ts
  packages/beacon-state-transition/src/util/proposer.ts
  packages/beacon-state-transition/test/perf/allForks/util/shufflings.test.ts
  packages/beacon-state-transition/test/perf/util.ts
Labels: StateTransition

#3051 Spec test production getRewardsPenaltiesDeltas fn only
  packages/beacon-state-transition/src/altair/epoch/balance.ts
  packages/beacon-state-transition/src/altair/epoch/index.ts
  packages/spec-test-runner/test/spec/altair/rewards.test.ts
Labels: StateTransition

#3057 Fix libp2p datastore initialization
  packages/lodestar/src/network/nodejs/util.ts
Labels: Network

#3046 Drop flat validators cache
  packages/beacon-state-transition/src/allForks/block/initiateValidatorExit.ts
  packages/beacon-state-transition/src/allForks/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/allForks/block/slashValidator.ts
  packages/beacon-state-transition/src/allForks/epoch/processEffectiveBalanceUpdates.ts
  packages/beacon-state-transition/src/allForks/epoch/processRegistryUpdates.ts
  packages/beacon-state-transition/src/allForks/util/cachedBeaconState.ts
  packages/beacon-state-transition/src/allForks/util/cachedValidatorList.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
  packages/beacon-state-transition/src/allForks/util/index.ts
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/altair/epoch/balance.ts
  packages/beacon-state-transition/src/altair/util/syncCommittee.ts
  packages/beacon-state-transition/src/util/balance.ts
  packages/beacon-state-transition/test/perf/phase0/epoch/util.ts
  packages/beacon-state-transition/test/unit/util/interface.test.ts
  packages/lodestar/src/api/impl/beacon/state/index.ts
  packages/lodestar/src/api/impl/beacon/state/utils.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/api/impl/validator/utils.ts
  packages/lodestar/test/perf/api/impl/validator/attester.test.ts
  packages/lodestar/test/unit/api/impl/beacon/state/stateValidators.test.ts
  packages/lodestar/test/unit/api/impl/validator/utils.test.ts
  packages/types/src/phase0/sszTypes.ts
Labels: StateTransition, Api, Types

#3059 Bump libp2p deps for uint8arrays@3.0.0
  packages/cli/package.json
  packages/cli/src/config/peerId.ts
  packages/lodestar/package.json
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/peers/discover.ts
  packages/lodestar/test/unit/network/peers/discover.test.ts
  yarn.lock
Labels: CLI, Network

#3070 chore: issue patch release 0.29.3
  lerna.json
  packages/api/package.json
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/db/package.json
  packages/fork-choice/package.json
  packages/light-client/package.json
  packages/lodestar/package.json
  packages/params/package.json
  packages/spec-test-runner/package.json
  packages/spec-test-util/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validator/package.json
Labels: Validator, StateTransition, CLI, Types, Config

#2965 Add produceBlockV2 route
  packages/api/src/routes/validator.ts
  packages/api/test/unit/validator.test.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/validator/src/services/block.ts
  packages/validator/src/validator.ts
  packages/validator/test/unit/services/block.test.ts
Labels: Validator, Api

#3068 Remove dev databases if chain starts from scratch
  packages/cli/src/cmds/dev/handler.ts
Labels: CLI

#3083 Fix epoch process effective balance by increment
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
Labels: StateTransition

#3088 Bump blst to v0.2.2
  packages/beacon-state-transition/package.json
  packages/cli/package.json
  yarn.lock
Labels: StateTransition, CLI

#3067 Persist invalid ssz objects
  .gitignore
  packages/cli/src/cmds/beacon/handler.ts
  packages/cli/src/cmds/beacon/options.ts
  packages/cli/src/cmds/beacon/paths.ts
  packages/cli/src/options/beaconNodeOptions/chain.ts
  packages/cli/test/unit/options/beaconNodeOptions.test.ts
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/chain/blocks/process.ts
  packages/lodestar/src/chain/blocks/stateTransition.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/errors/blockError.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/options.ts
  packages/lodestar/src/network/gossip/handlers/index.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: StateTransition, CLI, Api, Network

#3095 Add currentSlot to gossip block log
  packages/lodestar/src/network/gossip/handlers/index.ts
Labels: Network

#3096 Avoid getTotalBalance()
  packages/beacon-state-transition/src/allForks/epoch/processEffectiveBalanceUpdates.ts
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/beacon-state-transition/src/allForks/util/weakSubjectivity.ts
  packages/beacon-state-transition/test/unit/util/weakSubjectivity.test.ts
Labels: StateTransition

#3074 Enable rest api by default
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/test/e2e/sync/sync.test.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
Labels: Api

#3054 Altair v1.1.0 beta.3
  packages/beacon-state-transition/src/allForks/util/epochProcess.ts
  packages/fork-choice/src/forkChoice/forkChoice.ts
  packages/fork-choice/src/protoArray/interface.ts
  packages/fork-choice/src/protoArray/protoArray.ts
  packages/fork-choice/test/unit/forkChoice/forkChoice.test.ts
  packages/fork-choice/test/unit/protoArray/protoArray.test.ts
  packages/lodestar/src/chain/forkChoice/forkChoice.ts
  packages/spec-test-runner/test/spec/allForks/sanity.ts
  packages/spec-test-runner/test/spec/altair/fork_choice.test.ts
  packages/spec-test-runner/test/spec/altair/operations.test.ts
  packages/spec-test-runner/test/spec/altair/random.test.ts
  packages/spec-test-runner/test/spec/phase0/random.test.ts
  packages/spec-test-runner/test/utils/specTestCases.ts
  packages/spec-test-util/src/transform.ts
Labels: StateTransition

#3072 Type error in catch clause (with TS feature)
  .github/workflows/test.yml
  package.json
  packages/api/src/client/utils/httpClient.ts
  packages/api/src/server/events.ts
  packages/api/test/unit/events.test.ts
  packages/beacon-state-transition/test/perf/analyzeBlocks.ts
  packages/beacon-state-transition/test/perf/analyzeEpochs.ts
  packages/beacon-state-transition/test/setup.ts
  packages/cli/src/cmds/account/cmds/validator/voluntaryExit.ts
  packages/cli/src/util/graffiti.ts
  packages/light-client/src/utils/clock.ts
  packages/light-client/test/setup.ts
  packages/light-client/test/sim/altairChainSimulator.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/api/rest/index.ts
  packages/lodestar/src/chain/archiver/index.ts
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/bls/multithread/index.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/validation/aggregateAndProof.ts
  packages/lodestar/src/chain/validation/attestation.ts
  packages/lodestar/src/eth1/eth1ForBlockProduction.ts
  packages/lodestar/src/eth1/provider/jsonRpcHttpClient.ts
  packages/lodestar/src/metrics/server/http.ts
  packages/lodestar/src/network/gossip/handlers/index.ts
  packages/lodestar/src/network/gossip/validation/index.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/peers/discover.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/network/reqresp/request/index.ts
  packages/lodestar/src/network/subnets/attnetsService.ts
  packages/lodestar/src/network/subnets/syncnetsService.ts
  packages/lodestar/src/node/notifier.ts
  packages/lodestar/src/sync/range/chain.ts
  packages/lodestar/src/sync/sync.ts
  packages/lodestar/src/sync/utils/unknownRoot.ts
  packages/lodestar/src/util/queue/itemQueue.ts
  packages/lodestar/test/e2e/eth1/jsonRpcHttpClient.test.ts
  packages/lodestar/test/e2e/network/gossipsub.test.ts
  packages/lodestar/test/setupBLS.ts
  packages/lodestar/test/sim/threaded/noEth1SimWorker.ts
  packages/lodestar/test/utils/errors.ts
  packages/spec-test-runner/test/downloadTests.ts
  packages/spec-test-runner/test/mocha-hooks.ts
  packages/spec-test-util/src/downloadTestsCli.ts
  packages/validator/src/services/attestation.ts
  packages/validator/src/services/attestationDuties.ts
  packages/validator/src/services/block.ts
  packages/validator/src/services/blockDuties.ts
  packages/validator/src/services/syncCommittee.ts
  packages/validator/src/services/syncCommitteeDuties.ts
  packages/validator/src/util/clock.ts
  packages/validator/test/e2e/slashing-protection-interchange-tests/downloadTests.ts
  packages/validator/test/setup.ts
  tsconfig.build.json
  yarn.lock
Labels: Validator, CI, StateTransition, Eth1, CLI, Api, Network

#3097 Use clock state to validate voluntaryExits
  packages/beacon-state-transition/src/allForks/util/epochContext.ts
  packages/lodestar/src/chain/regen/interface.ts
  packages/lodestar/src/chain/validation/voluntaryExit.ts
  packages/lodestar/test/unit/chain/validation/voluntaryExit.test.ts
Labels: StateTransition

#3113 Track total unknown parent syncs
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/src/sync/sync.ts
Labels: Network

#3102 Improve attestation production
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/factory/attestation/data.ts
  packages/lodestar/src/chain/factory/attestation/index.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/regen/interface.ts
  packages/lodestar/test/unit/chain/factory/attestation/data.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Api

#3107 Review gossip block validation
  packages/lodestar/src/chain/blocks/processor.ts
  packages/lodestar/src/chain/blocks/validate.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/errors/blockError.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/seenCache/index.ts
  packages/lodestar/src/chain/seenCache/seenAttesters.ts
  packages/lodestar/src/chain/seenCache/seenBlockProposers.ts
  packages/lodestar/src/chain/seenCache/seenCommittee.ts
  packages/lodestar/src/chain/seenCache/seenCommitteeContribution.ts
  packages/lodestar/src/chain/validation/block.ts
  packages/lodestar/src/network/gossip/handlers/index.ts
  packages/lodestar/test/unit/chain/blocks/validate.test.ts
  packages/lodestar/test/unit/chain/validation/block.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: Network

#3121 Use consistent RootHex type
  packages/fork-choice/src/forkChoice/forkChoice.ts
  packages/fork-choice/src/protoArray/errors.ts
  packages/fork-choice/src/protoArray/interface.ts
  packages/fork-choice/src/protoArray/protoArray.ts
  packages/types/src/primitive/types.ts
Labels: Types

#3124 Cache downloaded spec tests in CI
  .github/workflows/test-spec.yml
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/checkTests.test.ts
  packages/spec-test-runner/test/downloadTests.ts
  packages/spec-test-runner/test/spec/allForks/finality.ts
  packages/spec-test-runner/test/spec/allForks/genesis.ts
  packages/spec-test-runner/test/spec/allForks/sanity.ts
  packages/spec-test-runner/test/spec/allForks/ssz_static.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing.test.ts
  packages/spec-test-runner/test/spec/altair/fork.test.ts
  packages/spec-test-runner/test/spec/altair/fork_choice.test.ts
  packages/spec-test-runner/test/spec/altair/operations.test.ts
  packages/spec-test-runner/test/spec/altair/rewards.test.ts
  packages/spec-test-runner/test/spec/altair/transition.test.ts
  packages/spec-test-runner/test/spec/bls/aggregate.test.ts
  packages/spec-test-runner/test/spec/bls/aggregate_verify.test.ts
  packages/spec-test-runner/test/spec/bls/fast_aggregate_verify.test.ts
  packages/spec-test-runner/test/spec/bls/sign.test.ts
  packages/spec-test-runner/test/spec/bls/verify.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing.test.ts
  packages/spec-test-runner/test/spec/phase0/fork_choice.test.ts
  packages/spec-test-runner/test/spec/phase0/operations.test.ts
  packages/spec-test-runner/test/spec/phase0/rewards.test.ts
  packages/spec-test-runner/test/spec/phase0/shuffling.test.ts
  packages/spec-test-runner/test/spec/ssz/generic/types.ts
  packages/spec-test-runner/test/specTestVersioning.ts
  packages/spec-test-runner/test/utils/specTestCases.ts
  packages/spec-test-util/package.json
  packages/spec-test-util/src/downloadTests.ts
  packages/validator/package.json
  yarn.lock
Labels: Validator, CI, StateTransition

#3122 Re-org Lodestar ForkChoice instantiation
  packages/fork-choice/src/forkChoice/store.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/forkChoice/forkChoice.ts
  packages/lodestar/src/chain/forkChoice/index.ts
  packages/lodestar/src/chain/forkChoice/store.ts
  packages/lodestar/test/unit/api/impl/debug/index.test.ts
  packages/lodestar/test/unit/api/impl/index.test.ts
  packages/lodestar/test/unit/api/impl/validator/duties/proposer.test.ts
  packages/lodestar/test/unit/chain/archive/blockArchiver.test.ts
  packages/lodestar/test/unit/chain/forkChoice/forkChoice.test.ts
  packages/lodestar/test/unit/chain/validation/block.test.ts
  packages/spec-test-runner/test/spec/altair/fork_choice.test.ts
  packages/spec-test-runner/test/spec/phase0/fork_choice.test.ts
Labels: StateTransition

#3103 Add discv5 metrics to grafana dashboard
  docker/grafana/provisioning/dashboards/lodestar.json
  packages/cli/src/cmds/beacon/handler.ts
  packages/lodestar/src/metrics/metrics.ts
  packages/lodestar/src/network/nodejs/bundle.ts
Labels: CLI, Network

#3129 Add searchInterval to discv5
  packages/lodestar/src/network/nodejs/bundle.ts
Labels: Network

#3130 Remove added awaits from libp2-gossipsub
  packages/lodestar/src/network/gossip/gossipsub.ts
Labels: Network

#3131 Add debug routes to drop state
  packages/api/src/routes/lodestar.ts
  packages/lodestar/src/api/impl/lodestar/index.ts
  packages/lodestar/src/chain/stateCache/stateContextCache.ts
Labels: Api

#3135 github: update bot labels
  .bulldozer.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/stale.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
Labels: status3-needsreview, scopeb-ci

#3169 Reduce SYNC_TOLERANCE_EPOCHS to 1
  packages/lodestar/src/api/impl/validator/index.ts
Labels: status3-needsreview, mod1-beaconchain, mod4-api

#3133 Fix state cache dump API types
  packages/api/src/routes/lodestar.ts
  packages/lodestar/src/chain/stateCache/stateContextCache.ts
  packages/lodestar/src/chain/stateCache/stateContextCheckpointsCache.ts
Labels: status3-needsreview, mod1-beaconchain, mod4-api

#3090 Add merge fork types
  .github/workflows/test-spec.yml
  packages/beacon-state-transition/src/allForks/stateTransition.ts
  packages/config/src/forkConfig/index.ts
  packages/config/test/unit/index.test.ts
  packages/lodestar/src/network/gossip/encoding.ts
  packages/lodestar/test/unit/network/fork.test.ts
  packages/params/src/forkName.ts
  packages/params/src/index.ts
  packages/spec-test-runner/package.json
  packages/spec-test-runner/test/spec/allForks/finality.ts
  packages/spec-test-runner/test/spec/allForks/sanity.ts
  packages/spec-test-runner/test/spec/allForks/util.ts
  packages/spec-test-runner/test/spec/merge/ssz_static.test.ts
  packages/types/src/allForks/sszTypes.ts
  packages/types/src/allForks/types.ts
  packages/types/src/altair/sszTypes.ts
  packages/types/src/merge/index.ts
  packages/types/src/merge/sszTypes.ts
  packages/types/src/merge/types.ts
  packages/types/src/phase0/sszTypes.ts
  packages/types/src/primitive/sszTypes.ts
  packages/types/src/sszTypes.ts
  packages/types/src/types.ts
Labels: status9-workinprogress, mod1-beaconchain, modd-spectests, scopeb-ci, mod6-statetransition, scope5-networking, mod7-types, moda-config, mod8-params

#3174 Improve LightClientIniter onFinalized
  packages/lodestar/src/chain/lightClient/LightClientIniter.ts
Labels: mod1-beaconchain

#3172 Remove BlockProcess
  packages/beacon-state-transition/src/allForks/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/allForks/block/slashValidator.ts
  packages/beacon-state-transition/src/altair/block/index.ts
  packages/beacon-state-transition/src/altair/block/processAttestation.ts
  packages/beacon-state-transition/src/altair/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/altair/block/processOperations.ts
  packages/beacon-state-transition/src/altair/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/altair/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/phase0/block/index.ts
  packages/beacon-state-transition/src/phase0/block/processAttestation.ts
  packages/beacon-state-transition/src/phase0/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/phase0/block/processOperations.ts
  packages/beacon-state-transition/src/phase0/block/processProposerSlashing.ts
  packages/beacon-state-transition/src/phase0/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/util/blockProcess.ts
  packages/beacon-state-transition/src/util/index.ts
  packages/spec-test-runner/test/spec/altair/operations.test.ts
  packages/spec-test-runner/test/spec/phase0/operations.test.ts
Labels: modd-spectests, mod6-statetransition

#3178 Improve processInactivityUpdates
  packages/beacon-state-transition/src/allForks/util/cachedInactivityScoreList.ts
  packages/beacon-state-transition/src/altair/epoch/processInactivityUpdates.ts
Labels: mod6-statetransition

#3177 De-duplicate spec tests code across forks
  packages/beacon-state-transition/src/phase0/epoch/processPendingAttestations.ts
  packages/spec-test-runner/test/spec/allForks/epochProcessing.ts
  packages/spec-test-runner/test/spec/allForks/forkChoice.ts
  packages/spec-test-runner/test/spec/allForks/operations.ts
  packages/spec-test-runner/test/spec/allForks/rewards.ts
  packages/spec-test-runner/test/spec/altair/epoch_processing.test.ts
  packages/spec-test-runner/test/spec/altair/fork_choice.test.ts
  packages/spec-test-runner/test/spec/altair/operations.test.ts
  packages/spec-test-runner/test/spec/altair/rewards.test.ts
  packages/spec-test-runner/test/spec/phase0/epoch_processing.test.ts
  packages/spec-test-runner/test/spec/phase0/fork_choice.test.ts
  packages/spec-test-runner/test/spec/phase0/operations.test.ts
  packages/spec-test-runner/test/spec/phase0/rewards.test.ts
Labels: modd-spectests, mod6-statetransition

#3134 Add op pool for slashings and exits
  packages/beacon-state-transition/src/allForks/block/processAttesterSlashing.ts
  packages/beacon-state-transition/src/allForks/block/processVoluntaryExit.ts
  packages/beacon-state-transition/src/util/attestation.ts
  packages/lodestar/src/api/impl/beacon/pool/index.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/errors/voluntaryExitError.ts
  packages/lodestar/src/chain/factory/block/body.ts
  packages/lodestar/src/chain/factory/block/index.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/opPools/aggregatedAttestationPool.ts
  packages/lodestar/src/chain/opPools/index.ts
  packages/lodestar/src/chain/opPools/opPool.ts
  packages/lodestar/src/chain/validation/attesterSlashing.ts
  packages/lodestar/src/chain/validation/proposerSlashing.ts
  packages/lodestar/src/chain/validation/voluntaryExit.ts
  packages/lodestar/src/network/gossip/handlers/index.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/node/nodejs.ts
  packages/lodestar/src/util/objects.ts
  packages/lodestar/test/unit/api/impl/beacon/pool/pool.test.ts
  packages/lodestar/test/unit/chain/factory/block/blockAssembly.test.ts
  packages/lodestar/test/unit/chain/factory/block/body.test.ts
  packages/lodestar/test/unit/chain/opPools/syncCommitteeContribution.test.ts
  packages/lodestar/test/unit/chain/validation/attesterSlashing.test.ts
  packages/lodestar/test/unit/chain/validation/proposerSlashing.test.ts
  packages/lodestar/test/unit/chain/validation/voluntaryExit.test.ts
  packages/lodestar/test/unit/util/objects.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
Labels: scope-networking

#3126 Implement gossip topic scoring params
  packages/lodestar/package.json
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/scoringParameters.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/test/unit-mainnet/network/gossip/scoringParameters.test.ts
  packages/lodestar/test/unit/chain/validation/syncCommittee.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/utils/state.ts
Labels: scope-networking

#3104 Query discv5 peers on demand
  packages/lodestar/src/network/peers/discover.ts
Labels: scope-networking
