Repository ChainSafe/lodestar, pull requests merged in 2022-06, with the labels that each got.

#4115 Remove NPM instructions and add disclaimer
  docs/installation.md
Labels: scope-documentation

#4104 Deprecate accounts CLI
  packages/cli/src/cmds/account/cmds/validator/create.ts
  packages/cli/src/cmds/account/cmds/validator/deposit.ts
  packages/cli/src/cmds/account/cmds/validator/index.ts
  packages/cli/src/cmds/account/cmds/validator/options.ts
  packages/cli/src/cmds/account/cmds/validator/recover.ts
  packages/cli/src/cmds/account/cmds/wallet/create.ts
  packages/cli/src/cmds/account/cmds/wallet/index.ts
  packages/cli/src/cmds/account/cmds/wallet/list.ts
  packages/cli/src/cmds/account/cmds/wallet/options.ts
  packages/cli/src/cmds/account/cmds/wallet/recover.ts
  packages/cli/src/cmds/account/cmds/wallet/utils.ts
  packages/cli/src/cmds/account/index.ts
  packages/cli/src/cmds/account/paths.ts
  packages/cli/src/cmds/validator/import.ts
  packages/cli/src/cmds/validator/index.ts
  packages/cli/src/cmds/validator/keys.ts
  packages/cli/src/cmds/validator/list.ts
  packages/cli/src/cmds/validator/options.ts
  packages/cli/src/cmds/validator/paths.ts
  packages/cli/src/cmds/validator/slashingProtection/export.ts
  packages/cli/src/cmds/validator/slashingProtection/import.ts
  packages/cli/src/cmds/validator/slashingProtection/index.ts
  packages/cli/src/cmds/validator/slashingProtection/options.ts
  packages/cli/src/cmds/validator/slashingProtection/utils.ts
  packages/cli/src/cmds/validator/voluntaryExit.ts
  packages/cli/test/e2e/cmds/account.test.ts
  packages/cli/test/e2e/example.test.ts
Labels: meta-breakingchange

#4168 Align light client related endpoints
  packages/api/src/beacon/routes/events.ts
  packages/api/src/beacon/routes/lightclient.ts
  packages/api/test/unit/beacon/lightclient.test.ts
  packages/light-client/src/index.ts
  packages/light-client/test/lightclientApiServer.ts
  packages/light-client/test/unit/sync.test.ts
  packages/light-client/test/utils.ts
  packages/lodestar/src/api/impl/events/index.ts
  packages/lodestar/src/api/impl/lightclient/index.ts
  packages/lodestar/src/chain/emitter.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/lightClient/index.ts
Labels: meta-breakingchange

#3883 Add doppelganger support
  docker/docker-compose.local.yml
  docker/prometheus/Dockerfile
  docker/prometheus/prometheus.yml
  packages/api/src/beacon/routes/validator.ts
  packages/api/test/unit/beacon/validator.test.ts
  packages/beacon-state-transition/test/utils/attestation.ts
  packages/cli/src/cmds/dev/handler.ts
  packages/cli/src/cmds/dev/options.ts
  packages/cli/src/cmds/validator/handler.ts
  packages/cli/src/cmds/validator/keymanager/impl.ts
  packages/cli/src/cmds/validator/keymanager/interface.ts
  packages/cli/src/cmds/validator/keymanager/persistedKeys.ts
  packages/cli/src/cmds/validator/options.ts
  packages/lodestar/src/api/impl/validator/index.ts
  packages/lodestar/src/chain/blocks/importBlock.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/interface.ts
  packages/lodestar/src/chain/seenCache/seenAttesters.ts
  packages/lodestar/src/chain/seenCache/seenBlockAttesters.ts
  packages/lodestar/src/chain/seenCache/seenBlockProposers.ts
  packages/lodestar/test/e2e/api/lodestar/lodestar.test.ts
  packages/lodestar/test/e2e/doppelganger/doppelganger.test.ts
  packages/lodestar/test/utils/mocks/chain/chain.ts
  packages/lodestar/test/utils/node/validator.ts
  packages/validator/src/index.ts
  packages/validator/src/metrics.ts
  packages/validator/src/services/attestationDuties.ts
  packages/validator/src/services/blockDuties.ts
  packages/validator/src/services/doppelgangerService.ts
  packages/validator/src/services/indices.ts
  packages/validator/src/services/validatorStore.ts
  packages/validator/src/types.ts
  packages/validator/src/util/clock.ts
  packages/validator/src/validator.ts
  packages/validator/test/unit/services/doppleganger.test.ts
  packages/validator/test/utils/clock.ts
  packages/validator/test/utils/validatorStore.ts
Labels: sprint0-urgent
