Repository ChainSafe/lodestar, pull requests merged in 2022-07, with the labels that each got.

#4209 PrepareNextSlot scheduler
  packages/lodestar/src/chain/blocks/importBlock.ts
  packages/lodestar/src/chain/chain.ts
  packages/lodestar/src/chain/precomputeNextEpochTransition.ts
  packages/lodestar/src/chain/prepareNextSlot.ts
  packages/lodestar/test/unit/api/impl/debug/index.test.ts
  packages/lodestar/test/unit/chain/precomputeNextEpochTransition.test.ts
  packages/lodestar/test/unit/chain/prepareNextSlot.test.ts
  packages/lodestar/test/utils/state.ts
Labels: status-needs-review

#4067 Bump typescript to v4.7.4
  package.json
  packages/api/test/utils/genericServerTest.ts
  yarn.lock
Labels: status-needs-review

#4278 Add stateInternalCacheMiss metric
  packages/beacon-node/src/chain/stateCache/stateContextCache.ts
  packages/beacon-node/src/chain/stateCache/stateContextCheckpointsCache.ts
  packages/beacon-node/src/metrics/metrics/lodestar.ts
Labels: scope-metrics

#3989 Improve sync speed
  packages/beacon-node/src/chain/blocks/index.ts
  packages/beacon-node/src/chain/blocks/verifyBlock.ts
  packages/beacon-node/src/chain/blocks/verifyBlocksExecutionPayloads.ts
  packages/beacon-node/src/chain/blocks/verifyBlocksSanityChecks.ts
  packages/beacon-node/src/chain/blocks/verifyBlocksSignatures.ts
  packages/beacon-node/src/chain/blocks/verifyBlocksStateTransitionOnly.ts
  packages/beacon-node/src/chain/regen/queued.ts
  packages/beacon-node/src/sync/constants.ts
  packages/beacon-node/src/sync/range/chain.ts
  packages/beacon-node/test/unit/chain/blocks/rejectFirstInvalidResolveAllValid.test.ts
Labels: scope-cpu-performance
