Repository ChainSafe/lodestar, pull requests merged in 2022-09, with the labels that each got.

#4475 Review metrics
  packages/beacon-node/src/api/impl/validator/index.ts
  packages/beacon-node/src/chain/blocks/importBlock.ts
  packages/beacon-node/src/chain/bls/multithread/index.ts
  packages/beacon-node/src/chain/bls/singleThread.ts
  packages/beacon-node/src/chain/chain.ts
  packages/beacon-node/src/chain/forkChoice/index.ts
  packages/beacon-node/src/chain/interface.ts
  packages/beacon-node/src/chain/prepareNextSlot.ts
  packages/beacon-node/src/metrics/metrics.ts
  packages/beacon-node/src/metrics/metrics/beacon.ts
  packages/beacon-node/src/metrics/metrics/lodestar.ts
  packages/beacon-node/src/metrics/validatorMonitor.ts
  packages/beacon-node/src/network/peers/peerManager.ts
  packages/beacon-node/src/network/peers/score.ts
  packages/beacon-node/src/network/reqresp/reqResp.ts
  packages/beacon-node/src/sync/range/range.ts
  packages/beacon-node/test/unit/chain/prepareNextSlot.test.ts
  packages/beacon-node/test/utils/mocks/chain/chain.ts
  packages/fork-choice/src/forkChoice/forkChoice.ts
  packages/fork-choice/src/index.ts
  packages/fork-choice/src/metrics.ts
Labels: scope-metrics

#4554 Set dependantRoot type to string in api
  packages/api/src/beacon/routes/validator.ts
  packages/api/test/unit/beacon/testData/validator.ts
  packages/beacon-node/src/api/impl/validator/index.ts
  packages/cli/test/utils/mockBeaconApiServer.ts
  packages/validator/src/services/attestationDuties.ts
  packages/validator/src/services/blockDuties.ts
  packages/validator/test/unit/services/attestation.test.ts
  packages/validator/test/unit/services/attestationDuties.test.ts
  packages/validator/test/unit/services/block.test.ts
  packages/validator/test/unit/services/blockDuties.test.ts
  packages/validator/test/unit/services/syncCommittee.test.ts
  packages/validator/test/utils/types.ts
Labels: meta-technical-debt

#4553 Remove ChainEvent.forkChoiceHead event
  packages/beacon-node/src/api/impl/events/index.ts
  packages/beacon-node/src/chain/blocks/importBlock.ts
  packages/beacon-node/src/chain/chain.ts
  packages/beacon-node/src/chain/emitter.ts
  packages/beacon-node/test/e2e/chain/lightclient.test.ts
  packages/beacon-node/test/unit/api/impl/events/events.test.ts
  packages/beacon-node/test/utils/node/simTest.ts
Labels: meta-technical-debt

#4575 Fix computed db checkpoint for weak subjectivity checks
  packages/beacon-node/src/chain/initState.ts
  packages/cli/src/cmds/beacon/initBeaconState.ts
  packages/state-transition/src/util/epoch.ts
  packages/state-transition/src/util/weakSubjectivity.ts
Labels: prio-critical
