Repository ChainSafe/lodestar, pull requests merged in 2022-04, with the labels that each got.

#3858 Bump to new gossipsub
  packages/api/src/routes/lodestar.ts
  packages/cli/src/cmds/dev/options.ts
  packages/cli/src/options/beaconNodeOptions/network.ts
  packages/cli/test/unit/options/beaconNodeOptions.test.ts
  packages/lodestar/package.json
  packages/lodestar/src/api/impl/lodestar/index.ts
  packages/lodestar/src/metrics/metrics.ts
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/src/network/gossip/encoding.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/interface.ts
  packages/lodestar/src/network/gossip/scoringParameters.ts
  packages/lodestar/src/network/gossip/validation/index.ts
  packages/lodestar/src/network/gossip/validation/queue.ts
  packages/lodestar/src/network/network.ts
  packages/lodestar/src/network/options.ts
  packages/lodestar/src/network/peers/peerManager.ts
  packages/lodestar/src/network/peers/score.ts
  packages/lodestar/test/e2e/chain/lightclient.test.ts
  packages/lodestar/test/e2e/network/gossipsub.test.ts
  packages/lodestar/test/e2e/network/network.test.ts
  packages/lodestar/test/e2e/network/peers/peerManager.test.ts
  packages/lodestar/test/e2e/sync/finalizedSync.test.ts
  packages/lodestar/test/e2e/sync/unknownBlockSync.test.ts
  packages/lodestar/test/e2e/sync/wss.test.ts
  packages/lodestar/test/scripts/blsPubkeyBytesFrequency.ts
  packages/lodestar/test/sim/merge-interop.test.ts
  packages/lodestar/test/sim/multiNodeSingleThread.test.ts
  packages/lodestar/test/sim/singleNodeSingleThread.test.ts
  packages/lodestar/test/unit-mainnet/network/gossip/scoringParameters.test.ts
  packages/lodestar/test/unit/network/gossip/gossipsub.test.ts
  packages/lodestar/test/unit/network/peers/score.test.ts
  scripts/dev/node1.sh
  scripts/dev/node2.sh
  yarn.lock
Labels: status-work-in-progress

#3887 Remove duplicated gossip score weights metrics
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/src/network/gossip/gossipsub.ts
  packages/lodestar/src/network/gossip/scoreMetrics.ts
Labels: scope-metrics

#3888 Track gossipValidationError metrics by specific error code
  packages/lodestar/src/metrics/metrics/lodestar.ts
  packages/lodestar/src/network/gossip/validation/index.ts
Labels: scope-metrics

#3880 Implement standard keymanager API - review
  packages/cli/src/cmds/validator/handler.ts
  packages/cli/src/cmds/validator/keys.ts
  packages/cli/src/validatorDir/ValidatorDir.ts
  packages/cli/src/validatorDir/paths.ts
  packages/keymanager-server/src/impl.ts
  packages/keymanager-server/src/server.ts
  packages/keymanager-server/src/util/lockfile.ts
  packages/lodestar/test/e2e/keymanager/keymanager.test.ts
Labels: status-merge-ready

#3919 Fix property merging in publishAttestations attestationNoCommittee
  packages/validator/src/services/attestation.ts
Labels: prio0-critical

#3913 HttpClient: log request and response
  packages/api/README.md
  packages/api/src/client/index.ts
  packages/api/src/client/utils/httpClient.ts
  packages/beacon-state-transition/test/perf/analyzeBlocks.ts
  packages/beacon-state-transition/test/perf/analyzeEpochs.ts
  packages/beacon-state-transition/test/perf/util.ts
  packages/cli/src/cmds/account/cmds/validator/slashingProtection/utils.ts
  packages/cli/src/networks/index.ts
  packages/light-client/src/index.ts
  packages/light-client/test/getGenesisData.ts
  packages/lodestar/test/e2e/api/impl/beacon/state/endpoint.test.ts
  packages/lodestar/test/e2e/sync/endpoint.test.ts
  packages/lodestar/test/scripts/blsPubkeyBytesFrequency.ts
  packages/validator/src/validator.ts
  packages/validator/test/utils/apiStub.ts
Labels: meta-breakingchange

#3882 Add light client finalized update route
  packages/api/src/routes/events.ts
  packages/api/src/routes/lightclient.ts
  packages/api/test/unit/lightclient.test.ts
  packages/light-client/src/events.ts
  packages/light-client/src/index.ts
  packages/light-client/src/validation.ts
  packages/light-client/test/lightclientApiServer.ts
  packages/light-client/test/unit/sync.test.ts
  packages/light-client/test/utils.ts
  packages/lodestar/src/api/impl/events/index.ts
  packages/lodestar/src/api/impl/lightclient/index.ts
  packages/lodestar/src/chain/emitter.ts
  packages/lodestar/src/chain/eventHandlers.ts
  packages/lodestar/src/chain/lightClient/index.ts
Labels: status-work-in-progress
