Repository ChainSafe/lodestar, pull requests merged in 2023-04, with the labels that each got.

#5299 Add logging policy
  CONTRIBUTING.md
Labels: meta-discussion

#5435 fix(validator)!: align db metric names with other metrics
  dashboards/lodestar_vm_host.json
  packages/validator/src/metrics.ts
Labels: meta-breaking-change, scope-metrics

#5436 feat(validator): add bucket labels to db metrics
  packages/db/src/controller/index.ts
  packages/db/src/index.ts
  packages/validator/src/repositories/metaDataRepository.ts
  packages/validator/src/slashingProtection/attestation/attestationByTargetRepository.ts
  packages/validator/src/slashingProtection/attestation/attestationLowerBoundRepository.ts
  packages/validator/src/slashingProtection/block/blockBySlotRepository.ts
  packages/validator/src/slashingProtection/minMaxSurround/distanceStoreRepository.ts
Labels: scope-metrics
