Repository ChainSafe/lodestar, pull requests merged in 2023-10, with the labels that each got.

#6019 feat: support "input" param for verifiable tx
  packages/prover/src/utils/evm.ts
Labels: scope-light-clients

#6031 fix: the unknown block sync timeout
  packages/beacon-node/src/sync/sync.ts
Labels: scope-testing

#5880 feat: implement produce block v3 and move builder/execution race to beacon
  .wordlist.txt
  docs/usage/beacon-management.md
  packages/api/src/beacon/routes/beacon/block.ts
  packages/api/src/beacon/routes/validator.ts
  packages/api/src/builder/routes.ts
  packages/api/src/utils/routes.ts
  packages/api/src/utils/schema.ts
  packages/api/src/utils/types.ts
  packages/api/test/unit/beacon/testData/validator.ts
  packages/api/test/utils/genericServerTest.ts
  packages/beacon-node/src/api/impl/beacon/blocks/index.ts
  packages/beacon-node/src/api/impl/validator/index.ts
  packages/beacon-node/src/chain/chain.ts
  packages/beacon-node/src/chain/interface.ts
  packages/beacon-node/src/chain/produceBlock/produceBlockBody.ts
  packages/beacon-node/src/execution/builder/http.ts
  packages/beacon-node/src/execution/builder/interface.ts
  packages/beacon-node/src/execution/engine/http.ts
  packages/beacon-node/src/execution/engine/interface.ts
  packages/beacon-node/src/execution/engine/types.ts
  packages/beacon-node/src/metrics/metrics/beacon.ts
  packages/beacon-node/test/__mocks__/mockedBeaconChain.ts
  packages/beacon-node/test/sim/merge-interop.test.ts
  packages/beacon-node/test/sim/mergemock.test.ts
  packages/beacon-node/test/sim/withdrawal-interop.test.ts
  packages/beacon-node/test/unit/api/impl/validator/produceBlockV2.test.ts
  packages/beacon-node/test/unit/api/impl/validator/produceBlockV3.test.ts
  packages/beacon-node/test/unit/executionEngine/http.test.ts
  packages/beacon-node/test/utils/node/validator.ts
  packages/cli/src/cmds/validator/handler.ts
  packages/cli/src/cmds/validator/options.ts
  packages/cli/src/util/proposerConfig.ts
  packages/cli/test/sim/mixed_client.test.ts
  packages/cli/test/sim/multi_fork.test.ts
  packages/cli/test/unit/validator/parseProposerConfig.test.ts
  packages/cli/test/unit/validator/proposerConfigs/validData.yaml
  packages/cli/test/utils/simulation/validator_clients/lodestar.ts
  packages/params/src/forkName.ts
  packages/params/src/index.ts
  packages/state-transition/src/block/processExecutionPayload.ts
  packages/state-transition/src/index.ts
  packages/state-transition/src/util/blindedBlock.ts
  packages/state-transition/src/util/execution.ts
  packages/types/src/allForks/types.ts
  packages/types/src/utils/typeguards.ts
  packages/utils/src/logger.ts
  packages/validator/src/index.ts
  packages/validator/src/services/block.ts
  packages/validator/src/services/prepareBeaconProposer.ts
  packages/validator/src/services/validatorStore.ts
  packages/validator/src/validator.ts
  packages/validator/test/unit/services/block.test.ts
  packages/validator/test/unit/services/produceBlockwrapper.test.ts
  packages/validator/test/unit/validatorStore.test.ts
Labels: meta-breaking-change
